<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 25, 2024</span>
    <a href="https://d10x.co/BingoBlitz/0T3rs" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 24, 2024</span>
    <a href="https://d10x.co/BingoBlitz/a4fGV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 24, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=93d30c7fd1029888a6139a14243020e66e322acab3c2b8175c0b33878122d254&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45203&gameref=FBS_240924" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 23, 2024</span>
    <a href="https://d10x.co/BingoBlitz/gjQi0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 23, 2024</span>
    <a href="https://d10x.co/BingoBlitz/YhO6J" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 23, 2024</span>
    <a href="https://d10x.co/BingoBlitz/0rMVq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 22, 2024</span>
    <a href="https://d10x.co/BingoBlitz/PfZG6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 22, 2024</span>
    <a href="https://d10x.co/BingoBlitz/IVCR6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 21, 2024</span>
    <a href="https://d10x.co/BingoBlitz/eXRUN" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 21, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=c3e180f284c7e2a37e9d6e54e3584170dd9ae925f28ca94bb988d5ac2b815467&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45189&gameref=FBS_210924" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 21, 2024</span>
    <a href="https://d10x.co/BingoBlitz/zryKd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 21, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=b43baa6fba82ccd0e96b7bfa131a142e3c9f5738f87404c2fc9ae05bd8eefbeb&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45188&gameref=FBS_200924" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 19, 2024</span>
    <a href="https://d10x.co/BingoBlitz/xKvzb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 19, 2024</span>
    <a href="https://d10x.co/BingoBlitz/SlE7e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 19, 2024</span>
    <a href="https://d10x.co/BingoBlitz/84JPo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 19, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=68d9e3a80af5ed1a105c488d15eff857fe9ef6aa26570c68da105c76562dd989&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45175&gameref=tw+170924" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 18, 2024</span>
    <a href="https://d10x.co/BingoBlitz/dMWrq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 18, 2024</span>
    <a href="https://d10x.co/BingoBlitz/8zW5W" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 17, 2024</span>
    <a href="https://d10x.co/BingoBlitz/B6RXA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 17, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=28a90675cd01411d60c01c49e7d07893a0b01e78acb1b68c506591971f0ad6ce&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45167&gameref=FBS_170924" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 17, 2024</span>
    <a href="https://d10x.co/BingoBlitz/E9il2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 16, 2024</span>
    <a href="https://d10x.co/BingoBlitz/GbBaj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 16, 2024</span>
    <a href="https://d10x.co/BingoBlitz/d1rxU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 16, 2024</span>
    <a href="https://d10x.co/BingoBlitz/jDoUv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 15, 2024</span>
    <a href="https://d10x.co/BingoBlitz/yiRfa" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 15, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=f94cd1c5cb09422a5328678c357715f5978212bfcbe83861544247ba54ce8dda&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45144&gameref=FBS_150924" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 14, 2024</span>
    <a href="https://d10x.co/BingoBlitz/8Kc9p" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 14, 2024</span>
    <a href="https://d10x.co/BingoBlitz/nL8vM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 13, 2024</span>
    <a href="https://d10x.co/BingoBlitz/2fEUK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 13, 2024</span>
    <a href="https://d10x.co/BingoBlitz/FDq3x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 12, 2024</span>
    <a href="https://d10x.co/BingoBlitz/dxj5G" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 12, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=727feef72bf41bf2baa58fa13856c904bddf39a50bb4bf54138674807432c339&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45154&gameref=tw+120924" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 12, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=e6430406e5c8e1a45452ed4f1f4e1e6c343bae9ce55fc0f61b70f403a5d41d57&desktop=bingoblitz&scene=popup&asset=inbox.PopupGiftCenter&originId=45128&gameref=IG+120924&fbclid=PAZXh0bgNhZW0CMTEAAab9mqgKyxucFNMHxAvKTQnM8vjpKcwRJL_oYdKFbJjNfjoCZTenOTYMPeg_aem_ALh5vqIBBh-UE8L4pBe4hA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 12, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=2724711535aca09b1518c408bf69f31c2b62a8949d0c6b5e3cdc5be0acdaedb9&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45140&gameref=FBS_120924" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 11, 2024</span>
    <a href="https://d10x.co/BingoBlitz/o2raq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 11, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=ce38c14a246ed5cd726a946265c91223cab821febd251858f18fb003df340716&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45139&gameref=FBS_110924" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 10, 2024</span>
    <a href="https://d10x.co/BingoBlitz/BA31o" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 10, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=5ab11bf1e97449f78fba9ee6c1575fe78aa4210caa14b7d5ea002f71f90d9b73&desktop=bingoblitz&scene=popup&asset=inbox.PopupGiftCenter&originId=45127&gameref=IG+100924&fbclid=PAZXh0bgNhZW0CMTEAAaZnw_HEGMl4LgTb8dCxfLBFc4gypNNOcjh4XxmRshXdSuSkP5cAvPIiC2A_aem_c4kONcRLCkGPFQ-4hb-D_Q" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 10, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=82e807aeb8bcdc168d372954579cf82e481f92a4bf35b1571d00c245f09e3977&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45138&gameref=FBS_100924" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 9, 2024</span>
    <a href="https://d10x.co/BingoBlitz/Wr9GZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 9, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=fb91d9b4d96f4ca9d334e668330d9dc9169e7014e8cd3ff3d8c82de82a0fb4cf&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45116&gameref=FBS_090924" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 9, 2024</span>
    <a href="https://gnocchi-www.buffalo-ggn.net/bingo2-v2-bingoblitz/incentive/?incentive=c425ea9b6545597cc158af355a8399371d16b21e2e9c6c2abd8ef3a2862d0e1b&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45073&gameref=Plus+Community+Freebie+09.09.2024&fbclid=IwY2xjawFLwdtleHRuA2FlbQIxMQABHUs-Iqqkkvy2t-oLvau1vMXTCW7f2mzCdte-kViQHzAclFBuFSUWR0ZtKg_aem_SnWPfb3p_XN2pkzNcZcDwQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 8, 2024</span>
    <a href="https://d10x.co/BingoBlitz/ZX3oT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 8, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=70daddc9d37233816212910164102a05af4037826ea42b2ed7c07c305c6a41a1&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45115&gameref=FBS_080924" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 7, 2024</span>
    <a href="https://d10x.co/BingoBlitz/HNPYN" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 7, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=7110495dff2e7b7a7b476a7a514c0d480adbff8321aeec1bea2480478b204da7&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45114&gameref=FBS_070924" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 6, 2024</span>
    <a href="https://d10x.co/BingoBlitz/tNExK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 6, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=93d706609c447e6e5c27dbaa7636e689a41738b81256563f22e93176b33bc07d&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45113&gameref=FBS_060924" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 6, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=c09b38915cdbe14909baa5fc48ceaaa550336a2db7f8c5168b024a9a4096fe03&desktop=bingoblitz&scene=popup&asset=inbox.PopupGiftCenter&originId=45087&gameref=IG+050924&fbclid=PAZXh0bgNhZW0CMTEAAaZzhYLtIfbajMbHKVfqziv1ewjUk4_7kNkuQtEReAXtDsQNvt48HsBET1k_aem_k3ZTXNEWk8LQH3uDraqbKA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 5, 2024</span>
    <a href="https://d10x.co/BingoBlitz/JCgvb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 5, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=2d70bcf299e92676990850b4898b41dbf2336ae7d29c37b38fd93fc663e73500&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45111&gameref=FBS_050924" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 4, 2024</span>
    <a href="https://d10x.co/BingoBlitz/405qb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 4, 2024</span>
    <a href="https://d10x.co/BingoBlitz/9bQ7U" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 4, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=31a3cd5710d4667ce87168e25dd568d1d45793c116f8f51a10de8c3edcc79599&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45102&gameref=FBS_040924" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 3, 2024</span>
    <a href="https://d10x.co/BingoBlitz/7ctnN" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 3, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=bfff546b1e523da8845a35a6132bffb2ffb998d4999fd561f5bf735dd357e91f&desktop=bingoblitz&scene=popup&asset=inbox.PopupGiftCenter&originId=45086&gameref=IG+030924&fbclid=PAZXh0bgNhZW0CMTEAAaaqvNm_V17atoTufko-3Ymj29Ae5enCLArf-0RyklDATvc2vK6oZ40TMSQ_aem_nGu68MsIjt88sjYj8E8BTA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 3, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=b8e1c6f219ad974ea8c03caa9203e06e9788d59bb27d6128b671f1d70c3a8d05&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45101&gameref=FBS_030924" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 2, 2024</span>
    <a href="https://d10x.co/BingoBlitz/DPGFn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 2, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=f80cec673918c6a8bf512dc7d550ebdad4fdf29b2ddbbbc2d86d6a22305a418a&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45091&gameref=FBS_020924" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 2, 2024</span>
    <a href="https://d10x.co/BingoBlitz/ndSVi" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 1, 2024</span>
    <a href="https://d10x.co/BingoBlitz/zvjET" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for September 1, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=d6c3e934ee9a277da8c83777903b689f3d96e356b4f47b23da962c367b32091c&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45080&gameref=FBS_010924" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 31, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=349065250ded8c6e9a0e6e9dbc24bbbd260fc30b051d424122a1a0d65e164cfa&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45079&gameref=FBS_310824" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 30, 2024</span>
    <a href="https://d10x.co/BingoBlitz/x83jG" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 30, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=0b99e9326d06a2a261c48647b439e18e93420a3f35bc9db1fa92583485b9feae&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45078&gameref=FBS_300824" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 29, 2024</span>
    <a href="https://d10x.co/BingoBlitz/XICeI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 29, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=d262af4c86fd48cbd1faea1ff89b68187fc2263e360b7aafbfd46ffd9b870de0&desktop=bingoblitz&scene=popup&asset=inbox.PopupGiftCenter&originId=44996&gameref=IG+290824&fbclid=PAZXh0bgNhZW0CMTEAAabZMdo9dO62h3TO-XzjzSrR6s-H9rkYH8T7qbK2mq9m1sZbzFzpFaMYnXs_aem_4WbaEN88SueAVN5uIjqKuQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 29, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=f8949c83b24927153b74b7287ec2798151b3399ff1cb5bde44898a888aaef9da&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45065&gameref=FBS_290824" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 28, 2024</span>
    <a href="https://d10x.co/BingoBlitz/xsvPA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 28, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=59092a6c6b75fef6ad996cba059882551154e4e44778b9a7b9ebb75ee7a1e9f6&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45064&gameref=FBS_280724" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 27, 2024</span>
    <a href="https://d10x.co/BingoBlitz/d5TzR" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 27, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=882acaf1b2f1cfa7f6c5eb48e06fc1b37eb0a8ac15742d42702793720f45a2c8&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45062&gameref=FBS_270824" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 26, 2024</span>
    <a href="https://d10x.co/BingoBlitz/SCUtL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 26, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=0abd03d56b58dfcae0a9bf1e13199e4fa5c2d48e1712c378a63211a4b28716ac&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45058&gameref=FBS_260824" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 25, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=c67243c28b48a27137cc54574f3fd1e2e4b150eac9d790ce6b57dfc44f12bdce&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45057&gameref=FBS_250824" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 25, 2024</span>
    <a href="https://d10x.co/BingoBlitz/m8cyy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 24, 2024</span>
    <a href="https://d10x.co/BingoBlitz/Zrsij" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 24, 2024</span>
    <a href="https://d10x.co/BingoBlitz/OFI7C" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 24, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=05dee2f6afb7b25b1dac365d4df93439b233663f66917d8818a46b1a6b7fd02c&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45013&gameref=FBS_240824" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 23, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=01dcf89baae10d0fffd444497cd46c7513b150b210294fc9851ca6b7fc68e972&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45012&gameref=FBS_230824" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 23, 2024</span>
    <a href="https://gnocchi-www.buffalo-ggn.net/?app=bingoblitzVIP&incentive=a75ec33593de6684234ef02c3a1bf583041ef2062fe5b282b1c9528462f06a5c&fbclid=IwY2xjawE1lmpleHRuA2FlbQIxMQABHRu0FkrIhaHp9QOxPxQCFFylSQYQtDztiLma7vygRIYdXzbL3NyDqZGNHA_aem_cJWvKk-q4eUDW8fsrnjQAw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 22, 2024</span>
    <a href="https://d10x.co/BingoBlitz/3PKh6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 22, 2024</span>
    <a href="https://d10x.co/BingoBlitz/0c9vD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 22, 2024</span>
    <a href="https://d10x.co/BingoBlitz/cJTH1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 21, 2024</span>
    <a href="https://d10x.co/BingoBlitz/ejirN" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 21, 2024</span>
    <a href="https://gnocchi-www.buffalo-ggn.net/?app=bingoblitzVIP&incentive=a75ec33593de6684234ef02c3a1bf583041ef2062fe5b282b1c9528462f06a5c&fbclid=IwY2xjawEy25tleHRuA2FlbQIxMQABHaRDVU4EhFwIsom2nhOexYb_dU1r6KNJc1EruF223hsTun6toWFcyEE3fw_aem_UIdT1u-wASQS5VML7nPbSA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 21, 2024</span>
    <a href="https://d10x.co/BingoBlitz/sHSWU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 20, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=1aa76f02712e100e3ae88560c1120b646009f2e61dffd9f4f23cc6b596443bf8&desktop=bingoblitz&scene=popup&asset=inbox.PopupGiftCenter&originId=44993&gameref=IG+200824&fbclid=PAZXh0bgNhZW0CMTEAAaai7qLl-6T2PRrs4X95thvESJuV6b3eriaEpoB5FYf1htE2oKDomKSJEQo_aem_UZbhZFep91eB7lGjCZU-Zw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 20, 2024</span>
    <a href="https://d10x.co/BingoBlitz/nqdrp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 20, 2024</span>
    <a href="https://d10x.co/BingoBlitz/UZkqm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 20, 2024</span>
    <a href="https://gnocchi-www.buffalo-ggn.net/?app=bingoblitzVIP&incentive=a75ec33593de6684234ef02c3a1bf583041ef2062fe5b282b1c9528462f06a5c&fbclid=IwY2xjawExSUlleHRuA2FlbQIxMQABHfQvd6Izh-JJdMfKqyV1m0ArCg-DayrhJJdu3PDvHMeHZf6tlWtQqB_vQg_aem_XPlAXJDpRBySMFayC9fTPA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 19, 2024</span>
    <a href="https://d10x.co/BingoBlitz/6LpEI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 19, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=6dc34e04100dededb0beed4b87c37f25797f34cf701b41b59b9c84dac27cdbc5&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45008&gameref=FBS_190824" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 18, 2024</span>
    <a href="https://d10x.co/BingoBlitz/mPtxE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 18, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=22bf4ca360848e807c05f3f7257ed06ee28c2c9aa96b0479f2af7fe23fe6b5a8&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45007&gameref=FBS_180824" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 18, 2024</span>
    <a href="https://gnocchi-www.buffalo-ggn.net/?app=bingoblitzVIP&incentive=a75ec33593de6684234ef02c3a1bf583041ef2062fe5b282b1c9528462f06a5c&fbclid=IwY2xjawEuxchleHRuA2FlbQIxMQABHSp9oWIuG6WOrxKiB_DJUmDHjC0C5x2AVXxPVdj1kkUR3CsazgGHFzDulg_aem_5CtLgdKTyrhX25cfNXHbMw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 17, 2024</span>
    <a href="https://d10x.co/BingoBlitz/tPkn7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 17, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=88ba64eed66cb1dbf7784e2a2bcb61802e69ac4a6d91bbc55fb1da71948b6901&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45004&gameref=FBS_170824" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 16, 2024</span>
    <a href="https://d10x.co/BingoBlitz/g9m39" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 16, 2024</span>
    <a href="https://d10x.co/BingoBlitz/wOZgX" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>