<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 15, 2024</span>
    <a href="https://d10x.co/BingoBlitz/nX5Om" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 15, 2024</span>
    <a href="https://d10x.co/BingoBlitz/2sXOo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 15, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=a738936900e2d87a20471bec8f5ff4f8bdca64ff800084740ce31a687b06fa71&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45002&gameref=FBS_1500824" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 14, 2024</span>
    <a href="https://d10x.co/BingoBlitz/UvJMG" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 14, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=fc697c8d3f3db5482a84b6edde9f4f7b2e97ae6ef9d3317555b724281e1d9926&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44972&gameref=FBS_140824" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 13, 2024</span>
    <a href="https://d10x.co/BingoBlitz/x5hqB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 13, 2024</span>
    <a href="https://d10x.co/BingoBlitz/Izenv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 13, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=7cdf908c2096aa7be135b812524eb78f32dc16ea0880f439aa1d0f2729b0e644&desktop=bingoblitz&scene=popup&asset=inbox.PopupGiftCenter&originId=44983&gameref=IG+130824&fbclid=PAZXh0bgNhZW0CMTEAAaahhpwB0HMD8tGs7OhbXXOWoxCwH3xUIKYGjVq5HKqw_RPXikgsiLQun_Q_aem_50jPaAAhj6Vnc8u6U7vuug" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 12, 2024</span>
    <a href="https://d10x.co/BingoBlitz/dgOJp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 12, 2024</span>
    <a href="https://d10x.co/BingoBlitz/2WICV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 11, 2024</span>
    <a href="https://d10x.co/BingoBlitz/oFxgV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 12, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=58fd7c01eb5a71a3a2602e9c28a3782bb390b441e6041ca460a6bb8c94b3975e&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44970&gameref=FBS_120824" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 11, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=6bcd984a89eaf39f2197ffa2ed0f53df28542b7d7b73e113462985f75e01421a&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44954&gameref=FBS_110824" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 11, 2024</span>
    <a href="https://d10x.co/BingoBlitz/cmITY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 11, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=e47d4195606a54c26042f699a170fee27b55a151165d9c457606872531da0e2a&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44953&gameref=FBS_100824" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 8, 2024</span>
    <a href="https://d10x.co/BingoBlitz/1ZkMB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 9, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=8762198b2fa55fd3e85e4facf495ada7b732e7698c03a5b7c9a86d4cdeaf0948&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44952&gameref=FBS_090824" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 8, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=8802f31d69ff800715ae16a4f38ae292365ee7da7caa5613e9be70a0d3865796&desktop=bingoblitz&scene=popup&asset=inbox.PopupGiftCenter&originId=44943&gameref=IG+080824" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 8, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=1c0829fffbd7db2bcd2a3b42d4ec9436bcba7b11c52eace9d11693c324545274&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44951&gameref=FBS_080824" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 7, 2024</span>
    <a href="https://d10x.co/BingoBlitz/980Mv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 7, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=13f0c5b0bcbd6d4de87b2093f413eba72090009d77c04c8905fe8667bbeb924b&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44940&gameref=FBS_070824" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 7, 2024</span>
    <a href="https://d10x.co/BingoBlitz/X471y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 6, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=42aa33ba2cb1f1249c5cd856c18687fa3f772f3d87b8cc73b97a0e68c452b0e4&desktop=bingoblitz&scene=popup&asset=inbox.PopupGiftCenter&originId=44928&gameref=IG+060824&fbclid=PAZXh0bgNhZW0CMTEAAab68D1bCIn9UqovjBNbX9oAVHBiuVethnbYLGcXyXwNjS7JT4fWqp6xGKc_aem_ZvCfbooPk6qtqSWto5DngA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 6, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=774bc87608850dec45a8975d36306a9352a681c45a74a21acae0881e4fcea622&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44930&gameref=FBS_060824" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 5, 2024</span>
    <a href="https://d10x.co/BingoBlitz/fPssZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 5, 2024</span>
    <a href="https://d10x.co/BingoBlitz/sofSN" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 5, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=1040b32fd2d971a6e366dfbdf8d6791f36f63f0916635bb6d12c27f6b8e5068b&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44929&gameref=FBS_050824" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 4, 2024</span>
    <a href="https://d10x.co/BingoBlitz/lrs0v" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 4, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=f222f3898e20bc6cd56c0c271afaf6627506fa5d47faf9c9808974dfe53b1cdc&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44922&gameref=FBS_040824" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 4, 2024</span>
    <a href="https://d10x.co/BingoBlitz/pg1Di" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 4, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=e94f3f6a159974aa5ea8cc82939cce50cfb311bf0ceb66e456c07e7df8f1e6cc&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44918&gameref=FBS_030824" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 3, 2024</span>
    <a href="https://d10x.co/BingoBlitz/8OwAm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 3, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=8e074da4de14610367ba3bf4e2d31b83240be993d9a5c7faa87751865a1f8d88&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44917&gameref=FBS_020824" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 2, 2024</span>
    <a href="https://d10x.co/BingoBlitz/wPSk3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 2, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=7dab01dbc6b239e014a37d9d09a83c8281c0bad00402dbb81b1cf72443c22dc9&desktop=bingoblitz&scene=popup&asset=inbox.PopupGiftCenter&originId=44906&gameref=IG+010824&fbclid=PAZXh0bgNhZW0CMTEAAabgcO5Fl_S_uE3KUxebAtBoZPqaclYKskOzUtGNOMeiHvxagbwYlWSbE3U_aem_OLyw_f21ii7DXVJny6Z-0A" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 2, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=c2966245c2445fac30f495fd46da897497df3dc335a638295bb8c79810ec8c14&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44916&gameref=FBS_010824" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 1, 2024</span>
    <a href="https://d10x.co/BingoBlitz/At0ln" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for August 1, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=3294bee56851970a0a70bfb8d8f2d6eb2de8c6759081fd589fe45810ab0e7401&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44879&gameref=FBS_310724" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 31, 2024</span>
    <a href="https://d10x.co/BingoBlitz/zfxdp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 31, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=f1b69e1906a525b46a8abf5e8336252ea4e6de3b155c1a8d41e6314cbb8242ff&desktop=bingoblitz&scene=popup&asset=inbox.PopupGiftCenter&originId=44891&gameref=IG+300724" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 31, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=0c773ba72c171236acf4de3b3d7b621a2d39ddc230142d9e12af73f48aee911f&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44878&gameref=FBS_300724" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 30, 2024</span>
    <a href="https://d10x.co/BingoBlitz/U7Amy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 30, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=1947164601f57b1dd59daefbe221c4b7d4b77a98fa3f6e738ae54f93a826fac3&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44877&gameref=FBS_290724" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 29, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=16bde505083b304134e514dfc0affdc807bea98bbd54a9430c52103cc2e3149e&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44876&gameref=FBS_280724" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 28, 2024</span>
    <a href="https://d10x.co/BingoBlitz/pNCc3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 28, 2024</span>
    <a href="https://d10x.co/BingoBlitz/tDoJE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 28, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=d2ed13bda2fefa1a4ed494f3e0d5374ebeedcfcaba8fd2a72b6c892769e2f9b9&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44875&gameref=FBS_270724" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 27, 2024</span>
    <a href="https://d10x.co/BingoBlitz/wycp9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 27, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=c58d421e6ebeb1382330edcb70969cf3c109d598f54f7b221b7bfa09c63798d0&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44874&gameref=FBS_260724" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 26, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=98cce810a6d4f40c2815d497d169e56c2bd6662c3a1e08c3f742b6738427026f&desktop=bingoblitz&scene=popup&asset=inbox.PopupGiftCenter&originId=44865&gameref=IG+250724&d10x_link_id=pshnIfqflh&af_sub5=d10xlidaf_pshnIfqflh&fbclid=PAZXh0bgNhZW0CMTEAAaZmpZPDEgLAzBrEi_jhePnHGsPzdZUWf0yg_dlVI6GkTLq3y9d4aLjjTFM_aem_rFMXiATgnoJk0mOhQSFq5g" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 26, 2024</span>
    <a href="https://d10x.co/BingoBlitz/UViUL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 26, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=907eac64383ff153a28853532e7231a3e6fbb0c4202d82611bf6432d02628778&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44872&gameref=FBS_250724" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 25, 2024</span>
    <a href="https://d10x.co/BingoBlitz/31rgB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 25, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=bd454f6eea81df6d76ab4351cbe7b1f69f4dac62256a4701db637cc194c939f7&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44845&gameref=FBS_240724" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 24, 2024</span>
    <a href="https://d10x.co/BingoBlitz/UGW6q" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 24, 2024</span>
    <a href="https://d10x.co/BingoBlitz/oCbiQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 24, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=7e3e9e91cd64bf3a2eebb5904d39adf28f22eb5f767b9ab7f049a60575baee38&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44844&gameref=FBS_230724" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 23, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=cd58513185ca54ef2e7dc8d70225890fadb761cff51bc2d8f15e59161b45caaa&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44843&gameref=FBS_220724" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 23, 2024</span>
    <a href="https://d10x.co/BingoBlitz/PMLa8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 22, 2024</span>
    <a href="https://d10x.co/BingoBlitz/qH8OY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 22, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=8ba793f3dc72bd2a5c24c7e644d076ddbecf18e204e5f663c33712486fab935a&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44842&gameref=FBS_210724" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 21, 2024</span>
    <a href="https://d10x.co/BingoBlitz/CUyp3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 21, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=922ff134d8f1fcc4129f895d289173d0ebbfbbf046adcae1fa20a8c3a33bcd65&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44841&gameref=FBS_200724" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 20, 2024</span>
    <a href="https://d10x.co/BingoBlitz/P2oRD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 20, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=aaf10c940db444f6275713a7332273606d976337336f6ed6bb841b0bac806d9b&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44840&gameref=FBS_190724" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 19, 2024</span>
    <a href="https://d10x.co/BingoBlitz/h2ah1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 19, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=10b515b062b9cbb71f9f580bc406e97aae803fc1eb75cb6cd803c91ddee36ff9&desktop=bingoblitz&scene=popup&asset=inbox.PopupGiftCenter&originId=44853&gameref=IG+180724&d10x_link_id=pshpEufhyP&af_sub5=d10xlidaf_pshpEufhyP&fbclid=PAZXh0bgNhZW0CMTEAAaa2NUPM8TksUUt426qRcpPJbbGJ-5rjd6jx3UG2asAkLpkGNJZQbfbHsZ0_aem_eOC_ijkC2XpN3TD_I7L9VQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 19, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=e03a9449dd387665717d1931968d91ba12176b48666dcb4780f88f71f8fb1471&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44839&gameref=FBS_180724" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 18, 2024</span>
    <a href="https://d10x.co/BingoBlitz/8EI8q" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 18, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=2038352a2f38291e9a8cf010f47a38f1103bbd919395191c311bc2038dfe8a96&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44838&gameref=FBS_170724" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 17, 2024</span>
    <a href="https://d10x.co/BingoBlitz/dVlC2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 17, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=424d7953cd94ec0bb242a1eb757c5e6f51952861d5ee37a0f8e7d839fc4c9a69&desktop=bingoblitz&scene=popup&asset=inbox.PopupGiftCenter&originId=44826&gameref=IG+160724&d10x_link_id=pshU4snK2j&af_sub5=d10xlidaf_pshU4snK2j&fbclid=PAZXh0bgNhZW0CMTEAAabnO5xkiuzd9nat_cB1GJb178iLmRJ0fNFfRCPzpXBoa2y3KwPAIVe745Q_aem_Cra_4AJSxofUt_zhbmbtWQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 17, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=b8dd70d479573844fd04e135e853e23dfa9dba284374f772df5a6811884bd899&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44836&gameref=FBS_160724" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 16, 2024</span>
    <a href="https://d10x.co/BingoBlitz/ibPb9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 16, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=238eeb570f654464f88730eedf534779930d830a8eca9bdcda6b8d636fec896a&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44803&gameref=FBS_150724" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 15, 2024</span>
    <a href="https://d10x.co/BingoBlitz/LkU5B" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 15, 2024</span>
    <a href="https://d10x.co/BingoBlitz/cx6Vs" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 15, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=29fa2e141268b213c93d9e25341d4a438999d4ed34a7e284f825511f2a042551&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44802&gameref=FBS_140724" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 14, 2024</span>
    <a href="https://d10x.co/BingoBlitz/zjqsa" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 14, 2024</span>
    <a href="https://d10x.co/BingoBlitz/900NF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 13, 2024</span>
    <a href="https://d10x.co/BingoBlitz/8kDBC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 13, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=45700c3acb15c50eebdf425f16b2d3d8af93efa16d3a47a2246272628b8cd539&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44800&gameref=FBS_120724" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 12, 2024</span>
    <a href="https://d10x.co/BingoBlitz/i5W1H" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 12, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=ae536afba7b8a3539e3cdf5b3e530a1c5500970f33ce39102da745c82489efa3&desktop=bingoblitz&scene=popup&asset=inbox.PopupGiftCenter&originId=44821&gameref=IG+110724&d10x_link_id=pshPgLwliP&af_sub5=d10xlidaf_pshPgLwliP&fbclid=PAZXh0bgNhZW0CMTEAAabC23kcTQ0QV7NnzuOCJUUvKeekO-dMCHeot9QECKhs00NNRCF9Dljq5i0_aem_W5DvLQXocHYNJdHisREzgA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 12, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=8b76a9417b60517298b3278684e8054ed5e509aa51afff9e1e000fb162eabb38&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44799&gameref=FBS_110724" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 11, 2024</span>
    <a href="https://d10x.co/BingoBlitz/ChSXR" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 11, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=e548e94c7c9550ccde183be059f23856aad197162874b16c0da208bda1227f11&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44798&gameref=FBS_100724" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 10, 2024</span>
    <a href="https://d10x.co/BingoBlitz/PoBHM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 10, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=ff15e05f7a8a419960799ef4a038978e3d6f1aea54dfabef04ebaacf2dd6d7a2&desktop=bingoblitz&scene=popup&asset=inbox.PopupGiftCenter&originId=44811&gameref=IG+090724&d10x_link_id=pshy0o53HT&af_sub5=d10xlidaf_pshy0o53HT&fbclid=PAZXh0bgNhZW0CMTEAAaYcWEN9TtzBDhjagVGW2BfzRbgspjJp_lG9HX-XY11Dqkc4zX8jKFja2oU_aem_37jawMwznP5s4IyTL5rEhg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 10, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=df77d5ad603a22819e1bb4f733c00ae1824b9fca8b18dff3c898423cc2cfd1e1&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44797&gameref=FBS_090724" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 9, 2024</span>
    <a href="https://d10x.co/BingoBlitz/uwjNg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 9, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=35510ce2adf61e7957f3d04f54b2041bf188aea0dd31e4112a864d3b025aa04c&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44796&gameref=FBS_080724" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 8, 2024</span>
    <a href="https://d10x.co/BingoBlitz/lMvXh" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 8, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=0e2aa39286b632038c36e3fe0f74daaeb3a5b19569914c89b09217740365d84c&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44769&gameref=FBS_070724&d10x_link_id=psh49UkrvR&af_sub5=d10xlidaf_psh49UkrvR&fbclid=IwZXh0bgNhZW0CMTEAAR3Ki5t6Ua7uNMBMN7sXaA6vpQ6XiDaN5j-xBMj96ay0Ml3zyokmXVlpvNk_aem_0WBjvS4bQyoqz2ElE_L0BQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 7, 2024</span>
    <a href="https://d10x.co/BingoBlitz/gbttK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 7, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=f8d48b7d824dc25ce035f16394dd96163283b0640fd6d1ab919dd3ca10eab00c&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44768&gameref=FBS_060724" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 7, 2024</span>
    <a href="https://d10x.co/BingoBlitz/kwe5b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 6, 2024</span>
    <a href="https://d10x.co/BingoBlitz/DvqvJ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 6, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=847c86eaeaf7db481590aaa3fe0d54c297786a4b64be26e898f3fd10bb0a0e0a&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=44767&gameref=FBS_050724" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Credits for July 5, 2024</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=9a85dbc9c8a78b9c7a647451236ceba1d8b750e0abe0f5903659ade07d5722bb&desktop=bingoblitz&scene=popup&asset=inbox.PopupGiftCenter&originId=44766&gameref=IG+742024&d10x_link_id=pshI5zifkG&af_sub5=d10xlidaf_pshI5zifkG&fbclid=PAZXh0bgNhZW0CMTEAAabRVEgQSxHuam09tTPkzrFppzZ3RHXNLC3BSyrl4ax89ciQ79OFpFEQ_ro_aem_uoytoIj_IupEWYKLbrEuGg" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>