<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-28-2024</span>
    <a href="https://scrb.ly/3V0vjNv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-28-2024</span>
    <a href="http://scrb.ly/3C6Ancy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-27-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=dd5851f2f5acacceaa462d2e141159c3&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241227&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTczNTI1MDQwMCwiZXQiOjE3MzU1MDk2MDAsInJuIjoyOTgsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241227" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-27-2024</span>
    <a href="https://scrb.ly/40TFerT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-27-2024</span>
    <a href="https://scrb.ly/40Z31a9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-26-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=f5afda8296f6011e321e3cd82fb48109&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241226&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTczNTE2NDAwMCwiZXQiOjE3MzU0MjMyMDAsInJuIjo2NDAsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241226" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-26-2024</span>
    <a href="https://scrb.ly/3V0vjwZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-26-2024</span>
    <a href="https://scrb.ly/3UV1lug" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-25-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=ff1535fd0168fc7026b484d6c0721b82&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241225&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTczNTA3NzYwMCwiZXQiOjE3MzUzMzY4MDAsInJuIjoxNzAsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241225" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-25-2024</span>
    <a href="https://scrb.ly/3UZh4sj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-24-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=4b8b6dbf3e7b5161cf6bf39cc1cefb1a&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241224&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTczNDk5MTIwMCwiZXQiOjE3MzUyNTA0MDAsInJuIjozMzAsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241224" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-24-2024</span>
    <a href="https://scrb.ly/4fTCBKO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-24-2024</span>
    <a href="https://scrb.ly/4fTl6KL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-23-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=2c0e2835338180557ae14d572b3030b9&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241223&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTczNDkwNDgwMCwiZXQiOjE3MzUxNjQwMDAsInJuIjoxMTYsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241223" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-23-2024</span>
    <a href="https://scrb.ly/4eAOwwk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-23-2024</span>
    <a href="https://scrb.ly/4eF4K7F" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-22-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=eedbfd7e110defe7a40e26f02e85b3b8&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241222&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTczNDgxODQwMCwiZXQiOjE3MzUwNzc2MDAsInJuIjozOTgsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241222" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-22-2024</span>
    <a href="http://scrb.ly/3Ypcpks" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-22-2024</span>
    <a href="https://scrb.ly/4fW16XN" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-22-2024</span>
    <a href="https://scrb.ly/4eErYe6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-22-2024</span>
    <a href="http://scrb.ly/4f4JVTV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-21-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=2299c81972c3d8cf45f1e7c39802d67c&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241221&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTczNDczMjAwMCwiZXQiOjE3MzQ5OTEyMDAsInJuIjo3NTMsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241221" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-21-2024</span>
    <a href="https://scrb.ly/4eB3ceW" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-21-2024</span>
    <a href="https://scrb.ly/4eKsMOI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-20-2024</span>
    <a href="http://scrb.ly/4fjI12d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-20-2024</span>
    <a href="https://scrb.ly/4exqKkM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-20-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=24e7de6367d41eea8a86ba9eb9ef2b33&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241220&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTczNDY0NTYwMCwiZXQiOjE3MzQ5MDQ4MDAsInJuIjozNzMsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241220&fbclid=PAY2xjawHSYr5leHRuA2FlbQIxMAABpj2k5uBBCD_vyAsWlFVoKghoVSAS8pIdFqToB6uAmvphSzApaVJf1k_bPQ_aem_gsbPQuJ9bA9FEthY3GPbgw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-20-2024</span>
    <a href="https://scrb.ly/48U1Ri1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-19-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=286b4e405f2b58ab085a274135768960&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241219&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTczNDU1OTIwMCwiZXQiOjE3MzQ4MTg0MDAsInJuIjo4NzMsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241219&fbclid=PAY2xjawHRE9pleHRuA2FlbQIxMAABph74c3F7Lg9gpB2iIv8UKm8tkOe2oEjm4bf7usBXhD2BVUVZpyfEc9Zsjg_aem_Ifwy_Kx91FtOXfLIv-WTtw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-19-2024</span>
    <a href="https://scrb.ly/4eDI0EQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-19-2024</span>
    <a href="https://scrb.ly/4f9Sugn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-19-2024</span>
    <a href="https://scrb.ly/48ZQC7S" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-18-2024</span>
    <a href="http://scrb.ly/4hqu6bS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-18-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=53faaa8d2d8b0ea422b1ad47932c3d9a&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241218&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTczNDQ3MjgwMCwiZXQiOjE3MzQ3MzIwMDAsInJuIjo3MzcsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241218" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-18-2024</span>
    <a href="https://scrb.ly/4eBYmhh" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-18-2024</span>
    <a href="https://scrb.ly/48UH65C" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-17-2024</span>
    <a href="http://scrb.ly/4htiS6o" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-17-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=11fde32986e16a9fdc6591ddf4c9810e&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241217&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTczNDM4NjQwMCwiZXQiOjE3MzQ2NDU2MDAsInJuIjo3OTAsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241217" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-17-2024</span>
    <a href="https://scrb.ly/4fUeuMo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-17-2024</span>
    <a href="https://scrb.ly/4eAOmFe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-16-2024</span>
    <a href="https://scrb.ly/4eF9gD3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-16-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=1ec95967f34d2150eb36abf152a763a4&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241216&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTczNDMwMDAwMCwiZXQiOjE3MzQ1NTkyMDAsInJuIjozNTIsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241216" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-16-2024</span>
    <a href="https://scrb.ly/4eB33rU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-15-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=693492ec0d4ce51fcfe58403eae6653f&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241215&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTczNDIxMzYwMCwiZXQiOjE3MzQ0NzI4MDAsInJuIjo5MDcsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241215" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-15-2024</span>
    <a href="https://scrb.ly/4eAfG6n" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-15-2024</span>
    <a href="https://scrb.ly/48Z5Vxf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-14-2024</span>
    <a href="https://scrb.ly/4exqJxe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-14-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=a358c58a443c7765dacc076cdcec3fc3&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241214&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTczNDEyNzIwMCwiZXQiOjE3MzQzODY0MDAsInJuIjo5NzYsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241214" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-14-2024</span>
    <a href="https://scrb.ly/3CLRkJu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-13-2024</span>
    <a href="https://scrb.ly/3CJqUIl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-13-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=1a394a2dbab13f487f49fcefd96df023&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241213&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTczNDA0MDgwMCwiZXQiOjE3MzQzMDAwMDAsInJuIjo3MTcsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241213" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-13-2024</span>
    <a href="https://scrb.ly/4eBAHxu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-12-2024</span>
    <a href="https://scrb.ly/4eChjk5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-12-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=75693a348dcd4d61ec1cc67dafd59317&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241212&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTczMzk1NDQwMCwiZXQiOjE3MzQyMTM2MDAsInJuIjo2MDUsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241212" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-12-2024</span>
    <a href="https://scrb.ly/4exqJgI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-11-2024</span>
    <a href="https://scrb.ly/4fU8aEp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-11-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=164620506aafe3c3dac8ddade1b4e819&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241211&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTczMzg2ODAwMCwiZXQiOjE3MzQxMjcyMDAsInJuIjoxNTAsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241211&fbclid=PAY2xjawHGdQhleHRuA2FlbQIxMAABpm-kn1bLpFdPIAqr51Y-iFHPXsACNAeylVWvS2WfdBjhC_ehHpftwyXNTg_aem_3cSzqhgzhAI1xdP5uf3z-w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-11-2024</span>
    <a href="https://scrb.ly/4eKsUha" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-10-2024</span>
    <a href="https://scrb.ly/3CJqTUN" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-10-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=c8f2fb705174890a50ac698bd723ce72&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241210&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTczMzc4MTYwMCwiZXQiOjE3MzQwNDA4MDAsInJuIjo1NDIsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241210" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-10-2024</span>
    <a href="https://scrb.ly/4fX8UZD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-09-2024</span>
    <a href="https://scrb.ly/4eEUrQK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-09-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=2b2f8facede574ddff38281cac4ed5d3&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241209&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTczMzY5NTIwMCwiZXQiOjE3MzM5NTQ0MDAsInJuIjozMjQsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241209" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-09-2024</span>
    <a href="https://scrb.ly/4eDS9BJ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-08-2024</span>
    <a href="https://scrb.ly/3CvB13I" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-08-2024</span>
    <a href="https://scrb.ly/48U1PXr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-07-2024</span>
    <a href="https://scrb.ly/494cZZO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-07-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=dac89aa83287b027b8348846db27d213&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241207&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTczMzUyMjQwMCwiZXQiOjE3MzM3ODE2MDAsInJuIjozMDYsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241207" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-07-2024</span>
    <a href="https://scrb.ly/4eI2bBE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-06-2024</span>
    <a href="http://scrb.ly/4frAJZU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-06-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=8b998b19e5f361d43785ddb717b7fedc&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241206&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTczMzQzNjAwMCwiZXQiOjE3MzM2OTUyMDAsInJuIjozMDgsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241206" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-06-2024</span>
    <a href="https://scrb.ly/3CDz4lS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-06-2024</span>
    <a href="https://scrb.ly/4fSpYQu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-05-2024</span>
    <a href="http://scrb.ly/3YH3AUl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-05-2024</span>
    <a href="https://scrb.ly/4fUeSKF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-05-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=a2bd17537d85adb9b4e998e8c9156ce7&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241205&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTczMzM0OTYwMCwiZXQiOjE3MzM2MDg4MDAsInJuIjoyMzAsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241205&fbclid=PAY2xjawG-g2hleHRuA2FlbQIxMAABphllhlgKRPzxk__InruhJKzcyC5ZRYiwUNEgwHY80skoTHRFGz4mFoaXEg_aem_Y9Q2C1XwGaM-PfV9vBcEjg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-05-2024</span>
    <a href="https://scrb.ly/3CyO83X" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-04-2024</span>
    <a href="https://scrb.ly/48T33Cl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-04-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=3c0c93e0e9d254b38b262cc55284a385&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241204&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTczMzI2MzIwMCwiZXQiOjE3MzM1MjI0MDAsInJuIjoyODEsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241204" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-04-2024</span>
    <a href="https://scrb.ly/4fULVyk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-03-2024</span>
    <a href="http://scrb.ly/4f9DwqU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-03-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=2db15289d336ce4f182bbc0055410c9e&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241203&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTczMzE3NjgwMCwiZXQiOjE3MzM0MzYwMDAsInJuIjo2ODIsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241203" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-03-2024</span>
    <a href="https://scrb.ly/4eDSqEL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-03-2024</span>
    <a href="https://scrb.ly/3CvVRQe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-02-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=b9a3067ec223575aaf2293c37cb87300&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241202&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTczMzA5MDQwMCwiZXQiOjE3MzMzNDk2MDAsInJuIjo5NTcsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241202" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-02-2024</span>
    <a href="https://scrb.ly/4eDSnZB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-02-2024</span>
    <a href="https://scrb.ly/48U1Pqp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-01-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=05fd2d3d3844f9ddb09940d2fa343d0c&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241201&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTczMzAwNDAwMCwiZXQiOjE3MzMyNjMyMDAsInJuIjo4OTIsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241201&fbclid=PAY2xjawG5RX5leHRuA2FlbQIxMAABpsYHGkCh8MusyJf7xWPwUWTu28RLTKdAzEhnnZU5NZb7hqrtHURv3wrbnw_aem_aenbLkDZAtL_igI79mpWqA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-01-2024</span>
    <a href="http://scrb.ly/48qnndO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-01-2024</span>
    <a href="https://scrb.ly/4fV8GC4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 12-01-2024</span>
    <a href="https://scrb.ly/4egQ7Ht" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 11-30-2024</span>
    <a href="http://scrb.ly/4f2BoRn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 11-30-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=1d15c731c2b1f89f07ed8686705100d5&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241130&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTczMjkxNzYwMCwiZXQiOjE3MzMxNzY4MDAsInJuIjo3MDMsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241130" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 11-30-2024</span>
    <a href="https://scrb.ly/4hxWaKr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 11-30-2024</span>
    <a href="https://scrb.ly/4hzu5SS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 11-29-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=a32c5786cf99b27557f8d05bfc135929&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241129&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTczMjgzMTIwMCwiZXQiOjE3MzMwOTA0MDAsInJuIjo1MDYsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241129" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 11-29-2024</span>
    <a href="https://scrb.ly/4huwoqu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 11-29-2024</span>
    <a href="https://scrb.ly/4hw5ApI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 11-28-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=4923b7e8d83f67f46794e294e98d1e33&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241128&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTczMjc0NDgwMCwiZXQiOjE3MzMwMDQwMDAsInJuIjo1NDYsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241128" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 11-28-2024</span>
    <a href="https://scrb.ly/48wEhYg" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>