<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 02-03-2025</span>
    <a href="https://d10x.co/BingoBlitz/gXGpJ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 02-03-2025</span>
    <a href="https://d10x.co/BingoBlitz/P0f7x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 02-03-2025</span>
    <a href="https://d10x.co/BingoBlitz/b3aQY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 02-03-2025</span>
    <a href="https://link.bingoblitz.com/rB7NndNA7P6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 02-02-2025</span>
    <a href="https://d10x.co/BingoBlitz/TpcZx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 02-02-2025</span>
    <a href="https://d10x.co/BingoBlitz/0B7R3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 02-02-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=b11076b301287a18c58b181d447c291798c022aa8bb3d21dcfd0bbf629ff0dce&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45832&gameref=FBS_010225" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 02-01-2025</span>
    <a href="https://d10x.co/BingoBlitz/ZLzb4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-30-2025</span>
    <a href="https://d10x.co/BingoBlitz/MzsnH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-30-2025</span>
    <a href="https://bingo-app-dsa.playtika.com/bingo2-v2-bingoblitz/incentive/?incentive=f65eda28b40fdcdb5ecd9e578d7310e0f8f14c9b4c4e2e183cc1422d57373c1a&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45660&gameref=IG+30.1.2025&fbclid=PAY2xjawIIVEZleHRuA2FlbQIxMQABpqA7w5rL-OGfXidx0ABxd1xnlSetPp0bWFCigttJhJSw4yjFKKXdQRBW8w_aem_0VOGKYjvtTJ7bNgZ7ksElg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-29-2025</span>
    <a href="https://d10x.co/BingoBlitz/On66k" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-29-2025</span>
    <a href="https://d10x.co/BingoBlitz/90Uzg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-28-2025</span>
    <a href="https://d10x.co/BingoBlitz/fmuyZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-28-2025</span>
    <a href="https://d10x.co/BingoBlitz/1wuRd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-27-2025</span>
    <a href="https://d10x.co/BingoBlitz/rwZkr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-27-2025</span>
    <a href="http://d10x.co/BingoBlitz/ZqUt8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-27-2025</span>
    <a href="https://d10x.co/BingoBlitz/c7zOC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-25-2025</span>
    <a href="https://d10x.co/BingoBlitz/s6817" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-24-2025</span>
    <a href="https://d10x.co/BingoBlitz/qzBSk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-23-2025</span>
    <a href="https://d10x.co/BingoBlitz/UABEP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-22-2025</span>
    <a href="https://d10x.co/BingoBlitz/xysmb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-20-2025</span>
    <a href="https://d10x.co/BingoBlitz/nd01G" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-21-2025</span>
    <a href="https://d10x.co/BingoBlitz/2db0h" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-20-2025</span>
    <a href="http://d10x.co/BingoBlitz/YNbSV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-20-2025</span>
    <a href="https://d10x.co/BingoBlitz/WDjEn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-19-2025</span>
    <a href="https://d10x.co/BingoBlitz/bCnY0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-18-2025</span>
    <a href="https://d10x.co/BingoBlitz/A2AtK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-17-2025</span>
    <a href="https://d10x.co/BingoBlitz/ZoMRm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-16-2025</span>
    <a href="https://d10x.co/BingoBlitz/08Lu2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-16-2025</span>
    <a href="https://d10x.co/BingoBlitz/8pz1Y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-16-2025</span>
    <a href="https://d10x.co/BingoBlitz/dr5C7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-15-2025</span>
    <a href="https://d10x.co/BingoBlitz/IPX7e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-15-2025</span>
    <a href="https://d10x.co/BingoBlitz/nsQ8y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-15-2025</span>
    <a href="https://d10x.co/BingoBlitz/pH4Mk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-13-2025</span>
    <a href="https://d10x.co/BingoBlitz/SDlBY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-13-2025</span>
    <a href="https://d10x.co/BingoBlitz/EF5SU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-11-2025</span>
    <a href="https://d10x.co/BoardKings/oXnLFQc12" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-09-2025</span>
    <a href="https://d10x.co/BingoBlitz/bysYD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-09-2025</span>
    <a href="https://d10x.co/BingoBlitz/JB8lG" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-09-2025</span>
    <a href="https://d10x.co/BingoBlitz/rSDeV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-08-2025</span>
    <a href="https://d10x.co/BingoBlitz/nL9pd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-07-2025</span>
    <a href="https://d10x.co/BingoBlitz/pAkIg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-07-2025</span>
    <a href="https://d10x.co/BingoBlitz/vGz6h" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-06-2025</span>
    <a href="https://d10x.co/BingoBlitz/ahHpv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-06-2025</span>
    <a href="https://d10x.co/BingoBlitz/Z4RYQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-06-2025</span>
    <a href="https://d10x.co/BingoBlitz/0yzZ1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-06-2025</span>
    <a href="https://d10x.co/BingoBlitz/sJ7Ji" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-05-2025</span>
    <a href="https://d10x.co/BingoBlitz/CnbSd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-03-2025</span>
    <a href="https://d10x.co/BingoBlitz/PzjgF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-02-2025</span>
    <a href="https://d10x.co/BingoBlitz/hlQVI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-02-2025</span>
    <a href="https://d10x.co/BingoBlitz/2xhgV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-02-2025</span>
    <a href="https://d10x.co/BingoBlitz/oBsGD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-02-2025</span>
    <a href="https://d10x.co/BingoBlitz/GVb8w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-01-2025</span>
    <a href="https://d10x.co/BingoBlitz/0IKH2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-01-2025</span>
    <a href="https://d10x.co/BingoBlitz/PLHcr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-01-2025</span>
    <a href="https://d10x.co/BingoBlitz/fX5QY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-01-2025</span>
    <a href="https://d10x.co/BingoBlitz/nA1Mr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 01-01-2025</span>
    <a href="https://d10x.co/BingoBlitz/Ml3nS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-30-2024</span>
    <a href="https://d10x.co/BingoBlitz/f3Rm2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-30-2024</span>
    <a href="https://d10x.co/BingoBlitz/2zWcY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-30-2024</span>
    <a href="https://d10x.co/BingoBlitz/W4J1L" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-28-2024</span>
    <a href="https://d10x.co/BingoBlitz/vD2Ba" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-28-2024</span>
    <a href="https://d10x.co/BingoBlitz/09ddO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-26-2024</span>
    <a href="https://d10x.co/BingoBlitz/XG874" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-26-2024</span>
    <a href="https://gnocchi-www.buffalo-ggn.net/bingo2-v2-bingoblitz/incentive/?incentive=0ba4ddc78dacb7bb728bb121023918f7395c02402f4a124df0863c095c0d86f6&desktop=fb&scene=popup&asset=inbox.PopupGiftCenter&originId=45521&gameref=IG+26.12.24&fbclid=PAY2xjawHaXKlleHRuA2FlbQIxMQABptGj_PD26lomBV6WAwlEB-o87lEOAg8nPnAi6x4OXUdTrrQ71iqnk-Z12w_aem_jd_UF_CpCB1EL4M5WrcNeQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-25-2024</span>
    <a href="https://d10x.co/BingoBlitz/2tE0S" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-25-2024</span>
    <a href="https://d10x.co/BingoBlitz/lp4EU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-25-2024</span>
    <a href="https://d10x.co/BingoBlitz/LvN9X" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-23-2024</span>
    <a href="https://d10x.co/BingoBlitz/QaHWw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-23-2024</span>
    <a href="https://d10x.co/BingoBlitz/ZyhOk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-23-2024</span>
    <a href="https://d10x.co/BingoBlitz/ckZzR" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-22-2024</span>
    <a href="https://d10x.co/BingoBlitz/9L0BI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-22-2024</span>
    <a href="https://d10x.co/BingoBlitz/rRKOd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-21-2024</span>
    <a href="https://d10x.co/BingoBlitz/YTuDQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-20-2024</span>
    <a href="https://d10x.co/BingoBlitz/3Hyy8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-19-2024</span>
    <a href="https://d10x.co/BingoBlitz/8aBqm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-19-2024</span>
    <a href="https://d10x.co/BingoBlitz/ZxTnG" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-18-2024</span>
    <a href="https://d10x.co/BingoBlitz/vp0gr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-17-2024</span>
    <a href="https://d10x.co/BingoBlitz/457me" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-17-2024</span>
    <a href="https://d10x.co/BingoBlitz/WrVpo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-16-2024</span>
    <a href="https://d10x.co/BingoBlitz/BhmTp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-16-2024</span>
    <a href="https://d10x.co/BingoBlitz/Zp7zv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-15-2024</span>
    <a href="https://d10x.co/BingoBlitz/Ne3aO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-14-2024</span>
    <a href="https://d10x.co/BingoBlitz/9zTXn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-13-2024</span>
    <a href="https://d10x.co/BingoBlitz/JX8Xj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-12-2024</span>
    <a href="https://d10x.co/BingoBlitz/r3WuP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-12-2024</span>
    <a href="https://d10x.co/BingoBlitz/pd5PL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-12-2024</span>
    <a href="https://d10x.co/BingoBlitz/ZfnUm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-11-2024</span>
    <a href="https://d10x.co/BingoBlitz/vWzct" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-11-2024</span>
    <a href="https://d10x.co/BingoBlitz/2hLaa" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-10-2024</span>
    <a href="https://d10x.co/BingoBlitz/DLiZP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-09-2024</span>
    <a href="https://d10x.co/BingoBlitz/1Pw9f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-09-2024</span>
    <a href="https://d10x.co/BingoBlitz/LghAP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-09-2024</span>
    <a href="https://d10x.co/BingoBlitz/LAQPY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-09-2024</span>
    <a href="https://d10x.co/BingoBlitz/Vckbl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-07-2024</span>
    <a href="https://d10x.co/BingoBlitz/Nvr17" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-06-2024</span>
    <a href="https://d10x.co/BingoBlitz/Z4xPB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-05-2024</span>
    <a href="https://d10x.co/BingoBlitz/ziDaT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-05-2024</span>
    <a href="https://d10x.co/BingoBlitz/y62U8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Blitz Credits 12-05-2024</span>
    <a href="https://d10x.co/BingoBlitz/A7o4g" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>