<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 11-01-2024</span>
    <a href="http://scrb.ly/47bde45" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 11-01-2024</span>
    <a href="https://scrb.ly/4dSbQW0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 11-01-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=b8705a630b5ce195e3fd295072f7dfb0&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241101&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTczMDQxMjAwMCwiZXQiOjE3MzA2NzEyMDAsInJuIjo1MjcsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241101&fbclid=PAY2xjawGRsWNleHRuA2FlbQIxMAABpjd67T7AJZtzPUDe6sHUxw0D-f3nYuUq30aG7M-ON5N79RbRcpN-DI0C4g_aem_7kiN9tJZSamM7wl2C0uTwA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 11-01-2024</span>
    <a href="https://scrb.ly/4dV5DZa" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 11-01-2024</span>
    <a href="https://scrb.ly/3YDPzqw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-31-2024</span>
    <a href="https://scrb.ly/48pi0LY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-31-2024</span>
    <a href="http://scrb.ly/3yTGQ9J" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-31-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=0faa530852bd8a51cd91ff47715a211f&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241031&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTczMDMyNTYwMCwiZXQiOjE3MzA1ODQ4MDAsInJuIjo1MDAsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241031" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-31-2024</span>
    <a href="https://scrb.ly/3C0MY0J" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-31-2024</span>
    <a href="https://scrb.ly/4dT0gK4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-30-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=ad0c21800604390d18deb2e1193d68c1&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241030&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTczMDIzOTIwMCwiZXQiOjE3MzA0OTg0MDAsInJuIjo0NzMsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241030" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-30-2024</span>
    <a href="https://scrb.ly/4dZlAh4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-29-2024</span>
    <a href="https://scrb.ly/47e2Qsg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-29-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=010c6ec6d533f60533155cd875f8edd8&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241029&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTczMDE1MjgwMCwiZXQiOjE3MzA0MTIwMDAsInJuIjo0MjMsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241029" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-29-2024</span>
    <a href="https://scrb.ly/4ePp8Us" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-29-2024</span>
    <a href="https://scrb.ly/4eMJH3R" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-29-2024</span>
    <a href="https://scrb.ly/4dZlA0y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-28-2024</span>
    <a href="https://scrb.ly/3NtP63Q" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-27-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=e8a9f23c3d48d22f139f1e076947a7a2&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241027&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTcyOTk3NjQwMCwiZXQiOjE3MzAyMzkyMDAsInJuIjo0NTcsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241027" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-27-2024</span>
    <a href="https://scrb.ly/3NvLvC6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-26-2024</span>
    <a href="https://scrb.ly/3NzKARa" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-26-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=c353f8473cb460d4e37186608d8ae13d&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241026&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTcyOTg5MDAwMCwiZXQiOjE3MzAxNTI4MDAsInJuIjo4MDMsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241026" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-26-2024</span>
    <a href="https://scrb.ly/3C0Jnji" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-26-2024</span>
    <a href="https://scrb.ly/4ePp0Es" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-25-2024</span>
    <a href="https://scrb.ly/4dTKqyZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-25-2024</span>
    <a href="https://scrb.ly/4eRCzmJ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-24-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=9714d6da8a11e19af8d8927ce3e1949f&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241024&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTcyOTcxNzIwMCwiZXQiOjE3Mjk5NzY0MDAsInJuIjo2NzUsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241024" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-24-2024</span>
    <a href="https://scrb.ly/3BSkne8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-24-2024</span>
    <a href="https://scrb.ly/4eRCxLD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-23-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=fc11a01e63003a33053fdf5fa52fefef&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241023&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTcyOTYzMDgwMCwiZXQiOjE3Mjk4OTAwMDAsInJuIjo1NzAsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241023" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-23-2024</span>
    <a href="https://scrb.ly/4dZHRex" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-23-2024</span>
    <a href="https://scrb.ly/3NtOXNQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-22-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=b5f8a0b25ce554393d3631ebae88dfd7&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241022&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTcyOTU0NDQwMCwiZXQiOjE3Mjk4MDM2MDAsInJuIjoyOTMsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241022" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-22-2024</span>
    <a href="https://scrb.ly/3BS8y7J" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-22-2024</span>
    <a href="https://scrb.ly/4cNCRJH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-21-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=81b503e63c45cef87415dc1ac4b27549&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241021&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTcyOTQ1ODAwMCwiZXQiOjE3Mjk3MTcyMDAsInJuIjo2MjYsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241021" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-21-2024</span>
    <a href="https://scrb.ly/3XtUWry" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-21-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=34f6881076ca07103164c93a8ba22e34&fr_id=&time=&type=OTR&item_id=0&verify=&ptyp=bot&ctyp=&se=&yahoo_id=&ref=viral&us_type=&rc=eyJzdCI6MTcyOTQ5NDExMSwiZXQiOjE3Mjk1NjYxMTEsInJuIjo0MzMsInJ3ZCI6eyJjaGlwcyI6M30sIm1faWQiOiI2MDY1MDg5MTEzNTM5MDUwIiwic3JjIjoiY2hhdGZ1ZWwifQ%3D%3D&ref=viral&ref_2=na&ref_3=na&ptyp=bot&ctyp=na" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-21-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=07c3107aa5116a515c43e10ac484cba5&fr_id=&time=&type=OTR&item_id=0&verify=&ptyp=bot&ctyp=&se=&yahoo_id=&ref=viral&us_type=&rc=eyJzdCI6MTcyOTQ5NDE3NiwiZXQiOjE3Mjk1NjYxNzYsInJuIjo3NzYsInJ3ZCI6eyJjaGlwcyI6NX0sIm1faWQiOiI2MDY1MDg5MTEzNTM5MDUwIiwic3JjIjoiY2hhdGZ1ZWwifQ%3D%3D&ref=viral&ref_2=na&ref_3=na&ptyp=bot&ctyp=na" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-21-2024</span>
    <a href="https://scrb.ly/47flMqO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-20-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=9e17eedcbb38f60a42162598ee78d15c&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241020&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTcyOTM3MTYwMCwiZXQiOjE3Mjk2MzA4MDAsInJuIjo4MjIsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241020" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-20-2024</span>
    <a href="https://scrb.ly/4cRWgZN" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-20-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=0db0872f3cb80eae20d9ca3449559815&fr_id=&time=&type=OTR&item_id=0&verify=&ptyp=bot&ctyp=&se=&yahoo_id=&ref=viral&us_type=&rc=eyJzdCI6MTcyOTQyMTAwMiwiZXQiOjE3Mjk0OTMwMDIsInJuIjo5NzYsInJ3ZCI6eyJjaGlwcyI6MTZ9LCJtX2lkIjoiNjA2NTA4OTExMzUzOTA1MCIsInNyYyI6ImNoYXRmdWVsIn0%3D&ref=viral&ref_2=na&ref_3=na&ptyp=bot&ctyp=na" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-20-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=325e226a3830eb229403534174f12925&fr_id=&time=&type=OTR&item_id=0&verify=&ptyp=bot&ctyp=loyalty1&se=&yahoo_id=&ref=viral&us_type=&rc=eyJzdCI6MTcyOTQyMTAyNiwiZXQiOjE3Mjk0OTMwMjYsInJuIjo4MDgsInJ3ZCI6eyJjaGlwcyI6NX0sIm1faWQiOiI2MDY1MDg5MTEzNTM5MDUwIiwic3JjIjoiY2hhdGZ1ZWwifQ%3D%3D&ref=viral&ref_2=na&ref_3=na&ptyp=bot&ctyp=loyalty1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-20-2024</span>
    <a href="https://scrb.ly/3XuAKGd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-19-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=291a3aff6cdc2d0124ff9dfd07a5e614&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241019&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTcyOTI4NTIwMCwiZXQiOjE3Mjk1NDQ0MDAsInJuIjo1NDUsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241019" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-19-2024</span>
    <a href="https://scrb.ly/47c9P50" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-19-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=496ae012f2c6c1ca604d1c4f034f94ba&fr_id=&time=&type=OTR&item_id=0&verify=&ptyp=bot&ctyp=pab1&se=&yahoo_id=&ref=viral&us_type=&rc=eyJzdCI6MTcyOTMyMTQ4OSwiZXQiOjE3MjkzOTM0ODksInJuIjo5MDEsInJ3ZCI6eyJjaGlwcyI6OH0sIm1faWQiOiI2NDM2MjgzOTI2NDI0NDQ0Iiwic3JjIjoiY2hhdGZ1ZWwifQ%3D%3D&ref=viral&ref_2=na&ref_3=na&ptyp=bot&ctyp=pab1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-19-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=0dbd964dafdbc94de73b89c5aa033c1c&fr_id=&time=&type=OTR&item_id=0&verify=&ptyp=bot&ctyp=loyalty1&se=&yahoo_id=&ref=viral&us_type=&rc=eyJzdCI6MTcyOTMyMTU5MCwiZXQiOjE3MjkzOTM1OTAsInJuIjozNjIsInJ3ZCI6eyJjaGlwcyI6NX0sIm1faWQiOiI2NDM2MjgzOTI2NDI0NDQ0Iiwic3JjIjoiY2hhdGZ1ZWwifQ%3D%3D&ref=viral&ref_2=na&ref_3=na&ptyp=bot&ctyp=loyalty1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-18-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=6575905272d274bab2a6166e90c8d2f9&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241018&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTcyOTE5ODgwMCwiZXQiOjE3Mjk0NTgwMDAsInJuIjo2NjUsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241018" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-18-2024</span>
    <a href="https://scrb.ly/3Xt3dMx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-18-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?hash=bd405255b24b7bc79e05fccdca882367&rc=eyJzdCI6MTcyOTIzNTExMywiZXQiOjE3MjkzMDcxMTMsInJuIjo4MjIsInJ3ZCI6eyJjaGlwcyI6OH0sIm1faWQiOiI2MDY1MDg5MTEzNTM5MDUwIiwic3JjIjoiY2hhdGZ1ZWwifQ%3D%3D&ptyp=bot&ctyp=pab1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-18-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=9f2e81efd8c4c19e6a2c4a54670f8ace&fr_id=&time=&type=OTR&item_id=0&verify=&ptyp=bot&ctyp=loyalty1&se=&yahoo_id=&ref=viral&us_type=&rc=eyJzdCI6MTcyOTIzNTEzOCwiZXQiOjE3MjkzMDcxMzgsInJuIjoyNDQsInJ3ZCI6eyJjaGlwcyI6NX0sIm1faWQiOiI2MDY1MDg5MTEzNTM5MDUwIiwic3JjIjoiY2hhdGZ1ZWwifQ%3D%3D&ref=viral&ref_2=na&ref_3=na&ptyp=bot&ctyp=loyalty1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-18-2024</span>
    <a href="https://scrb.ly/4cU7BJ5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-17-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=9ae768c5714618c9237b2dcb4e6f429d&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241017&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTcyOTExMjQwMCwiZXQiOjE3MjkzNzE2MDAsInJuIjoyMzcsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241017" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-17-2024</span>
    <a href="https://scrb.ly/47bYAd2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-17-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=ec58975c6c843a454db4411212bfbe7c&fr_id=&time=&type=OTR&item_id=0&verify=&ptyp=bot&ctyp=&se=&yahoo_id=&ref=viral&us_type=&rc=eyJzdCI6MTcyOTE0ODgzOSwiZXQiOjE3MjkyMjA4MzksInJuIjo5NzgsInJ3ZCI6eyJjaGlwcyI6OH0sIm1faWQiOiI2NDM2MjgzOTI2NDI0NDQ0Iiwic3JjIjoiY2hhdGZ1ZWwifQ%3D%3D&ref=viral&ref_2=na&ref_3=na&ptyp=bot&ctyp=na" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-17-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=c7f5c6d9786821a9a97f1edf2a31010a&fr_id=&time=&type=OTR&item_id=0&verify=&ptyp=bot&ctyp=&se=&yahoo_id=&ref=viral&us_type=&rc=eyJzdCI6MTcyOTE0ODg4MywiZXQiOjE3MjkyMjA4ODMsInJuIjoxNTUsInJ3ZCI6eyJjaGlwcyI6NX0sIm1faWQiOiI2NDM2MjgzOTI2NDI0NDQ0Iiwic3JjIjoiY2hhdGZ1ZWwifQ%3D%3D&ref=viral&ref_2=na&ref_3=na&ptyp=bot&ctyp=na" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-17-2024</span>
    <a href="https://scrb.ly/4cNCQW9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-16-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=0195f1395a843a9470f745009693b08f&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241016&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTcyOTAyNjAwMCwiZXQiOjE3MjkyODUyMDAsInJuIjoyMzcsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241016" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-16-2024</span>
    <a href="https://scrb.ly/3AZmFYk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-16-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=9d884ad6f354975faac320babaac4cd7&fr_id=&time=&type=OTR&item_id=0&verify=&ptyp=bot&ctyp=&se=&yahoo_id=&ref=viral&us_type=&rc=eyJzdCI6MTcyOTA2MjIzMiwiZXQiOjE3MjkxMzQyMzIsInJuIjoyNDgsInJ3ZCI6eyJjaGlwcyI6NH0sIm1faWQiOiI2NDM2MjgzOTI2NDI0NDQ0Iiwic3JjIjoiY2hhdGZ1ZWwifQ%3D%3D&ref=viral&ref_2=na&ref_3=na&ptyp=bot&ctyp=na" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-16-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=ff57f886c6e78db76651c4c7278071cd&fr_id=&time=&type=OTR&item_id=0&verify=&ptyp=bot&ctyp=loyalty1&se=&yahoo_id=&ref=viral&us_type=&rc=eyJzdCI6MTcyOTA2MjMwMCwiZXQiOjE3MjkxMzQzMDAsInJuIjo5NzEsInJ3ZCI6eyJjaGlwcyI6NX0sIm1faWQiOiI2NDM2MjgzOTI2NDI0NDQ0Iiwic3JjIjoiY2hhdGZ1ZWwifQ%3D%3D&ref=viral&ref_2=na&ref_3=na&ptyp=bot&ctyp=loyalty1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-16-2024</span>
    <a href="https://scrb.ly/3XvZKNo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-15-2024</span>
    <a href="https://scrb.ly/3Zf3NPd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-15-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=d6420277fd51d257c88a40c4e99891c5&fr_id=&time=&type=OTR&item_id=0&verify=&ptyp=bot&ctyp=&se=&yahoo_id=&ref=viral&us_type=&rc=eyJzdCI6MTcyODk3NTgwNiwiZXQiOjE3MjkwNDc4MDYsInJuIjo5NTIsInJ3ZCI6eyJjaGlwcyI6OH0sIm1faWQiOiI2MDY1MDg5MTEzNTM5MDUwIiwic3JjIjoiY2hhdGZ1ZWwifQ%3D%3D&ref=viral&ref_2=na&ref_3=na&ptyp=bot&ctyp=na" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-15-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=8906d2060814faf0877f8a1b9cb72910&fr_id=&time=&type=OTR&item_id=0&verify=&ptyp=bot&ctyp=&se=&yahoo_id=&ref=viral&us_type=&rc=eyJzdCI6MTcyODk3NTgzNCwiZXQiOjE3MjkwNDc4MzQsInJuIjo5NDUsInJ3ZCI6eyJjaGlwcyI6NX0sIm1faWQiOiI2MDY1MDg5MTEzNTM5MDUwIiwic3JjIjoiY2hhdGZ1ZWwifQ%3D%3D&ref=viral&ref_2=na&ref_3=na&ptyp=bot&ctyp=na" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-15-2024</span>
    <a href="https://scrb.ly/47d8xXv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-14-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=f102472eddbc4e4825681bd4f8d49460&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241014&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTcyODg1MzIwMCwiZXQiOjE3MjkxMTI0MDAsInJuIjo0MjMsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241014" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-14-2024</span>
    <a href="https://scrb.ly/47adbWa" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-14-2024</span>
    <a href="https://scrb.ly/3Z5p0v0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-14-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=6eea90bc027544c8f7ab3fdd9b6e069b&fr_id=&time=&type=OTR&item_id=0&verify=&ptyp=bot&ctyp=&se=&yahoo_id=&ref=viral&us_type=&rc=eyJzdCI6MTcyODg4OTU4MSwiZXQiOjE3Mjg5NjE1ODEsInJuIjo4MzAsInJ3ZCI6eyJjaGlwcyI6OH0sIm1faWQiOiI2MDY1MDg5MTEzNTM5MDUwIiwic3JjIjoiY2hhdGZ1ZWwifQ%3D%3D&ref=viral&ref_2=na&ref_3=na&ptyp=bot&ctyp=na" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-14-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=c7c5b10f97d1456dd86efb67ff742113&fr_id=&time=&type=OTR&item_id=0&verify=&ptyp=bot&ctyp=loyalty1&se=&yahoo_id=&ref=viral&us_type=&rc=eyJzdCI6MTcyODg4OTYyMiwiZXQiOjE3Mjg5NjE2MjIsInJuIjo0NTMsInJ3ZCI6eyJjaGlwcyI6NX0sIm1faWQiOiI2MDY1MDg5MTEzNTM5MDUwIiwic3JjIjoiY2hhdGZ1ZWwifQ%3D%3D&ref=viral&ref_2=na&ref_3=na&ptyp=bot&ctyp=loyalty1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-14-2024</span>
    <a href="https://scrb.ly/3z2YUy8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-13-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=503f1ff4e559059ada1aea871073f284&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241013&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTcyODc2NjgwMCwiZXQiOjE3MjkwMjYwMDAsInJuIjo2MjgsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241013" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-13-2024</span>
    <a href="https://scrb.ly/47gGmY0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-13-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=47fe40ded0a2a561f931c2ed74ab212a&fr_id=&time=&type=OTR&item_id=0&verify=&ptyp=bot&ctyp=pab1&se=&yahoo_id=&ref=viral&us_type=&rc=eyJzdCI6MTcyODgxMDUzMCwiZXQiOjE3Mjg4ODI1MzAsInJuIjoxNjYsInJ3ZCI6eyJjaGlwcyI6OH0sIm1faWQiOiI2NDM2MjgzOTI2NDI0NDQ0Iiwic3JjIjoiY2hhdGZ1ZWwifQ%3D%3D&ref=viral&ref_2=na&ref_3=na&ptyp=bot&ctyp=pab1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-13-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=a54b6480eb8c08ceac74c5f2a2efaea3&fr_id=&time=&type=OTR&item_id=0&verify=&ptyp=bot&ctyp=&se=&yahoo_id=&ref=viral&us_type=&rc=eyJzdCI6MTcyODgxMDU1OCwiZXQiOjE3Mjg4ODI1NTgsInJuIjoxNjAsInJ3ZCI6eyJjaGlwcyI6NX0sIm1faWQiOiI2NDM2MjgzOTI2NDI0NDQ0Iiwic3JjIjoiY2hhdGZ1ZWwifQ%3D%3D&ref=viral&ref_2=na&ref_3=na&ptyp=bot&ctyp=na" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-13-2024</span>
    <a href="https://scrb.ly/47gGl6o" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-13-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=f8a3a5e2e0f41af3e1c8e9c3bbb54126&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241012&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTcyODY4MDQwMCwiZXQiOjE3Mjg5Mzk2MDAsInJuIjo2MDksInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241012" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-12-2024</span>
    <a href="https://scrb.ly/47gGfvy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-12-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=cc0d3e70b0c43116e051bdbb1433307a&fr_id=&time=&type=OTR&item_id=0&verify=&ptyp=bot&ctyp=&se=&yahoo_id=&ref=viral&us_type=&rc=eyJzdCI6MTcyODcxNjY2NywiZXQiOjE3Mjg3ODg2NjcsInJuIjo2ODUsInJ3ZCI6eyJjaGlwcyI6OH0sIm1faWQiOiI2NDM2MjgzOTI2NDI0NDQ0Iiwic3JjIjoiY2hhdGZ1ZWwifQ%3D%3D&ref=viral&ref_2=na&ref_3=na&ptyp=bot&ctyp=na" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-12-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=65465b21f1ebdeb25a921e514b45d4d7&fr_id=&time=&type=OTR&item_id=0&verify=&ptyp=bot&ctyp=loyalty1&se=&yahoo_id=&ref=viral&us_type=&rc=eyJzdCI6MTcyODcxNjcwNCwiZXQiOjE3Mjg3ODg3MDQsInJuIjo0NzMsInJ3ZCI6eyJjaGlwcyI6NX0sIm1faWQiOiI2NDM2MjgzOTI2NDI0NDQ0Iiwic3JjIjoiY2hhdGZ1ZWwifQ%3D%3D&ref=viral&ref_2=na&ref_3=na&ptyp=bot&ctyp=loyalty1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-12-2024</span>
    <a href="https://scrb.ly/3z1O23B" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-11-2024</span>
    <a href="https://scrb.ly/47gesen" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-11-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=8fba0e1602cecfa79cc3dc2ed6e6da7e&fr_id=&time=&type=OTR&item_id=0&verify=&ptyp=bot&ctyp=pab1&se=&yahoo_id=&ref=viral&us_type=&rc=eyJzdCI6MTcyODYzMTYzMywiZXQiOjE3Mjg3MDM2MzMsInJuIjo3NDMsInJ3ZCI6eyJjaGlwcyI6OH0sIm1faWQiOiI2MDY1MDg5MTEzNTM5MDUwIiwic3JjIjoiY2hhdGZ1ZWwifQ%3D%3D&ref=viral&ref_2=na&ref_3=na&ptyp=bot&ctyp=pab1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-11-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=6d0147a26672a0d88b054b3d6f141b75&fr_id=&time=&type=OTR&item_id=0&verify=&ptyp=bot&ctyp=loyalty1&se=&yahoo_id=&ref=viral&us_type=&rc=eyJzdCI6MTcyODYzMTY4MCwiZXQiOjE3Mjg3MDM2ODAsInJuIjoxMzQsInJ3ZCI6eyJjaGlwcyI6NX0sIm1faWQiOiI2MDY1MDg5MTEzNTM5MDUwIiwic3JjIjoiY2hhdGZ1ZWwifQ%3D%3D&ref=viral&ref_2=na&ref_3=na&ptyp=bot&ctyp=loyalty1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-11-2024</span>
    <a href="https://scrb.ly/3AZrzEF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-10-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=5302acdffd97a97d44ee19d53ec57447&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241010&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTcyODUwNzYwMCwiZXQiOjE3Mjg3NjY4MDAsInJuIjozOTAsInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241010" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-10-2024</span>
    <a href="https://scrb.ly/4cTJk5C" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-10-2024</span>
    <a href="http://scrb.ly/47dZDJf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-10-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=9cd736c32e54723d4089dc6ab4698278&fr_id=&time=&type=OTR&item_id=0&verify=&ptyp=bot&ctyp=&se=&yahoo_id=&ref=viral&us_type=&rc=eyJzdCI6MTcyODU0NDc0OSwiZXQiOjE3Mjg2MTY3NDksInJuIjo2NzksInJ3ZCI6eyJjaGlwcyI6NH0sIm1faWQiOiI2NDM2MjgzOTI2NDI0NDQ0Iiwic3JjIjoiY2hhdGZ1ZWwifQ%3D%3D&ref=viral&ref_2=na&ref_3=na&ptyp=bot&ctyp=na" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-10-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=27fb25f966009870e48c231dfd86f864&fr_id=&time=&type=OTR&item_id=0&verify=&ptyp=bot&ctyp=loyalty1&se=&yahoo_id=&ref=viral&us_type=&rc=eyJzdCI6MTcyODU0NTAxNywiZXQiOjE3Mjg2MTcwMTcsInJuIjo1MjUsInJ3ZCI6eyJjaGlwcyI6NX0sIm1faWQiOiI2NDM2MjgzOTI2NDI0NDQ0Iiwic3JjIjoiY2hhdGZ1ZWwifQ%3D%3D&ref=viral&ref_2=na&ref_3=na&ptyp=bot&ctyp=loyalty1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-10-2024</span>
    <a href="https://scrb.ly/3XvVbTd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-09-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=3b97cedd7cd655a709badbc9504941e3&fr_id=&time=&type=erv2&item_id=0&verify=&ptyp=IG&ctyp=BINIGST20241009&se=&yahoo_id=&ref=viral&us_type=eyJzdCI6MTcyODQyMTIwMCwiZXQiOjE3Mjg2ODA0MDAsInJuIjozNDksInJ3ZCI6eyJjaGlwcyI6OH19&rc=&ref=viral&ref_2=na&ref_3=na&ptyp=IG&ctyp=BINIGST20241009" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-09-2024</span>
    <a href="http://scrb.ly/3Z7CLJy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-09-2024</span>
    <a href="https://scrb.ly/4cQi6wP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-09-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?hash=1145b0a10c77ceb3fd124bec46fc1091&rc=eyJzdCI6MTcyODQ1ODQ5MiwiZXQiOjE3Mjg1MzA0OTIsInJuIjoxNTIsInJ3ZCI6eyJjaGlwcyI6M30sIm1faWQiOiI2MDY1MDg5MTEzNTM5MDUwIiwic3JjIjoiY2hhdGZ1ZWwifQ%3D%3D&ptyp=bot" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-09-2024</span>
    <a href="https://bingo.bitrhymes.com/apps/bingo/facebook/app/ads/viral.php?device=androidp&hash=1cb8802876a45ad45f0de5d6f07a639a&fr_id=&time=&type=OTR&item_id=0&verify=&ptyp=bot&ctyp=&se=&yahoo_id=&ref=viral&us_type=&rc=eyJzdCI6MTcyODQ1ODUzMiwiZXQiOjE3Mjg1MzA1MzIsInJuIjo4OTQsInJ3ZCI6eyJjaGlwcyI6NX0sIm1faWQiOiI2MDY1MDg5MTEzNTM5MDUwIiwic3JjIjoiY2hhdGZ1ZWwifQ%3D%3D&ref=viral&ref_2=na&ref_3=na&ptyp=bot&ctyp=na" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Bingo Bash Chips 10-09-2024</span>
    <a href="https://scrb.ly/3z2YTKA" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>