<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-31-2024</span>
    <a href="https://d10x.co/CaesarsSlots/Iqfv7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-31-2024</span>
    <a href="https://d10x.co/CaesarsSlots/l9CJU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-31-2024</span>
    <a href="https://d10x.co/CaesarsSlots/p5YmX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-31-2024</span>
    <a href="https://d10x.co/CaesarsSlots/QIC6r" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-30-2024</span>
    <a href="https://caesarsgames.playtika.com/redirector/?coupon_token=1_3_1735473603706_u6le5mml" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-30-2024</span>
    <a href="https://caesarsgames.playtika.com/redirector/?coupon_token=1_3_1735502406057_boggdw5k" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-30-2024</span>
    <a href="https://caesarsgames.playtika.com/redirector/?coupon_token=1_3_1735390586836_a0yermz4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-30-2024</span>
    <a href="https://caesarsgames.playtika.com/redirector/?coupon_token=1_3_1735415577749_tge44lgl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-30-2024</span>
    <a href="https://caesarsgames.playtika.com/redirector/?coupon_token=1_3_1735436647148_tyled8jo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-30-2024</span>
    <a href="https://caesarsgames.playtika.com/redirector/?coupon_token=1_3_1735479286864_ied568n3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-30-2024</span>
    <a href="https://caesarsgames.playtika.com/redirector/?coupon_token=1_3_1735508547773_brww98yd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-30-2024</span>
    <a href="https://d10x.co/CaesarsSlots/3l9gI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-30-2024</span>
    <a href="https://d10x.co/CaesarsSlots/HSQZs" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-29-2024</span>
    <a href="https://d10x.co/CaesarsSlots/ftHUu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-29-2024</span>
    <a href="https://d10x.co/CaesarsSlots/1YLlC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-29-2024</span>
    <a href="https://d10x.co/CaesarsSlots/OOWLP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-28-2024</span>
    <a href="https://d10x.co/CaesarsSlots/fvKtL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-28-2024</span>
    <a href="https://d10x.co/CaesarsSlots/42LxM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-27-2024</span>
    <a href="https://d10x.co/CaesarsSlots/0dkDo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-27-2024</span>
    <a href="https://d10x.co/CaesarsSlots/qWsGg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-26-2024</span>
    <a href="https://d10x.co/CaesarsSlots/AkWqi" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-26-2024</span>
    <a href="https://d10x.co/CaesarsSlots/kw8kP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-26-2024</span>
    <a href="https://d10x.co/CaesarsSlots/kVzc1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-25-2024</span>
    <a href="https://d10x.co/CaesarsSlots/yP7WM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-25-2024</span>
    <a href="https://d10x.co/CaesarsSlots/6Vnnp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-25-2024</span>
    <a href="https://d10x.co/CaesarsSlots/l5Ii9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-25-2024</span>
    <a href="https://d10x.co/CaesarsSlots/UuV3k" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-22-2024</span>
    <a href="https://d10x.co/CaesarsSlots/pyiNL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-24-2024</span>
    <a href="https://d10x.co/CaesarsSlots/awEm2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-24-2024</span>
    <a href="https://d10x.co/CaesarsSlots/325wH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-24-2024</span>
    <a href="https://d10x.co/CaesarsSlots/acUIH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-23-2024</span>
    <a href="https://d10x.co/CaesarsSlots/qNxjt" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-23-2024</span>
    <a href="https://d10x.co/CaesarsSlots/N2aRa" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-22-2024</span>
    <a href="https://d10x.co/CaesarsSlots/nV2BL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-22-2024</span>
    <a href="https://d10x.co/CaesarsSlots/yMNxb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-21-2024</span>
    <a href="https://d10x.co/CaesarsSlots/5UvYe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-21-2024</span>
    <a href="https://d10x.co/CaesarsSlots/gLfHV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-21-2024</span>
    <a href="https://d10x.co/CaesarsSlots/6uGzy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-20-2024</span>
    <a href="https://d10x.co/CaesarsSlots/Xe65t" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-20-2024</span>
    <a href="https://d10x.co/CaesarsSlots/6r9tq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-19-2024</span>
    <a href="https://caesarsgames.playtika.com/redirector/?coupon_token=1_3_1734523204457_hyekx75z" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-19-2024</span>
    <a href="https://caesarsgames.playtika.com/redirector/?coupon_token=1_3_1734444026037_aogmgpzm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-19-2024</span>
    <a href="https://caesarsgames.playtika.com/redirector/?coupon_token=1_3_1734467151072_a6z2doe0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-19-2024</span>
    <a href="https://caesarsgames.playtika.com/redirector/?coupon_token=1_3_1734470861478_ie5r39gn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-18-2024</span>
    <a href="https://d10x.co/CaesarsSlots/fdmWm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-18-2024</span>
    <a href="https://d10x.co/CaesarsSlots/CHaeW" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-17-2024</span>
    <a href="https://d10x.co/CaesarsSlots/sDZmJ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-17-2024</span>
    <a href="https://d10x.co/CaesarsSlots/dFP5O" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-17-2024</span>
    <a href="https://d10x.co/CaesarsSlots/Namwb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-16-2024</span>
    <a href="https://d10x.co/CaesarsSlots/gvbBb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-16-2024</span>
    <a href="https://d10x.co/CaesarsSlots/QlcZb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-16-2024</span>
    <a href="https://d10x.co/CaesarsSlots/szP7z" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-16-2024</span>
    <a href="https://d10x.co/CaesarsSlots/HGfXB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-16-2024</span>
    <a href="https://d10x.co/CaesarsSlots/nWMHj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-14-2024</span>
    <a href="https://caesarsgames.playtika.com/redirector/?coupon_token=1_3_1734091203712_inpek2r3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-14-2024</span>
    <a href="https://caesarsgames.playtika.com/redirector/?coupon_token=1_3_1734004804099_fjkerjd4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-14-2024</span>
    <a href="https://caesarsgames.playtika.com/redirector/?coupon_token=1_3_1734122391812_tren0r7y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-14-2024</span>
    <a href="https://caesarsgames.playtika.com/redirector/?coupon_token=1_3_1734121579125_u6z0lz75" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-14-2024</span>
    <a href="https://caesarsgames.playtika.com/redirector/?coupon_token=1_3_1734090565108_uw9y4jkg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-14-2024</span>
    <a href="https://caesarsgames.playtika.com/redirector/?coupon_token=1_3_1734018145933_s47nen5y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-14-2024</span>
    <a href="https://caesarsgames.playtika.com/redirector/?coupon_token=1_3_1734008201650_so9p35ez" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-14-2024</span>
    <a href="https://d10x.co/CaesarsSlots/bsYrA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-14-2024</span>
    <a href="https://d10x.co/CaesarsSlots/ymqdt" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-13-2024</span>
    <a href="https://d10x.co/CaesarsSlots/8DCnI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-13-2024</span>
    <a href="https://d10x.co/CaesarsSlots/tvSvc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-13-2024</span>
    <a href="https://d10x.co/CaesarsSlots/tLb9E" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-12-2024</span>
    <a href="https://d10x.co/CaesarsSlots/G1u5K" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-11-2024</span>
    <a href="https://d10x.co/CaesarsSlots/gLzoE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-11-2024</span>
    <a href="https://caesarsgames.playtika.com/redirector/?coupon_token=1_3_1733216153752_a47dg233" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-11-2024</span>
    <a href="https://caesarsgames.playtika.com/redirector/?coupon_token=1_3_1733780171909_i6epo9gd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-11-2024</span>
    <a href="https://caesarsgames.playtika.com/redirector/?coupon_token=1_3_1733752841423_bog6mdk2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-11-2024</span>
    <a href="https://caesarsgames.playtika.com/redirector/?coupon_token=1_3_1733745603734_ag4j8y42" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-11-2024</span>
    <a href="https://d10x.co/CaesarsSlots/qAmth" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-10-2024</span>
    <a href="https://d10x.co/CaesarsSlots/dCrhg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-10-2024</span>
    <a href="https://d10x.co/CaesarsSlots/d7Wpo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-10-2024</span>
    <a href="https://d10x.co/CaesarsSlots/HXrn3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-09-2024</span>
    <a href="https://d10x.co/CaesarsSlots/XdUTd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-09-2024</span>
    <a href="https://d10x.co/CaesarsSlots/3Ts47" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-08-2024</span>
    <a href="https://d10x.co/CaesarsSlots/xn0I3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-08-2024</span>
    <a href="https://d10x.co/CaesarsSlots/7byT1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-07-2024</span>
    <a href="https://d10x.co/CaesarsSlots/CN0Tc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-06-2024</span>
    <a href="https://d10x.co/CaesarsSlots/XfNb2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-06-2024</span>
    <a href="https://d10x.co/CaesarsSlots/6SsPb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-05-2024</span>
    <a href="https://d10x.co/CaesarsSlots/OjG0Y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-05-2024</span>
    <a href="https://d10x.co/CaesarsSlots/K4zIc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-04-2024</span>
    <a href="https://d10x.co/CaesarsSlots/L5r1g" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-03-2024</span>
    <a href="https://d10x.co/CaesarsSlots/m4Nyr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-03-2024</span>
    <a href="https://d10x.co/CaesarsSlots/eNfnH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-02-2024</span>
    <a href="https://d10x.co/CaesarsSlots/yPmPv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-02-2024</span>
    <a href="https://d10x.co/CaesarsSlots/G0RuH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 12-02-2024</span>
    <a href="https://d10x.co/CaesarsSlots/Zqup5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 11-30-2024</span>
    <a href="https://caesarsgames.playtika.com/redirector/?coupon_token=1_3_1732917099393_h3mgn6pk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 11-30-2024</span>
    <a href="https://caesarsgames.playtika.com/redirector/?coupon_token=1_3_1732906183928_br38297w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 11-30-2024</span>
    <a href="https://caesarsgames.playtika.com/redirector/?coupon_token=1_3_1732873845064_fg6zxm6d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 11-30-2024</span>
    <a href="https://caesarsgames.playtika.com/redirector/?coupon_token=1_3_1732739975780_f0erj5yl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 11-30-2024</span>
    <a href="https://caesarsgames.playtika.com/redirector/?coupon_token=1_3_1732815406655_i95x60yr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 11-30-2024</span>
    <a href="https://caesarsgames.playtika.com/redirector/?coupon_token=1_3_1732815571765_i6y2nxpx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 11-30-2024</span>
    <a href="https://caesarsgames.playtika.com/redirector/?coupon_token=1_3_1732794795147_c6wnzr66" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 11-30-2024</span>
    <a href="https://caesarsgames.playtika.com/redirector/?coupon_token=1_3_1732928407912_bopzmowo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Caesars Slots Coins 11-30-2024</span>
    <a href="https://caesarsgames.playtika.com/redirector/?coupon_token=1_3_1732881603965_c6y8jxy9" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>