<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/installCashFrenzyNow" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 15, 2024</span>
    <a href="https://cashfrenzy.co/4dmJvHY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 15, 2024</span>
    <a href="https://cashfrenzy.co/0815fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 15, 2024</span>
    <a href="https://cashfrenzy.co/3AoLNI0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 14, 2024</span>
    <a href="https://cashfrenzy.co/0814fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 14, 2024</span>
    <a href="http://cashfrenzy.co/46GPDbk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 13, 2024</span>
    <a href="https://cashfrenzy.co/0813fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 13, 2024</span>
    <a href="http://cashfrenzy.co/3WzHcKf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 12, 2024</span>
    <a href="https://cashfrenzy.co/0812fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 12, 2024</span>
    <a href="https://cashfrenzy.co/0811fbcoins2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 12, 2024</span>
    <a href="https://cashfrenzy.co/3MeOdvv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 11, 2024</span>
    <a href="https://cashfrenzy.co/0811fbcoins1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 11, 2024</span>
    <a href="https://cashfrenzy.co/0810fbcoins2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 10, 2024</span>
    <a href="https://cashfrenzy.co/0810fbcoins1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 10, 2024</span>
    <a href="http://cashfrenzy.co/4cjrPLM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 9, 2024</span>
    <a href="https://cashfrenzy.co/0809fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 9, 2024</span>
    <a href="https://cashfrenzy.co/4dxmwt5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 8, 2024</span>
    <a href="https://cashfrenzy.co/4d8a9Ux" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 7, 2024</span>
    <a href="https://cashfrenzy.co/46yELfD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 7, 2024</span>
    <a href="http://cashfrenzy.co/46CWz9l" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 6, 2024</span>
    <a href="https://cashfrenzy.co/0806fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 6, 2024</span>
    <a href="http://cashfrenzy.co/4dizP0D" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 5, 2024</span>
    <a href="https://cashfrenzy.co/0805fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 5, 2024</span>
    <a href="http://cashfrenzy.co/3ys2129" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://cashfrenzy.co/0804fbcoins1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://cashfrenzy.co/3Wr3SMC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0803fbcoins1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://cashfrenzy.co/3y7DO1c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0802fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://cashfrenzy.co/4c7CU2q" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0801fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/3LJXcVe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/3Wlw9Eg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/3WikS7S" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0731fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://cashfrenzy.co/3LFYRLt" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0730fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://cashfrenzy.co/3WyPemT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0729fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/3SdjaU7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0728fbcoins1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0727fbcoins2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://cashfrenzy.co/4fo23ce" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0727fbcoins1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://cashfrenzy.co/4cRczXD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0726fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://cashfrenzy.co/3Weqlg3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0725fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://cashfrenzy.co/3A0o7sV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0724fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/fbcoins406" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0723fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/3LopuEk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0722fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/3W6V3Ye" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0721fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://cashfrenzy.co/3W6V5iO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://cashfrenzy.co/4cVICVY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0719fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/3W7X3PZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/3y0eslJ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0718fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://cashfrenzy.co/4eZMFT7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0717fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://cashfrenzy.co/3zJUQmn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0716fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/3zvKrKW" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/fbcoins0715" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://cashfrenzy.co/3S2NMHJ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0714fbcoins1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0713fbcoins2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://cashfrenzy.co/3RXKp4U" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0713fbcoins1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://cashfrenzy.co/3RWhv4Y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0712fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://cashfrenzy.co/3RXKR36" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0711fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/3zrNqny" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0710fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/4cOQoku" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0709fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://cashfrenzy.co/3xAlJbP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0708fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://cashfrenzy.co/3XQ9O43" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0707fbcoins1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://cashfrenzy.co/4eT12bC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0706fbcoins1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/4cvYE9s" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0705fbcoins2x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://cashfrenzy.co/3xsSh7C" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0704fbcoins2x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://cashfrenzy.co/4cJzXGc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0703fbcoins2x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/4cNQAk9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://cashfrenzy.co/4cF3oJp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0702fbcoins2x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://cashfrenzy.co/45MOG0y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://cashfrenzy.co/3XDAyom" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0701fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://cashfrenzy.co/0630fbcoins2" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>