<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins NaN-NaN-NaN</span>
    <a href="https://bit.ly/installCashFrenzyNow" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 02-13-2025</span>
    <a href="http://cashfrenzy.co/4hVyVJF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 02-13-2025</span>
    <a href="https://cashfrenzy.co/3WT7GHI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 02-13-2025</span>
    <a href="http://cashfrenzy.co/40JmM3q" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 02-12-2025</span>
    <a href="https://cashfrenzy.co/4jRIUkY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 02-12-2025</span>
    <a href="http://cashfrenzy.co/3CIgf17" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 02-11-2025</span>
    <a href="https://cashfrenzy.co/4hrJbJN" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 02-11-2025</span>
    <a href="http://cashfrenzy.co/3WTQ4v7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 02-10-2025</span>
    <a href="https://cashfrenzy.co/4jMdz3a" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 02-10-2025</span>
    <a href="https://cashfrenzy.co/4gv1DzQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 02-09-2025</span>
    <a href="https://cashfrenzy.co/42Ny89l" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 02-08-2025</span>
    <a href="https://cashfrenzy.co/4hLzJRc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 02-08-2025</span>
    <a href="http://cashfrenzy.co/3EB8MkT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 02-07-2025</span>
    <a href="https://cashfrenzy.co/3EmjyLM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 02-07-2025</span>
    <a href="http://cashfrenzy.co/4gJeyyB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 02-06-2025</span>
    <a href="https://cashfrenzy.co/42Jcp2n" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 02-06-2025</span>
    <a href="http://cashfrenzy.co/42oUz4o" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 02-05-2025</span>
    <a href="https://cashfrenzy.co/42l3kwz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 02-05-2025</span>
    <a href="https://cashfrenzy.co/4juJ2qo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 02-04-2025</span>
    <a href="http://cashfrenzy.co/4jus3V6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 02-04-2025</span>
    <a href="http://cashfrenzy.co/4h4xRmH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 02-03-2025</span>
    <a href="https://cashfrenzy.co/4gceHdg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 02-03-2025</span>
    <a href="http://cashfrenzy.co/4hJRHUv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 02-02-2025</span>
    <a href="https://cashfrenzy.co/40U6s1r" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 02-02-2025</span>
    <a href="https://cashfrenzy.co/3E8pR5K" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 02-02-2025</span>
    <a href="http://cashfrenzy.co/3E8s7Kg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 02-01-2025</span>
    <a href="https://cashfrenzy.co/3PJMQGT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 02-01-2025</span>
    <a href="http://cashfrenzy.co/4avzUhb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-31-2025</span>
    <a href="https://cashfrenzy.co/4juqVkk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-30-2025</span>
    <a href="http://cashfrenzy.co/42oWdTV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-30-2025</span>
    <a href="https://cashfrenzy.co/3CsChok" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-30-2025</span>
    <a href="http://cashfrenzy.co/3Wu0vFQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-29-2025</span>
    <a href="https://cashfrenzy.co/3C9MOox" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-29-2025</span>
    <a href="https://cashfrenzy.co/4juhQYK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-28-2025</span>
    <a href="https://cashfrenzy.co/4avVBO3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-28-2025</span>
    <a href="https://cashfrenzy.co/3PJgz2F" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-27-2025</span>
    <a href="https://cashfrenzy.co/4huc4Vv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-27-2025</span>
    <a href="https://cashfrenzy.co/4jkFWW9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-26-2025</span>
    <a href="https://cashfrenzy.co/3PJRnsG" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-25-2025</span>
    <a href="http://cashfrenzy.co/42jel1m" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-25-2025</span>
    <a href="https://cashfrenzy.co/3EgBYNU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-25-2025</span>
    <a href="http://cashfrenzy.co/40GfuP7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-24-2025</span>
    <a href="https://cashfrenzy.co/4jndToL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-24-2025</span>
    <a href="http://cashfrenzy.co/4hlsbVk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-23-2025</span>
    <a href="https://cashfrenzy.co/3C1dl7v" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-23-2025</span>
    <a href="http://cashfrenzy.co/3PIRCnM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-22-2025</span>
    <a href="https://cashfrenzy.co/3Wm5ZCc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-22-2025</span>
    <a href="http://cashfrenzy.co/40G5DZZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-21-2025</span>
    <a href="https://cashfrenzy.co/4g4dLaO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-21-2025</span>
    <a href="http://cashfrenzy.co/4fTrIbP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-20-2025</span>
    <a href="https://cashfrenzy.co/4jjJWGc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-20-2025</span>
    <a href="http://cashfrenzy.co/4jdI4Pl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-19-2025</span>
    <a href="https://cashfrenzy.co/40BDwLg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-17-2025</span>
    <a href="https://cashfrenzy.co/3WgB8XP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-16-2025</span>
    <a href="https://cashfrenzy.co/4adqxCM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-16-2025</span>
    <a href="https://cashfrenzy.co/4ajil3J" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-16-2025</span>
    <a href="http://cashfrenzy.co/3PyDLAm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-15-2025</span>
    <a href="http://cashfrenzy.co/3PyLjDu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-15-2025</span>
    <a href="https://cashfrenzy.co/3BWEKr9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-14-2025</span>
    <a href="https://cashfrenzy.co/4hcUw00" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-14-2025</span>
    <a href="https://cashfrenzy.co/3CaGNHU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-12-2025</span>
    <a href="https://cashfrenzy.co/3BYOtgw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-11-2025</span>
    <a href="http://cashfrenzy.co/40nE736" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-11-2025</span>
    <a href="https://cashfrenzy.co/40cnxlk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-11-2025</span>
    <a href="https://cashfrenzy.co/4gF9s7e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-10-2025</span>
    <a href="https://cashfrenzy.co/4j3j514" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-10-2025</span>
    <a href="http://cashfrenzy.co/3WveJ9t" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-09-2025</span>
    <a href="https://cashfrenzy.co/4fPDAvp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-09-2025</span>
    <a href="http://cashfrenzy.co/3WveMCb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-08-2025</span>
    <a href="https://cashfrenzy.co/3Ppq7Q5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-07-2025</span>
    <a href="http://cashfrenzy.co/407XCeL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-07-2025</span>
    <a href="https://cashfrenzy.co/4076KA3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-06-2025</span>
    <a href="http://cashfrenzy.co/3PfUI2y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-06-2025</span>
    <a href="http://cashfrenzy.co/4gBePnX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-06-2025</span>
    <a href="https://cashfrenzy.co/405IBtH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-05-2025</span>
    <a href="https://cashfrenzy.co/4gZCeyY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-05-2025</span>
    <a href="https://cashfrenzy.co/3DNHMhE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-04-2025</span>
    <a href="https://cashfrenzy.co/3DC23H4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-03-2025</span>
    <a href="https://cashfrenzy.co/4gCtgYO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-03-2025</span>
    <a href="https://cashfrenzy.co/3PfST5I" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-02-2025</span>
    <a href="http://cashfrenzy.co/4fF8k2b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-02-2025</span>
    <a href="https://cashfrenzy.co/4031Xjl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-01-2025</span>
    <a href="http://cashfrenzy.co/4iZVcaL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 01-01-2025</span>
    <a href="https://cashfrenzy.co/happynewyear" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-31-2024</span>
    <a href="http://cashfrenzy.co/4iYG79a" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-31-2024</span>
    <a href="https://cashfrenzy.co/3ZSh3If" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-30-2024</span>
    <a href="http://cashfrenzy.co/3BQUtHV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-30-2024</span>
    <a href="https://cashfrenzy.co/3VVH5cv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-30-2024</span>
    <a href="https://cashfrenzy.co/49T0rVe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-29-2024</span>
    <a href="https://cashfrenzy.co/409S04Y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-29-2024</span>
    <a href="https://cashfrenzy.co/3BMh3le" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-28-2024</span>
    <a href="http://cashfrenzy.co/3DqaViO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-28-2024</span>
    <a href="https://cashfrenzy.co/3Pb3lLG" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-28-2024</span>
    <a href="http://cashfrenzy.co/3BQUMCz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-27-2024</span>
    <a href="https://cashfrenzy.co/41RzJe0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-27-2024</span>
    <a href="http://cashfrenzy.co/3ZHxl6M" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-26-2024</span>
    <a href="https://cashfrenzy.co/4iUM8E6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-25-2024</span>
    <a href="http://cashfrenzy.co/4gN1IQ9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-25-2024</span>
    <a href="https://cashfrenzy.co/MerryChristmas" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-24-2024</span>
    <a href="http://cashfrenzy.co/3P6ZqzB" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>