<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins NaN-NaN-NaN</span>
    <a href="https://bit.ly/installCashFrenzyNow" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-23-2024</span>
    <a href="https://cashfrenzy.co/3BKjepk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-23-2024</span>
    <a href="https://cashfrenzy.co/1223fbcoins2x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-23-2024</span>
    <a href="https://cashfrenzy.co/1222fbcoinsb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-23-2024</span>
    <a href="http://cashfrenzy.co/4gYu5uX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-22-2024</span>
    <a href="https://cashfrenzy.co/1222fbcoins2x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-22-2024</span>
    <a href="https://cashfrenzy.co/4gkf5Y2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-20-2024</span>
    <a href="https://cashfrenzy.co/1221fbcoins2x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-20-2024</span>
    <a href="http://cashfrenzy.co/3BwJ9AI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-19-2024</span>
    <a href="https://cashfrenzy.co/1219fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-18-2024</span>
    <a href="http://cashfrenzy.co/4gBFkJc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-18-2024</span>
    <a href="https://cashfrenzy.co/1218fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-17-2024</span>
    <a href="http://cashfrenzy.co/4gxWAPG" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-17-2024</span>
    <a href="https://cashfrenzy.co/1217fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-16-2024</span>
    <a href="https://cashfrenzy.co/1216fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-16-2024</span>
    <a href="http://cashfrenzy.co/4g53nkf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-15-2024</span>
    <a href="https://cashfrenzy.co/1215fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-15-2024</span>
    <a href="https://cashfrenzy.co/1214fbcoins2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-14-2024</span>
    <a href="http://cashfrenzy.co/4gsGdE5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-14-2024</span>
    <a href="https://cashfrenzy.co/1214fbcoins1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-13-2024</span>
    <a href="http://cashfrenzy.co/3VwaycE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-13-2024</span>
    <a href="https://cashfrenzy.co/1213fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-13-2024</span>
    <a href="http://cashfrenzy.co/3VsQAzH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-12-2024</span>
    <a href="https://cashfrenzy.co/1212fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-12-2024</span>
    <a href="http://cashfrenzy.co/41t8Cpd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-11-2024</span>
    <a href="https://cashfrenzy.co/1211fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-11-2024</span>
    <a href="http://cashfrenzy.co/41oNPDm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-10-2024</span>
    <a href="https://cashfrenzy.co/1210fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-10-2024</span>
    <a href="https://cashfrenzy.co/3OzOPwE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-09-2024</span>
    <a href="https://cashfrenzy.co/1209fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-09-2024</span>
    <a href="https://cashfrenzy.co/1208fbcoins2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-09-2024</span>
    <a href="http://cashfrenzy.co/3OBnZV8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-08-2024</span>
    <a href="http://cashfrenzy.co/3B9ADYk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-08-2024</span>
    <a href="https://cashfrenzy.co/1208fbcoins1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-07-2024</span>
    <a href="https://cashfrenzy.co/1207fbcoinsa" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-07-2024</span>
    <a href="http://cashfrenzy.co/41czmtW" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-06-2024</span>
    <a href="https://cashfrenzy.co/1206fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-06-2024</span>
    <a href="http://cashfrenzy.co/3ZbVl1H" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-05-2024</span>
    <a href="http://cashfrenzy.co/3Ze6NJW" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-05-2024</span>
    <a href="https://cashfrenzy.co/1205fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-04-2024</span>
    <a href="https://cashfrenzy.co/1204fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-04-2024</span>
    <a href="http://cashfrenzy.co/3B98nVw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-03-2024</span>
    <a href="https://cashfrenzy.co/1203fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-03-2024</span>
    <a href="http://cashfrenzy.co/497Fc1H" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-02-2024</span>
    <a href="https://cashfrenzy.co/1202fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-02-2024</span>
    <a href="https://cashfrenzy.co/1201fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-02-2024</span>
    <a href="http://cashfrenzy.co/3CMu4eM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 12-01-2024</span>
    <a href="https://cashfrenzy.co/1130fbcoinsplus" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-29-2024</span>
    <a href="http://cashfrenzy.co/4eJZq2P" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-29-2024</span>
    <a href="https://cashfrenzy.co/1129fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-29-2024</span>
    <a href="http://cashfrenzy.co/4i6wipe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-28-2024</span>
    <a href="https://cashfrenzy.co/4i7ppUO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-28-2024</span>
    <a href="https://cashfrenzy.co/1128fb5xcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-28-2024</span>
    <a href="http://cashfrenzy.co/3Z3fRkP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-27-2024</span>
    <a href="http://cashfrenzy.co/3OoiwRq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-26-2024</span>
    <a href="https://cashfrenzy.co/1126fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-26-2024</span>
    <a href="http://cashfrenzy.co/4eFyeCr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-25-2024</span>
    <a href="https://cashfrenzy.co/1125fb2xcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-25-2024</span>
    <a href="http://cashfrenzy.co/40PaWGS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-24-2024</span>
    <a href="https://cashfrenzy.co/1124fb2xcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-24-2024</span>
    <a href="https://cashfrenzy.co/1123fbcoins1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-23-2024</span>
    <a href="http://cashfrenzy.co/3V1fOVE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-23-2024</span>
    <a href="https://cashfrenzy.co/1123fb2xcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-23-2024</span>
    <a href="http://cashfrenzy.co/4hUtAmQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-22-2024</span>
    <a href="https://cashfrenzy.co/1122fb2xcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-22-2024</span>
    <a href="http://cashfrenzy.co/3Ocnu3p" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-21-2024</span>
    <a href="https://cashfrenzy.co/1121fb2xcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-20-2024</span>
    <a href="https://cashfrenzy.co/3AOKC55" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-20-2024</span>
    <a href="https://cashfrenzy.co/1120fb2xcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-20-2024</span>
    <a href="http://cashfrenzy.co/3Z9jaZa" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-19-2024</span>
    <a href="https://cashfrenzy.co/4eAMr3o" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-19-2024</span>
    <a href="https://cashfrenzy.co/1119fb2xcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-19-2024</span>
    <a href="https://cashfrenzy.co/3ABV9k0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-18-2024</span>
    <a href="https://cashfrenzy.co/1118fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-18-2024</span>
    <a href="https://cashfrenzy.co/1117fbcoinsb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-18-2024</span>
    <a href="http://cashfrenzy.co/48LCejm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-17-2024</span>
    <a href="https://cashfrenzy.co/1117fbcoinsa" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-17-2024</span>
    <a href="https://cashfrenzy.co/1116fbcoinsb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-17-2024</span>
    <a href="https://cashfrenzy.co/40Jua0A" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-16-2024</span>
    <a href="http://cashfrenzy.co/40Jua0A" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-16-2024</span>
    <a href="https://cashfrenzy.co/1116fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-15-2024</span>
    <a href="https://cashfrenzy.co/3YKqMQb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-15-2024</span>
    <a href="https://cashfrenzy.co/1115fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-15-2024</span>
    <a href="http://cashfrenzy.co/4hBhiQ9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-14-2024</span>
    <a href="https://cashfrenzy.co/1114fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-14-2024</span>
    <a href="http://cashfrenzy.co/4epotI4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-13-2024</span>
    <a href="https://cashfrenzy.co/1113fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-12-2024</span>
    <a href="https://cashfrenzy.co/4fqSby4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-12-2024</span>
    <a href="https://cashfrenzy.co/1112fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-12-2024</span>
    <a href="http://cashfrenzy.co/4f98Gyo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-11-2024</span>
    <a href="https://cashfrenzy.co/48IjX6q" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-11-2024</span>
    <a href="https://cashfrenzy.co/1111fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-11-2024</span>
    <a href="https://cashfrenzy.co/1110fbcoins2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-11-2024</span>
    <a href="https://cashfrenzy.co/40zz7Jc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-09-2024</span>
    <a href="https://cashfrenzy.co/1109fbcoinsa" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-09-2024</span>
    <a href="https://cashfrenzy.co/3Cp9dh5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-08-2024</span>
    <a href="https://cashfrenzy.co/1108fbcoins" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-08-2024</span>
    <a href="http://cashfrenzy.co/3AshyQC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-07-2024</span>
    <a href="https://cashfrenzy.co/3YNpe9o" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Cash Frenzy Coins 11-07-2024</span>
    <a href="http://cashfrenzy.co/3YP9gLY" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>