<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-25-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_INSuTCzzi_20241225" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-25-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_CHATBmMfNkO_20241225" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-25-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_HELPknXHow_20241225" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-25-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_TWIOzlvrd_20241224" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-24-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBoyGbxi_20241224" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-24-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBuuoatC_20241224" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-24-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_EMAILqajuKG_20241221" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-24-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_RICHapoWQS_20241210" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-24-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_INSOvlmnE_20241224" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-24-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_CHATBxTaUgn_20241224" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-24-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBaZdVbz_20241224" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-24-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_HELPcVZibs_20241224" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-24-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBqWuIMd_20241223" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-23-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_LINESVpMxh_20241223" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-23-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_CHATBglqjzY_20241223" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-23-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_RICHtvwAAy_20241210" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-23-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_EMAILYpavxS_20241220" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-23-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBCEELSU_20241223" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-23-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_HELPqjDosJ_20241223" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-23-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBGKGHQF_20241222" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-23-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_TWIvxanAG_20241223" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-22-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBtUbqZQ_20241222" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-22-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_INSMxJeJq_20241222" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-22-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_LINEkMhGEm_20241222" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-22-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_EMAILutNecj_20241219" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-22-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_HELPzmyvfh_20241222" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-21-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_INStUWnxn_20241221" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-21-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBtSnRPJ_20241221" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-21-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBXtVbZh_20241221" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-21-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_EMAILoZSWGT_20241218" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-21-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_HELPKwoyQL_20241221" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-21-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_CHATByAGULi_20241221" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-21-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_TWIUWOlGD_20241221" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-21-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBzcNCDm_20241220" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-20-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_EMAILmiFoBd_20241217" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-20-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_INSLgMGhR_20241220" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-20-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBdaXiVv_20241220" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-20-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_CHATBuxSwtb_20241220" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-20-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_HELPMQvgwH_20241220" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-19-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBaAdGdx_20241219" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-19-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_RICHsSzPEG_20241210" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-19-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_EMAILwDCSUp_20241216" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-19-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBaZrGwG_20241219" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-19-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_INSwmujeY_20241219" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-19-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_CHATBZEVUYI_20241219" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-19-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_HELPoRhtoc_20241219" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-13-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_EMAILuxvlnn_20241208" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-18-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBhxUBPS_20241218" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-18-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_LINEceKaIG_20241218" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-18-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBPBaSSF_20241218" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-18-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_EMAILkkZxne_20241215" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-18-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_INSxqCadh_20241218" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-18-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_CHATBQkwCvs_20241218" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-18-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBnTJfkQ_20241218" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-18-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_TWItRTBjD_20241218" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-18-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_HELPLmdQWQ_20241218" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-18-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBNouCBi_20241217" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-17-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBVonEVq_20241217" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-17-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_EMAILVwAwxT_20241214" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-17-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_INSOtsTgV_20241217" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-17-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBarpvvK_20241217" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-17-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_CHATBSHKOuA_20241217" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-17-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_TWIgkMeSj_20241217" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-16-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_LINEarchvl_20241216" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-16-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBHLqGDq_20241216" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-16-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_EMAILyjAcVW_20241211" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-16-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_RICHDNtoCT_20241210" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-16-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_INSgkeMso_20241216" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-16-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBzlCPqk_20241216" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-16-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_HELPpxWiSi_20241216" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-16-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBMaqhvb_20241215" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-15-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_EMAILRXlpjC_20241210" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-15-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBXCJPhr_20241215" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-15-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_INSFVUxbv_20241214" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-15-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_LINEYHiYVC_20241215" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-15-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_HELPCHknVD_20241215" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-15-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_TWIKMpwFH_20241215" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-14-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBWZNdmE_20241214" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-14-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_HELPrhTTdV_20241214" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-14-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_CHATBZOEeaG_20241214" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-14-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBNuZfyF_20241213" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-13-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_INSCTfVzM_20241213" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-13-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_TWINcOUHy_20241213" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-13-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_HELPcabfhS_20241213" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-13-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_CHATBDBIXuh_20241213" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-12-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBbnUxYV_20241212" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-12-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_EMAILvSMRyI_20241207" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-12-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_RICHvxNNCk_20241210" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-12-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_INSuVlBxe_20241212" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-12-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBJUlSXW_20241212" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-12-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_CHATBaDMSDE_20241212" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-12-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_HELPTqWZYA_20241212" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-12-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBnwFTwC_20241211" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-11-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_INSuHBxDv_20241211" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-11-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_TWIOGPiJH_20241211" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-11-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBuQijeK_20241211" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-11-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_CHATBjImPHX_20241211" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-11-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_HELPHLmkld_20241211" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-10-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBzUPvkb_20241210" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 12-10-2024</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBeWQaWN_20241210" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>