<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-21-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_HELPDIbwoX_20250121" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-21-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_TWIisGNfi_20250121" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-21-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBiaiFiz_20250120" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-20-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_CHATBjmpHfn_20250120" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-20-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_INSsBiFsO_20250120" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-20-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_INStVYqLf_20250119" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-20-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_EMAILlspynM_20250116" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-20-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_RICHEKDTUU_20250106" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-20-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBbhVGKt_20250120" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-20-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_HELPTnXBsX_20250120" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-20-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBRmHXjH_20250119" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-19-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_EMAILecmGuG_20250115" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-19-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_LINEloKIiv_20250119" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-19-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_HELPpdnMol_20250119" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-19-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_TWIcefzsW_20250119" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-18-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_INSMdgEZE_20250118" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-18-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBBKgVJu_20250118" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-18-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_EMAILKYYmPi_20250114" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-18-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBxpywBk_20250118" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-18-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_CHATBCPBsfh_20250118" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-18-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_HELPabpuZG_20250118" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-18-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBHpyQQB_20250117" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-17-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_INStGAcHp_20250117" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-17-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_EMAILbKkDuf_20250113" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-17-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBayhaio_20250117" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-17-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_CHATBGOhzrH_20250117" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-17-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_HELPxdFuPG_20250117" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-17-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_TWIWsdWVj_20250117" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-16-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBnyYqMf_20250116" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-16-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_LINEHGzjGu_20250116" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-16-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_INSCLVcyJ_20250116" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-16-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_EMAILqllQFP_20250112" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-16-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_RICHWSMsNS_20250106" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-16-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBocxKzb_20250116" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-16-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_CHATBQmLIvg_20250116" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-16-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_HELPCRRExn_20250116" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-15-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBptAcFR_20250115" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-15-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_LINEdHxIfG_20250115" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-15-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_INSOdvrxc_20250115" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-15-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBCPJJvU_20250115" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-15-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_EMAILsHCsLc_20250111" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-15-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_TWIcytAqy_20250115" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-15-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_CHATBKQldrr_20250115" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-15-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_HELPMzpNRf_20250115" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-14-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBgSgMLN_20250114" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-14-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_INSlvcpWn_20250114" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-14-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_CHATBkrOQSS_20250114" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-14-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_EMAILAihWsH_20250110" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-14-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_TWIifPfFI_20250114" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-14-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBxIcOyv_20250114" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-14-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_HELPXvkGgn_20250114" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-13-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBWRwHVz_20250113" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-13-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_LINExfzVkM_20250113" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-13-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_INSPsRGEO_20250113" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-13-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_RICHWseWSu_20250106" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-13-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_EMAILHimKvT_20250109" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-13-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_CHATBtdUlnh_20250113" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-13-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBEWNXpV_20250113" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-13-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_HELPgXrFiz_20250113" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-13-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_TWIbBykSt_20250113" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-12-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBAXMoFW_20250112" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-12-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_INShiiYoM_20250112" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-12-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBVrhWNl_20250112" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-12-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_EMAILYqMQCg_20250108" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-12-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_CHATBfmaRHy_20250112" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-12-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_HELPpBcYjW_20250112" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-11-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_INSuPfkJF_20250111" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-11-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBZFclHz_20250111" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-11-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_EMAILrUrjCC_20250107" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-11-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBgSNBdE_20250111" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-11-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_CHATBhYlaLA_20250111" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-11-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_HELPqBEbGP_20250111" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-11-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_TWIMbgnlw_20250111" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-10-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBRCixiC_20250110" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-10-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_INSlFXwzX_20250110" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-10-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_EMAILsotaCg_20250106" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-10-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBAfbkpR_20250110" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-10-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_CHATBKNtykh_20250110" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-10-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_HELPUQWtDe_20250110" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-09-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBbNKhpX_20250109" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-09-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_INSFtIVWA_20250109" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-09-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_LINEhGcyVD_20250109" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-09-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_EMAILhFVSMZ_20250105" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-09-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_RICHoCGsLQ_20250106" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-09-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_CHATBKbOlGZ_20250109" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-09-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBbUoOGE_20250109" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-09-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_HELPRsykPN_20250109" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-09-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_TWIZOdUsJ_20250109" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-08-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBskZarq_20250108" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-08-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_LINEGFpipD_20250108" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-08-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBfTiRBk_20250108" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-08-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_EMAILPPLGTp_20250104" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-08-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_INSuAfjbC_20250108" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-08-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_CHATBgZLouA_20250108" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-08-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_TWIwaDfJL_20250108" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-08-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_HELPMAylkr_20250108" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-07-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBJzLvCU_20250107" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-07-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_INSYVUYoi_20250106" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-07-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_FCBYCdOHO_20250107" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 01-07-2025</span>
    <a href="https://static.moonactive.net/static/coinmaster/reward/reward2.html?c=pe_EMAILuUvyVL_20250103" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>