<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-25-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_RICHGobJxO_20241112" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-25-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_CHATBaUUirK_20241125" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-25-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_INSeQDiZu_20241125" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-24-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_EMAILcytEPE_20241119" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-24-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_FCBlKfbcx_20241124" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-24-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_LINEhitoKa_20241124" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-24-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_INSnMCMoc_20241124" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-24-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_FCBbrxSjs_20241124" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-24-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_CHATBOVeaDY_20241124" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-24-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_FCBDufxHU_20241123" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-24-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_INSCCXDOz_20241123" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-23-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_EMAILeJCEip_20241118" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-23-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_CHATBYtdjeH_20241123" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-23-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_FCBqYthiA_20241122" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-22-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_EMAILeMBYyP_20241117" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-22-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_FCBOPbJXu_20241122" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-22-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_INSURiBYr_20241122" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-22-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_CHATBqmzlyW_20241122" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-21-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_EMAILETHIJQ_20241116" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-21-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_LINEOBmkgU_20241121" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-21-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_FCBQbPoUN_20241121" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-21-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_INSaypFVo_20241121" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-21-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_RICHpSDvoo_20241112" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-21-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_CHATBaESPIV_20241121" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-21-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_TWIDvoDcu_20241121" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-21-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_FCBvOXQLR_20241120" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-21-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_EMAILCxkXXC_20241115" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-21-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_INSiNJfWT_20241120" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-21-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_LINEwvbjYS_20241120" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-20-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_FCBLCVJzv_20241120" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-20-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_CHATBARuoBM_20241120" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-20-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_TWICtYCmi_20241120" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-20-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_FCBuxzGAA_20241119" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-19-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_EMAILIpMpwK_20241114" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-19-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_FCBAABdxH_20241119" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-19-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_INSGaoAYB_20241119" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-19-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_FCBWtVsWq_20241119" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-19-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_CHATBAbWZeA_20241119" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-19-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_TWIFOIhOi_20241119" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-18-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_FCBSTilDs_20241118" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-18-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_EMAILRnbPgs_20241113" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-18-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_RICHIYhRVW_20241112" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-18-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_INSkjoqZX_20241118" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-18-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_CHATBNhQhgR_20241118" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-18-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_FCBynVyxO_20241118" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-18-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_FCBlJmXxy_20241117" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-18-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_INSLTNOsN_20241116" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-17-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_EMAILTWUXZC_20241112" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-17-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_LINEUOKMPJ_20241117" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-17-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_INSWdctzK_20241117" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-17-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_FCBPajzzf_20241117" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-17-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_CHATBPhrBXA_20241117" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-17-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_TWIotVcQQ_20241117" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-17-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_LINEqBqOCT_20241116" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-17-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_FCBEuXVxZ_20241116" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-16-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_EMAILxhQrAM_20241111" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-16-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_FCBGXxcMi_20241116" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-16-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_CHATBCxeLuW_20241116" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-16-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_FCBCFCLJP_20241115" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-15-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_INSoMRLaF_20241115" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-15-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_EMAILGnULmY_20241110" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-15-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_FCBSUtOEk_20241115" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-15-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_CHATBljTyCE_20241115" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-15-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_TWIMOxXXq_20241115" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-15-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_FCBmulNDk_20241114" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-14-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_FCBkGTIwQ_20241114" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-14-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_LINErEgZgM_20241114" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-14-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_EMAILTfHlYv_20241109" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-14-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_RICHemUYua_20241112" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-14-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_INSbKpDkH_20241114" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-14-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_CHATBRkAqrV_20241114" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-13-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_LINEZNcZNP_20241113" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-13-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_FCBbNdSqH_20241113" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-13-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_INSQpQuBG_20241113" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-13-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_TWIlLFgjq_20241113" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-13-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_EMAILxtiVZD_20241108" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-13-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_RICHxnaCVx_20241112" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-13-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_FCBhfLYkL_20241113" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-13-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_CHATBaSTMtB_20241113" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-13-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_RICHuOsCFE_20241112" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-13-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_FCBaUqpGy_20241112" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-13-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_FCBFqGXkp_20241112" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-12-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_EMAILjYBFGA_20241107" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-12-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_INSfHsoqY_20241112" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-12-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_FCBQzsSrn_20241112" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-12-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_CHATBLhcyBF_20241112" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-12-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_LINEvIhDfw_20241111" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-11-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_EMAILhJygNki_20241106" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-11-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_RICHrSDgeK_20241014" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-11-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_INSNjTEdO_20241111" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-11-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_FCBZWEMLx_20241111" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-11-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_CHATBWTBLnB_20241111" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-11-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_TWIefNuKG_20241111" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-10-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_FCBEyFuOB_20241110" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-10-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_INSiDqPHE_20241109" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-10-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_LINEvPPEel_20241110" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-10-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_EMAILREuicc_20241105" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-10-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_INSrAIboG_20241110" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-10-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_FCBGRfVIH_20241110" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Coin Master Spins 11-10-2024</span>
    <a href="https://rewards.coinmaster.com/rewards/rewards.html?c=pe_CHATBKZxjMO_20241110" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>