<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for August 6, 2024</span>
    <a href="https://rwys.xyz/?code=FLlH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for August 6, 2024</span>
    <a href="https://rwys.xyz/?code=FNn7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for August 5, 2024</span>
    <a href="https://rwys.xyz/?code=FIiB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for August 5, 2024</span>
    <a href="https://rwys.xyz/?code=FKk2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for August 4, 2024</span>
    <a href="https://rwys.xyz/?code=FBbI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for August 4, 2024</span>
    <a href="https://rwys.xyz/?code=FDdr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FAat" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FFfe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="http://rwys.xyz/?code=FGgt" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="http://rwys.xyz/?code=Fw3B" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FxaA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FtZK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=Fv0J" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FqWF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FsYq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FnTW" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="http://rwys.xyz/?code=FpV1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FkQd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FmSQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FdUJ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="http://rwys.xyz/?code=Fj1D" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FfWE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FcTT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FiZa" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FbSh" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FhYT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="http://rwys.xyz/?code=FaRC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FKvp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FHs6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FJu5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FGrj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FEp4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FCnF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FBmK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="http://rwys.xyz/?code=FD0J" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FujV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FAlk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=Ftiu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="http://rwys.xyz/?code=FzoU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=Fsh2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=Fyn5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=Fpep" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="http://rwys.xyz/?code=Frgi" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FodL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FmbB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FncR" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=Fj1d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FgXZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="http://rwys.xyz/?code=FiZM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FcTa" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=F08V" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FbS7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=F9dM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FaRd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="http://rwys.xyz/?code=F8c0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=F58n" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=F7bp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=F38l" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="http://rwys.xyz/?code=F28F" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FVWY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="http://rwys.xyz/?code=FXIc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FOPz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FT0z" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FNOO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FMNi" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FKLp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FJK5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FLMI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FGHj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="http://rwys.xyz/?code=FIJU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FDEJ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FFG9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FzFU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FuAV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="http://rwys.xyz/?code=FyE5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=Ftzu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=Frxi" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=Fsy2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FntR" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=Fpvp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=Fkqu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FmsB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=Fhny" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="http://rwys.xyz/?code=FoQQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FekF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="http://rwys.xyz/?code=FgmZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FJKw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="http://rwys.xyz/?code=Fdjs" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FIJZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="http://rwys.xyz/?code=Fcia" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FHI3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="http://rwys.xyz/?code=Fbh7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FFGJ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FCDS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FEFU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FzFR" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FoQQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FxZ6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="http://rwys.xyz/?code=FqSf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Spins for Invalid Date</span>
    <a href="https://rwys.xyz/?code=FtVS" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>