<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-07-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=CXH4SR" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-07-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=ZVRE74A" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-07-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=9RGQ8PU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-07-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=VJFVSZO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-07-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=Q5BCETE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-07-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=GEZWUYC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-07-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.gildedSecrets2501.477.recommend.pid-SRMNSEW.cid-161013&game=rgs.slots&variant=t8g.gildedSecrets2501.477_recommend&lineCost=1&pid=SRMNSEW&cid=161013" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-07-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.cleopatra.recommend.pid-J5V8SAO.cid-161046&game=rgs.slots&variant=rgs.cleopatra_recommend&lineCost=500&pid=J5V8SAO&cid=161046" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-07-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.empireOfDiamondRiches2501.476.recommend.pid-Q8MXIVN.cid-161012&game=rgs.slots&variant=t8g.empireOfDiamondRiches2501.476_recommend&lineCost=1&pid=Q8MXIVN&cid=161012" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-07-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.superCoin20002410.463.recommend.pid-7KEYAIE.cid-161011&game=rgs.slots&variant=duc.superCoin20002410.463_recommend&lineCost=1&pid=7KEYAIE&cid=161011" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-05-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=DBLT09E" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-05-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=AX8SWXL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-05-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=UTNLGLA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-05-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=PYRPQIK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-05-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=47OOCWP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-05-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=17APYBP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-05-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=QBKGHHZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-05-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=SDC64KN" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-05-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=70FPVKB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-05-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.wildHoneyJackpot2101.300.recommend.pid-WFEZYEP.cid-161045&game=rgs.slots&variant=t8g.wildHoneyJackpot2101.300_recommend&lineCost=1&pid=WFEZYEP&cid=161045" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-05-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.rollingInMoreGold1910.249.recommend.pid-WLS2SPA.cid-161044&game=rgs.slots&variant=t8g.rollingInMoreGold1910.249_recommend&lineCost=1&pid=WLS2SPA&cid=161044" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-05-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.balloonFever2407.461.recommend.pid-BFU5DGF.cid-161043&game=rgs.slots&variant=duc.balloonFever2407.461_recommend&lineCost=1&pid=BFU5DGF&cid=161043" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-05-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.buffaloBash2110.343.recommend.pid-NRF1CUV.cid-161042&game=rgs.slots&variant=duc.buffaloBash2110.343_recommend&lineCost=1&pid=NRF1CUV&cid=161042" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-05-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.wildHoneyJackpot2101.300.recommend.pid-FYU3VSI.cid-161041&game=rgs.slots&variant=t8g.wildHoneyJackpot2101.300_recommend&lineCost=1&pid=FYU3VSI&cid=161041" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-05-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.megaPiggySmash2404.444.recommend.pid-BGEJPLW.cid-161006&game=rgs.slots&variant=duc.megaPiggySmash2404.444_recommend&lineCost=1&pid=BGEJPLW&cid=161006" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-05-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.fishingBob.recommend.pid-N1MVOTK.cid-161038&game=rgs.slots&variant=rgs.fishingBob_recommend&lineCost=200&pid=N1MVOTK&cid=161038" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-05-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.rollingInMoreGold1910.249.recommend.pid-CMXHZXG.cid-161005&game=rgs.slots&variant=t8g.rollingInMoreGold1910.249_recommend&lineCost=1&pid=CMXHZXG&cid=161005" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-05-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.piggyJackpot.77.pid-QJN1YMX.cid-161071&game=rgs.slots&variant=duc.piggyJackpot.77&lineCost=1&pid=QJN1YMX&cid=161071" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-04-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=LQYKAKF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-04-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=MZ9HVJI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-04-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=DLVEQGM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-04-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=X4MY0QG" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-04-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=9RY07BG" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-04-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=7IIPOQN" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-04-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=8C3YVDF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-04-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=EWJ1EZ1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-04-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.megaPiggySmash2404.444.recommend.pid-E8EUJS9.cid-161004&game=rgs.slots&variant=duc.megaPiggySmash2404.444_recommend&lineCost=1&pid=E8EUJS9&cid=161004" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-04-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.wildHoneyJackpot2101.300.recommend.pid-1JTUBNY.cid-161003&game=rgs.slots&variant=t8g.wildHoneyJackpot2101.300_recommend&lineCost=1&pid=1JTUBNY&cid=161003" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-04-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.werewolfWindfall2101.302.recommend.pid-1HED63S.cid-161037&game=rgs.slots&variant=duc.werewolfWindfall2101.302_recommend&lineCost=1&pid=1HED63S&cid=161037" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-04-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.buffaloBash2110.343.recommend.pid-FHBD6HJ.cid-161035&game=rgs.slots&variant=duc.buffaloBash2110.343_recommend&lineCost=1&pid=FHBD6HJ&cid=161035" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-04-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.seaOfPlunder2411.464.recommend.pid-CRC62SB.cid-161036&game=rgs.slots&variant=duc.seaOfPlunder2411.464_recommend&lineCost=1&pid=CRC62SB&cid=161036" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-04-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.roaringLionGlory2412.458.recommend.pid-DZVBPQO.cid-161034&game=rgs.slots&variant=t8g.roaringLionGlory2412.458_recommend&lineCost=1&pid=DZVBPQO&cid=161034" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-04-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.empireOfDiamondRiches2501.476.recommend.pid-X6E45O8.cid-161033&game=rgs.slots&variant=t8g.empireOfDiamondRiches2501.476_recommend&lineCost=1&pid=X6E45O8&cid=161033" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-03-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=WOAR5GH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-03-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=BVLLLZT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-03-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=CVACWNR" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-03-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=JRUKJRV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-03-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=ZQDHUXC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-03-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=KAAGJJK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-03-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.daVinciDiamonds.recommend.pid-C19JKGC.cid-160794&game=rgs.slots&variant=rgs.daVinciDiamonds_recommend&lineCost=500&pid=C19JKGC&cid=160794" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-03-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.megaPiggySmash2404.444.recommend.pid-EZ6SGRW.cid-160793&game=rgs.slots&variant=duc.megaPiggySmash2404.444_recommend&lineCost=1&pid=EZ6SGRW&cid=160793" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-03-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.rollingInMoreGold1910.249.recommend.pid-54ZF0YS.cid-160792&game=rgs.slots&variant=t8g.rollingInMoreGold1910.249_recommend&lineCost=1&pid=54ZF0YS&cid=160792" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-03-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.buffaloBash2110.343.recommend.pid-D9TJCQV.cid-160790&game=rgs.slots&variant=duc.buffaloBash2110.343_recommend&lineCost=1&pid=D9TJCQV&cid=160790" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-02-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.blazingLavaBomb2305.410.recommend.pid-AHIPDIY.cid-160345&game=rgs.slots&variant=t8g.blazingLavaBomb2305.410_recommend&lineCost=1&pid=AHIPDIY&cid=160345" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-02-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=J4F7CBR" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-02-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=ESPAWJL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-02-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=GZFBHPE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-02-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=I8IYN2S" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-02-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=QDDKFGV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-02-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=L1SBOLP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-02-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.balloonFever2407.461.recommend.pid-OL9FNPD.cid-161072&game=rgs.slots&variant=duc.balloonFever2407.461_recommend&lineCost=1&pid=OL9FNPD&cid=161072" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-02-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot-shop.pid-SW54VTI.cid-160825&lobby=casinoLobby-shop&pid=SW54VTI&cid=160825" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-02-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.harvestFortuneWheel2501.480.recommend.pid-H0L1MHX.cid-160826&game=rgs.slots&variant=t8g.harvestFortuneWheel2501.480_recommend&lineCost=1&pid=H0L1MHX&cid=160826" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-02-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot-shop.pid-OIKPDXF.cid-160823&lobby=casinoLobby-shop&pid=OIKPDXF&cid=160823" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-01-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot-shop.pid-VC16BRA.cid-160829&lobby=casinoLobby-shop&pid=VC16BRA&cid=160829" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-01-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=4HYG3CM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-01-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=1ZB7QMQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-01-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=WT4OWZD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-01-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=X6R8MMG" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-01-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=AAJ9EL0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-01-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=SKAZODT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-01-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-all.pid-RZX22QB.cid-160831&lobby=slotsAll&pid=RZX22QB&cid=160831" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-01-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.seaOfPlunder2411.464.recommend.pid-YSXJKZN.cid-160819&game=rgs.slots&variant=duc.seaOfPlunder2411.464_recommend&lineCost=1&pid=YSXJKZN&cid=160819" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-01-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.buffaloBash2110.343.recommend.pid-RG11XUR.cid-160803&game=rgs.slots&variant=duc.buffaloBash2110.343_recommend&lineCost=1&pid=RG11XUR&cid=160803" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-01-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.roaringLionGlory2412.458.recommend.pid-TC9CVFZ.cid-160818&game=rgs.slots&variant=t8g.roaringLionGlory2412.458_recommend&lineCost=1&pid=TC9CVFZ&cid=160818" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 02-01-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.mysticalMermaid.recommend.pid-NC3VHTB.cid-160817&game=rgs.slots&variant=rgs.mysticalMermaid_recommend&lineCost=500&pid=NC3VHTB&cid=160817" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 01-29-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=L8CRMUQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 01-29-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=71XYOUP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 01-29-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=62U813Z" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 01-29-2025</span>
    <a href="https://www.doubledowncasino.com/?&pid=SKKX2R6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 01-29-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot.pid-XERSUHX.cid-160341&lobby=casinoLobby&pid=XERSUHX&cid=160341" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 01-29-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.daVinciDiamonds.recommend.pid-H73N4YG.cid-160808&game=rgs.slots&variant=rgs.daVinciDiamonds_recommend&lineCost=500&pid=H73N4YG&cid=160808" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 01-29-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.superCoin20002410.463.recommend.pid-MRTCTOR.cid-160786&game=rgs.slots&variant=duc.superCoin20002410.463_recommend&lineCost=1&pid=MRTCTOR&cid=160786" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 01-29-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.wildHoneyJackpot2101.300.recommend.pid-NFW8OKQ.cid-160785&game=rgs.slots&variant=t8g.wildHoneyJackpot2101.300_recommend&lineCost=1&pid=NFW8OKQ&cid=160785" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 01-29-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.cleopatra.recommend.pid-4WEZRQZ.cid-160784&game=rgs.slots&variant=rgs.cleopatra_recommend&lineCost=500&pid=4WEZRQZ&cid=160784" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 01-25-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.megaPiggySmash2404.444.recommend.pid-PTX12QT.cid-160654&game=rgs.slots&variant=duc.megaPiggySmash2404.444_recommend&lineCost=1&pid=PTX12QT&cid=160654" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 01-25-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot-shop.pid-T5RAYVB.cid-160653&lobby=casinoLobby-shop&pid=T5RAYVB&cid=160653" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 01-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.luckyLarrysLobstermania2Multiway.recommend.pid-TJ5SZPL.cid-160567&game=rgs.slots&variant=rgs.luckyLarrysLobstermania2Multiway_recommend&lineCost=200&pid=TJ5SZPL&cid=160567&cid=160567&mkt_tok=NDI2LVpCRy0zOTQAAAGYNXLplzUwcERenv1NxRg7iE5rljXSvcN0pbL_SDHCiv2jbuWTDlpVj-Rgejq56nu9VwHGQwJzfFY-GiIP29AVhKmlMQ8H25MhCPRXEvB7QLNrbLI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 01-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.buffaloBash2110.343.recommend.pid-FPGKXKT.cid-160651&game=rgs.slots&variant=duc.buffaloBash2110.343_recommend&lineCost=1&pid=FPGKXKT&cid=160651" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 01-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-all.pid-W9W8MKL.cid-160628&lobby=slotsAll&pid=W9W8MKL&cid=160628" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 01-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot.pid-SIR6U9J.cid-160192&lobby=casinoLobby&pid=SIR6U9J&cid=160192&cid=160192&mkt_tok=NDI2LVpCRy0zOTQAAAGYNQeUwxEe9QnrKN9_yJYPXZZJgjqDuvPZV6WN2oFbjwwdWxMI8EvFOwbmXAs1F8rtpdEL3bXKC-18bFVP2kA_-1LRxuWjHEOxFQUeKAK28XojaQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 01-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-all.pid-CCGJUJX.cid-160624&lobby=slotsAll&pid=CCGJUJX&cid=160624" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 01-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-all.pid-LDXTIHK.cid-160562&lobby=slotsAll&pid=LDXTIHK&cid=160562&cid=160562&mkt_tok=NDI2LVpCRy0zOTQAAAGYNGFEqKfiIOv9tSR70mZ7IJDaqxMNolqm-i-k2Qsn92dnDhv66XgjzGzCzYApAE6p6PitzSfa1LtktDSIE-o-NzGf9Y1MxdXioa3HE46fXLCshA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 01-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot-shop.pid-UHIATBO.cid-160572&lobby=casinoLobby-shop&pid=UHIATBO&cid=160572&cid=160572&mkt_tok=NDI2LVpCRy0zOTQAAAGYNF9ubqpQs4V0RintSIojFksXImrNbiDVT7nBMmfRBA_eEc59sFHawah1frDkBysiJEGklUsRJjjV-dDHk7sKwVVlaKyvgnsXhCzYJl0uWm8uHw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 01-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=CASINOLOBBY.pid-BBIKJI9.cid-100549&lobby=slots&pid=BBIKJI9&cid=100549" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 01-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=CASINOLOBBY.pid-9FYORDU.cid-100549&lobby=slots&pid=9FYORDU&cid=100549" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 01-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.megaPiggySmash2404.444.recommend.pid-SKCPAMN.cid-160563&game=rgs.slots&variant=duc.megaPiggySmash2404.444_recommend&lineCost=1&pid=SKCPAMN&cid=160563&cid=160563&mkt_tok=NDI2LVpCRy0zOTQAAAGYM7toMnLeFi4cwiAy68nG76PKyyOcqPJCOxwg92LBbYnjH-OPQ4cnNi9qhKSc3vGQoN4l4KHwhWe3RnV09hnY12QIps1mCKa8wAUcCKwicfwD_w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 01-24-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.daVinciDiamonds.recommend.pid-M0PD5VJ.cid-160623&game=rgs.slots&variant=rgs.daVinciDiamonds_recommend&lineCost=500&pid=M0PD5VJ&cid=160623" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 01-23-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.empireOfDiamondRiches2501.476.recommend.pid-IQULF1K.cid-160648&game=rgs.slots&variant=t8g.empireOfDiamondRiches2501.476_recommend&lineCost=1&pid=IQULF1K&cid=160648" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 01-23-2025</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.rollingInMoreGold1910.249.recommend.pid-PNUZRMP.cid-160647&game=rgs.slots&variant=t8g.rollingInMoreGold1910.249_recommend&lineCost=1&pid=PNUZRMP&cid=160647" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>