<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 20, 2024</span>
    <a href="https://duc.link/FreeChipsSp19f8e2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 20, 2024</span>
    <a href="https://duc.link/FreeChipsSep19m8y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 19, 2024</span>
    <a href="https://duc.link/FreeChipsSp18f0v8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 19, 2024</span>
    <a href="https://duc.link/FreeCihpsSp18i4v8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 18, 2024</span>
    <a href="https://duc.link/FreeChipsSp17h1v0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 18, 2024</span>
    <a href="https://duc.link/FreeChipsSp17x4r9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 17, 2024</span>
    <a href="https://duc.link/FreeChipsSp16f8e2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 16, 2024</span>
    <a href="https://duc.link/FreeChipsSep15f0v8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 16, 2024</span>
    <a href="https://duc.link/FreeChipsSep15nw8x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 15, 2024</span>
    <a href="https://duc.link/insta_spin15hcx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 15, 2024</span>
    <a href="https://duc.link/FreeChipsSep14s0k3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 15, 2024</span>
    <a href="https://duc.link/FreeChipsSep14s3c9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 15, 2024</span>
    <a href="https://duc.link/insta_k1cjwio4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 14, 2024</span>
    <a href="https://duc.link/FreeChipsSep13a8f2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 13, 2024</span>
    <a href="https://duc.link/FreeChipsSep12f0v8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 13, 2024</span>
    <a href="https://duc.link/FreeChipsSep12s3c9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 12, 2024</span>
    <a href="https://duc.link/FreeSpinsSep11u7m0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 12, 2024</span>
    <a href="https://duc.link/FreeChipsSep11a3f9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 11, 2024</span>
    <a href="https://duc.link/FreeSpinsSep10a9y5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 11, 2024</span>
    <a href="https://duc.link/FreeChipsSep10a8f2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 10, 2024</span>
    <a href="https://duc.link/FreeSpinsSep09y1u9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 10, 2024</span>
    <a href="https://duc.link/FreeChipsSep09d9a3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 9, 2024</span>
    <a href="https://duc.link/FreeSpinsSep089j1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 8, 2024</span>
    <a href="https://duc.link/insta_spin08emc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 8, 2024</span>
    <a href="https://duc.link/FreeChipsSep08s3c9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 8, 2024</span>
    <a href="https://duc.link/FreeSpinsSep07h7s1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 8, 2024</span>
    <a href="http://duc.link/x0907uet" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 7, 2024</span>
    <a href="https://duc.link/FreeChipsSep07b5h9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 7, 2024</span>
    <a href="https://duc.link/insta_e0dc7qcx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 7, 2024</span>
    <a href="https://duc.link/GrandSpinsSep06f9s3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 7, 2024</span>
    <a href="https://duc.link/ChipsSep06e3c7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 6, 2024</span>
    <a href="https://duc.link/TourneyChipsSep06y8c0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 6, 2024</span>
    <a href="https://duc.link/insta_0qe6bcv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 6, 2024</span>
    <a href="https://duc.link/FreeSpinsSep051e9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 6, 2024</span>
    <a href="https://duc.link/FreeChipsSep05a8f2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 5, 2024</span>
    <a href="https://duc.link/insta_q0c4evfc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 5, 2024</span>
    <a href="https://duc.link/FreeSpinsSep04e1t5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 5, 2024</span>
    <a href="https://duc.link/WstoreFCSep04e1t8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 3, 2024</span>
    <a href="https://duc.link/FreeChipsSep03a8f2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 3, 2024</span>
    <a href="https://duc.link/FreeSpinsSep02s2o1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 3, 2024</span>
    <a href="https://duc.link/GiganticChipsSep02i7nb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 2, 2024</span>
    <a href="https://duc.link/FreeSpinsSep01y2r7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 2, 2024</span>
    <a href="http://duc.link/x0901uiy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 2, 2024</span>
    <a href="https://duc.link/FreeChipsSep01s3c9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 31, 2024</span>
    <a href="https://duc.link/FreeChipsAug31c2u7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 31, 2024</span>
    <a href="https://duc.link/GrandSpinsAug30o3v9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 31, 2024</span>
    <a href="https://duc.link/ChipsAug30s3c9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 30, 2024</span>
    <a href="https://duc.link/JpTourneyAug30c8k3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 30, 2024</span>
    <a href="http://duc.link/x0829ikd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 30, 2024</span>
    <a href="https://duc.link/GrandSpinsAug29v9k3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 29, 2024</span>
    <a href="https://duc.link/FreeChipsAug29a8f2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 29, 2024</span>
    <a href="https://duc.link/wStore3rdUdA6Aug29sck" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 29, 2024</span>
    <a href="https://duc.link/FreeSpinsAug28u7m0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 28, 2024</span>
    <a href="https://duc.link/FreeCihpsAug28a5s7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 28, 2024</span>
    <a href="https://duc.link/GrandSpinsAug27o9r4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 26, 2024</span>
    <a href="https://duc.link/insta_ck2ehv5q" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 26, 2024</span>
    <a href="https://duc.link/GrandSpinsAug25t6b0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 26, 2024</span>
    <a href="http://duc.link/x0825uec" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 26, 2024</span>
    <a href="https://duc.link/FreeChipsAug25b5h7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 25, 2024</span>
    <a href="https://duc.link/insta_x2r4vwkd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 25, 2024</span>
    <a href="https://duc.link/GrandSpinsAug24t6b0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 25, 2024</span>
    <a href="https://duc.link/GiveawayAug24sj9mc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 24, 2024</span>
    <a href="https://duc.link/testfreespinsAug23a1f3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 24, 2024</span>
    <a href="https://duc.link/FreeChipsAug23es7m" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 23, 2024</span>
    <a href="https://duc.link/insta_2cj3wkdi" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 23, 2024</span>
    <a href="https://duc.link/FreeChipsAug23d8h2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 23, 2024</span>
    <a href="https://duc.link/GrandSpinsAug22k8a9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 23, 2024</span>
    <a href="https://duc.link/FreeChipsAug22c3j7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 22, 2024</span>
    <a href="https://duc.link/insta_spin21vkd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 22, 2024</span>
    <a href="https://duc.link/FreeSpinsAug21e1t5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 22, 2024</span>
    <a href="https://duc.link/GiganticChipsAug21i7n9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 21, 2024</span>
    <a href="https://duc.link/FreeSpinsAug20a1e9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 21, 2024</span>
    <a href="https://duc.link/FreeChipsAug20ai3v" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 20, 2024</span>
    <a href="https://duc.link/insta_ew1do9v" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 20, 2024</span>
    <a href="https://duc.link/FreeSpinsAug19y1u9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 20, 2024</span>
    <a href="https://duc.link/FreeChipsAug19u3d9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 19, 2024</span>
    <a href="https://duc.link/FreeSpinsAug189j1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 19, 2024</span>
    <a href="https://duc.link/FreeChipsAug18ea2t" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 18, 2024</span>
    <a href="https://duc.link/FreeSpinsAug17h7s1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 18, 2024</span>
    <a href="https://duc.link/FreeChipsAug17f8e2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 17, 2024</span>
    <a href="https://duc.link/GrandSpinsAug16t6b0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 17, 2024</span>
    <a href="https://duc.link/FreeChipsAug16t8be" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 16, 2024</span>
    <a href="https://duc.link/TourneyChipsAug16y8c0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 16, 2024</span>
    <a href="https://duc.link/insta_wk1edjw6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 16, 2024</span>
    <a href="https://duc.link/GrandSpinsAug15s9j5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 16, 2024</span>
    <a href="https://duc.link/FreeChipsAug15a8f2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 15, 2024</span>
    <a href="https://duc.link/FreeSpinsAug14y2r7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 14, 2024</span>
    <a href="https://duc.link/FreeChipsAug14x8i2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 14, 2024</span>
    <a href="https://duc.link/insta_1ue4xkiw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 14, 2024</span>
    <a href="https://duc.link/GrandSpinsAug13o3v9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 14, 2024</span>
    <a href="https://duc.link/FreeChipsAug13a8f2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 13, 2024</span>
    <a href="https://duc.link/insta_di1wnx2k" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 13, 2024</span>
    <a href="https://duc.link/FreeSpinsAug12s2o1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 13, 2024</span>
    <a href="https://duc.link/FreeChipsAug12c3k8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 12, 2024</span>
    <a href="https://duc.link/GrandSpinsAug11v9k3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 12, 2024</span>
    <a href="https://duc.link/FreeCihpsAug11a5s7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 11, 2024</span>
    <a href="https://duc.link/insta_dk1djvq0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 10, 2024</span>
    <a href="https://duc.link/insta_e0cme9zk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 10, 2024</span>
    <a href="https://duc.link/GrandSpinsAug09f9s3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 10, 2024</span>
    <a href="https://duc.link/FreeChipsAug09c3j7" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>