<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-27-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.merryJackpotWheel2412.470.recommend.pid-P4A7JJZ.cid-159718&game=rgs.slots&variant=t8g.merryJackpotWheel2412.470_recommend&lineCost=1&pid=P4A7JJZ&cid=159718" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-27-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.majesticBlue2111.339.recommend.pid-GACMHP1.cid-159715&game=rgs.slots&variant=t8g.majesticBlue2111.339_recommend&lineCost=1&pid=GACMHP1&cid=159715" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-27-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.merryJackpotWheel2412.470.recommend.pid-WCA4LS6.cid-159714&game=rgs.slots&variant=t8g.merryJackpotWheel2412.470_recommend&lineCost=1&pid=WCA4LS6&cid=159714" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-27-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.superCoin20002410.463.recommend.pid-R158ELZ.cid-159713&game=rgs.slots&variant=duc.superCoin20002410.463_recommend&lineCost=1&pid=R158ELZ&cid=159713" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-27-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=t8g.merryJackpotWheel2412.470_recommend&lineCost=1&pid=X9QQWHQ&cid=158818&a_l_skey=sh-0-Jy-BRde1aoUkD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-27-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=t8g.fortuneYuanbao2410.474&lineCost=1&pid=8OPKTKP&cid=159784&a_l_skey=sh-0-Ke-BRde1b3FQr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-27-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=t8g.hipHopHogsLastDance2409.457_recommend&lineCost=1&pid=SQE4XPL&cid=159783&a_l_skey=sh-0-MC-BRde1e7Mev" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-27-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=t8g.merryJackpotWheel2412.470_recommend&lineCost=1&pid=NMXNRQY&cid=158817&a_l_skey=sh-0-Nw-BRde1h1PXV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-26-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=MEGABUCKSLOBBY.pid-G0MZSHB.cid-159782&lobby=megabucks&pid=G0MZSHB&cid=159782&cid=159782&mkt_tok=NDI2LVpCRy0zOTQAAAGXoCAh9cmhkQmqj6LLrjWBxDGgSFeaQyMqy2iyVcFVAtfoD3y2oVoRIFn0q0jsLigdo6Nkhdh1Wz-h1S52kSuxXPiJN1HtxzTRR_Yrk4m8mPCt1Gs" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-26-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.merryJackpotWheel2412.470.recommend.pid-BGJVYZW.cid-159744&game=rgs.slots&variant=t8g.merryJackpotWheel2412.470_recommend&lineCost=1&pid=BGJVYZW&cid=159744" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-26-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.hollyJollyBingo2312.427.recommend.pid-SV4U4BB.cid-159708&game=rgs.slots&variant=t8g.hollyJollyBingo2312.427_recommend&lineCost=1&pid=SV4U4BB&cid=159708" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-26-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot-shop.pid-B99QY8A.cid-159724&lobby=casinoLobby-shop&pid=B99QY8A&cid=159724" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-26-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.rollingInMoreGold1910.249.recommend.pid-9FET1FN.cid-159742&game=rgs.slots&variant=t8g.rollingInMoreGold1910.249_recommend&lineCost=1&pid=9FET1FN&cid=159742" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-26-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=t8g.hollyJollyBingo2312.427_recommend&lineCost=1&pid=FFYRHEE&cid=158816&a_l_skey=sh-0-IA-BRdPQaLySC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-26-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=duc.seaOfPlunder2411.464&lineCost=1&pid=4MDVADJ&cid=159780&a_l_skey=sh-0-Ja-BRdPQb3eAH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-26-2024</span>
    <a href="https://www.doubledowncasino.com/?lobby=slotsAll&pid=5HITGEZ&cid=159779&a_l_skey=sh-0-LF-BRdPQeGfxO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-23-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-all.pid-P65PXOB.cid-159669&lobby=slotsAll&pid=P65PXOB&cid=159669" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-23-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.the7GiftsOfChristmas2212.391.recommend.pid-SSNCT8L.cid-159666&game=rgs.slots&variant=t8g.the7GiftsOfChristmas2212.391_recommend&lineCost=1&pid=SSNCT8L&cid=159666" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-23-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.wildHoneyJackpot2101.300.recommend.pid-ROOFABU.cid-159699&game=rgs.slots&variant=t8g.wildHoneyJackpot2101.300_recommend&lineCost=1&pid=ROOFABU&cid=159699" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-23-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.the7GiftsOfChristmas2212.391.recommend.pid-KXN8UGZ.cid-159665&game=rgs.slots&variant=t8g.the7GiftsOfChristmas2212.391_recommend&lineCost=1&pid=KXN8UGZ&cid=159665" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-23-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=t8g.7dwarvesGoldenApple2410.450&lineCost=1&pid=HAKULAC&cid=159624&a_l_skey=sh-0-r-BRcgVv5ENY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-23-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=t8g.frostysMagicGifts2412.471_recommend&lineCost=1&pid=3FZ9ELJ&cid=159623&a_l_skey=sh-0-B9-BRcgVyU4b0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-23-2024</span>
    <a href="https://www.doubledowncasino.com/?lobby=slotsAll&pid=0NCWSHN&cid=159637&a_l_skey=sh-0-Dm-BRcgV0vXN2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-23-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=t8g.the7GiftsOfChristmas2212.391_recommend&lineCost=1&pid=WUB9O09&cid=158812&a_l_skey=sh-0-FD-BRcgV26aoT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-21-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=t8g.hauntedHood2410.459&lineCost=1&pid=C9IQKVW&cid=159610&a_l_skey=sh-0-b-BRcBZiGLN3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-21-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot-shop.pid-8IRLRU8.cid-159697&lobby=casinoLobby-shop&pid=8IRLRU8&cid=159697" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-21-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.rollingInMoreGold1910.249.recommend.pid-RNDGEGR.cid-159695&game=rgs.slots&variant=t8g.rollingInMoreGold1910.249_recommend&lineCost=1&pid=RNDGEGR&cid=159695" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-21-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot-shop.pid-2R6IUKB.cid-159694&lobby=casinoLobby-shop&pid=2R6IUKB&cid=159694" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-21-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.majesticBlue2111.339.recommend.pid-R4JY3TJ.cid-159693&game=rgs.slots&variant=t8g.majesticBlue2111.339_recommend&lineCost=1&pid=R4JY3TJ&cid=159693" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-21-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=duc.werewolfWindfall2101.302_recommend&lineCost=1&pid=OCXFY5R&cid=159613&a_l_skey=sh-0-G6-BRcBT2AB5b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-21-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=seq.mbSuperStacks1909.231&lineCost=1&pid=HCMY9IZ&cid=159612&a_l_skey=sh-0-Hm-BRcBT2scIW" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-21-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=duc.pomodoroGusto2411.466_recommend&lineCost=1&pid=IO635UU&cid=159609&a_l_skey=sh-0-Iz-BRcBT4ZtDs" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-19-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=t8g.hipHopHogs2202.353&lineCost=1&pid=V6PA9SI&cid=159594&a_l_skey=sh-0-CA-BRbgvdrbIW" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-19-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=duc.seaOfPlunder2411.464_recommend&lineCost=1&pid=38D9IDB&cid=159596&a_l_skey=sh-0-P6-BRbgva9GFB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-19-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=t8g.hollyJollyBingo2312.427_recommend&lineCost=1&pid=TJYQ7JO&cid=159597&a_l_skey=sh-0-Nk-BRbgvYNpJj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-19-2024</span>
    <a href="https://www.doubledowncasino.com/?lobby=megabucks&pid=RMGCMFN&cid=159598&a_l_skey=sh-0-Lx-BRbgvV5pul" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-19-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.fortuneYuanbao2410.474.recommend.pid-BQSIVAU.cid-159679&game=rgs.slots&variant=t8g.fortuneYuanbao2410.474_recommend&lineCost=1&pid=BQSIVAU&cid=159679" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-19-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.the7GiftsOfChristmas2212.391.recommend.pid-MDXLXKK.cid-159680&game=rgs.slots&variant=t8g.the7GiftsOfChristmas2212.391_recommend&lineCost=1&pid=MDXLXKK&cid=159680" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-19-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.seaOfPlunder2411.464.recommend.pid-DKTS1VS.cid-159681&game=rgs.slots&variant=duc.seaOfPlunder2411.464_recommend&lineCost=1&pid=DKTS1VS&cid=159681" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-19-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.balloonFever2407.461.recommend.pid-N9VMOWA.cid-159683&game=rgs.slots&variant=duc.balloonFever2407.461_recommend&lineCost=1&pid=N9VMOWA&cid=159683" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-14-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot-shop.pid-OJ6LL45.cid-159529&lobby=casinoLobby-shop&pid=OJ6LL45&cid=159529" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-14-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.balloonFever2407.461.recommend.pid-3LLZXWX.cid-159527&game=rgs.slots&variant=duc.balloonFever2407.461_recommend&lineCost=1&pid=3LLZXWX&cid=159527" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-14-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot-shop.pid-LDLJR4K.cid-159526&lobby=casinoLobby-shop&pid=LDLJR4K&cid=159526" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-14-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.prosperousFuDaiQuest2408.454.recommend.pid-JIWXJBY.cid-159525&game=rgs.slots&variant=t8g.prosperousFuDaiQuest2408.454_recommend&lineCost=1&pid=JIWXJBY&cid=159525" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-14-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=seq.mbTripleDoubleRedHotSevens1908.228&lineCost=1&pid=RB341ZO&cid=159453&a_l_skey=sh-0-HP-BRaTCl43Kc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-14-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=duc.pomodoroGusto2411.466&lineCost=1&pid=PJXPWNG&cid=159450&a_l_skey=sh-0-Hz-BRaTCmmj0I" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-14-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=t8g.winterWonderTrain2012.295_recommend&lineCost=1&pid=AYP3LYR&cid=159452&a_l_skey=sh-0-I9-BRaTCoLRrk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-14-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=duc.seaOfPlunder2411.464_recommend&lineCost=1&pid=TGENILT&cid=159449&a_l_skey=sh-0-Lk-BRaTCrgDKW" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-11-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.luckyLarrysLobstermania2Multiway.recommend.pid-BV2BBRP.cid-159515&game=rgs.slots&variant=rgs.luckyLarrysLobstermania2Multiway_recommend&lineCost=200&pid=BV2BBRP&cid=159515" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-11-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.frostysMagicGifts2412.471.recommend.pid-FEHJ1MW.cid-159513&game=rgs.slots&variant=t8g.frostysMagicGifts2412.471_recommend&lineCost=1&pid=FEHJ1MW&cid=159513" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-11-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.luckyLarrysLobstermania2Multiway.recommend.pid-CPRRZHR.cid-159423&game=rgs.slots&variant=rgs.luckyLarrysLobstermania2Multiway_recommend&lineCost=200&pid=CPRRZHR&cid=159423" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-11-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.wildHoneyJackpot2101.300.recommend.pid-SPAVFCR.cid-159511&game=rgs.slots&variant=t8g.wildHoneyJackpot2101.300_recommend&lineCost=1&pid=SPAVFCR&cid=159511" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-11-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=duc.superCoin10002403.441_recommend&lineCost=1&pid=FQVMAXE&cid=159432&a_l_skey=sh-0-MP-BRZjAoWegd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-11-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=t8g.frostysMagicGifts2412.471&lineCost=1&pid=V26ZG49&cid=159431&a_l_skey=sh-0-NL-BRZjAplCvO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-11-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=rgs.luckyLarrysLobstermania2Multiway_recommend&lineCost=200&pid=LKWLFEY&cid=158798&a_l_skey=sh-0-P8-BRZjAsKEj8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-11-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=duc.piggyJackpot.77_recommend&lineCost=1&pid=SRLU49O&cid=159428&a_l_skey=sh-0-B4-BRZjAua4Ay" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-10-2024</span>
    <a href="https://www.doubledowncasino.com/?lobby=slotsAll&pid=6EJNTPN&cid=158882&a_l_skey=sh-0-Dt-BRZUCouF1p" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-10-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.fishingBob.recommend.pid-4XRROVG.cid-159425&game=rgs.slots&variant=rgs.fishingBob_recommend&lineCost=200&pid=4XRROVG&cid=159425" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-10-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.the7GiftsOfChristmas2212.391.recommend.pid-WDPWYHW.cid-159422&game=rgs.slots&variant=t8g.the7GiftsOfChristmas2212.391_recommend&lineCost=1&pid=WDPWYHW&cid=159422" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-10-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.megaPiggySmash2404.444.recommend.pid-AAU2RVO.cid-159421&game=rgs.slots&variant=duc.megaPiggySmash2404.444_recommend&lineCost=1&pid=AAU2RVO&cid=159421" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-10-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.fishingBob.recommend.pid-4XEXSVG.cid-159420&game=rgs.slots&variant=rgs.fishingBob_recommend&lineCost=200&pid=4XEXSVG&cid=159420" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-10-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=rgs.luckyLarrysLobstermania2Multiway_recommend&lineCost=200&pid=I9OA05M&cid=158797&a_l_skey=sh-0-Jb-BRZT8yu7NL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-10-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=seq.mb3x4x5xDoubleTimesPay1904.209&lineCost=1&pid=PGOIUKS&cid=158881&a_l_skey=sh-0-MH-BRZT82J4yS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-10-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=rgs.luckyLarrysLobstermania2Multiway_recommend&lineCost=200&pid=RCVKHGB&cid=158796&a_l_skey=sh-0-Bu-BRZT89uHC1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-10-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=duc.pomodoroGusto2411.466&lineCost=1&pid=UTGUIBZ&cid=158880&a_l_skey=sh-0-P7-BRZT86zhCB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-09-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.superCoin10002403.441.recommend.pid-YPQFQSP.cid-159508&game=rgs.slots&variant=duc.superCoin10002403.441_recommend&lineCost=1&pid=YPQFQSP&cid=159508" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-09-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.the7GiftsOfChristmas2212.391.recommend.pid-H2ZT7ZD.cid-159506&game=rgs.slots&variant=t8g.the7GiftsOfChristmas2212.391_recommend&lineCost=1&pid=H2ZT7ZD&cid=159506" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-09-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.prosperousFuDaiQuest2408.454.recommend.pid-OKCNCVK.cid-159505&game=rgs.slots&variant=t8g.prosperousFuDaiQuest2408.454_recommend&lineCost=1&pid=OKCNCVK&cid=159505" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-09-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.prairieKing2411.475.recommend.pid-IMXYC4U.cid-159504&game=rgs.slots&variant=t8g.prairieKing2411.475_recommend&lineCost=1&pid=IMXYC4U&cid=159504" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-09-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=duc.buffaloBash2110.343&lineCost=1&pid=LI28K6X&cid=158871&a_l_skey=sh-0-CT-BRZE1xcD4i" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-09-2024</span>
    <a href="https://www.doubledowncasino.com/?lobby=slotsAll&pid=JBNDQAH&cid=158883&a_l_skey=sh-0-Ef-BRZE10qLWM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-09-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=t8g.winterWonderTrain2012.295_recommend&lineCost=1&pid=XLQFE9K&cid=158861&a_l_skey=sh-0-F9-BRZE13O2xm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-09-2024</span>
    <a href="https://www.doubledowncasino.com/?lobby=slotsAll&pid=Z24FCWZ&cid=159582&a_l_skey=sh-0-IR-BRZE16xwg7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-06-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.pomodoroGusto2411.466.recommend.pid-UQ2WKQF.cid-159382&game=rgs.slots&variant=duc.pomodoroGusto2411.466_recommend&lineCost=1&pid=UQ2WKQF&cid=159382https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.pomodoroGusto2411.466.recommend.pid-UQ2WKQF.cid-159382&game=rgs.slots&variant=duc.pomodoroGusto2411.466_recommend&lineCost=1&pid=UQ2WKQF&cid=159382" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-06-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.buffaloBash2110.343.recommend.pid-8KGMBEQ.cid-159410&game=rgs.slots&variant=duc.buffaloBash2110.343_recommend&lineCost=1&pid=8KGMBEQ&cid=159410" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-06-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.pomodoroGusto2411.466.recommend.pid-HPQFMUZ.cid-159383&game=rgs.slots&variant=duc.pomodoroGusto2411.466_recommend&lineCost=1&pid=HPQFMUZ&cid=159383" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-06-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.frostysMagicGifts2412.471.recommend.pid-U3EIFGF.cid-159407&game=rgs.slots&variant=t8g.frostysMagicGifts2412.471_recommend&lineCost=1&pid=U3EIFGF&cid=159407" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-06-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.rollingInMoreGold1910.249.recommend.pid-ZMQM6BS.cid-159381&game=rgs.slots&variant=t8g.rollingInMoreGold1910.249_recommend&lineCost=1&pid=ZMQM6BS&cid=159381" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-06-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=duc.clownsBonusBash2408.462&lineCost=1&pid=OGWW6XP&cid=158834&a_l_skey=sh-0-JD-BRYMMrIHVe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-06-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=t8g.hipHopHogs2202.353_recommend&lineCost=1&pid=9L4BO1O&cid=158836&a_l_skey=sh-0-Jh-BRYMMsCFZb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-06-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=t8g.frostysMagicGifts2412.471_recommend&lineCost=1&pid=BXLXUAU&cid=158792&a_l_skey=sh-0-LR-BRYMMuTyYb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-06-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=t8g.gingerbreadDreams2204.362&lineCost=1&pid=3ZPMYSA&cid=158835&a_l_skey=sh-0-Nd-BRYMMxNU9w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-05-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.buffaloBash2110.343.recommend.pid-GGI1Z93.cid-159379&game=rgs.slots&variant=duc.buffaloBash2110.343_recommend&lineCost=1&pid=GGI1Z93&cid=159379" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-05-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.the7GiftsOfChristmas2212.391.recommend.pid-H4NHLCM.cid-159409&game=rgs.slots&variant=t8g.the7GiftsOfChristmas2212.391_recommend&lineCost=1&pid=H4NHLCM&cid=159409" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-05-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.buffaloBash2110.343.recommend.pid-7BCSHTC.cid-159406&game=rgs.slots&variant=duc.buffaloBash2110.343_recommend&lineCost=1&pid=7BCSHTC&cid=159406" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-05-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.frostysMagicGifts2412.471.recommend.pid-XRTWMNM.cid-159405&game=rgs.slots&variant=t8g.frostysMagicGifts2412.471_recommend&lineCost=1&pid=XRTWMNM&cid=159405" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-05-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.the7GiftsOfChristmas2212.391.recommend.pid-IXF4U7J.cid-159404&game=rgs.slots&variant=t8g.the7GiftsOfChristmas2212.391_recommend&lineCost=1&pid=IXF4U7J&cid=159404" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-05-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=t8g.frostysMagicGifts2412.471_recommend&lineCost=1&pid=HGKUWSZ&cid=158791&a_l_skey=sh-0-Gi-BRX3aSUfzF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-04-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=seq.mbDaVinciDiamonds2004.264&lineCost=1&pid=0SUHE54&cid=158945&a_l_skey=sh-0-LS-BRXrZQlCpd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-05-2024</span>
    <a href="https://www.doubledowncasino.com/?lobby=megabucks&pid=UIWFI7A&cid=158827&a_l_skey=sh-0-IS-BRX3aV6h47" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-05-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=t8g.frostysMagicGifts2412.471_recommend&lineCost=1&pid=Z7XS2FL&cid=158790&a_l_skey=sh-0-JQ-BRX3aYstyN" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-04-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot-shop.pid-LFIED2F.cid-159571&lobby=casinoLobby-shop&pid=LFIED2F&cid=159571" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-04-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.balloonFever2407.461.recommend.pid-ZLCKU1D.cid-159402&game=rgs.slots&variant=duc.balloonFever2407.461_recommend&lineCost=1&pid=ZLCKU1D&cid=159402" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-04-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.pomodoroGusto2411.466.recommend.pid-TYMWLCW.cid-159375&game=rgs.slots&variant=duc.pomodoroGusto2411.466_recommend&lineCost=1&pid=TYMWLCW&cid=159375" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-04-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-hot-shop.pid-SBQPNLF.cid-159570&lobby=casinoLobby-shop&pid=SBQPNLF&cid=159570" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-04-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.rollingInMoreGold1910.249.recommend.pid-NSUIJOL.cid-158967&game=rgs.slots&variant=t8g.rollingInMoreGold1910.249_recommend&lineCost=1&pid=NSUIJOL&cid=158967" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-04-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=t8g.winterWonderTrain2012.295&lineCost=1&pid=R9GBREG&cid=158942&a_l_skey=sh-0-MG-BRXrZRq6wV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-04-2024</span>
    <a href="https://www.doubledowncasino.com/?lobby=megabucks&pid=W4KRIRA&cid=157934&a_l_skey=sh-0-Nw-BRXrZULSd5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-04-2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=t8g.prairieKing2411.475&lineCost=1&pid=DH8EGCR&cid=158943&a_l_skey=sh-0-PM-BRXrZWDzWi" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleDown Casino Chips 12-02-2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.flamingBingoRiches2409.456.recommend.pid-NDE7UA0.cid-158969&game=rgs.slots&variant=t8g.flamingBingoRiches2409.456_recommend&lineCost=1&pid=NDE7UA0&cid=158969" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>