<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 10-12-2024</span>
    <a href="https://duc.link/ChipsOt11e3c7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 10-11-2024</span>
    <a href="https://duc.link/FreeChipsOt101f0v8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 10-11-2024</span>
    <a href="https://duc.link/WstoreFcOc10y6t8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 10-10-2024</span>
    <a href="https://duc.link/FreeChipsOc09m7A0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 10-10-2024</span>
    <a href="https://duc.link/FreeChipsOc09E7p1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 10-09-2024</span>
    <a href="https://duc.link/ChipsOc08e3c7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 10-09-2024</span>
    <a href="https://duc.link/FreeChipsOct08a8z2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 10-08-2024</span>
    <a href="https://duc.link/FreeChipsOct07a3f9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 10-08-2024</span>
    <a href="https://duc.link/FreeChipsOct07r9m8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 10-07-2024</span>
    <a href="https://duc.link/FreeChipsOCt061f0v8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 10-07-2024</span>
    <a href="https://duc.link/FreeChipsOct06f8e2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 10-06-2024</span>
    <a href="https://duc.link/insta_0kvb6i" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 10-06-2024</span>
    <a href="https://duc.link/FreeChipsOct05f8a2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 10-05-2024</span>
    <a href="https://duc.link/FreeChipsOct04s3c9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 10-04-2024</span>
    <a href="https://duc.link/insta_0v4rmj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 10-04-2024</span>
    <a href="https://duc.link/FreeChipsOCt031f0v8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 10-04-2024</span>
    <a href="https://duc.link/FreeChipsOct03f8a2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 10-03-2024</span>
    <a href="https://duc.link/FreeChipsOct02r3r4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 10-03-2024</span>
    <a href="https://duc.link/FreeChipsOct02s3c9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 10-03-2024</span>
    <a href="https://duc.link/insta_kf0edn2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 10-02-2024</span>
    <a href="https://duc.link/FreeChipsOt01p9v7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 10-02-2024</span>
    <a href="https://duc.link/FrChIOt01a3b6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 10-01-2024</span>
    <a href="https://duc.link/ChipsSp30s3c9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 10-01-2024</span>
    <a href="https://duc.link/FreeChipsSep30v9n4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-30-2024</span>
    <a href="https://duc.link/FreeChipsSep29y3p9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-30-2024</span>
    <a href="https://duc.link/FreeChipsSp29f8e2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-28-2024</span>
    <a href="https://duc.link/FreeChipsSp27i4a0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-27-2024</span>
    <a href="https://duc.link/FreeChipsSp26s8c2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-27-2024</span>
    <a href="https://duc.link/FreeChipsSep26y3p9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-26-2024</span>
    <a href="https://duc.link/FreeChipsSep252f4n6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-26-2024</span>
    <a href="https://duc.link/FreeChipsSp25e8a2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-25-2024</span>
    <a href="https://duc.link/FreeChipsSep24d7x0f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-25-2024</span>
    <a href="https://duc.link/FrChSep24a3b6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-24-2024</span>
    <a href="https://duc.link/FreeChipsSep23s3c9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-24-2024</span>
    <a href="https://duc.link/FreeChipsSp23f0v8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-23-2024</span>
    <a href="https://duc.link/FreeChipsSep22m7Aa0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-23-2024</span>
    <a href="https://duc.link/FreeChipsSep22A4h9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-22-2024</span>
    <a href="https://duc.link/FreeChipsSp21f0v8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-22-2024</span>
    <a href="https://duc.link/FreeChipsSep21s3c9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-21-2024</span>
    <a href="https://duc.link/insta_e2cjw1ck" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-21-2024</span>
    <a href="https://duc.link/insta_u2t0ecja" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-21-2024</span>
    <a href="https://duc.link/FreeChipsSep20s3c9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-20-2024</span>
    <a href="https://duc.link/FreeChipsSp19f8e2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-20-2024</span>
    <a href="https://duc.link/FreeChipsSep19m8y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-19-2024</span>
    <a href="https://duc.link/FreeChipsSp18f0v8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-19-2024</span>
    <a href="https://duc.link/FreeCihpsSp18i4v8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-18-2024</span>
    <a href="https://duc.link/FreeChipsSp17h1v0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-18-2024</span>
    <a href="https://duc.link/FreeChipsSp17x4r9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-17-2024</span>
    <a href="https://duc.link/FreeChipsSp16f8e2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-16-2024</span>
    <a href="https://duc.link/FreeChipsSep15f0v8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-16-2024</span>
    <a href="https://duc.link/FreeChipsSep15nw8x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-15-2024</span>
    <a href="https://duc.link/insta_spin15hcx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-15-2024</span>
    <a href="https://duc.link/FreeChipsSep14s0k3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-15-2024</span>
    <a href="https://duc.link/FreeChipsSep14s3c9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-15-2024</span>
    <a href="https://duc.link/insta_k1cjwio4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-14-2024</span>
    <a href="https://duc.link/FreeChipsSep13a8f2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-13-2024</span>
    <a href="https://duc.link/FreeChipsSep12f0v8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-13-2024</span>
    <a href="https://duc.link/FreeChipsSep12s3c9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-12-2024</span>
    <a href="https://duc.link/FreeSpinsSep11u7m0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-12-2024</span>
    <a href="https://duc.link/FreeChipsSep11a3f9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-11-2024</span>
    <a href="https://duc.link/FreeSpinsSep10a9y5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-11-2024</span>
    <a href="https://duc.link/FreeChipsSep10a8f2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-10-2024</span>
    <a href="https://duc.link/FreeSpinsSep09y1u9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-10-2024</span>
    <a href="https://duc.link/FreeChipsSep09d9a3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-09-2024</span>
    <a href="https://duc.link/FreeSpinsSep089j1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-08-2024</span>
    <a href="https://duc.link/insta_spin08emc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-08-2024</span>
    <a href="https://duc.link/FreeChipsSep08s3c9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-08-2024</span>
    <a href="https://duc.link/FreeSpinsSep07h7s1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-08-2024</span>
    <a href="http://duc.link/x0907uet" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-07-2024</span>
    <a href="https://duc.link/FreeChipsSep07b5h9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-07-2024</span>
    <a href="https://duc.link/insta_e0dc7qcx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-07-2024</span>
    <a href="https://duc.link/GrandSpinsSep06f9s3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-07-2024</span>
    <a href="https://duc.link/ChipsSep06e3c7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-06-2024</span>
    <a href="https://duc.link/TourneyChipsSep06y8c0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-06-2024</span>
    <a href="https://duc.link/insta_0qe6bcv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-06-2024</span>
    <a href="https://duc.link/FreeSpinsSep051e9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-06-2024</span>
    <a href="https://duc.link/FreeChipsSep05a8f2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-05-2024</span>
    <a href="https://duc.link/insta_q0c4evfc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-05-2024</span>
    <a href="https://duc.link/FreeSpinsSep04e1t5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-05-2024</span>
    <a href="https://duc.link/WstoreFCSep04e1t8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-03-2024</span>
    <a href="https://duc.link/FreeChipsSep03a8f2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-03-2024</span>
    <a href="https://duc.link/FreeSpinsSep02s2o1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-03-2024</span>
    <a href="https://duc.link/GiganticChipsSep02i7nb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-02-2024</span>
    <a href="https://duc.link/FreeSpinsSep01y2r7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-02-2024</span>
    <a href="http://duc.link/x0901uiy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 09-02-2024</span>
    <a href="https://duc.link/FreeChipsSep01s3c9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 08-31-2024</span>
    <a href="https://duc.link/FreeChipsAug31c2u7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 08-31-2024</span>
    <a href="https://duc.link/GrandSpinsAug30o3v9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 08-31-2024</span>
    <a href="https://duc.link/ChipsAug30s3c9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 08-30-2024</span>
    <a href="https://duc.link/JpTourneyAug30c8k3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 08-30-2024</span>
    <a href="http://duc.link/x0829ikd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 08-30-2024</span>
    <a href="https://duc.link/GrandSpinsAug29v9k3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 08-29-2024</span>
    <a href="https://duc.link/FreeChipsAug29a8f2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 08-29-2024</span>
    <a href="https://duc.link/wStore3rdUdA6Aug29sck" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 08-29-2024</span>
    <a href="https://duc.link/FreeSpinsAug28u7m0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 08-28-2024</span>
    <a href="https://duc.link/FreeCihpsAug28a5s7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 08-28-2024</span>
    <a href="https://duc.link/GrandSpinsAug27o9r4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 08-26-2024</span>
    <a href="https://duc.link/insta_ck2ehv5q" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 08-26-2024</span>
    <a href="https://duc.link/GrandSpinsAug25t6b0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 08-26-2024</span>
    <a href="http://duc.link/x0825uec" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>