<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-18-2025</span>
    <a href="https://duc.link/insta_spin17uenv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-18-2025</span>
    <a href="https://duc.link/FreeChipsJa17s0k3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-17-2025</span>
    <a href="https://duc.link/FreeChipsJan16ejdglejdd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-17-2025</span>
    <a href="https://duc.link/FreeChipsJa16p5z9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-17-2025</span>
    <a href="https://duc.link/FreeChipsJa16iv3s" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-16-2025</span>
    <a href="https://duc.link/insta_15wjcne" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-16-2025</span>
    <a href="https://duc.link/FreeChipsJa15h8f1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-16-2025</span>
    <a href="https://duc.link/FreeChipsJa15f9v8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-15-2025</span>
    <a href="https://duc.link/FreeChipsJa14f0v8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-15-2025</span>
    <a href="https://duc.link/FreeChipsJa14a4h9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-14-2025</span>
    <a href="https://duc.link/FreeChipsJa132f4n6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-14-2025</span>
    <a href="https://duc.link/FreeChipsJa13r9m8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-13-2025</span>
    <a href="https://duc.link/FreeChipsJa12f0v8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-13-2025</span>
    <a href="https://duc.link/FreeChipsJa12a1b9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-12-2025</span>
    <a href="https://duc.link/FreeChipsJa11i4a0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-12-2025</span>
    <a href="https://duc.link/FreeChipsJa11ec0k" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-11-2025</span>
    <a href="https://duc.link/insta_spin10unc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-11-2025</span>
    <a href="https://duc.link/FreeChipsJa10v8g9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-10-2025</span>
    <a href="https://duc.link/FreeChipsJa096s7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-10-2025</span>
    <a href="https://duc.link/FreeChipsJa09i6v0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-09-2025</span>
    <a href="https://duc.link/FreeChipJa08a7z5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-09-2025</span>
    <a href="https://duc.link/FreeChipsJa08v8g9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-08-2025</span>
    <a href="https://duc.link/FreeChipsJa071f0v8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-08-2025</span>
    <a href="https://duc.link/FreeChipsJa07x7b9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-07-2025</span>
    <a href="https://duc.link/insta_06ehczk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-07-2025</span>
    <a href="https://duc.link/FreeChipsJan06f9ld" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-07-2025</span>
    <a href="https://duc.link/FreeChipsJan06b7vf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-05-2025</span>
    <a href="https://duc.link/FreeChipsJa042f4n6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-05-2025</span>
    <a href="https://duc.link/FreeChipsJa04f9s1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-05-2025</span>
    <a href="https://duc.link/insta_spin03wucnd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-04-2025</span>
    <a href="https://duc.link/FreeChipsJa03k7v2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-03-2025</span>
    <a href="https://duc.link/FreeChipsJa02a1b9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-03-2025</span>
    <a href="https://duc.link/FreeChipsJa02n4p9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-02-2025</span>
    <a href="https://duc.link/insta_01sjqdtkf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-02-2025</span>
    <a href="https://duc.link/FreeChipsJa01a7f9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-02-2025</span>
    <a href="https://duc.link/FreeChipsDcJa01a4f6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-01-2025</span>
    <a href="https://duc.link/FreeChipsDc31r3r4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 01-01-2025</span>
    <a href="https://duc.link/FreeChipsDc31k3a1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-31-2024</span>
    <a href="https://duc.link/FreeChipsDc30v9n4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-31-2024</span>
    <a href="https://duc.link/FreeChipsDc30u3d9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-30-2024</span>
    <a href="https://duc.link/FreeChipsDc291f0v8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-30-2024</span>
    <a href="https://duc.link/FreeChipsDc29y5g1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-29-2024</span>
    <a href="https://duc.link/FreeChipsDc28e9n1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-29-2024</span>
    <a href="https://duc.link/FreeChipsDc28k3a1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-28-2024</span>
    <a href="https://duc.link/insta_spin27whd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-28-2024</span>
    <a href="https://duc.link/FreeChipDc27a7z5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-27-2024</span>
    <a href="https://duc.link/FcDc26z8w7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-27-2024</span>
    <a href="https://duc.link/FreeChipsDc26s3k7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-26-2024</span>
    <a href="https://duc.link/insta_25eicheq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-26-2024</span>
    <a href="https://duc.link/FreeChipsDc25dz2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-26-2024</span>
    <a href="https://duc.link/FreeChipsDc25e9n1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-25-2024</span>
    <a href="https://duc.link/FreeChipsDc24j7n0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-25-2024</span>
    <a href="https://duc.link/FreeChipDc24j9b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-24-2024</span>
    <a href="https://duc.link/insta_23wjcgja" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-24-2024</span>
    <a href="https://duc.link/FreeChipsDc23j9n3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-24-2024</span>
    <a href="https://duc.link/FreeChipsDc23nm8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-23-2024</span>
    <a href="https://duc.link/FreeChipsDc22s3k8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-23-2024</span>
    <a href="https://duc.link/FreeChipsDcv8k3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-22-2024</span>
    <a href="https://duc.link/FreeChipsDc21jk3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-22-2024</span>
    <a href="https://duc.link/FreeChipsDc21pe9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-21-2024</span>
    <a href="https://duc.link/FreeChipsDc20s9n0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-21-2024</span>
    <a href="http://duc.link/x1220hgx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-21-2024</span>
    <a href="https://duc.link/insta_spin20knch" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-20-2024</span>
    <a href="https://duc.link/FreeChipsDc19dz2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-20-2024</span>
    <a href="https://duc.link/insta_18icbzt" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-20-2024</span>
    <a href="https://duc.link/FreeChipsDc19nm8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-19-2024</span>
    <a href="https://duc.link/FreeChipsDc18f7v9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-19-2024</span>
    <a href="https://duc.link/FreeChipsDc18f9v8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-18-2024</span>
    <a href="https://duc.link/FreeChipsDc17i6v0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-18-2024</span>
    <a href="https://duc.link/FreeChipsDc17y7t8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-17-2024</span>
    <a href="https://duc.link/insta_16whgms" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-17-2024</span>
    <a href="https://duc.link/FreeChipsDec16uehgttv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-17-2024</span>
    <a href="https://duc.link/FreeChipsDc16f0v8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-17-2024</span>
    <a href="https://duc.link/FreeChipsDc16j7n0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-17-2024</span>
    <a href="https://duc.link/FreeChipsDc15v9q" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-17-2024</span>
    <a href="https://duc.link/FreeChipDc15ea2t" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-17-2024</span>
    <a href="https://duc.link/FreeChipsDc14j9n3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-17-2024</span>
    <a href="https://duc.link/GiveawayDc14sj9mc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-14-2024</span>
    <a href="https://duc.link/FreeChipsDc13j7n0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-14-2024</span>
    <a href="http://duc.link/x1213rxqv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-14-2024</span>
    <a href="https://duc.link/FreeChipsDec12wjdjgcljv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-14-2024</span>
    <a href="https://duc.link/insta_13pqnxc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-13-2024</span>
    <a href="https://duc.link/FreeChipsDc12p8n1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-13-2024</span>
    <a href="https://duc.link/FreeChipsNv122f4n6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-12-2024</span>
    <a href="https://duc.link/insta_spin11dhev" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-12-2024</span>
    <a href="https://duc.link/FreeChipsDc11k7v2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-12-2024</span>
    <a href="https://duc.link/FreeChipsDc11c8x0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-11-2024</span>
    <a href="https://duc.link/FreeChipsDc10p8n1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-11-2024</span>
    <a href="https://duc.link/FreeCihpsDc10e4a6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-10-2024</span>
    <a href="https://duc.link/FreeChipsDc09e7n3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-10-2024</span>
    <a href="https://duc.link/insta_09dncke" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-10-2024</span>
    <a href="https://duc.link/FreeChipsDc091f0v8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-09-2024</span>
    <a href="https://duc.link/FrChDc08a3b6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-09-2024</span>
    <a href="https://duc.link/FreeChipDc08a7z5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-08-2024</span>
    <a href="https://duc.link/FreeChipsDc07s9n0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-08-2024</span>
    <a href="https://duc.link/FreeChipsDc07b5h9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-08-2024</span>
    <a href="https://duc.link/insta_07wncbvi" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-07-2024</span>
    <a href="https://duc.link/insta_06ubcejk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-07-2024</span>
    <a href="https://duc.link/FreeChipsDc06f9e4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>DoubleU Casino Chips 12-06-2024</span>
    <a href="https://duc.link/FreeChipsDc05f0v8" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>