<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 8, 2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.megaPiggySmash2404.444.recommend.pid-I1BDVQ0.cid-155011&game=rgs.slots&variant=duc.megaPiggySmash2404.444_recommend&lineCost=1&pid=I1BDVQ0&cid=155011" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 8, 2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.caribbeanKittyMegaBomb1911.250.recommend.pid-WCUQBGI.cid-155015&game=rgs.slots&variant=t8g.caribbeanKittyMegaBomb1911.250_recommend&lineCost=1&pid=WCUQBGI&cid=155015" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 8, 2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.superPiggyJackpots2004.262.recommend.pid-HSJKONS.cid-155009&game=rgs.slots&variant=t8g.superPiggyJackpots2004.262_recommend&lineCost=1&pid=HSJKONS&cid=155009" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 8, 2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.hipHopHogsPartyNight2404.455.recommend.pid-WFCAZFD.cid-155010&game=rgs.slots&variant=t8g.hipHopHogsPartyNight2404.455_recommend&lineCost=1&pid=WFCAZFD&cid=155010" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 8, 2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.pearlDiversFortune2407.468.recommend.pid-LR3OFLT.cid-154990&game=rgs.slots&variant=t8g.pearlDiversFortune2407.468_recommend&lineCost=1&pid=LR3OFLT&cid=154990" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 8, 2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.hipHopHogs2202.353.recommend.pid-OHPDMFW.cid-155008&game=rgs.slots&variant=t8g.hipHopHogs2202.353_recommend&lineCost=1&pid=OHPDMFW&cid=155008" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 8, 2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.megaPiggySmash2404.444.recommend.pid-LPYB0IE.cid-155007&game=rgs.slots&variant=duc.megaPiggySmash2404.444_recommend&lineCost=1&pid=LPYB0IE&cid=155007" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 8, 2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=duc.buffaloBash2110.343&lineCost=1&pid=RTDPMNI&cid=155090&a_l_skey=sh-0-CD-BQ4uU49Kr1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 8, 2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=seq.mbDaVinciDiamonds2004.264&lineCost=1&pid=WQPYOME&cid=155093&a_l_skey=sh-0-Kv-BQ4uVGZu3V" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 8, 2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=t8g.pearlDiversFortune2407.468&lineCost=1&pid=WPGGCYF&cid=155091&a_l_skey=sh-0-j-BQ4uVOpFV8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 8, 2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=rgs.cleopatra_recommend&lineCost=500&pid=UE7JO0N&cid=155089&a_l_skey=sh-0-HD-BQ4uVY0wmg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 6, 2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.megaPiggySmash2404.444.recommend.pid-0AQDIJV.cid-155004&game=rgs.slots&variant=duc.megaPiggySmash2404.444_recommend&lineCost=1&pid=0AQDIJV&cid=155004" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 6, 2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.cleopatra.recommend.pid-9PQD4WE.cid-155002&game=rgs.slots&variant=rgs.cleopatra_recommend&lineCost=500&pid=9PQD4WE&cid=155002" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 6, 2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.luckyLarrysLobstermania2Multiway.recommend.pid-4KB28VW.cid-155001&game=rgs.slots&variant=rgs.luckyLarrysLobstermania2Multiway_recommend&lineCost=200&pid=4KB28VW&cid=155001" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 6, 2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.buffaloBash2110.343.recommend.pid-WR5YCWD.cid-155000&game=rgs.slots&variant=duc.buffaloBash2110.343_recommend&lineCost=1&pid=WR5YCWD&cid=155000" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 6, 2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=seq.mbDoubleDiamondDeluxe1904.204&lineCost=1&pid=21KUH8S&cid=154980&a_l_skey=sh-0-BB-BQ4ZbvpqEe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 6, 2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=duc.balloonFever2407.461&lineCost=1&pid=UH4WXVA&cid=154953&a_l_skey=sh-0-Fa-BQ4Zb3vTu7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 6, 2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=t8g.piratesJewelMatch2405.460&lineCost=1&pid=S05CVA8&cid=154978&a_l_skey=sh-0-Jo-BQ4ZcC251I" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 6, 2024</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=rgs.daVinciDiamonds_recommend&lineCost=500&pid=T1PTTK0&cid=154977&a_l_skey=sh-0-Nc-BQ4ZcJw889" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 5, 2024</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=5BRCHJL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 5, 2024</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=Y63HIVX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 5, 2024</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=CHMK8ZO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 5, 2024</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=JLST1Z2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 5, 2024</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=DMVRWHH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 5, 2024</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=0VEE6AP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 5, 2024</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=I3HM9BI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 5, 2024</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=HYFLHGB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 5, 2024</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=BZQPLNP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 5, 2024</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=Y4YTZE8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 5, 2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-all.pid-NSVBYNX.cid-154839&lobby=slotsAll&pid=NSVBYNX&cid=154839" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 5, 2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.rollingInMoreGold1910.249.recommend.pid-RKKEBDR.cid-154835.&game=rgs.slots&variant=t8g.rollingInMoreGold1910.249_recommend&lineCost=1&pid=RKKEBDR&cid=154835" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 5, 2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.wildHoneyJackpot2101.300.recommend.pid-ZVAAHPJ.cid-154834.&game=rgs.slots&variant=t8g.wildHoneyJackpot2101.300_recommend&lineCost=1&pid=ZVAAHPJ&cid=154834" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 5, 2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.megaPiggySmash2404.444.recommend.pid-1GHPESZ.cid-154833.&game=rgs.slots&variant=duc.megaPiggySmash2404.444_recommend&lineCost=1&pid=1GHPESZ&cid=154833" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 5, 2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.majesticBlue2111.339.recommend.pid-B31EBKI.cid-154832.&game=rgs.slots&variant=t8g.majesticBlue2111.339_recommend&lineCost=1&pid=B31EBKI&cid=154832" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 5, 2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.luckyLarrysLobstermania2Multiway.recommend.pid-FZTUR7M.cid-154828.&game=rgs.slots&variant=rgs.luckyLarrysLobstermania2Multiway_recommend&lineCost=200&pid=FZTUR7M&cid=154828" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 5, 2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.rasEternalGlory2401.437.recommend.pid-I6KGQEZ.cid-154827.&game=rgs.slots&variant=t8g.rasEternalGlory2401.437_recommend&lineCost=1&pid=I6KGQEZ&cid=154827" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 5, 2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.cleopatra.recommend.pid-WD74N1N.cid-154826.&game=rgs.slots&variant=rgs.cleopatra_recommend&lineCost=500&pid=WD74N1N&cid=154826" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 5, 2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.gloriousHoney2402.440.recommend.pid-C7D1KGO.cid-154825.&game=rgs.slots&variant=t8g.gloriousHoney2402.440_recommend&lineCost=1&pid=C7D1KGO&cid=154825" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 5, 2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.rollingInMoreGold1910.249.recommend.pid-IXJWJQV.cid-154818.&game=rgs.slots&variant=t8g.rollingInMoreGold1910.249_recommend&lineCost=1&pid=IXJWJQV&cid=154818" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 5, 2024</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.megaPiggySmash2404.444.recommend.pid-9JKGXJP.cid-154787.&game=rgs.slots&variant=duc.megaPiggySmash2404.444_recommend&lineCost=1&pid=9JKGXJP&cid=154787" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.hipHopHogs2202.353.recommend.pid-KRI4NTE.cid-154784.&game=rgs.slots&variant=t8g.hipHopHogs2202.353_recommend&lineCost=1&pid=KRI4NTE&cid=154784" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.superPiggyJackpots2004.262.recommend.pid-EAKUJR7.cid-154785.&game=rgs.slots&variant=t8g.superPiggyJackpots2004.262_recommend&lineCost=1&pid=EAKUJR7&cid=154785" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.hipHopHogsPartyNight2404.455.recommend.pid-OK7V8FK.cid-154786.&game=rgs.slots&variant=t8g.hipHopHogsPartyNight2404.455_recommend&lineCost=1&pid=OK7V8FK&cid=154786" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.superPiggyJackpots2004.262.recommend.pid-PIIUOHR.cid-154789.&game=rgs.slots&variant=t8g.superPiggyJackpots2004.262_recommend&lineCost=1&pid=PIIUOHR&cid=154789" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.megaPiggySmash2404.444.recommend.pid-ZH5GHCD.cid-154890&game=rgs.slots&variant=duc.megaPiggySmash2404.444_recommend&lineCost=1&pid=ZH5GHCD&cid=154890&cid=154890&mkt_tok=NDI2LVpCRy0zOTQAAAGUra7SZw_o5vjCYA5bE254HEThUdmtVSwzzzFtHmpIQgwXfufAhrkIbYHjsRsp3Mm11lDwT9YBsx8bipCY7m880oBB5KlARpHJtu2-tZfbE3AyGw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.fabulousFreedomJackpot2407.447.pid-YQVZBVJ.cid-154960&game=rgs.slots&variant=t8g.fabulousFreedomJackpot2407.447&lineCost=1&pid=YQVZBVJ&cid=154960&cid=154960&mkt_tok=NDI2LVpCRy0zOTQAAAGUrlKDZ3JA71y2DHU_aqCvZCsdcnnEUEjzcp2QGXuY9UigVTnwDYshDGya41I5RC_BHLEOb1E_FspePxqh7Kiy-CPV-IqrJuXoF29fuHDEwokQvQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-all.pid-KHW0UT7.cid-154961&lobby=slotsAll&pid=KHW0UT7&cid=154961&cid=154961&mkt_tok=NDI2LVpCRy0zOTQAAAGUrved5pMX7M_7rgEmQIeLl9ArAUZ4T4QEMTJeqKDxVRVSb8CMCi8on2bg4pD6pPuoSzHUHK0eEvDUxfN_JyA2Rt-6inL-jKREx1DL0wBT1qTK0Q" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.megaPiggySmash2404.444.recommend.pid-PI1WONT.cid-154891&game=rgs.slots&variant=duc.megaPiggySmash2404.444_recommend&lineCost=1&pid=PI1WONT&cid=154891&cid=154891&mkt_tok=NDI2LVpCRy0zOTQAAAGUr5v6bdNrxGbh-W9t1NIqjmVmUQuN5o_7MypMiTFDJV-0J1CpVEPM2Wx4uFm-vJuyogiTTmtoUOLhGxMRcyXu3pLedX1y99weFoYTRpklf8MJ_A" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.gloriousHoney2402.440.recommend.pid-HB1DLNX.cid-154810.&game=rgs.slots&variant=t8g.gloriousHoney2402.440_recommend&lineCost=1&pid=HB1DLNX&cid=154810" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.blackChipJackpot2401.453.recommend.pid-QWI4TGQ.cid-154808.&game=rgs.slots&variant=duc.blackChipJackpot2401.453_recommend&lineCost=1&pid=QWI4TGQ&cid=154808" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.elegantFortuneJackpot2405.436.recommend.pid-8AUIP7M.cid-154807.&game=rgs.slots&variant=t8g.elegantFortuneJackpot2405.436_recommend&lineCost=1&pid=8AUIP7M&cid=154807" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.wildHoneyJackpot2101.300.recommend.pid-PPBLYX6.cid-154806.&game=rgs.slots&variant=t8g.wildHoneyJackpot2101.300_recommend&lineCost=1&pid=PPBLYX6&cid=154806" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino.com/?lobby=megabucks&pid=XFQBKGT&cid=154957&a_l_skey=sh-0-On-BQ3Ku0pmfN" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=t8g.rollingInMoreGold1910.249_recommend&lineCost=1&pid=W6WHU4N&cid=154958&a_l_skey=sh-0-IN-BQ3KvE6vd4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=t8g.wildHoneyJackpot2101.300&lineCost=1&pid=25FXBDQ&cid=154956&a_l_skey=sh-0-Pf-BQ3KvO8bVV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=duc.buffaloBash2110.343_recommend&lineCost=1&pid=QAECBHZ&cid=154955&a_l_skey=sh-0-JL-BQ3KvanOt0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.balloonFever2407.461.recommend.pid-YTTG0Q7.cid-154801&game=rgs.slots&variant=duc.balloonFever2407.461_recommend&lineCost=1&pid=YTTG0Q7&cid=154801" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.wildHoneyJackpot2101.300.recommend.pid-HGZJFME.cid-154817.&game=rgs.slots&variant=t8g.wildHoneyJackpot2101.300_recommend&lineCost=1&pid=HGZJFME&cid=154817" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.cleopatra.recommend.pid-B6R5C60.cid-154800.&game=rgs.slots&variant=rgs.cleopatra_recommend&lineCost=500&pid=B6R5C60&cid=154800" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.luckyLarrysLobstermania2Multiway.recommend.pid-Q7TXDIC.cid-154799.&game=rgs.slots&variant=rgs.luckyLarrysLobstermania2Multiway_recommend&lineCost=200&pid=Q7TXDIC&cid=154799" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.megaPiggySmash2404.444.pid-B8OWF5Z.cid-154951&game=rgs.slots&variant=duc.megaPiggySmash2404.444&lineCost=1&pid=B8OWF5Z&cid=154951&cid=154951&mkt_tok=NDI2LVpCRy0zOTQAAAGUpU89CqKxu2c0E9WObqpPVjLyDu0i0HF5-zUmHGDWTyLjHgc5jHOzH2YY8ik_K161F5VKoOm5qpYvG1MorNSFCodKK-WENfY2TYS9y5UoH2-6lg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino.com/?lobby=slotsAll&pid=WHDPK0Z&cid=154982&a_l_skey=sh-0-PW-BQ24xIAGAg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=duc.balloonFever2407.461_recommend&lineCost=1&pid=WD9J8PZ&cid=154968&a_l_skey=sh-0-JC-BQ24xSak9h" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=rgs.cleopatra_recommend&lineCost=500&pid=D8AQXGG&cid=154950&a_l_skey=sh-0-De-BQ24xd4W2h" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=FPXT5MD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=EFA9RQ7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=2FDSB9D" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=TK7VRDF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=QELT2AS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=BEJZRJZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=R1UMRGK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=WI7GGCY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=JEMVDSE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=WTPKCAQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=3LQZVGG" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=XNYFSXB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=YIRJ3NS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=E65NS0V" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=J4C14EP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=549LIDO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?&pid=WMGF6K7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.magicalOrb2110.338.recommend.pid-NRN1PG1.cid-154769.&game=rgs.slots&variant=t8g.magicalOrb2110.338_recommend&lineCost=1&pid=NRN1PG1&cid=154769" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.caribbeanKittyMegaBomb1911.250.recommend.pid-YJ1PI3R.cid-154768.&game=rgs.slots&variant=t8g.caribbeanKittyMegaBomb1911.250_recommend&lineCost=1&pid=YJ1PI3R&cid=154768" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.cheshiresMagicMayhem2309.421.recommend.pid-ILBLXXA.cid-154767.&game=rgs.slots&variant=t8g.cheshiresMagicMayhem2309.421_recommend&lineCost=1&pid=ILBLXXA&cid=154767" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?link=LOBBY.category-all.pid-GRVFNB0.cid-154762&lobby=slotsAll&pid=GRVFNB0&cid=154762" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?link=category-hot-shop.pid-ICSYTX2.cid-154729&lobby=casinoLobby-shop&pid=ICSYTX2&cid=154729" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.duc.ocean7772204.359.recommend.pid-QDZHNJB.cid-154756.&game=rgs.slots&variant=duc.ocean7772204.359_recommend&lineCost=1&pid=QDZHNJB&cid=154756" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?link=category-hot-shop.pid-1XTBDR7.cid-154728&lobby=casinoLobby-shop&pid=1XTBDR7&cid=154728" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.texasOilRush2407.452.recommend.pid-EFVJTCL.cid-154724.&game=rgs.slots&variant=t8g.texasOilRush2407.452_recommend&lineCost=1&pid=EFVJTCL&cid=154724" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.cleopatra.recommend.pid-4EHPXSZ.cid-154754.&game=rgs.slots&variant=rgs.cleopatra_recommend&lineCost=500&pid=4EHPXSZ&cid=154754" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.t8g.rollingInMoreGold1910.249.recommend.pid-M30RFHL.cid-154753.&game=rgs.slots&variant=t8g.rollingInMoreGold1910.249_recommend&lineCost=1&pid=M30RFHL&cid=154753" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?link=category-hot-shop.pid-549LIDO.cid-154731&lobby=casinoLobby-shop&pid=549LIDO&cid=154731" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=seq.mb3x4x5xDoubleTimesPay1904.209&lineCost=1&pid=E65NS0V&cid=154869&a_l_skey=sh-0-FK-BQ16m3MzVf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=t8g.7PigsCoinLink2308.419&lineCost=1&pid=XNYFSXB&cid=154867&a_l_skey=sh-0-PW-BQ16nEogsK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=duc.werewolfWindfall2101.302_recommend&lineCost=1&pid=3LQZVGG&cid=154866&a_l_skey=sh-0-K7-BQ16nR5oOk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino2.com/play?link=SLOTMACHINE.rgs.daVinciDiamonds.recommend.pid-WLE6XGL.cid-154755.&game=rgs.slots&variant=rgs.daVinciDiamonds_recommend&lineCost=500&pid=WLE6XGL&cid=154755" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=duc.cashNStack2406.448&lineCost=1&pid=WTPKCAQ&cid=154864&a_l_skey=sh-0-LQ-BQ1rXe9hTE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino.com/?lobby=slotsAll&pid=JEMVDSE&cid=154865&a_l_skey=sh-0-Dt-BQ1rXqZglK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=duc.hallowinFiesta2405.445&lineCost=1&pid=WI7GGCY&cid=154862&a_l_skey=sh-0-MU-BQ1rX1W6bV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for Invalid Date</span>
    <a href="https://www.doubledowncasino.com/?game=rgs.slots&variant=t8g.wildHoneyJackpot2101.300_recommend&lineCost=1&pid=WKAIVEG&cid=154861&a_l_skey=sh-0-Fh-BQ1rYDMDFR" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>