<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-05-2024</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_qlZsAE6Ti01pBzqJAZPc5y5PkHOZUcI54tPRCA0MCWuTe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-05-2024</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_D115EcW8Dryf0ZkFbfDSHoHfqkOVL79xZ840tKycfgqml" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-05-2024</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_ShDJoflg4hrpu4D3f87A4dTFL3h9jUGD9APN4Gae7U8Bf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-29-2024</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_LA5f4mIJhvn4Lz9gU7I6JyKa4BXpdaQeBa1EmdP8WeYvw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-29-2024</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_6cQJKfzZQRIbia0yIMR28FDbrGvTBTu22FSBhCqDnvwNz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-29-2024</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_ULoWaubbDlcodAKVN7uj4jEF2vZ9Tgu3sXx6czhJ0ju0x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-29-2024</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_ag2lisFDDbCMVN1onnhSf3gd4i3jKJAAf4N8Nol7O5VFy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-29-2024</span>
    <a href="https://zynga.social/t2zq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-28-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/kd0k0we0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-28-2024</span>
    <a href="https://zynga.social/letf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-28-2024</span>
    <a href="https://zynga.social/6q5m" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-27-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/h151qzpe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-26-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/7qad7qx5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-25-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/atz3oxd1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-24-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/jgmagyzv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-23-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/xgfeikhs" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-22-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/51oqgxha" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-20-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/pfiaiz5l" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-19-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/8pmw3rr0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-18-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/t9gfqceo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-16-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/q1f7dwij" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-15-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/8uo7jz3z" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-14-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/zklsrboa" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-13-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/r0e6r8c6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-12-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/qidyagfm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-12-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/1vsskr5v" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-12-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/454a4rwc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-10-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/fodinhgs" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-10-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/ooo88jlc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-09-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/uobznq1r" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-08-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/d83tcbdm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-08-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/yho6bwlt" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-06-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/upj17oxf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-05-2024</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_ikffQjqCFAWodU4nqYo21rPNDqmWTTkNIgDPNQuVIs8Ua" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-05-2024</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_Hi9qGmF1UwkVMvP6ufieAtLzYL81sxTLqsjvKwUgVWIc9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-05-2024</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_MmOYbD10b8sDjk64aXglWvvEBayfNwlUKwGRgK4yhU1B3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-05-2024</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_JblprlOGI89WefcHo4mRRMHHwxWZyggVTDXQt17Dl593R" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-05-2024</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_MpKwCfQCu3sC3qUmjuHByqweQ7rM3KDvIzPQ5IvhUobRK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-05-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/io8gla9j" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-04-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/cwjvjfnp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-03-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/j6x6ktq9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-03-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/x2evg80j" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-02-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/bhztajbu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-01-2024</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_ljx1ES7I3YO5Km8PvtT2TAUfOLiZbR0wRVKWuPIj2JKrA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-23-2024</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_BpIT5cw60uI4zz2zkYXFu99CuB0kzTrMQiThki56SS5tc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-01-2024</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_YVIeDeGqkRrPLUhIK05McFqsaJqCsZLjMWCLieYcWfvdl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-01-2024</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_92Oxz3Oa2Cti2SaPRvSM8lFkEksHR7eviBKzkg7JyqWOL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-01-2024</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_MmYEQL0uiVfJUNq1ARApo9UjLRAzcckzXhyvNPRMhwiht" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-01-2024</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_oc5a8TScVrdGiFGzdQbzbzt47UXGQQTigYqehjHQhFI1t" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-01-2024</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_jgZA1LMW6DcKnPKaRQTQ8IhQYyKTtyP4u3Pjvx2QC3nK6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-01-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/mdgvocss" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 11-01-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/cuba74ua" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-31-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/a4lyctv1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-30-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/8e7nn95s" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-30-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/75tjtprr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-30-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/qcl4zspp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-29-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/oetyrfj9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-28-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/kftbzm96" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-26-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/2llntywk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-25-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/z8edeaj1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-25-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/97map2w5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-24-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/ohr6bpr9?fbclid=PAZXh0bgNhZW0CMTEAAaatW1nctr3_UEpySN2-MzKHfz1nmdVhJTJmK6EZyI6l5I7ptucdS1St-M8_aem_xkPQPxZe1IFfJDBnoN-_ag" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-24-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/g7bcf83i" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-23-2024</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_B9VpVmHZqe3vP7xasKdHrFbOPpi6gPSEkO50iFQQp3fbq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-23-2024</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_TwRD0R74rJUr9RgwcDkYsFmFqFVVeRMXCGEeiBmGET8aZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-23-2024</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_6Oc9ew1xVMn5fxMuLq92e3iVvAnZKChfjGagJpoWi3vFo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-23-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/7b0szo70" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-23-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/u2amp51a" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-22-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/fxptzoqt" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-21-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/yjubdy9d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-19-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/k8a4da0h" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-18-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/ze490sqs" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-18-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/74ujjj25" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-17-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/odcvb6ii" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-16-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/akbtjyp5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-16-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/wy1yveh2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-15-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/fkevouez" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-14-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/l66mrfuv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-13-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/a9mae2jq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-12-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/vgyr5xzk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-12-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/912lg9f1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-11-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/7y4kael8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-10-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/uc6i9uau" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-09-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/hv26jabd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-09-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/s0mljm9w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-08-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/ef2kpp22" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-08-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/vfsjtod1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-07-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/g6wl5zh9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-06-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/5lc9mi42" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-05-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/s3k51fak" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-04-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/klhy65np" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-03-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/thti1f21" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-02-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/hwcrm8ad" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-02-2024</span>
    <a href="https://zynga.social/lka8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 10-01-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/cv5r8x4y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 09-30-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/v8kjykwm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 09-28-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/ifm4tvq6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 09-27-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/wyrvm51v" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 09-27-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/0791uc4o" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Hit It Rich Coins 09-26-2024</span>
    <a href="https://hititrich.onelink.me/wrlL/d1yubido" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>