<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 7, 2024</span>
    <a href="https://zynga.social/8xhs" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 6, 2024</span>
    <a href="https://zynga.social/1jco" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 5, 2024</span>
    <a href="https://zynga.social/7uz5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 5, 2024</span>
    <a href="https://zynga.social/b5ba5e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 5, 2024</span>
    <a href="https://zynga.social/6bb19b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 3, 2024</span>
    <a href="https://zynga.social/798i" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://zynga.social/mz8j" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_zxy0xlh7FUJ9PwzvimJadtSXMGz83XjCmJ689GiLQHwOV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://zynga.social/0d3c60" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://zynga.social/97dcce" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://zynga.social/x75k" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_yaOmKdtT0GL4kJm3kfKRDX2FFPjLanK8EvOtUPus78ol6&fbclid=PAZXh0bgNhZW0CMTEAAaaMxlOMVg7peNVaLeppnzk72NeSzOvSuaBUntdBLlRDy1Qf3CBZz5xzB-Q_aem_c5PcED-zqakdn7NjVHkirA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_7rAHGOZGMTli6Xqvgq8HfdP3CmzTjRTt88OEX7GSMCauy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_pfb37rAKf2m3FFrPVR6IIfSiTdoUdY2to6D7SFBgMDC75" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_q9KRZHRovhpwMnWg31Da1Njp1afAncbVzg7vFTGxFbsj2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_Wp42mQMuS2khsvoc55p0Wtq981Sh9JgkulRQ5AO0GIfE9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_dHLBV5qW3vce1iwmXTs37dD51pDzQp0qrlrJJCFWaZJAQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_j39JRYcjtYuYgU06vfOGJR3ifcHiNswL2qLI9kg4H9CVQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_cQVzkAhjJAIT0Y5QZ6vAcxVCTFEOtRSX8251WiVt93N3Z" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_2VeuaYz5oebk4zHdl1JTYNiIHxP4wwSK32Cgo6cz9GIgv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_Z3zElto6WsG5pic0olmd4hbBY717uf1zq4dZcCWnjrgjY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://zynga.social/018v" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://zynga.social/rhsi" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://zynga.social/6h3n" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_MdXKzr4vgAjEaUcdtaI3ibPQLXKXwKDsPD3wV2O0G3Yl4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_EbxVdlIVuqCcUIyzB1VLdakvLVgBo9VdKP8OmViZindMw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_utGDjBIcMRj2J161T0U2eeVYdp7kic8TDUVtUBKa0osiO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_ajxcWAqKxEbSmHHxfd0mZeShanSV5qyg6lbHxXEmS1nkD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_xDyPlD6rnofOMovbLBOdz6XT9hozYUwwnDRa5rt2jOPMm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://zynga.social/cnls" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://zynga.social/ya14" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://zynga.social/us2g" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_yLQWulu9U6YeGv97bf99MlKh2TWvDwBBeg9XjehpSRf1c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_BI10mEMefb5yUtFfhHjTc8k3eAdDACE4NdfsbZggnxYe1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_Hi9qGmF1UwkVMvP6ufieAtLzYL81sxTLqsjvKwUgVWIc9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_D115EcW8Dryf0ZkFbfDSHoHfqkOVL79xZ840tKycfgqml" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://zynga.social/3enp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://zynga.social/2zc5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://zynga.social/owuu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://zynga.social/d4q5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_Rf76ojCUp0u1s9jSLhGg11LhkVNcnEcgfEDuz43A0A64N" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_Rf76ojCUp0u1s9jSLhGg11LhkVNcnEcgfEDuz43A0A64N&fbclid=PAZXh0bgNhZW0CMTEAAaZYu2eTw2D2tr22u4yp_XIt5SLSPl26ugja87tw7p342dzGfEs8qdtXiJg_aem_EdvotoXfSNM74bQYSr7TiA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://zynga.social/jnnd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://zynga.social/a94p" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://zynga.social/xkce" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_AkGIqB8laJWM8ky8YfneoCqLA7fnkbRNaUVONNWjiEBat" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://zynga.social/ntl9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://zynga.social/3wsg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_NPNF7Xv2CxpneNopXgN6GNs8gtcAhcFsGJvqiUUbGvzfg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_FHvzMQsza5XUbOEdVTUZHSakKIMYRGusTczFB6BCpW7wz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://zynga.social/091792" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://zynga.social/ca9396" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_f6i35LqTyELhzO6U6yijtSXxC5g1fvYFz6enjpgs7YOMg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_fhz5dyCPsjGkJ23ow2EwjiZ7POYsHmVRa6qKsyBWDgscZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_g699dEZBCDGLjPaBQj3IdJYaOdCi7fO6ZHleTSCsr3PiF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_HksA6Wy3a6ROnrgqSBESZpoO4I3RSmwIO9poL1el5skPq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_mzOxTbKkwxnVLljB6zQRlvVuDMxddpVFzwoAZ0O0GcMnx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://zynga.social/b4a64e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_tFdGnQK0A9amFd2CGbEkTh4cNZbCkFoFy8gIIwTcKn8Fy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_z8hsHmMVczcncH5L0WeqItnHOzSsBdmXiUP7f7F31gSNZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_4smsFItq9RalRvajPfMOQU6TggPEUQ3cn0sgciBnUgDOV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_eLl45KOIYKJ8FrqFkb1DSR95bfC8DNhQVSfstRblo4Vff" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_5QfUqPUmgoxGwM7ChwqKWw3r1bGIoMWg82rtZIh6Qh2bz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_dAPRokTljR2K2hMaYTqjV9MlR0FvEOfYFwgAo0zpUrH65" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_wKpwOinHcTyyq3GRabggxsbAuUnTCPDsiZyrQGotZtMW7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://zynga.social/8bfaa6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_Ki5TvjPvqJUGvAUaQnku7DFbmwl4sr9VLhQodV6TPhTVB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_Z54piGnuPT57HtTI2SYhSlVyG5oilpuK5bQJnMWAWBLLl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_BeFgez99nVLL4CiBRPUybuevhLTGV0JuC3rCCiBZg4SNf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://zynga.social/g8uu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_9MYSxk244GxdbtuYCtE2Jf7EcxVbq0IzzzmSy9Vfha6CZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://zynga.social/w7sg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://zynga.social/8ab244" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_pcnfMDtDvbEYlOY1hni9I8BYzLQnB6AU6sNv2bC3fCszF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://zynga.social/om8w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_azrDcpNfrnC753aqJec2iCh0HYLXyMxYPrfkRXmSjySc1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_AftXcZeFSb7H0D7mlFh3X4x7pDAFG1UXTBKyl6gcgkMGF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_fw9cZt2iGcyhJxnYVHsSWoMt19Lf38Wg7PfW7SsrZ0TO9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://zynga.social/wxut" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://zynga.social/spup" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_8l2o4QNv6X1Ew8W6JhB0nB9GAvsm1ObHupwDb91rngFlM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_Gka4x2zXbPdbnYYFajdu8MKWUOHf89SeNWosa6KfxhUP9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://zynga.social/bhbg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://zynga.social/1xgl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_iM4UKBSeR0ZPoI6d3l66b8hqJYG50LrUPPEexSrQ9ZHYC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_fmhzqt72t2Nq8hyfvMeiWmDVs2ir5sWmQUxpBhfRYekY2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_QATOfGOCq5LxOqQD9cKQtGOVJw5TO27rJ4SAwihyGZ2fT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_gzIINudFWu1jDLtxtMdVKF4Ks3Vk9V9ox2havZ1WpSXoQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 3, 2024</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_3kPlv0BscRUA1R0ti1gIP51BiSwt0ZlqZVuM62yP4VEI1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 3, 2024</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_z2vyDjGzVERPQLqqb5J97TIPL897qX3QEngORliKVl2v1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 3, 2024</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_pmESPRAee4rjXompcN5FtKi6yi2vtWf2HV8CiMWL9sza6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 3, 2024</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_b7Rh4yhEtYXoi3F1UJVHjeB9hmBAz1WjPZzzPZzLRNNT3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 3, 2024</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_cjDV7fpD02UqYiFiVgq2uzTDVvsRUp8AUNQYwrHDUuLVZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 3, 2024</span>
    <a href="https://zynga.social/bb5e34" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 3, 2024</span>
    <a href="https://zynga.social/12bd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 3, 2024</span>
    <a href="https://zynga.social/cuzj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 3, 2024</span>
    <a href="https://zynga.social/w58u" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 3, 2024</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_51svspHFMEmuiNCBVBMdSobxUbEFCU1eKILXBaDxSicKF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 3, 2024</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_MmYEQL0uiVfJUNq1ARApo9UjLRAzcckzXhyvNPRMhwiht" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 3, 2024</span>
    <a href="https://web.hititrich.zynga.com/client/mobile_landing.php?sku_key=hir&rewardKey=ilink_oc5a8TScVrdGiFGzdQbzbzt47UXGQQTigYqehjHQhFI1t" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>