<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-24-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D24_07&s_id=1060&deeplink=eyJpZCI6IjczMTVkZTA4LWI0MDEtNDdmOC1iMGMxLTNhZWE2ZTc0M2IxMSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-24-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D23_23&s_id=1060&deeplink=eyJpZCI6IjE5ZTdmZTMwLWFlOGYtNDdhYy04NTIxLWM4NzYzMDQ4NWRiMiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-24-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D23_19&s_id=1060&deeplink=eyJpZCI6ImM5ZmM3MzgyLTZmZDItNDk1NC04ZjdjLWJhOGZjZDgwYzJjZCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-23-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D23_07&s_id=1060&deeplink=eyJpZCI6ImI2MmJjMTc3LWQ0NDUtNGNiNS1hNzdlLTZlYzliZmQ2NDc4YSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-23-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D22_23&s_id=1060&deeplink=eyJpZCI6IjBhYmQ5NjEzLWJiMjAtNDc4Mi05MTdmLWI0YjNhODBmOThkZCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-23-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D22_19&s_id=1060&deeplink=eyJpZCI6ImMxMTc0MTdiLTM4MTAtNGIyOS1iNWFjLWExNGM5ZTUwYThiNCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 07-29-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjAyMTRjNDZjLWU5M2MtNGE2Yy1hNTIzLTJhMDVjMWQ3N2UyZCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 07-29-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjNiMzlkZjIzLTRlMmEtNGNmNC1hNzkzLTQ2MzQ0NGM0N2VlMyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-23-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImYwNTY0NmZlLTk4ZmUtNDI3OC05YTdlLTU0NjQ4NzliZjI0NCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-23-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjBlOGEwZjk4LWU5OWMtNGNmZi1iMzBlLTdiMGI5NTVkYWUwZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-23-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjlmMmIxYTc4LWY5NjAtNDYyYy04YTQ5LTA3MDhjNzg1N2E1YSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-23-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjI0ZTY4ODgwLTRlZDEtNGFmOC1hNjkxLWRhNTEyYmQ1YzdjNyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-23-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImY2YmFjY2RlLWU5NTAtNDZmYy1hYzgxLTI5MjI5ZmUyY2IxYSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-23-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjM3OWMwY2Q1LTA2NzItNDM1MS1hNzQwLWRjNGE1NDhmOWY4ZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-23-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6Ijk1Yzg4ZDVjLTcyNGQtNDYxMi04Zjc5LTYyY2M3OGFhMDE5MiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-22-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D22_07&s_id=1060&deeplink=eyJpZCI6ImYwNTY0NmZlLTk4ZmUtNDI3OC05YTdlLTU0NjQ4NzliZjI0NCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-22-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D21_23&s_id=1060&deeplink=eyJpZCI6IjlmMmIxYTc4LWY5NjAtNDYyYy04YTQ5LTA3MDhjNzg1N2E1YSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-22-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D21_19&s_id=1060&deeplink=eyJpZCI6ImEyOWFhNDk0LWM2NjgtNDc2OC05YTRkLWVjMDRkMWVkMTdjYyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-21-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D21_07&s_id=1060&deeplink=eyJpZCI6Ijk1Yzg4ZDVjLTcyNGQtNDYxMi04Zjc5LTYyY2M3OGFhMDE5MiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-21-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D20_23&s_id=1060&deeplink=eyJpZCI6ImE1OTE2ZGE2LWYwNWUtNGQzNC04MTM3LTU2M2MwYWJiOGY5MyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-21-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D20_19&s_id=1060&deeplink=eyJpZCI6ImQwNjBjZjI3LTQwNWMtNDAwMy1hMWUwLWY4YTRjZWZiYmY2MyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-20-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjI0ZDk0YTJkLTM1MzItNDc3ZC1hNzhmLTY2ZjBjZTJhOGY4YSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-20-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjNmMjQwMjE2LTZiNTYtNDM0Mi1hNGM4LWY1ZWIzMGQyZjYzMCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-20-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjNjMDAxZWMwLTcxMTgtNDFhNy1iYzVmLTY5YzM3NDY2YzExZCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-20-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImI1N2JmMzIxLWQ5NWUtNGRmNi04YTk1LTU3Mjc4NjM3Y2RmMCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-20-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjIwYjcyYjZiLWVmNTQtNDhmOS1hY2Q5LTk5OTU0NGUxZGMzNiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-20-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjI2M2YyNDQzLWFkZDctNDY3Yi05MDFiLTQ1NTY3Y2MyYjQ2ZiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-20-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D20_07&s_id=1060&deeplink=eyJpZCI6IjI0ZDk0YTJkLTM1MzItNDc3ZC1hNzhmLTY2ZjBjZTJhOGY4YSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-20-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D19_23&s_id=1060&deeplink=eyJpZCI6IjU1M2RjODg3LTAxMGQtNDBkNi1iMmVhLWVlZTQzYzFmZGRhZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-20-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D19_07&s_id=1060&deeplink=eyJpZCI6ImI1N2JmMzIxLWQ5NWUtNGRmNi04YTk1LTU3Mjc4NjM3Y2RmMCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-19-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D19_07&s_id=1060&deeplink=eyJpZCI6IjNmMjQwMjE2LTZiNTYtNDM0Mi1hNGM4LWY1ZWIzMGQyZjYzMCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-19-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D18_23&s_id=1060&deeplink=eyJpZCI6IjBjNDcyYjY0LTk2ODctNDQ2MC1iNDg2LTIzNDJiMjExYjI5MyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-19-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjBjNDcyYjY0LTk2ODctNDQ2MC1iNDg2LTIzNDJiMjExYjI5MyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-19-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImM5YWIxYzU2LTMzZmQtNGNmMi1hNmQ2LWQzZWU4OGE1MmZlNCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-19-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjRhZTFmYTE5LTVkMGMtNDNjZC1hM2JjLTFlMGZiZDkxMjdjNSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-19-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjBlNzc5NDU3LTA3OTQtNDQ4Zi04MmJmLWM3Y2FlY2U1ZDAxMSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-19-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjQ2M2VjZWMzLTg1YmUtNDA2Mi04MmRhLWI1M2FiMGY1ZTJhNiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-18-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D17_23&s_id=1060&deeplink=eyJpZCI6IjExODBkNDJkLWEyMWUtNDA5NS1hNjc4LTRkYWIwMjA1M2FlNSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-18-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D17_19&s_id=1060&deeplink=eyJpZCI6IjE4MDg0ZDk3LTJiNzYtNDgxNS1hYTkwLWVlMTAyMzBjNzhlYSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-17-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D17_07&s_id=1060&deeplink=eyJpZCI6ImU1MDY2MjRlLWU3ZTMtNGQ2Zi1hNTJlLWUwZThmNjY1NzdiMCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-17-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D16_23&s_id=1060&deeplink=eyJpZCI6ImVmZjFlZDRkLTQwMDMtNDUyYS1hODYyLTU2ZDJkNTEzMGMzYiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-17-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D16_19&s_id=1060&deeplink=eyJpZCI6IjFhY2M5OWFmLWZiNTUtNGFlZS05NDRiLTg5ODM1ZjhmMjIzOCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-17-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjFjYzBjYjI5LTQ2NDMtNGRmMy1hNDE1LTg1MWZjZjU0MzVmNiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-17-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjQwZjBmNjkxLWZlMmEtNDgzMS1iMjQ2LTJlMDI4ZmM3YjZjYSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-17-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjZiMzZlNGY1LWM4NjktNDcwNi1hODk2LTllOWVlM2I2ZWM5MCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-17-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImJiOGRiZDNmLTFmMjYtNDMzZi05NmY4LTFmOTE1ODdkM2M5YiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-17-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjFhZDIxMmE0LWMzMTctNGI3Zi1iZGU2LTQ3M2VjZDhhYmMyMyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-17-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImQyZTM2MjY4LWRlOGEtNDY5MC1hZDcyLTQwMDVkODRjNWIxYiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-16-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D16_07&s_id=1060&deeplink=eyJpZCI6IjFhZDIxMmE0LWMzMTctNGI3Zi1iZGU2LTQ3M2VjZDhhYmMyMyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-16-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D15_23&s_id=1060&deeplink=eyJpZCI6ImJiOGRiZDNmLTFmMjYtNDMzZi05NmY4LTFmOTE1ODdkM2M5YiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-16-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D15_19&s_id=1060&deeplink=eyJpZCI6IjQwZjBmNjkxLWZlMmEtNDgzMS1iMjQ2LTJlMDI4ZmM3YjZjYSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-15-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjQ5ZDk1NDJmLTQ2MDItNDdhNi1hMWZjLTNiMjMzNTlkMmRmOCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-15-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjBhZmI1MzVlLTQyMjgtNDk0OS1iMjdjLThmNTZlZWUwZGY5MSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-15-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImY1ZGM0NjU4LTYwNzItNGI1Zi1hMWJhLWI0YzhkYTUyNzVjMiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-15-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImVjZWNmYmZjLWY4MjktNDI1NC05MTg3LTllYjNjMGJlZDM3ZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-15-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D15_07&s_id=1060&deeplink=eyJpZCI6IjFhMWUyYzgzLTcxZTEtNDI0Yi05ZDhiLTM3NTY1YjYwNTgwMiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-15-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D14_23&s_id=1060&deeplink=eyJpZCI6IjBhZmI1MzVlLTQyMjgtNDk0OS1iMjdjLThmNTZlZWUwZGY5MSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-15-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D14_19&s_id=1060&deeplink=eyJpZCI6ImVjZWNmYmZjLWY4MjktNDI1NC05MTg3LTllYjNjMGJlZDM3ZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-14-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjE5ZDQyZjhmLWQyMzUtNGU2Yy1iNWExLTg1NmE0YWNhNTMwZCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-14-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImNlYTZkYTI4LWQ3NDAtNDhlNC1iY2UyLTkyOWJlMmM1NjM4NiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-14-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjMzZmEwOWRjLWVkZTctNDRlMS1hZDMxLWM3MTI4MDY2ZWRkMyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-14-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImEyNGZhMzY2LTM0YjItNDU4Ni04MDRjLTVhYmRiMjE5MGZjZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-14-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImQ5ZmZhNmVjLWJhMDctNGI4Zi1iMjE5LTdjODJjYWVmZTVhYiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-14-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjNhNTJkNGI3LTM5YzEtNDljOC05YTM2LTZmN2M2YWY5YWNiOSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-14-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjBmOTI1MjM5LTRiNjAtNDIxYS1hMDRmLTVkZmIxNmI3ZWViMyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-14-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjhiMzU4MDI4LWNhNzItNDA2Ny05Mzg1LTRhZDI0MDk3NjgwZCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-14-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjJkNjE1NDZlLTQyYjAtNGQ4Ni04NmE5LWI4MWY1MmRlOThjZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-14-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjMxMjQ0NjBlLWFmZjctNDVhYS1iNGY1LTRiOWIyYzdkMmRkNSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-14-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjhhM2M0Yjk2LWE3ZDctNGVhZS1hYWEyLWFiZDNlMWJjYTBmYyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-14-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D13_23&s_id=1060&deeplink=eyJpZCI6IjNhNTJkNGI3LTM5YzEtNDljOC05YTM2LTZmN2M2YWY5YWNiOSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-14-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D13_19&s_id=1060&deeplink=eyJpZCI6ImNlYTZkYTI4LWQ3NDAtNDhlNC1iY2UyLTkyOWJlMmM1NjM4NiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-13-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D13_07&s_id=1060&deeplink=eyJpZCI6IjhiMzU4MDI4LWNhNzItNDA2Ny05Mzg1LTRhZDI0MDk3NjgwZCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-13-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D12_23&s_id=1060&deeplink=eyJpZCI6IjJkNjE1NDZlLTQyYjAtNGQ4Ni04NmE5LWI4MWY1MmRlOThjZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-13-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D12_19&s_id=1060&deeplink=eyJpZCI6ImQ5ZmZhNmVjLWJhMDctNGI4Zi1iMjE5LTdjODJjYWVmZTVhYiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-12-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImI2ZWIzZTcxLTk3NjUtNDcwNi04YTU2LTYyZTEyNjQwOTVhOCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-12-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImRmODM0N2RjLTdlYzctNGI4NS04ZWQxLWMxZDBiMzZkNTRmMCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-12-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjY2YzllODYyLTkyY2QtNDhiNi1iOGIyLTE3YTljYjNkM2ZhNyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-12-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjZlMWUxOGZkLTBjNTgtNDVlYy05YWY2LTRjNjc4NjY3NTAwNiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-12-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjUzYzA5ZTBiLWUxN2EtNDNkZi1hMTVkLTc2ZjZlMzA2YWJiNiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-12-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImRlMTU2OGY4LTAwMzYtNDQzMy1hZWJjLTdlNDVkNmFkZjY0YiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-12-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJhYyI6ImluYm94In0%3D&hof_s=0&hof_c=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-12-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D12_07&s_id=1060&deeplink=eyJpZCI6ImRlMTU2OGY4LTAwMzYtNDQzMy1hZWJjLTdlNDVkNmFkZjY0YiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-12-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D11_23&s_id=1060&deeplink=eyJpZCI6ImI2ZWIzZTcxLTk3NjUtNDcwNi04YTU2LTYyZTEyNjQwOTVhOCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-12-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D11_19&s_id=1060&deeplink=eyJpZCI6ImRmODM0N2RjLTdlYzctNGI4NS04ZWQxLWMxZDBiMzZkNTRmMCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-12-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImQ5MTU5NjBiLTk1YjctNGJiNy04OGY5LWI4YmYyYmU2NDYzOCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-12-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjkxZDE4M2I0LWExYmMtNGNhZi1iZGQ0LTBmN2NmNjljZDA3ZCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-12-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjNhNjc3YzgwLWI5NWMtNGIyMi04NjAxLTQwM2ZiYjc5MDg4NCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-12-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImMxOTY1ZDg5LTQ5MzktNDBmNS1hMWUxLTEzZmU2MWJjZjE1MSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-12-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImJlYzFmYjVhLWM1YzEtNDdhNy05MWQ0LWYyM2I4ZmM5ZTEwNCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-11-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D11_07&s_id=1060&deeplink=eyJpZCI6ImJlYzFmYjVhLWM1YzEtNDdhNy05MWQ0LWYyM2I4ZmM5ZTEwNCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-11-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D10_23&s_id=1060&deeplink=eyJpZCI6IjkxZDE4M2I0LWExYmMtNGNhZi1iZGQ0LTBmN2NmNjljZDA3ZCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-11-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D10_19&s_id=1060&deeplink=eyJpZCI6ImMxOTY1ZDg5LTQ5MzktNDBmNS1hMWUxLTEzZmU2MWJjZjE1MSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-11-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImNhYmQ0MmJiLWRkZmQtNGE2ZC05OTNiLWM4NWJmM2U4NGExYiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-11-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjVkMjM0MTE5LTE4N2MtNGRlMi05NWZhLWMyNGJhN2RkMWU2MSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-11-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjFmYzJjZWE3LWI5YjUtNDc2OS04NmQ5LTBiNDM1MTAxMDU4MiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-11-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjUzOGVkZjY3LWUwNjctNDc3Ni05NWMxLTFhZjMxMjgwYzM1NyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-11-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImVmZDVhNDMxLTc0NjgtNDgyOC1iY2ZhLWJiZDBkZjZhYTRiNyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-11-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImE1OGMyYjZlLTUxYzUtNDBmMy1iNjNmLTNhYTZkNWYwMjQ1ZiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-10-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D10_07&s_id=1060&deeplink=eyJpZCI6ImE1OGMyYjZlLTUxYzUtNDBmMy1iNjNmLTNhYTZkNWYwMjQ1ZiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 12-10-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M12D9_23&s_id=1060&deeplink=eyJpZCI6IjFmYzJjZWE3LWI5YjUtNDc2OS04NmQ5LTBiNDM1MTAxMDU4MiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>