<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 19, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D18_23&s_id=1060&deeplink=eyJpZCI6ImY2NjkxZTFkLWFkMjEtNGIxMS1hMmFjLTNjNmIxZjBhMDJlYiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 19, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D18_19&s_id=1060&deeplink=eyJpZCI6IjA5MWJkZmUzLWNkYzYtNGI4Mi04M2IxLTI2NDBiNTgwZTE5NyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 19, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D18_07&s_id=1060&deeplink=eyJpZCI6ImNmYjQ0OWViLWVlMjUtNDJkMS1hOTRmLWQ1MjgxNGI1ZTgzZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 18, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D17_23&s_id=1060&deeplink=eyJpZCI6IjM1MGE0YzFlLTUzZGYtNGZlZS05NzYzLTVmMDU0YzU5NWIyYiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 18, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D17_19&s_id=1060&deeplink=eyJpZCI6IjA1N2NjMjEzLTRlZDktNGYyOC1iYTZkLTExMGM2MzQ4NmU2MCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 18, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D17_07&s_id=1060&deeplink=eyJpZCI6IjgyNDlmY2NmLWRlZTQtNDEwOC1hMGY5LTI0MTcwZDFhNTQ1MSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 18, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjJkNGYzNjEyLTc0OGUtNDJlMy1hMGVkLWUwM2RlNjUwOWM1NyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 18, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjI4MDljMTk2LTBjYTUtNGYzMS1iYjIwLWViNmY3NjNhNDAxZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 18, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjM2NTQ1N2ZkLTQzMTctNDhmMy1iZDgyLTIzNDY4NDY5MDMwMyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 18, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjAyNjU3N2Q4LTllNmUtNDgwYy04M2M5LWJmZGY4NmM1ZjcxMCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 18, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjBjZWVjOGJmLWRkN2UtNDM0Yy05NTYyLTdmZTZkNWE2OWU4MSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for July 29, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjAyMTRjNDZjLWU5M2MtNGE2Yy1hNTIzLTJhMDVjMWQ3N2UyZCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for July 29, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjNiMzlkZjIzLTRlMmEtNGNmNC1hNzkzLTQ2MzQ0NGM0N2VlMyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 18, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImY5MGU0MmQxLWEwYjEtNDNlZS04MjFmLWQ1ZDQ1N2ViNTQ3OCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 18, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjgyNDlmY2NmLWRlZTQtNDEwOC1hMGY5LTI0MTcwZDFhNTQ1MSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 18, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjA2OWZmODA2LTZmNGQtNGFiOC04Njk0LTFiMzllMzk0Y2YyYyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 18, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImYzNTA1ZTNiLWY1ZWItNDlmMy1hNmNhLTVlZWJmZTMxMDRjNyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 18, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImU0YzgwMzU1LTc1N2MtNDM3Yi1hMzc3LTYxZmE5ZjQyZWMzNCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 18, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImNhYmNhYWI2LTZlMDEtNDU3OS04NjU4LTQ0N2E5MThlNzUyNiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 18, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6Ijc2NzAzNzZkLTEwYjgtNDY2MC05MzdhLWUyZDNmNTQ0NWQ1YyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 17, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D16_23&s_id=1060&deeplink=eyJpZCI6ImYzNTA1ZTNiLWY1ZWItNDlmMy1hNmNhLTVlZWJmZTMxMDRjNyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 17, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D16_19&s_id=1060&deeplink=eyJpZCI6ImY5MGU0MmQxLWEwYjEtNDNlZS04MjFmLWQ1ZDQ1N2ViNTQ3OCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 16, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D16_07&s_id=1060&deeplink=eyJpZCI6IjA2OWZmODA2LTZmNGQtNGFiOC04Njk0LTFiMzllMzk0Y2YyYyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 16, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D15_23&s_id=1060&deeplink=eyJpZCI6IjM2NTQ1N2ZkLTQzMTctNDhmMy1iZDgyLTIzNDY4NDY5MDMwMyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 16, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D15_19&s_id=1060&deeplink=eyJpZCI6IjI4MDljMTk2LTBjYTUtNGYzMS1iYjIwLWViNmY3NjNhNDAxZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 16, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D15_07&s_id=1060&deeplink=eyJpZCI6IjIwMGI0YWQyLWQ5OGYtNDk1ZS1hMWVlLTBjNzQ1NjQ0MWY4MSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 15, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjE4ODUwNzgzLTY3YTUtNGRhNy04YmFjLWM4MDExNzcwNWJkMiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 15, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjlkNzI1MDc3LWJkYmQtNGIwMC04NzQ4LTNjNjIwMzA3NjAwMCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 15, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6Ijc4OTc5NmU3LTIzMmEtNDZhMC05MWQxLTJlMjU2M2Q1M2M2MyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 15, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImQzMzQ3MWFjLTI4YzMtNDU5ZS05Y2RlLTM4NTc3NzNmZDk3NCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 15, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjdmOTczMjk4LWE5ZjktNDNjNC04NWVjLTVmMTU2ZTMyMTlmMiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 15, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjIwMGI0YWQyLWQ5OGYtNDk1ZS1hMWVlLTBjNzQ1NjQ0MWY4MSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 15, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D14_07&s_id=1060&deeplink=eyJpZCI6IjI1NzEzZWI1LTczODctNGViMS1hNjcyLWE4OTc4OTEyYmUwNSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 15, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D14_19&s_id=1060&deeplink=eyJpZCI6IjE4ODUwNzgzLTY3YTUtNGRhNy04YmFjLWM4MDExNzcwNWJkMiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 15, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D14_23&s_id=1060&deeplink=eyJpZCI6IjlkNzI1MDc3LWJkYmQtNGIwMC04NzQ4LTNjNjIwMzA3NjAwMCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 14, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D13_23&s_id=1060&deeplink=eyJpZCI6ImM2YWI5MzA4LWQ2ZDktNDQ1Zi1hZDA1LWVhOTQ3NjliZjhmZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 14, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D13_19&s_id=1060&deeplink=eyJpZCI6ImM2NjIxYWM3LWEyYTUtNGU3ZS1hMTE2LWQ4ZjhiYTI0ODUwMCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 14, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D13_07&s_id=1060&deeplink=eyJpZCI6IjRlYWU5MTY3LWFiOWUtNDNmNC1iNzViLWE3Mjk3ODljOWZjMyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 14, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjVhOGM2ZDIxLTM5NjgtNGZlOC05ZTllLWUzNTE0NzBjYmI3MCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 14, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjMyNWRhNDgyLTVmMDYtNDQ0Ny05YzQzLTJmOTUyZDY4NDkwYiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 14, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjZlZDQ3NWQxLTRmMDctNDM2ZS04MzFjLWQzOGFlZDBhMjAzYyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 14, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImFhZmExZTFiLWNjMGEtNGZjZi1iMTRmLTljMjBlMThmOTA1MCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 14, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImQyNTVkOTg2LWQ5OGEtNDkwZi04ZmZjLTU2ZGFkY2NiZDBkNyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 14, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjRlYWU5MTY3LWFiOWUtNDNmNC1iNzViLWE3Mjk3ODljOWZjMyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 13, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D12_23&s_id=1060&deeplink=eyJpZCI6ImQyNTVkOTg2LWQ5OGEtNDkwZi04ZmZjLTU2ZGFkY2NiZDBkNyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 13, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D12_19&s_id=1060&deeplink=eyJpZCI6IjVhOGM2ZDIxLTM5NjgtNGZlOC05ZTllLWUzNTE0NzBjYmI3MCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 13, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D12_07&s_id=1060&deeplink=eyJpZCI6ImYyZjBmMzJlLTliNTUtNDk2ZC1iNTcyLTliZjZhZjYzNjhkZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 12, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjI3M2ZiNDViLWFmZjktNDNjOC05ZTE5LTdmNGUzYWI5MDEyNCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 12, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjgyZGYxZDFmLTY5MDktNDVjOC1hNmI5LTI5YjQ1M2EzZTkzOCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 12, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImUxMmM4OTg2LThjNTMtNGRjNS04MjI5LWRlZDZhNGY2NGM0MyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 12, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6Ijk3NDUxYTVhLTdmODEtNGNlZi05MzZiLWU3ODk0ODg3OWM3NiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 12, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImYyZjBmMzJlLTliNTUtNDk2ZC1iNTcyLTliZjZhZjYzNjhkZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 12, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D11_23&s_id=1060&deeplink=eyJpZCI6IjI3M2ZiNDViLWFmZjktNDNjOC05ZTE5LTdmNGUzYWI5MDEyNCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 12, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D11_19&s_id=1060&deeplink=eyJpZCI6ImE0Zjk1Nzk3LWZmNzItNGM0NS05NGE0LTQwODI1NTc5YzFjNCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 11, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D11_07&s_id=1060&deeplink=eyJpZCI6IjFlMTFmOTg0LTQzY2ItNDMwMy04NGRlLWZiZTJkOWQyOThhOSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 11, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D10_23&s_id=1060&deeplink=eyJpZCI6IjRmMDk0MDBhLWQ4NTAtNDcxNS1hMjFhLTM0Zjk4NWQxODk0ZiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 11, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D10_19&s_id=1060&deeplink=eyJpZCI6ImI5MjVlYWY2LTVhMDEtNDZmMy05ZjgzLTBkMmFjZDAxY2VjZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 10, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D9_23&s_id=1060&deeplink=eyJpZCI6Ijk0YmIxZTE1LTQ2NzQtNGMwNC04MTUyLTBlODUzOWI4ZTg2NCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 10, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D9_19&s_id=1060&deeplink=eyJpZCI6ImNmOTg5ZjVmLTM3YjUtNDczYS1hZTQ2LTYxNGRhMDg5MzNmNCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 10, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D9_07&s_id=1060&deeplink=eyJpZCI6IjI4NGU0NTc1LTYwZDMtNGQ3Yy05MThiLTAzMjAzNGM3YmVhMSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 8, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjhjNzJmYWNjLTNkZDEtNDQ5YS05NWMyLTJiOGMxY2ZkNzFjOSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 8, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImVjZDljMjg4LWI2NGEtNDNmNC05NGNlLTk0ZmQxMDhjYmY4ZCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 10, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjZhMTNhNmFkLWRiYWItNDY4MS1iODQ1LTJhMzBiOTQ5OWY2MCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 10, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjRkNTgwOGJkLWNkNWQtNDYxZC1hM2RmLTIwYzU5NjA1MTI1YyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 10, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImIyMGYzYjdhLWI4YzYtNGFjMy1iZjlhLWVhYjc1MGRmNzg4YiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 10, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6Ijk2MGM5MWYyLTU5NGQtNGMyYi1hMjFhLTA2MGFhOGNjZGY2ZCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 9, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D8_23&s_id=1060&deeplink=eyJpZCI6IjRkNTgwOGJkLWNkNWQtNDYxZC1hM2RmLTIwYzU5NjA1MTI1YyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 9, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D8_19&s_id=1060&deeplink=eyJpZCI6ImIyMGYzYjdhLWI4YzYtNGFjMy1iZjlhLWVhYjc1MGRmNzg4YiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 9, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D8_07&s_id=1060&deeplink=eyJpZCI6IjFiYzhkZDA3LWI1NDUtNDQ4My1hNjJmLTcwOTFkYjUxYjQ0YiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 8, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImIxZjJhMWVlLWJhZmItNDQ4Ni1hZmU4LWUzYTQ2ZGZkMjY2OCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 8, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6Ijg1ZjIzNmZhLTgxZDQtNGZkZi04OWQ1LWZiOTkzZjY5YzRmYiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 8, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjJmNWZlNTk0LWM1NDYtNDY4Ny1iOGMwLWMxNjdiMGUyNWUzOCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 8, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjE4NTg0NTFjLWY1NmEtNGViNS05YThhLTZkZjMwZmZiYzgzOCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 8, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjFiYzhkZDA3LWI1NDUtNDQ4My1hNjJmLTcwOTFkYjUxYjQ0YiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 8, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D7_23&s_id=1060&deeplink=eyJpZCI6IjJmNWZlNTk0LWM1NDYtNDY4Ny1iOGMwLWMxNjdiMGUyNWUzOCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 8, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D7_19&s_id=1060&deeplink=eyJpZCI6ImZmZGJiM2Q2LWVlZGItNDQzMS1hNWJlLTY5ZTY0NWFlYjA1NyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 8, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D7_07&s_id=1060&deeplink=eyJpZCI6IjI4MzQ4NzJjLTE1OGEtNDExMS04Nzc3LTlmZGI2ZDNmZGQ2NSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 8, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6Ijk0ZWE1NjI1LWM0NjYtNDY2Ni05Y2MwLWY1NjlkOTEwYmRlNSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 8, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6Ijc1ZWQ4MGE2LWIwOGEtNDM4Yi05ZWVhLTMyYTk0MjE4NDgzOCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 8, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjNjZTRmMzgyLTkyMTEtNDhhMC1hODIzLWUzYjJlYTQ3N2RkNCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 8, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImE1MTgxZWY0LTBjN2EtNDJmZS05OWZkLTdhMGNiZTIwOWFjZiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 7, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D6_23&s_id=1060&deeplink=eyJpZCI6ImU0NWUxYTQ5LTBlODMtNGVkNy1hZGUyLTllN2NjMDk0ZWI1NiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 7, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D6_19&s_id=1060&deeplink=eyJpZCI6IjgxOGY4ZjIzLTk3NWMtNGZmNy1hMTU5LTRhMjAzZDZkZTRhZiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 7, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D6_07&s_id=1060&deeplink=eyJpZCI6Ijk0ZWE1NjI1LWM0NjYtNDY2Ni05Y2MwLWY1NjlkOTEwYmRlNSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 6, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D5_23&s_id=1060&deeplink=eyJpZCI6IjhjNzJmYWNjLTNkZDEtNDQ5YS05NWMyLTJiOGMxY2ZkNzFjOSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 6, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D5_19&s_id=1060&deeplink=eyJpZCI6Ijc1ZWQ4MGE2LWIwOGEtNDM4Yi05ZWVhLTMyYTk0MjE4NDgzOCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 6, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D5_07&s_id=1060&deeplink=eyJpZCI6ImZkMTFlYzcyLTIyNmEtNGYxYi05ODM5LTExMGI2YjkzYmJkYSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 5, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImY1ZWEwMDQ5LTE2ZmItNGJhMC1hYzNkLTcwYzY4NTZiNTY4NyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 5, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjE1MDJhODcwLTgxYWUtNDNiOC05N2E0LWQ3ZDMwMjY2NWFhNCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 5, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjBiNmVmZjVjLTY0MzAtNGU2Mi05MmNkLWM5YWQ0YTIwYWRiZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 5, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D4_23&s_id=1060&deeplink=eyJpZCI6IjE1MDJhODcwLTgxYWUtNDNiOC05N2E0LWQ3ZDMwMjY2NWFhNCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 5, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D4_19&s_id=1060&deeplink=eyJpZCI6IjBiNmVmZjVjLTY0MzAtNGU2Mi05MmNkLWM5YWQ0YTIwYWRiZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 5, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjQyNjExZTNkLTg2NzQtNDc0MC04ZmYzLWM0NWRmYzYwZDc4YiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImUyNmU0ZGNjLTAyYjktNGJmMC05NmVjLWY1MjIyYTA1YTZkNSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 5, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImZiOTk0OTE5LTMxYmYtNDk0NS05NGUxLWY1NmFhM2ZhOGFkMyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 5, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjNhZjY0ZjU0LTBiMDctNGU5OC1hODliLTFjMWU2NjkzZjIzMCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D4_07&s_id=1060&deeplink=eyJpZCI6IjUyNzgxOGY1LTk2NTMtNDJmZi1hNmYyLWIwNTZhOWY3OTNmMCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D3_23&s_id=1060&deeplink=eyJpZCI6ImZiOTk0OTE5LTMxYmYtNDk0NS05NGUxLWY1NmFhM2ZhOGFkMyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D3_19&s_id=1060&deeplink=eyJpZCI6IjQyNjExZTNkLTg2NzQtNDc0MC04ZmYzLWM0NWRmYzYwZDc4YiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M8D3_07&s_id=1060&deeplink=eyJpZCI6IjkzNjVjNThkLTEzZTItNDQzYi1hNWUxLTE2NDM0M2JiYzQ4MyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>