<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-14-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImI2N2ViYzQ5LWQ5N2QtNDhlOC05YjlhLWZkYzhhNGMyMzMzYiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-14-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImFhZmFmZDI1LTdhNjEtNGU3NS05YTc2LTM0ZTg2ODBmZDBkZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-14-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjRjZTU2MmZjLWVhOWUtNDIzNS1iNTc3LWNmMWI1ZWQ5ZTQzMyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-14-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6Ijg1MWRmMzYyLTcxNjktNGQzNS05NDQ4LTgxYzAyY2QyYjhiNCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 07-29-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjAyMTRjNDZjLWU5M2MtNGE2Yy1hNTIzLTJhMDVjMWQ3N2UyZCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 07-29-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjNiMzlkZjIzLTRlMmEtNGNmNC1hNzkzLTQ2MzQ0NGM0N2VlMyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-14-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D14_07&s_id=1060&deeplink=eyJpZCI6Ijc0ODg0ZTQ2LWFlODctNGFhYS04NzBkLTY5YzU4MWYzY2FkNCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-14-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D13_23&s_id=1060&deeplink=eyJpZCI6IjM5MzYyNWQ4LWNmMjEtNDE3Ni1iMDg4LThiZTIyNWE0NDNhOSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-14-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D13_19&s_id=1060&deeplink=eyJpZCI6IjI2ZTQ2ZTNmLWIwOTMtNDhmZC1iYzliLTc5NDAwYmMyZjY5YSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-13-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D13_07&s_id=1060&deeplink=eyJpZCI6Ijg1MWRmMzYyLTcxNjktNGQzNS05NDQ4LTgxYzAyY2QyYjhiNCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-13-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D12_23&s_id=1060&deeplink=eyJpZCI6IjBjMDZiZDRjLWJlMTYtNDRlYS04MmEzLTRmZjEyNTAzMTYzYyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-13-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D12_19&s_id=1060&deeplink=eyJpZCI6IjRjZTU2MmZjLWVhOWUtNDIzNS1iNTc3LWNmMWI1ZWQ5ZTQzMyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-12-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjhmNzViZTUzLWY5ODQtNGMxMy05NzkzLTA2MDIxMWExMmY5NCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-12-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImNlZmVmZjRhLWJiYTQtNGI5Zi05MmJjLWIxNTE1YjQ4ZWYyYyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-12-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjkxOTI2MjU0LWZhZDktNDIzOC1hNjA3LTcyN2JiYTE5YmY1NyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-12-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjZiNWM4NzQ2LTRkNjAtNDA5ZS1hMDAzLWQ2OGRlNjc1ZDlhYSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-12-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImI0ZDYwNjA2LWJjYjQtNGZjNC1iMTBlLTgyMzI1Njg4YzQ0NSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-12-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjI1ZWIwZmNkLTdkYTgtNGE0Yy04ODI1LWFlOTExMzIxODYyMCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-12-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D12_07&s_id=1060&deeplink=eyJpZCI6IjYyNjM2YTI0LTBlYzYtNDAxYy04MGQ4LThkYjBiYmJkNGFmOSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-12-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D11_23&s_id=1060&deeplink=eyJpZCI6ImE5ZmRlYmFlLWEwMDYtNGJmNS04YTE2LTBiNzg1OGE0ZGEzNCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-12-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D11_19&s_id=1060&deeplink=eyJpZCI6ImY4N2ZkNWJjLWZmZDQtNDc3OS1hM2VmLWY0YmMzOWRhZjkwOSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-11-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D11_07&s_id=1060&deeplink=eyJpZCI6IjkxOTI2MjU0LWZhZDktNDIzOC1hNjA3LTcyN2JiYTE5YmY1NyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-11-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D10_23&s_id=1060&deeplink=eyJpZCI6IjZiNWM4NzQ2LTRkNjAtNDA5ZS1hMDAzLWQ2OGRlNjc1ZDlhYSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-11-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D10_19&s_id=1060&deeplink=eyJpZCI6IjI1ZWIwZmNkLTdkYTgtNGE0Yy04ODI1LWFlOTExMzIxODYyMCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-10-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D10_07&s_id=1060&deeplink=eyJpZCI6IjFmN2JmODg5LWIyNTAtNGE0MS1hZDMzLTA2ZjNmOGMyMzEwZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-10-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjFmN2JmODg5LWIyNTAtNGE0MS1hZDMzLTA2ZjNmOGMyMzEwZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-10-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImYwMmQwNmEwLWQ3YjItNDE0Mi1iZDZiLTBkY2IyZWRhMTU0YSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-10-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjRiMDYzM2ZiLWU4YTMtNDlkMC05ODUzLTI5ZDg5ZDQ3YTYxYiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-10-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjZkNTk4ZDMyLTI5MTktNDIxNS1iNDg2LTk5YTRlYTkyYmVkOCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-10-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjYxOWNiZDFlLTZmNzMtNGI4ZC04Mzc0LTIzN2IyMzVhYWVlOSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-10-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImM2Yzk3NjdmLWNmMDMtNDU5Yy04N2UyLWRiNjVlNjY4YTM0YSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-10-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjdhYTQ3OWIzLTQzMDAtNDU2YS1hYjcxLTYxZmY5ZWMyZTM3MiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-10-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjZjMjU0ZmFiLWEzYTQtNGE4My05N2JiLTFjZGY1M2JjODBiYyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-10-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjhiODllYzY5LTdiYmUtNGE1Zi1iNWFhLTU0MTdmMjE3OTEzYSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-10-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjM1Y2I4NjQ1LWIzNDEtNDUyOC1iM2I3LTc2OWRjMTE2Y2UyYSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-10-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjBlODk3NTNmLWQ0YjEtNGRhZS1iMWQ0LTZhN2MyNzU2OWYyMiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-10-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImI1MjU4NzE0LWY5NTYtNDA5ZC1iYmRkLWZjNTQ3YzQyOGViZCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-10-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjUzNGM2Y2Y5LTY3ZGUtNDI3ZS1iMDExLWZiNGIzMGZkOGQzZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-10-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D9_23&s_id=1060&deeplink=eyJpZCI6IjdhYTQ3OWIzLTQzMDAtNDU2YS1hYjcxLTYxZmY5ZWMyZTM3MiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-10-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D9_19&s_id=1060&deeplink=eyJpZCI6IjhiODllYzY5LTdiYmUtNGE1Zi1iNWFhLTU0MTdmMjE3OTEzYSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-09-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D9_07&s_id=1060&deeplink=eyJpZCI6IjZjMjU0ZmFiLWEzYTQtNGE4My05N2JiLTFjZGY1M2JjODBiYyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-09-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D8_23&s_id=1060&deeplink=eyJpZCI6IjBlODk3NTNmLWQ0YjEtNGRhZS1iMWQ0LTZhN2MyNzU2OWYyMiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-09-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D8_19&s_id=1060&deeplink=eyJpZCI6ImYwMmQwNmEwLWQ3YjItNDE0Mi1iZDZiLTBkY2IyZWRhMTU0YSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-08-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImUzZWJiOTc3LWQzY2YtNDFhZC04NGJkLTM2YjA4MGQzNTQ5OCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-08-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjhjNzY5OGJiLTBhODAtNDAyMi05NzY5LWVmNmU2ZjFjMGM4YiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-08-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjBkZmE5ZDVmLWRmYzktNGNmZS1iMDg2LTQ0YzNlNDg4OGE3ZiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-08-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjVjNWNlMWI4LWYyZjctNDA0Ni05YWE5LTE2Zjc1MjBhOTY0OCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-08-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImFmY2MxOTY0LTkwMjYtNGYyZS1iY2JlLTU3M2QzN2E5NDIyZiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-08-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImE0ZGY4OWE1LTU0MDUtNGU1Zi1hNGJmLWJjNDRlNmY0YjBhNCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-08-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjM0OGNhYzYzLTBkOTMtNGQ2MC05N2MwLWU1ODBjOWU0M2I5ZCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-08-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjU4NTJiY2ZhLWNlYmUtNDQzNi04NTFiLTY1OGFlNmJjYThhNCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-08-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImM1MTQyMDUzLTZjZWEtNDVhMC04NTE3LTdmYTFjMDA0MDk3YyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-08-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D8_07&s_id=1060&deeplink=eyJpZCI6ImUzZWJiOTc3LWQzY2YtNDFhZC04NGJkLTM2YjA4MGQzNTQ5OCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-08-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D7_23&s_id=1060&deeplink=eyJpZCI6IjVjNWNlMWI4LWYyZjctNDA0Ni05YWE5LTE2Zjc1MjBhOTY0OCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-08-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D7_19&s_id=1060&deeplink=eyJpZCI6ImE0ZGY4OWE1LTU0MDUtNGU1Zi1hNGJmLWJjNDRlNmY0YjBhNCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-07-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjVhMTY0OTQ5LTEwYTktNGY3My1hMTQyLTY0MDUzMDYwZjg3YSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-07-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjM0ZDlhNTVhLTJhYjQtNGZhOS1hN2EzLTViODkxYjdkNTRkMCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-07-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImJhMTdhODUzLTYzYTMtNGM2Yi1hZDJhLTA3NTA0OWI0YzFjOSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-07-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjM3YzdlOGRmLWMzYTQtNGM5MC1hMTJmLTU4ZTNjZGViOTljNiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-07-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImIyNmZhMWM2LTZhY2ItNGRkYi1hNDg3LWI4YjUyNWY2NzUxOCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-07-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjZiNjJjNjZkLTNmN2QtNGNmNy04NGY3LTRjMDMwMjUyNzAwOSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-07-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjgwZTVkODg1LTFkNDktNDE2ZC1iMzE2LTY2ZDMyZmFjMDEzNyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-07-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D7_07&s_id=1060&deeplink=eyJpZCI6IjBkZmE5ZDVmLWRmYzktNGNmZS1iMDg2LTQ0YzNlNDg4OGE3ZiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-07-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D6_23&s_id=1060&deeplink=eyJpZCI6IjU4NTJiY2ZhLWNlYmUtNDQzNi04NTFiLTY1OGFlNmJjYThhNCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-07-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D6_19&s_id=1060&deeplink=eyJpZCI6IjM0ZDlhNTVhLTJhYjQtNGZhOS1hN2EzLTViODkxYjdkNTRkMCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-06-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D6_07&s_id=1060&deeplink=eyJpZCI6IjVhMTY0OTQ5LTEwYTktNGY3My1hMTQyLTY0MDUzMDYwZjg3YSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-06-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D5_23&s_id=1060&deeplink=eyJpZCI6ImIyNmZhMWM2LTZhY2ItNGRkYi1hNDg3LWI4YjUyNWY2NzUxOCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-06-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D5_19&s_id=1060&deeplink=eyJpZCI6ImJhMTdhODUzLTYzYTMtNGM2Yi1hZDJhLTA3NTA0OWI0YzFjOSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-05-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImEwNGFhM2I1LTk4YWItNDA0Ni05MDFlLTUwNzk1ZmE5ZWY1MyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-05-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6Ijc5MzI3NjRjLWIxYzItNDE5Ni1hYjVkLWU0YWFhNTU3YmMzOSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-05-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjMzZmIyNmJkLTlkOGMtNDlkOC1iNDFmLTQ3ZDgxOTAwYjNhNSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-05-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjI1YWVhODVmLTUwMTktNDI4NC1iYzQwLWI0NGEwZmM2MTM2NiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-05-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjI3YWJmZWVlLWFjM2UtNGQzZS05Y2MxLTgzYzgxZGEyMzY4MSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-05-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D5_07&s_id=1060&deeplink=eyJpZCI6ImNiOGI3YmQ2LWUyZWQtNGM1NC1iZTY4LTU0OTBiOGYwMjIyNCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-05-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D4_23&s_id=1060&deeplink=eyJpZCI6IjNkYzc2MzFjLTZjNTEtNDI3Ny04ZmRiLTk3ZmVmNjVkMzUzZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-05-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D4_19&s_id=1060&deeplink=eyJpZCI6IjhhMzQwMTgwLTA2ZjItNDQ2NS1iMWZiLTNmM2ZlYzg0NWM1YSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-04-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D4_07&s_id=1060&deeplink=eyJpZCI6ImEwNGFhM2I1LTk4YWItNDA0Ni05MDFlLTUwNzk1ZmE5ZWY1MyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-04-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D3_23&s_id=1060&deeplink=eyJpZCI6IjVkODFlMzU0LWY3YmEtNDRkNC05MjFlLWFmN2VkOTc1OTkyMiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-04-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D3_19&s_id=1060&deeplink=eyJpZCI6IjMzZmIyNmJkLTlkOGMtNDlkOC1iNDFmLTQ3ZDgxOTAwYjNhNSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-03-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D2_23&s_id=1060&deeplink=eyJpZCI6ImM3NjBmM2YxLTg0NmMtNGY2MS04OWVmLWVhNDUxZThlNjdkYiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-03-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D2_19&s_id=1060&deeplink=eyJpZCI6ImQxZTA5MTM5LTNiNmEtNDNiNS05YjgzLWZjYzlkODc2NzZkYSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-02-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D2_07&s_id=1060&deeplink=eyJpZCI6ImZkN2M3MDI2LWVkZmUtNGJkMi1iYzA2LWRhYTYwMzU4Njk5YyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-02-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImZkN2M3MDI2LWVkZmUtNGJkMi1iYzA2LWRhYTYwMzU4Njk5YyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-02-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImU5YzZiYzVmLWYzNDktNGIzMi05ZGM0LTNjMmJhMDVmODA2YyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-02-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjZjNjI0MDI0LTUwMmUtNDE0NC04Njg2LWFmZjBhOTliNzE3MyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-02-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjIzNjRhNzE3LWU5NGYtNDNjZC04NjM4LTY4Y2NlYTZmNGY2MCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-02-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjJkM2U3OGQ3LTllMzktNDY5Yi04ZDNjLTc4NWFmYTFmMjY0ZiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-02-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D1_23&s_id=1060&deeplink=eyJpZCI6IjIzNjRhNzE3LWU5NGYtNDNjZC04NjM4LTY4Y2NlYTZmNGY2MCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-02-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D1_19&s_id=1060&deeplink=eyJpZCI6IjJkM2U3OGQ3LTllMzktNDY5Yi04ZDNjLTc4NWFmYTFmMjY0ZiIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-01-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjkwZWM2ODZjLTUyMTktNDVkNC1iMmE1LTcwMzZiNDM1ZTE5OSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-01-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImZmMTBiZTgwLWI4NjYtNDNiYi05NmRiLWUzZjkwYWNkMmI4YSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-01-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6ImEyYzBkNDJlLTcwNDEtNDZjYy05MmEyLTBjYzg0ZjU1NWQyMyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-01-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6IjUwMzMxMTEzLTY0OTMtNDYzNi04M2NlLTcxNGFiMzMyYzRjZSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-01-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M11D1_07&s_id=1060&deeplink=eyJpZCI6ImZmMTBiZTgwLWI4NjYtNDNiYi05NmRiLWUzZjkwYWNkMmI4YSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-01-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M10D31_23&s_id=1060&deeplink=eyJpZCI6ImEyYzBkNDJlLTcwNDEtNDZjYy05MmEyLTBjYzg0ZjU1NWQyMyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 11-01-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M10D31_19&s_id=1060&deeplink=eyJpZCI6IjkwZWM2ODZjLTUyMTktNDVkNC1iMmE1LTcwMzZiNDM1ZTE5OSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 10-31-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M10D31_07&s_id=1060&deeplink=eyJpZCI6IjQ4OGNkMDNmLTg5MDktNGVlNC04MTI1LTcyNmZiYWExNGEyZCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 10-31-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M10D30_23&s_id=1060&deeplink=eyJpZCI6IjI5MzU3YTkyLTczYTMtNGVlOS1iN2UxLTdjY2ZjZWU1ODgxOSIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 10-31-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_dp=hof%3A%2F%2F&af_force_deeplink=true&c_id=2024M10D30_19&s_id=1060&deeplink=eyJpZCI6ImNhNWM5YTZjLTNkNDItNDkyMy1iMGViLTc2NjkwOWFhMWUyYyIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>House of Fun Coins 10-30-2024</span>
    <a href="https://playtika.onelink.me/hof/w4blbwsu?af_force_deeplink=true&deeplink=eyJpZCI6Ijc4NmNiY2U4LTE3YmQtNDJhYi1iN2YyLTViY2U0ZTQ5YWYxZCIsImFjIjoiaG9mX2dpZnRfY291cG9uIn0=" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>