<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-25-2024</span>
    <a href="http://jpw.bet/s/xaho6lek" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-25-2024</span>
    <a href="http://jpw.bet/s/2i6ljhk7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-24-2024</span>
    <a href="http://jpw.bet/s/i4mc70zd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-24-2024</span>
    <a href="http://jpw.bet/s/5kqfwl76" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-24-2024</span>
    <a href="http://jpw.bet/s/i3j4elsb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-24-2024</span>
    <a href="http://jpw.bet/s/gw8ma6xp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-24-2024</span>
    <a href="http://jpw.bet/s/b3heawk7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-23-2024</span>
    <a href="http://jpw.bet/s/0qbyx2pn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-23-2024</span>
    <a href="http://jpw.bet/s/yn4o31sg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-23-2024</span>
    <a href="http://jpw.bet/s/g5p8vmjl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-23-2024</span>
    <a href="http://jpw.bet/s/rz7j862p" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-23-2024</span>
    <a href="http://jpw.bet/s/rocw2jxb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-23-2024</span>
    <a href="http://jpw.bet/s/35mkxvwb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-22-2024</span>
    <a href="http://jpw.bet/s/k8qp6woc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-22-2024</span>
    <a href="http://jpw.bet/s/9plqt6i5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-22-2024</span>
    <a href="http://jpw.bet/s/xgaw2k8c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-22-2024</span>
    <a href="http://jpw.bet/s/ixa0gr5d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-22-2024</span>
    <a href="http://jpw.bet/s/zp2qaiuk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-22-2024</span>
    <a href="http://jpw.bet/s/b27ely6x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-22-2024</span>
    <a href="http://jpw.bet/s/cz29gu3w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-22-2024</span>
    <a href="http://jpw.bet/s/h8wx4qop" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-22-2024</span>
    <a href="http://jpw.bet/s/wp59dkh2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-22-2024</span>
    <a href="http://jpw.bet/s/g4azhrmd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-22-2024</span>
    <a href="http://jpw.bet/s/4bpulyqw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-22-2024</span>
    <a href="http://jpw.bet/s/vinzyj2w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-21-2024</span>
    <a href="http://jpw.bet/s/7bwalgzs" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-21-2024</span>
    <a href="http://jpw.bet/s/bf3w6vzr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-21-2024</span>
    <a href="http://jpw.bet/s/u126yq4p" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-21-2024</span>
    <a href="http://jpw.bet/s/9sphyz82" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-21-2024</span>
    <a href="http://jpw.bet/s/bicg2z7s" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-21-2024</span>
    <a href="http://jpw.bet/s/sol4z1ud" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-21-2024</span>
    <a href="http://jpw.bet/s/d14oelbs" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-21-2024</span>
    <a href="http://jpw.bet/s/h0u4yg8p" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-21-2024</span>
    <a href="http://jpw.bet/s/ho3u0v18" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-21-2024</span>
    <a href="http://jpw.bet/s/kjsyb1id" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-21-2024</span>
    <a href="http://jpw.bet/s/9snoix7a" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-21-2024</span>
    <a href="http://jpw.bet/s/kubetr5m" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-21-2024</span>
    <a href="http://jpw.bet/s/e5mbn0y4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-21-2024</span>
    <a href="http://jpw.bet/s/3oe815yh" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-21-2024</span>
    <a href="http://jpw.bet/s/g918sl2c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-21-2024</span>
    <a href="http://jpw.bet/s/epl34xkc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-21-2024</span>
    <a href="http://jpw.bet/s/pkr082dl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-19-2024</span>
    <a href="http://jpw.bet/s/9lmundfv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-19-2024</span>
    <a href="http://jpw.bet/s/ckpi52tz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-19-2024</span>
    <a href="http://jpw.bet/s/lm6dgznq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-19-2024</span>
    <a href="http://jpw.bet/s/uwc1ojkv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-19-2024</span>
    <a href="http://jpw.bet/s/0qcm35ft" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-19-2024</span>
    <a href="http://jpw.bet/s/hqcy87o1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-19-2024</span>
    <a href="http://jpw.bet/s/y18v3oc5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-19-2024</span>
    <a href="http://jpw.bet/s/6o2yuzkx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-19-2024</span>
    <a href="http://jpw.bet/s/uvkdwgnr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-19-2024</span>
    <a href="http://jpw.bet/s/itnuaf9h" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-19-2024</span>
    <a href="http://jpw.bet/s/ltc7eu6n" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-19-2024</span>
    <a href="http://jpw.bet/s/6azfb8ws" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-19-2024</span>
    <a href="http://jpw.bet/s/ie7fx1b3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-19-2024</span>
    <a href="http://jpw.bet/s/w7adqxl1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-19-2024</span>
    <a href="http://jpw.bet/s/oynmcsbw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-19-2024</span>
    <a href="http://jpw.bet/s/cl983kat" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-19-2024</span>
    <a href="http://jpw.bet/s/30m9vrfj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-19-2024</span>
    <a href="http://jpw.bet/s/a8ew4hqd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-19-2024</span>
    <a href="http://jpw.bet/s/8t2dqbjh" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-19-2024</span>
    <a href="http://jpw.bet/s/6szrbk05" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-19-2024</span>
    <a href="http://jpw.bet/s/cnf537tm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-19-2024</span>
    <a href="http://jpw.bet/s/udoiyjp8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-18-2024</span>
    <a href="http://jpw.bet/s/cxd8swap" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-18-2024</span>
    <a href="http://jpw.bet/s/imt92hak" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-17-2024</span>
    <a href="http://jpw.bet/s/wv8ocpax" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-17-2024</span>
    <a href="http://jpw.bet/s/ftv238ys" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-17-2024</span>
    <a href="http://jpw.bet/s/v8xqk03h" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-17-2024</span>
    <a href="http://jpw.bet/s/na2e10y8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-17-2024</span>
    <a href="http://jpw.bet/s/2zyw1d0g" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-17-2024</span>
    <a href="http://jpw.bet/s/hkrabcwi" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-16-2024</span>
    <a href="http://jpw.bet/s/zocvimxe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-16-2024</span>
    <a href="http://jpw.bet/s/7ljmecdq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-16-2024</span>
    <a href="http://jpw.bet/s/hz7ar6p4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-15-2024</span>
    <a href="http://jpw.bet/s/u621b9iz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-14-2024</span>
    <a href="http://jpw.bet/s/6uz5ih8l" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-14-2024</span>
    <a href="http://jpw.bet/s/xfwy201q" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-14-2024</span>
    <a href="http://jpw.bet/s/r7of8jst" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-14-2024</span>
    <a href="http://jpw.bet/s/nv8k4j5e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-14-2024</span>
    <a href="http://jpw.bet/s/rode3mjt" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-14-2024</span>
    <a href="http://jpw.bet/s/h253m1gk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-14-2024</span>
    <a href="http://jpw.bet/s/86v2fkra" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-14-2024</span>
    <a href="http://jpw.bet/s/atbxdjc3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-14-2024</span>
    <a href="http://jpw.bet/s/5p83bxd2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-14-2024</span>
    <a href="http://jpw.bet/s/eg1ca4dz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-14-2024</span>
    <a href="http://jpw.bet/s/632lpkam" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-14-2024</span>
    <a href="http://jpw.bet/s/6mfp3w7x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-14-2024</span>
    <a href="http://jpw.bet/s/s9bfnwy4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-14-2024</span>
    <a href="http://jpw.bet/s/sphgji4k" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-14-2024</span>
    <a href="http://jpw.bet/s/m75r28ha" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-14-2024</span>
    <a href="http://jpw.bet/s/hm4wgo6c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-14-2024</span>
    <a href="http://jpw.bet/s/9kefdzcq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-14-2024</span>
    <a href="http://jpw.bet/s/t8ghqp60" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-14-2024</span>
    <a href="http://jpw.bet/s/xe01jt5k" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-13-2024</span>
    <a href="http://jpw.bet/s/c4mpky0d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-12-2024</span>
    <a href="http://jpw.bet/s/xm3giod8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-11-2024</span>
    <a href="http://jpw.bet/s/loq3k8x6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-11-2024</span>
    <a href="http://jpw.bet/s/5en6p2u4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot World Coins 11-09-2024</span>
    <a href="http://jpw.bet/s/0jeqz1st" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>