<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 19, 2024</span>
    <a href="http://jpw.bet/s/mh5jb27o" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 19, 2024</span>
    <a href="http://jpw.bet/s/xt61afc9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 19, 2024</span>
    <a href="http://jpw.bet/s/erdxngk8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 19, 2024</span>
    <a href="http://jpw.bet/s/tjvncosa" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 19, 2024</span>
    <a href="http://jpw.bet/s/r6c87pga" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 19, 2024</span>
    <a href="http://jpw.bet/s/592db3fz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 19, 2024</span>
    <a href="http://jpw.bet/s/bcoqkp3e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 19, 2024</span>
    <a href="http://jpw.bet/s/vx0nrmdu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 19, 2024</span>
    <a href="http://jpw.bet/s/w3rc4s6a" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 19, 2024</span>
    <a href="http://jpw.bet/s/b69f3yhi" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 19, 2024</span>
    <a href="http://jpw.bet/s/dpgbcfr7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 19, 2024</span>
    <a href="http://jpw.bet/s/0kq2svzj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 19, 2024</span>
    <a href="http://jpw.bet/s/0ljuhpv1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 19, 2024</span>
    <a href="http://jpw.bet/s/zjgxdwqc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 19, 2024</span>
    <a href="http://jpw.bet/s/baq3mtw5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 19, 2024</span>
    <a href="http://jpw.bet/s/wsja3rbz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 19, 2024</span>
    <a href="http://jpw.bet/s/ahrgpb37" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 19, 2024</span>
    <a href="http://jpw.bet/s/6n35fsdm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 19, 2024</span>
    <a href="http://jpw.bet/s/sv9m5hkl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 19, 2024</span>
    <a href="http://jpw.bet/s/bh2jit95" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 19, 2024</span>
    <a href="http://jpw.bet/s/y4r32isk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 19, 2024</span>
    <a href="http://jpw.bet/s/zef6hvn9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 19, 2024</span>
    <a href="http://jpw.bet/s/rldef8mz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 18, 2024</span>
    <a href="http://jpw.bet/s/nijb0cus" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 16, 2024</span>
    <a href="http://jpw.bet/s/3fdqs7zc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 16, 2024</span>
    <a href="http://jpw.bet/s/09rvnise" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 16, 2024</span>
    <a href="http://jpw.bet/s/28o7ta5p" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 16, 2024</span>
    <a href="http://jpw.bet/s/rwyzvmk0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 16, 2024</span>
    <a href="http://jpw.bet/s/jhf2v51k" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 16, 2024</span>
    <a href="http://jpw.bet/s/dscz1ygw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 16, 2024</span>
    <a href="http://jpw.bet/s/qe31myxl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 16, 2024</span>
    <a href="http://jpw.bet/s/fhtokx86" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 16, 2024</span>
    <a href="http://jpw.bet/s/vhrd30pq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 16, 2024</span>
    <a href="http://jpw.bet/s/mq47tw9g" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 15, 2024</span>
    <a href="http://jpw.bet/s/zqb4ame6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 15, 2024</span>
    <a href="http://jpw.bet/s/gktmrv3b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 15, 2024</span>
    <a href="http://jpw.bet/s/6jlibhnw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 15, 2024</span>
    <a href="http://jpw.bet/s/tjczbifv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 15, 2024</span>
    <a href="http://jpw.bet/s/uh0brfms" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 15, 2024</span>
    <a href="http://jpw.bet/s/kh6mylba" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 15, 2024</span>
    <a href="http://jpw.bet/s/qinyuaoj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 15, 2024</span>
    <a href="http://jpw.bet/s/oc0m56kl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 15, 2024</span>
    <a href="http://jpw.bet/s/r8kgm9sq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 15, 2024</span>
    <a href="http://jpw.bet/s/ouxr2s1e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 15, 2024</span>
    <a href="http://jpw.bet/s/fcqjuixa" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 15, 2024</span>
    <a href="http://jpw.bet/s/lqivzmk6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 15, 2024</span>
    <a href="http://jpw.bet/s/xe0hgnsc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 15, 2024</span>
    <a href="http://jpw.bet/s/o9ebxmtz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 15, 2024</span>
    <a href="http://jpw.bet/s/f726t8ks" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 15, 2024</span>
    <a href="http://jpw.bet/s/cnrxh4ys" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 15, 2024</span>
    <a href="http://jpw.bet/s/nl6wzouh" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 15, 2024</span>
    <a href="http://jpw.bet/s/wqaud83b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 15, 2024</span>
    <a href="http://jpw.bet/s/d5iv9046" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 15, 2024</span>
    <a href="http://jpw.bet/s/kh9j4nfu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 15, 2024</span>
    <a href="http://jpw.bet/s/80khxwcq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 14, 2024</span>
    <a href="http://jpw.bet/s/lu4730ze" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 13, 2024</span>
    <a href="http://jpw.bet/s/6f0xg8tv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 13, 2024</span>
    <a href="http://jpw.bet/s/v8udc04j" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 13, 2024</span>
    <a href="http://jpw.bet/s/9j7om3fg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 13, 2024</span>
    <a href="http://jpw.bet/s/8lr1w56h" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 13, 2024</span>
    <a href="http://jpw.bet/s/6lnths2e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 13, 2024</span>
    <a href="http://jpw.bet/s/ucgsp4ba" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 13, 2024</span>
    <a href="http://jpw.bet/s/ue48b19m" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 13, 2024</span>
    <a href="http://jpw.bet/s/vhrf3xpa" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 13, 2024</span>
    <a href="http://jpw.bet/s/ish5ap4f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 13, 2024</span>
    <a href="http://jpw.bet/s/3plgy2t1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 13, 2024</span>
    <a href="http://jpw.bet/s/dzg9x3t0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 13, 2024</span>
    <a href="http://jpw.bet/s/8um3hwba" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 13, 2024</span>
    <a href="http://jpw.bet/s/pcs5ek24" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 13, 2024</span>
    <a href="http://jpw.bet/s/exg7z3qt" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 13, 2024</span>
    <a href="http://jpw.bet/s/kh6yexdg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 13, 2024</span>
    <a href="http://jpw.bet/s/1fev8j0o" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 13, 2024</span>
    <a href="http://jpw.bet/s/cr73uts1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 13, 2024</span>
    <a href="http://jpw.bet/s/zquripso" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 13, 2024</span>
    <a href="http://jpw.bet/s/46pkox7d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 13, 2024</span>
    <a href="http://jpw.bet/s/ge35049p" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 13, 2024</span>
    <a href="http://jpw.bet/s/dte6jmqh" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 13, 2024</span>
    <a href="http://jpw.bet/s/en78dk2y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 13, 2024</span>
    <a href="http://jpw.bet/s/cey5bko1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 13, 2024</span>
    <a href="http://jpw.bet/s/ltkb2cxr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 13, 2024</span>
    <a href="http://jpw.bet/s/uwv6h50z" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 13, 2024</span>
    <a href="http://jpw.bet/s/5th1qcl2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 13, 2024</span>
    <a href="http://jpw.bet/s/35kjvagf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 13, 2024</span>
    <a href="http://jpw.bet/s/z5kjlvf7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 13, 2024</span>
    <a href="http://jpw.bet/s/wihb7jxv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 12, 2024</span>
    <a href="http://jpw.bet/s/y4o8smrk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 12, 2024</span>
    <a href="http://jpw.bet/s/mv962n5j" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 12, 2024</span>
    <a href="http://jpw.bet/s/kl2enby7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 12, 2024</span>
    <a href="http://jpw.bet/s/ofk2xmqp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 12, 2024</span>
    <a href="http://jpw.bet/s/uf9wp2l1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 12, 2024</span>
    <a href="http://jpw.bet/s/vshyamp2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 12, 2024</span>
    <a href="http://jpw.bet/s/k6aou2pl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 12, 2024</span>
    <a href="http://jpw.bet/s/3zmu85ef" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 10, 2024</span>
    <a href="http://jpw.bet/s/zash1ion" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 9, 2024</span>
    <a href="http://jpw.bet/s/s9yzwud4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 9, 2024</span>
    <a href="http://jpw.bet/s/gyh0aeos" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 9, 2024</span>
    <a href="http://jpw.bet/s/wb092lv5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 9, 2024</span>
    <a href="http://jpw.bet/s/z2ivrwt8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 9, 2024</span>
    <a href="http://jpw.bet/s/n3p18xai" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 9, 2024</span>
    <a href="http://jpw.bet/s/6agr59hl" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>