<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://bit.ly/3AjsgIA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://bit.ly/4frX5Lu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://bit.ly/3YualZP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/46zcntY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/4fqy7Mx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/4c8I26n" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/46z4Yur" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3SBJirR" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/4dnjkAn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://jackpotpartycasino.jckpt.me/e5c303b6f8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3WqoTHy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3Ys1WWX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/4dg5X50" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://jackpotpartycasino.jckpt.me/0cafc5632f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3LILfz1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3Yqn0Nx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3WMm5WE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3LKFvoe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3SrtcRC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/46lELQ9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/4bZaAiV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/4c2jnjS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3WlMU2f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/46jcWrz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://bit.ly/3LDcta6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3yb3ZEb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://bit.ly/3Wotb1M" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3WF31JN" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/4cWmXNX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://jackpotpartycasino.jckpt.me/d32edf5c4d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3WDmrPg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://bit.ly/3YifS5B" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://bit.ly/3WCc6D0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3yjttPz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/46jeh1K" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3SeEh8z" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3YerkiN" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3LzWnhn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3Ylox7k" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/4caeGF3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://bit.ly/46nlIEX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/4fhkvD5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3zLJgXL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://bit.ly/3zLwokG" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/4fdnufK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3zRh0Dm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://bit.ly/4fdmZlS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/4d4Cbjx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3WpRuxH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3WrK9Oi" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/46gi7sb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3zJCUIG" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/4fjGoBY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://bit.ly/4bUhbLk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://jackpotpartycasino.jckpt.me/75aadf6d2e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3YesXwK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3LpUVhA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://bit.ly/4d8dov5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/4bRdaY2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/4cF2iOf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://bit.ly/4bRdaY2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3zI5Noy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/4d3NcRZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3y103pp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/4eXTmFb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3WgMwn0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3WhDaqS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/4cYa7OE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3LlGlI0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/4bAUrzL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3VZtikw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3LjO0q9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://bit.ly/4fa8VtE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://jackpotpartycasino.jckpt.me/a9b242d2d9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/462No1y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3zzCyUW" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3WjdYk3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://bit.ly/3WiAtWc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://bit.ly/3xUBpXy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://jackpotpartycasino.jckpt.me/be687acf9c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3VXtXmn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3S3L4BL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/4eY01z9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://jackpotpartycasino.jckpt.me/0474bbf43b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/4bE10BR" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3RZJAZq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3LdH2mL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://bit.ly/4bBAw3T" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/4609l1A" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/4cVGBcx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3xzYz5o" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3VQgWef" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://jackpotpartycasino.jckpt.me/184c84bd2f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/45PrkHU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://bit.ly/45OKLjS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/45OKIEI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/4croP0W" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://bit.ly/3W9Ri5M" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="http://bit.ly/3zsudCt" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for Invalid Date</span>
    <a href="https://jackpotpartycasino.jckpt.me/8c124da60b" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>