<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 10-07-2024</span>
    <a href="https://bit.ly/3XYRXqq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 10-07-2024</span>
    <a href="http://bit.ly/3XJVtVm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 10-07-2024</span>
    <a href="https://bit.ly/3ZSrcGu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 10-06-2024</span>
    <a href="http://bit.ly/4eu1pJg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 10-06-2024</span>
    <a href="https://bit.ly/3YbYTlj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 10-06-2024</span>
    <a href="https://bit.ly/3Y8loHv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 10-05-2024</span>
    <a href="http://bit.ly/3zzb3LD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 10-05-2024</span>
    <a href="https://bit.ly/4dAktUV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 10-05-2024</span>
    <a href="https://bit.ly/3XPXak4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 10-04-2024</span>
    <a href="https://bit.ly/4errnx6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 10-04-2024</span>
    <a href="http://bit.ly/4dx2KOd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 10-04-2024</span>
    <a href="https://bit.ly/3TWfbvT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 10-03-2024</span>
    <a href="http://bit.ly/3XOishV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 10-03-2024</span>
    <a href="https://bit.ly/3TROEA3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 10-03-2024</span>
    <a href="https://bit.ly/3XMZok9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 10-02-2024</span>
    <a href="https://bit.ly/3XKJp6h" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 10-02-2024</span>
    <a href="http://bit.ly/3TMEOiP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 10-02-2024</span>
    <a href="https://bit.ly/3ZSUxAu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 10-01-2024</span>
    <a href="https://bit.ly/3N6Silz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 10-01-2024</span>
    <a href="https://bit.ly/3zMR2Ry" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 10-01-2024</span>
    <a href="https://bit.ly/4eoqJAq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-30-2024</span>
    <a href="http://bit.ly/3ZGJsTo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-30-2024</span>
    <a href="https://bit.ly/3XKtvZw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-30-2024</span>
    <a href="https://bit.ly/3TNppi2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-29-2024</span>
    <a href="https://bit.ly/3XZidSA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-29-2024</span>
    <a href="http://bit.ly/3N5DRhy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-29-2024</span>
    <a href="https://bit.ly/3XZWCcE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-28-2024</span>
    <a href="http://bit.ly/3zI5REX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-28-2024</span>
    <a href="https://bit.ly/3ZHjr6o" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-28-2024</span>
    <a href="https://bit.ly/4gyzqJM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-27-2024</span>
    <a href="http://bit.ly/4gIS7L8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-27-2024</span>
    <a href="https://bit.ly/3zxvU1M" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-27-2024</span>
    <a href="https://bit.ly/3BkYiVh" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-26-2024</span>
    <a href="https://bit.ly/4emS7P9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-26-2024</span>
    <a href="https://bit.ly/3Bmn2N6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-26-2024</span>
    <a href="https://bit.ly/3XXGQz9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-25-2024</span>
    <a href="http://bit.ly/47H183e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-25-2024</span>
    <a href="https://bit.ly/47E8iF8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-25-2024</span>
    <a href="https://bit.ly/3ZGFTwt" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-24-2024</span>
    <a href="https://bit.ly/4edeNkG" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-24-2024</span>
    <a href="https://bit.ly/3BfJPKg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-24-2024</span>
    <a href="https://bit.ly/4gDhJZQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-23-2024</span>
    <a href="https://bit.ly/3zxYbFe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-23-2024</span>
    <a href="https://bit.ly/3znEZtW" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-23-2024</span>
    <a href="https://bit.ly/3TDE2Vk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-22-2024</span>
    <a href="https://bit.ly/3MS9lI0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-22-2024</span>
    <a href="https://bit.ly/3XAmOZU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-21-2024</span>
    <a href="http://bit.ly/3MSOHHI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-21-2024</span>
    <a href="https://bit.ly/3BchTqC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-21-2024</span>
    <a href="https://bit.ly/3zxUK1i" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-20-2024</span>
    <a href="http://bit.ly/3TASFZp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-20-2024</span>
    <a href="https://bit.ly/4e7IYtv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-20-2024</span>
    <a href="https://bit.ly/3MVzVjm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-19-2024</span>
    <a href="https://bit.ly/4ejFAM2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-19-2024</span>
    <a href="https://bit.ly/3B9Ay6w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-19-2024</span>
    <a href="https://bit.ly/3XO3Twg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-18-2024</span>
    <a href="https://bit.ly/3XLwjqr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-18-2024</span>
    <a href="https://bit.ly/3XwvlNu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-18-2024</span>
    <a href="https://bit.ly/3B5doOC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-17-2024</span>
    <a href="http://bit.ly/4d8kD5L" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-17-2024</span>
    <a href="https://bit.ly/3XqItny" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-16-2024</span>
    <a href="https://bit.ly/3ZxPdCq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-16-2024</span>
    <a href="http://bit.ly/3ZndqeE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-16-2024</span>
    <a href="https://bit.ly/4emB0MT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-15-2024</span>
    <a href="https://bit.ly/3XnAibC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-15-2024</span>
    <a href="https://bit.ly/3zlpClJ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-15-2024</span>
    <a href="http://bit.ly/3zexR31" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-15-2024</span>
    <a href="https://bit.ly/47p1tqW" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-14-2024</span>
    <a href="http://bit.ly/4gmHa1k" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-14-2024</span>
    <a href="https://bit.ly/3XEGsW6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-14-2024</span>
    <a href="https://bit.ly/4e1ILbh" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-13-2024</span>
    <a href="https://bit.ly/4gpZB5A" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-12-2024</span>
    <a href="https://jackpotpartycasino.jckpt.me/c445f97937" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-12-2024</span>
    <a href="https://bit.ly/4gzyIMD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-12-2024</span>
    <a href="http://bit.ly/47pvhDG" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-12-2024</span>
    <a href="https://bit.ly/3Xjtnjz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-11-2024</span>
    <a href="https://bit.ly/4ef5EYE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-11-2024</span>
    <a href="http://bit.ly/3MHEOg5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-11-2024</span>
    <a href="https://bit.ly/4dTBrP5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-10-2024</span>
    <a href="https://bit.ly/4g9DQ9L" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-10-2024</span>
    <a href="https://bit.ly/4e6Keg4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-10-2024</span>
    <a href="https://bit.ly/3z4QaHO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-09-2024</span>
    <a href="http://bit.ly/47hdqz5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-09-2024</span>
    <a href="https://bit.ly/4dTJgnS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-08-2024</span>
    <a href="https://bit.ly/3AQaBJ0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-08-2024</span>
    <a href="http://bit.ly/4dNoxC4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-08-2024</span>
    <a href="https://bit.ly/4dQtaLO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-07-2024</span>
    <a href="https://bit.ly/4dTnIaY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-07-2024</span>
    <a href="https://bit.ly/4e88xua" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-07-2024</span>
    <a href="https://bit.ly/47en4SK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-06-2024</span>
    <a href="http://bit.ly/4cZYMNI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-06-2024</span>
    <a href="https://bit.ly/3TkTUvM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-06-2024</span>
    <a href="https://bit.ly/47ctthv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-05-2024</span>
    <a href="http://bit.ly/3Xu2niq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-05-2024</span>
    <a href="https://bit.ly/3XfyrWc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-05-2024</span>
    <a href="https://bit.ly/3XuNDjl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-04-2024</span>
    <a href="https://bit.ly/47aULVo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-04-2024</span>
    <a href="https://bit.ly/3Xd8HJX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-03-2024</span>
    <a href="https://bit.ly/3XdpIn9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 09-03-2024</span>
    <a href="https://bit.ly/479bYhU" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>