<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-26-2024</span>
    <a href="https://bit.ly/49QbgaI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-26-2024</span>
    <a href="http://bit.ly/3VTC1Fx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-26-2024</span>
    <a href="https://bit.ly/3DvfUPv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-26-2024</span>
    <a href="https://bit.ly/3P6psmy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-25-2024</span>
    <a href="http://bit.ly/41MXaEY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-25-2024</span>
    <a href="https://bit.ly/49Vin1Q" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-25-2024</span>
    <a href="https://bit.ly/49Oq75F" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-24-2024</span>
    <a href="https://bit.ly/4fBrfL0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-24-2024</span>
    <a href="https://bit.ly/3DvcJHq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-24-2024</span>
    <a href="https://bit.ly/4gup39o" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-23-2024</span>
    <a href="https://bit.ly/4iOkNTH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-23-2024</span>
    <a href="https://bit.ly/4gtWysv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-23-2024</span>
    <a href="https://bit.ly/4fqZJ2H" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-22-2024</span>
    <a href="https://bit.ly/4fxNz8m" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-22-2024</span>
    <a href="http://bit.ly/4iITJFy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-22-2024</span>
    <a href="https://bit.ly/4gpkc9s" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-21-2024</span>
    <a href="https://bit.ly/3Dz8wSV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-21-2024</span>
    <a href="http://bit.ly/3ZI3mM1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-21-2024</span>
    <a href="https://bit.ly/4gmyvLT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-20-2024</span>
    <a href="https://bit.ly/41GE7My" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-20-2024</span>
    <a href="https://bit.ly/402J7tY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-20-2024</span>
    <a href="https://bit.ly/49KkrcI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-19-2024</span>
    <a href="https://bit.ly/4glWZoz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-19-2024</span>
    <a href="http://bit.ly/3P3lBqa" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-19-2024</span>
    <a href="https://bit.ly/3BDgM3V" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-18-2024</span>
    <a href="https://bit.ly/4flRfKs" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-18-2024</span>
    <a href="http://bit.ly/4gXmLjd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-18-2024</span>
    <a href="https://bit.ly/41WSvkf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-18-2024</span>
    <a href="https://jackpotpartycasino.jckpt.me/d4fc439b87" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-17-2024</span>
    <a href="http://bit.ly/3VHCcn7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-17-2024</span>
    <a href="https://bit.ly/4frJlPr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-17-2024</span>
    <a href="https://jackpotpartycasino.jckpt.me/3f10217212" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-17-2024</span>
    <a href="http://bit.ly/3OVOq8b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-16-2024</span>
    <a href="https://bit.ly/3BtoHRa" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-16-2024</span>
    <a href="http://bit.ly/3ZSc5wt" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-16-2024</span>
    <a href="https://bit.ly/3VEnnSr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-15-2024</span>
    <a href="https://bit.ly/3OTfODt" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-15-2024</span>
    <a href="http://bit.ly/4ge0Hkj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-15-2024</span>
    <a href="https://bit.ly/3VDDaRj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-14-2024</span>
    <a href="https://bit.ly/3ZCk0wz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-14-2024</span>
    <a href="http://bit.ly/3OQ1qfv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-14-2024</span>
    <a href="https://bit.ly/4iyyZjA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-13-2024</span>
    <a href="https://bit.ly/3ZurK3H" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-13-2024</span>
    <a href="https://bit.ly/4iqFjtH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-13-2024</span>
    <a href="https://bit.ly/3OT9I6g" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-12-2024</span>
    <a href="https://jackpotpartycasino.jckpt.me/98a9c9a560" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-12-2024</span>
    <a href="http://bit.ly/3VzmhXU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-12-2024</span>
    <a href="https://bit.ly/3Vzm2vY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-12-2024</span>
    <a href="https://bit.ly/3ZNMwMW" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-11-2024</span>
    <a href="https://jackpotpartycasino.jckpt.me/55eed0157e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-11-2024</span>
    <a href="http://bit.ly/3ZMTLok" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-11-2024</span>
    <a href="https://bit.ly/3OOe7Y3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-11-2024</span>
    <a href="https://bit.ly/49u0BlU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-10-2024</span>
    <a href="https://bit.ly/4g5fmy6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-10-2024</span>
    <a href="https://bit.ly/49v7Lq6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-10-2024</span>
    <a href="https://bit.ly/4ghBapY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-09-2024</span>
    <a href="http://bit.ly/49uNKzR" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-09-2024</span>
    <a href="https://bit.ly/3Bu1TRc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-09-2024</span>
    <a href="https://bit.ly/4goLsEE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-08-2024</span>
    <a href="https://bit.ly/4iDfxCD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-08-2024</span>
    <a href="http://bit.ly/49o831O" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-08-2024</span>
    <a href="https://bit.ly/3BpKoS4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-07-2024</span>
    <a href="https://jackpotpartycasino.jckpt.me/e26b5baff0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-07-2024</span>
    <a href="https://bit.ly/3ZqkXYv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-07-2024</span>
    <a href="http://bit.ly/3Dcj1eK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-07-2024</span>
    <a href="https://bit.ly/41kH1qc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-06-2024</span>
    <a href="https://bit.ly/3OGscGV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-06-2024</span>
    <a href="http://bit.ly/4fW4hPK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-06-2024</span>
    <a href="https://bit.ly/4gowlv7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-05-2024</span>
    <a href="http://bit.ly/4eWT7cp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-05-2024</span>
    <a href="https://bit.ly/4gmt3Zj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-05-2024</span>
    <a href="https://bit.ly/3VlYXgi" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-04-2024</span>
    <a href="http://bit.ly/3ZlUSKc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-04-2024</span>
    <a href="https://bit.ly/3VonXn5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-04-2024</span>
    <a href="https://bit.ly/4g1eISo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-03-2024</span>
    <a href="https://jackpotpartycasino.jckpt.me/bfd9d87903" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-03-2024</span>
    <a href="http://bit.ly/3B6yKLY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-03-2024</span>
    <a href="https://bit.ly/3CSBXPI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-03-2024</span>
    <a href="https://bit.ly/3Vm5A2m" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-02-2024</span>
    <a href="https://bit.ly/497fL0l" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-02-2024</span>
    <a href="https://bit.ly/4hTfEcN" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-02-2024</span>
    <a href="https://bit.ly/3AOdgDy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-01-2024</span>
    <a href="https://bit.ly/3V6oRo3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-01-2024</span>
    <a href="https://bit.ly/3OicOAz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 12-01-2024</span>
    <a href="https://bit.ly/3ZoX7gZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 11-30-2024</span>
    <a href="http://bit.ly/4fzmvX6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 11-30-2024</span>
    <a href="https://bit.ly/3Zs1R5u" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 11-30-2024</span>
    <a href="https://bit.ly/498OWZI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 11-29-2024</span>
    <a href="https://jackpotpartycasino.jckpt.me/ea0f1f8c05" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 11-29-2024</span>
    <a href="http://bit.ly/3V3mUsz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 11-29-2024</span>
    <a href="https://bit.ly/3COOrIb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 11-29-2024</span>
    <a href="http://bit.ly/3Z1slcC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 11-29-2024</span>
    <a href="https://bit.ly/3OrZ85W" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 11-28-2024</span>
    <a href="http://bit.ly/4gf8oX9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 11-28-2024</span>
    <a href="https://bit.ly/3CIx8bD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 11-28-2024</span>
    <a href="http://bit.ly/3ZfnWUT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 11-28-2024</span>
    <a href="https://bit.ly/4fJFrTf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 11-27-2024</span>
    <a href="https://bit.ly/3ZlFtLg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 11-27-2024</span>
    <a href="https://bit.ly/4fVr4e5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Jackpot Party Coins 11-27-2024</span>
    <a href="https://jackpotpartycasino.jckpt.me/53e347889c" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>