<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 12-11-2024</span>
    <a href="https://mgm.play-freebies.com/4g6bE7j" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 12-11-2024</span>
    <a href="https://mgm.play-freebies.com/3D31Lst" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 12-11-2024</span>
    <a href="https://mgm.play-freebies.com/3ZKhBRR" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 12-11-2024</span>
    <a href="http://mgm.play-freebies.com/4gr8hYw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 12-10-2024</span>
    <a href="http://mgm.play-freebies.com/3OLJqCP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 12-10-2024</span>
    <a href="https://mgm.play-freebies.com/41oajUO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 12-10-2024</span>
    <a href="https://mgm.play-freebies.com/4ioio23?fbclid=PAZXh0bgNhZW0CMTEAAabFpP-E7icwE4QjvIwFvMDQwwavQN0gLChtEF1FtebzkrdjI1l_zfXNGyc_aem_KIQSk-SSECWndwcWzjt4Mg." class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 12-09-2024</span>
    <a href="https://mgm.play-freebies.com/4fWLrbq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 12-09-2024</span>
    <a href="http://mgm.play-freebies.com/4gbi1pO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 12-08-2024</span>
    <a href="https://mgm.play-freebies.com/3OGJCmT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 12-08-2024</span>
    <a href="https://mgm.play-freebies.com/3OFChUx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 12-07-2024</span>
    <a href="http://mgm.play-freebies.com/3ZpsN50" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 12-07-2024</span>
    <a href="https://mgm.play-freebies.com/3VhA1qg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 12-05-2024</span>
    <a href="https://mgm.play-freebies.com/49jpalo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 12-05-2024</span>
    <a href="http://mgm.play-freebies.com/49gAM8X" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 12-05-2024</span>
    <a href="http://mgm.play-freebies.com/4ghRA1q" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 12-05-2024</span>
    <a href="https://mgm.play-freebies.com/3VhzRza" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 12-03-2024</span>
    <a href="https://mgm.play-freebies.com/41foTy4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 12-03-2024</span>
    <a href="http://mgm.play-freebies.com/4f23j3l" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 12-03-2024</span>
    <a href="https://landingpages.mgmslotslive.com/2.37.100281/site/pages/landingshow/index.html?coupon=RMGM_1M_20241203_IG_swybdr_CM&fbclid=PAY2xjawG7_2pleHRuA2FlbQIxMAABplqWUNCBIU-ws1DMHtKIWa5bxjBlUlZ354ZpfcN9KZBWkcpVsNsCQWeGmw_aem_M54ktlMie7GdHdG4xCj9kQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 12-02-2024</span>
    <a href="https://mgm.play-freebies.com/3Vfl3kF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 12-02-2024</span>
    <a href="http://mgm.play-freebies.com/4fbzVI5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 12-02-2024</span>
    <a href="https://landingpages.mgmslotslive.com/2.37.100281/site/pages/landingshow/index.html?coupon=RMGM_1M_20241202_IG_exer_CM&fbclid=PAY2xjawG6mW9leHRuA2FlbQIxMAABppHj8tTjPe0_9IQpHtI1PxrTN16ZF7esLTt5hrZ_nQuiVCUuDyriGUw-Dg_aem_nPoTg6r1dQKjdg8Wscoekw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 12-02-2024</span>
    <a href="http://mgm.play-freebies.com/4g8nnSr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 12-02-2024</span>
    <a href="https://mgm.play-freebies.com/3ZquNuF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 12-02-2024</span>
    <a href="http://mgm.play-freebies.com/3CGkLNp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 12-02-2024</span>
    <a href="https://mgm.play-freebies.com/494L8bE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-30-2024</span>
    <a href="https://mgm.play-freebies.com/4g2UAP5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-30-2024</span>
    <a href="https://mgm.play-freebies.com/412j8U4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-30-2024</span>
    <a href="https://landingpages.mgmslotslive.com/2.37.100281/site/pages/landingshow/index.html?coupon=RMGM_1M_20241130_IG_asde_CM&fbclid=PAY2xjawG4LN9leHRuA2FlbQIxMAABpngmGTvwRC1fYdMWhk8Oct1-CO38VXutLAVGJkXcjiy-VCIJ0G_dh3c5Qw_aem_JTy1-KsZEjrawRLhypeb9w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-30-2024</span>
    <a href="https://mgm.play-freebies.com/4fXCaQt" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-30-2024</span>
    <a href="http://mgm.play-freebies.com/3CHNJMV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-29-2024</span>
    <a href="https://landingpages.mgmslotslive.com/2.37.100281/site/pages/landingshow/index.html?coupon=RMGM_1M_20241128_IG_asde_CM&fbclid=PAY2xjawG2PSpleHRuA2FlbQIxMAABpmL8TN3aVocQjKi2qmOx1-DsrUviL-bKWyNnA6sQPnDmlmQfU9x4RPdP4w_aem_eHlCzWb_-wrXGs_lGul87Q" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-29-2024</span>
    <a href="http://mgm.play-freebies.com/416U9iD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-29-2024</span>
    <a href="https://mgm.play-freebies.com/4fFwWZg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-29-2024</span>
    <a href="http://mgm.play-freebies.com/413bqJr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-29-2024</span>
    <a href="https://mgm.play-freebies.com/3Z1wxcF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-27-2024</span>
    <a href="http://mgm.play-freebies.com/494M6oq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-27-2024</span>
    <a href="https://mgm.play-freebies.com/3Vb2XQS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-27-2024</span>
    <a href="https://landingpages.mgmslotslive.com/2.37.100281/site/pages/landingshow/index.html?coupon=RMGM_1M_20241127_IG_asde_CM&fbclid=PAY2xjawG0AAFleHRuA2FlbQIxMAABpgK1POT1gKo87EYEbdCZ21OJqaNqDIvpdEXVoLR635dPNLCsY22imTR7Cw_aem_rJ7YDAyuvOdqeu5uzYurAA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-27-2024</span>
    <a href="http://mgm.play-freebies.com/4g4oiU4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-27-2024</span>
    <a href="https://mgm.play-freebies.com/4fCAw6q" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-25-2024</span>
    <a href="https://mgm.play-freebies.com/3V5ejpl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-25-2024</span>
    <a href="http://mgm.play-freebies.com/3ZdRylw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-25-2024</span>
    <a href="https://landingpages.mgmslotslive.com/2.37.100281/site/pages/landingshow/index.html?coupon=RMGM_1M_20241125_IG_xxee_CM&fbclid=PAY2xjawGxeEFleHRuA2FlbQIxMAABpvGNuxRVvQKloKoQShfUKKJKmW0HfsNMXl1NixmpXnkfJbkU40-ezmkS9Q_aem_dsa4HO7KohQSw4UMOHjPVA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-25-2024</span>
    <a href="http://mgm.play-freebies.com/4g0m9Zz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-25-2024</span>
    <a href="https://mgm.play-freebies.com/492eQ0V" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-24-2024</span>
    <a href="https://mgm.play-freebies.com/3YZXahT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-24-2024</span>
    <a href="http://mgm.play-freebies.com/4eEPdVe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-23-2024</span>
    <a href="http://mgm.play-freebies.com/3ZiXhqt" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-23-2024</span>
    <a href="https://mgm.play-freebies.com/3V4zGHw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-23-2024</span>
    <a href="https://mgm.play-freebies.com/4hWvrYi" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-23-2024</span>
    <a href="http://mgm.play-freebies.com/3CCkZFb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-22-2024</span>
    <a href="https://mgm.play-freebies.com/48Zof9z" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-22-2024</span>
    <a href="http://mgm.play-freebies.com/3Z2lQ9J" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-20-2024</span>
    <a href="https://mgm.play-freebies.com/4fIyMIy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-20-2024</span>
    <a href="https://landingpages.mgmslotslive.com/2.37.100281/site/pages/landingshow/index.html?coupon=RMGM_1M_20241120_IG_acsjg_CM&fbclid=PAY2xjawGq9KVleHRuA2FlbQIxMAABpqqXJjPrnQoC0DTsd7wvWgaDOsf33QjKzCfbCpD4HKg9fR1uIvvcJxArpg_aem_mUDW2txxlkXakA18nJnPOQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-20-2024</span>
    <a href="http://mgm.play-freebies.com/4hRfouO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-20-2024</span>
    <a href="https://landingpages.mgmslotslive.com/2.37.100281/site/pages/landingshow/index.html?coupon=RMGM_1M_20241120_IG_acsjg_CM&fbclid=PAY2xjawGq1b1leHRuA2FlbQIxMAABptZzm8X0FlGhAPw3XXXf5GX8DmpkqkSl70pYCKIEK0FBnffn9Jzerj4zOw_aem_dSjOfrT2Z0DJDWkQXLACGg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-20-2024</span>
    <a href="http://mgm.play-freebies.com/3ZaOExV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-20-2024</span>
    <a href="https://mgm.play-freebies.com/40LyMTU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-19-2024</span>
    <a href="https://mgm.play-freebies.com/4fT9NSK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-19-2024</span>
    <a href="https://mgm.play-freebies.com/3CyYvoq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-18-2024</span>
    <a href="http://mgm.play-freebies.com/3CuKiJ9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-18-2024</span>
    <a href="https://mgm.play-freebies.com/3Z4EHSL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-17-2024</span>
    <a href="http://mgm.play-freebies.com/40LPgLG" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-17-2024</span>
    <a href="https://mgm.play-freebies.com/40OWcrA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-15-2024</span>
    <a href="https://mgm.play-freebies.com/4hHSAh7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-15-2024</span>
    <a href="http://mgm.play-freebies.com/4erPOcJ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-15-2024</span>
    <a href="https://landingpages.mgmslotslive.com/2.37.100281/site/pages/landingshow/index.html?coupon=RMGM_1M_20240918_IG_zzsd_CM&fbclid=PAY2xjawGkZLxleHRuA2FlbQIxMAABphV9LEQI-IHrttu6cEOFU7nYbk0ZqXo1e4pliAqZhgRiHYyKiyU2V9fF6A_aem_uEzDH3PUMz1Ul-nc1IW4cA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-15-2024</span>
    <a href="http://mgm.play-freebies.com/3UQpYs9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-15-2024</span>
    <a href="https://mgm.play-freebies.com/48PtmJi" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-14-2024</span>
    <a href="https://mgm.play-freebies.com/3YQ0XP4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-14-2024</span>
    <a href="http://mgm.play-freebies.com/3AJsXeU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-14-2024</span>
    <a href="https://landingpages.mgmslotslive.com/2.37.100281/site/pages/landingshow/index.html?coupon=RMGM_1M_20241113_IG_aaxxfv_CM&fbclid=PAY2xjawGhimtleHRuA2FlbQIxMAABpiVdsrqUtntIh6x1aR26Yr2uEbYZMCRDuABlMda8WFk9X026BmJG49GtCw_aem_RMrZZ8D-yCUoQ8EMAO8A1w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-12-2024</span>
    <a href="https://mgm.play-freebies.com/40AP95E" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-12-2024</span>
    <a href="http://mgm.play-freebies.com/4hJeIrd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-12-2024</span>
    <a href="https://landingpages.mgmslotslive.com/2.37.100281/site/pages/landingshow/index.html?coupon=RMGM_1M_20241112_IG_aaxxfv_CM&fbclid=PAY2xjawGgMbRleHRuA2FlbQIxMAABphxsw7IS2CMLXgX2Ir-uncvKZ9D34JILCHm-OthRLTNWSeb-7ttAKpUfNw_aem_BNILIj16FHeItzE-_uBS5w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-12-2024</span>
    <a href="http://mgm.play-freebies.com/3OnMuFf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-12-2024</span>
    <a href="https://mgm.play-freebies.com/3YZcufU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-10-2024</span>
    <a href="https://mgm.play-freebies.com/4eFMBY7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-10-2024</span>
    <a href="https://mgm.play-freebies.com/3BEIjl2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-10-2024</span>
    <a href="https://mgm.play-freebies.com/4f5Nn0a" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-10-2024</span>
    <a href="http://mgm.play-freebies.com/4eV7U7M" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-10-2024</span>
    <a href="https://mgm.play-freebies.com/3BGzAie" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-09-2024</span>
    <a href="http://mgm.play-freebies.com/3YG2RS5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-09-2024</span>
    <a href="https://mgm.play-freebies.com/3YE20Bp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-09-2024</span>
    <a href="http://mgm.play-freebies.com/484bDO5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-09-2024</span>
    <a href="https://mgm.play-freebies.com/4f1wCmY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-08-2024</span>
    <a href="http://mgm.play-freebies.com/4eZ0392" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-08-2024</span>
    <a href="https://mgm.play-freebies.com/4f4JOaB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-07-2024</span>
    <a href="http://mgm.play-freebies.com/4f4mXfc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-07-2024</span>
    <a href="https://mgm.play-freebies.com/3BHA3kd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-05-2024</span>
    <a href="http://mgm.play-freebies.com/4f3Xh2n" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-05-2024</span>
    <a href="https://mgm.play-freebies.com/4f2h6av" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-05-2024</span>
    <a href="https://landingpages.mgmslotslive.com/2.37.100281/site/pages/landingshow/index.html?coupon=RMGM_1M_20241105_TW_uiop_CM&fbclid=PAY2xjawGXMKVleHRuA2FlbQIxMAABpl0PCdr9lPd_5kPFaj6zbhs2bmnYfRAR9flw4ozkPb1XrdERLlF0y3JR8A_aem_8I91AYntyd7ZD-vuYH01uw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-04-2024</span>
    <a href="https://mgm.play-freebies.com/4f6A7Zw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-04-2024</span>
    <a href="http://mgm.play-freebies.com/4f78srl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-04-2024</span>
    <a href="https://landingpages.mgmslotslive.com/2.37.100281/site/pages/landingshow/index.html?coupon=RMGM_1M_20241104_TW_qwerty_CM&fbclid=PAY2xjawGV3SxleHRuA2FlbQIxMAABpl6_Xxdv4mJq6hKEpkBNa2QfBLeGFonQNi5ai0tpxGjyE05a0IhJgBLgGg_aem_M3aGp6LaCWpvC6tIaxnvpg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>MGM Slots Live Chips 11-04-2024</span>
    <a href="https://mgm.play-freebies.com/4f5xUNS" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>