<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 23, 2024</span>
    <a href="https://landingpages.mgmslotslive.com/2.37.100281/site/pages/landingshow/index.html?coupon=RMGM_1M_20240923_IG_aaav_CM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 23, 2024</span>
    <a href="https://mgm.play-freebies.com/3XR5Yax" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 22, 2024</span>
    <a href="https://mgm.play-freebies.com/3BagWiK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 22, 2024</span>
    <a href="http://mgm.play-freebies.com/47BNSwA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 21, 2024</span>
    <a href="http://mgm.play-freebies.com/3TBIqny" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 21, 2024</span>
    <a href="https://mgm.play-freebies.com/3MUGUcA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 21, 2024</span>
    <a href="https://landingpages.mgmslotslive.com/2.37.100281/site/pages/landingshow/index.html?coupon=RMGM_1M_20240921_IG_sswd_CM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 21, 2024</span>
    <a href="https://mgm.play-freebies.com/4epYmkI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 21, 2024</span>
    <a href="https://mgm.play-freebies.com/4gwUK2k" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 21, 2024</span>
    <a href="https://mgm.play-freebies.com/3XT3Luj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 21, 2024</span>
    <a href="https://mgm.play-freebies.com/3Xy0v7d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 19, 2024</span>
    <a href="https://mgm.play-freebies.com/4e8JxDF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 19, 2024</span>
    <a href="http://mgm.play-freebies.com/3XKuHxf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 19, 2024</span>
    <a href="https://landingpages.mgmslotslive.com/2.37.100281/site/pages/landingshow/index.html?coupon=RMGM_1M_20240919_IG_bbqd_CM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 19, 2024</span>
    <a href="https://mgm.play-freebies.com/3ZsdUAs" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 18, 2024</span>
    <a href="https://landingpages.mgmslotslive.com/2.37.100281/site/pages/landingshow/index.html?coupon=RMGM_1M_20240918_IG_zzsd_CM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 18, 2024</span>
    <a href="https://mgm.play-freebies.com/3Ty7pIF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 18, 2024</span>
    <a href="https://mgm.play-freebies.com/3B8ONIR" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 17, 2024</span>
    <a href="http://mgm.play-freebies.com/4e2ARyH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 17, 2024</span>
    <a href="https://mgm.play-freebies.com/4d9qBmV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 17, 2024</span>
    <a href="https://mgm.play-freebies.com/3MKoaMX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 17, 2024</span>
    <a href="http://mgm.play-freebies.com/3XKRvx2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 17, 2024</span>
    <a href="https://mgm.play-freebies.com/3XqjeSk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 16, 2024</span>
    <a href="http://mgm.play-freebies.com/47wiuzI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 16, 2024</span>
    <a href="https://mgm.play-freebies.com/4emsZYv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 14, 2024</span>
    <a href="http://mgm.play-freebies.com/3TvbLAd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 14, 2024</span>
    <a href="https://mgm.play-freebies.com/3AX3Ncv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 14, 2024</span>
    <a href="https://landingpages.mgmslotslive.com/2.37.100281/site/pages/landingshow/index.html?coupon=RMGM_1M_IG_20241409_avvv_CM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 13, 2024</span>
    <a href="https://mgm.play-freebies.com/3ZtwwA9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 13, 2024</span>
    <a href="http://mgm.play-freebies.com/3Tvy0Ge" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 13, 2024</span>
    <a href="http://mgm.play-freebies.com/3ZmTXe8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 13, 2024</span>
    <a href="https://mgm.play-freebies.com/3zl3Rm3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 13, 2024</span>
    <a href="https://landingpages.mgmslotslive.com/2.37.100281/site/pages/landingshow/index.html?coupon=RMGM_1M_IG_20241309_zava_CM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 12, 2024</span>
    <a href="http://mgm.play-freebies.com/3XFywnm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 12, 2024</span>
    <a href="https://mgm.play-freebies.com/47ohFJ2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 12, 2024</span>
    <a href="https://landingpages.mgmslotslive.com/2.37.100281/site/pages/landingshow/index.html?coupon=RMGM_1M_IG_20241209_avva_CM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 11, 2024</span>
    <a href="https://mgm.play-freebies.com/4eg0ITi" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 11, 2024</span>
    <a href="http://mgm.play-freebies.com/4dWxnNP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 11, 2024</span>
    <a href="https://landingpages.mgmslotslive.com/2.37.100281/site/pages/landingshow/index.html?coupon=RMGM_1M_IG_20241109_queenxx_CM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 10, 2024</span>
    <a href="https://mgm.play-freebies.com/4cZjFsj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 10, 2024</span>
    <a href="https://mgm.play-freebies.com/3MH91vL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 9, 2024</span>
    <a href="https://mgm.play-freebies.com/3z9nIVg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 9, 2024</span>
    <a href="https://mgm.play-freebies.com/3MDC2IH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 9, 2024</span>
    <a href="https://mgm.play-freebies.com/3ME10rq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 8, 2024</span>
    <a href="http://mgm.play-freebies.com/47idiix" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 8, 2024</span>
    <a href="https://mgm.play-freebies.com/47fkigd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 8, 2024</span>
    <a href="https://landingpages.mgmslotslive.com/2.37.100281/site/pages/landingshow/index.html?coupon=RMGM_1M_IG_20240809_msdc_CM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 7, 2024</span>
    <a href="https://mgm.play-freebies.com/3AWFgo8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 7, 2024</span>
    <a href="http://mgm.play-freebies.com/3XeGK4p" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 7, 2024</span>
    <a href="https://mgm.play-freebies.com/4cVr8Zx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 7, 2024</span>
    <a href="http://mgm.play-freebies.com/4ghyglW" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 7, 2024</span>
    <a href="https://mgm.play-freebies.com/47f9zCz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 7, 2024</span>
    <a href="http://mgm.play-freebies.com/4edm4kp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 7, 2024</span>
    <a href="https://mgm.play-freebies.com/4e9k6Bh" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 6, 2024</span>
    <a href="http://mgm.play-freebies.com/4eadzqg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 6, 2024</span>
    <a href="https://mgm.play-freebies.com/4ebpN1A" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 6, 2024</span>
    <a href="https://landingpages.mgmslotslive.com/2.37.100281/site/pages/landingshow/index.html?coupon=RMGM_1M_IG_20240609_uzzc_CM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 6, 2024</span>
    <a href="http://mgm.play-freebies.com/3TiPWno" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 6, 2024</span>
    <a href="https://mgm.play-freebies.com/3XbrmG3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 5, 2024</span>
    <a href="https://mgm.play-freebies.com/47eYgub" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 4, 2024</span>
    <a href="http://mgm.play-freebies.com/4dOnr9k" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 4, 2024</span>
    <a href="https://mgm.play-freebies.com/3ThsAhJ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 4, 2024</span>
    <a href="https://landingpages.mgmslotslive.com/2.37.100281/site/pages/landingshow/index.html?coupon=RMGM_1M_IG_20240409_xttc_CM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 3, 2024</span>
    <a href="https://mgm.play-freebies.com/3Z3jSYi" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 3, 2024</span>
    <a href="http://mgm.play-freebies.com/3ARzzaX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 3, 2024</span>
    <a href="https://mgm.play-freebies.com/4dSifkH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 3, 2024</span>
    <a href="https://mgm.play-freebies.com/4e5rrlr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 1, 2024</span>
    <a href="https://mgm.play-freebies.com/3Xb5pqH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 1, 2024</span>
    <a href="http://mgm.play-freebies.com/4g3OEq1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for September 1, 2024</span>
    <a href="https://landingpages.mgmslotslive.com/2.37.100281/site/pages/landingshow/index.html?coupon=RMGM_1M_IG_20240109_asdfc_CM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 31, 2024</span>
    <a href="http://mgm.play-freebies.com/3MtqDLk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 31, 2024</span>
    <a href="https://mgm.play-freebies.com/3Z7SkkC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 31, 2024</span>
    <a href="https://mgm.play-freebies.com/4cIbVLn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 31, 2024</span>
    <a href="https://mgm.play-freebies.com/4cN8brX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 31, 2024</span>
    <a href="http://mgm.play-freebies.com/4cN8inn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 31, 2024</span>
    <a href="http://mgm.play-freebies.com/4g5Dktk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 30, 2024</span>
    <a href="https://mgm.play-freebies.com/4g0Wqkv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 30, 2024</span>
    <a href="https://mgm.play-freebies.com/3Z5wZby" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 29, 2024</span>
    <a href="https://mgm.play-freebies.com/3T7MrjE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 29, 2024</span>
    <a href="http://mgm.play-freebies.com/3Ta6Moh" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 29, 2024</span>
    <a href="http://mgm.play-freebies.com/3Xmf3rK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 29, 2024</span>
    <a href="https://mgm.play-freebies.com/3X6WAxU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 28, 2024</span>
    <a href="https://mgm.play-freebies.com/4cM4ov1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 28, 2024</span>
    <a href="http://mgm.play-freebies.com/4dGR4ZV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 27, 2024</span>
    <a href="https://mgm.play-freebies.com/3XkuP6s" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 27, 2024</span>
    <a href="https://mgm.play-freebies.com/4g2RNqc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 27, 2024</span>
    <a href="http://mgm.play-freebies.com/3T4jRPU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 27, 2024</span>
    <a href="https://mgm.play-freebies.com/4dBuodL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 27, 2024</span>
    <a href="http://mgm.play-freebies.com/4cAdydS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 25, 2024</span>
    <a href="https://landingpages.mgmslotslive.com/2.37.100281/site/pages/landingshow/index.html?coupon=RMGM_1M_IG_20242508_yuio_CM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 25, 2024</span>
    <a href="https://mgm.play-freebies.com/3Mk8Ypy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 25, 2024</span>
    <a href="http://mgm.play-freebies.com/3Ml0Hl9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 23, 2024</span>
    <a href="https://landingpages.mgmslotslive.com/2.37.100281/site/pages/landingshow/index.html?coupon=RMGM_1M_IG_20242308_aasas_CM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 23, 2024</span>
    <a href="https://mgm.play-freebies.com/3WW1Ft4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 23, 2024</span>
    <a href="http://mgm.play-freebies.com/4dwwA6f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 22, 2024</span>
    <a href="https://mgm.play-freebies.com/3YTLK0I" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 22, 2024</span>
    <a href="https://mgm.play-freebies.com/3YQdLXd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 22, 2024</span>
    <a href="http://mgm.play-freebies.com/3ABe1zh" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 21, 2024</span>
    <a href="https://mgm.play-freebies.com/4fPddXv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Chips for August 21, 2024</span>
    <a href="http://mgm.play-freebies.com/4dvZKT0" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>