<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-29-2024</span>
    <a href="https://2tdd.adj.st/reward-link/Ietmn935sJwq?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-28-2024</span>
    <a href="https://2tdd.adj.st/reward-link/Msliee9490013?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-28-2024</span>
    <a href="https://2tdd.adj.st/reward-link/Discord_28nov?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-27-2024</span>
    <a href="https://2tdd.adj.st/reward-link/WOtvmgh36goq23?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-27-2024</span>
    <a href="https://mply.io/JXuRVNtzGy8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-26-2024</span>
    <a href="https://2tdd.adj.st/reward-link/uygbWEytgr5675?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-26-2024</span>
    <a href="https://2tdd.adj.st/reward-link/Mdkti634Addfg?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-25-2024</span>
    <a href="https://2tdd.adj.st/reward-link/Discord_25Nov_123353?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-24-2024</span>
    <a href="https://2tdd.adj.st/reward-link/gjytitmmU258700?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-25-2024</span>
    <a href="https://2tdd.adj.st/reward-link/gkjnekk24Qtas9?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-24-2024</span>
    <a href="https://2tdd.adj.st/reward-link/gkWr5jn572314?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-23-2024</span>
    <a href="https://2tdd.adj.st/reward-link/airjlMAW1462?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-22-2024</span>
    <a href="https://2tdd.adj.st/reward-link/gkjgtyMSLwt24666?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-21-2024</span>
    <a href="https://mply.io/IP7NUBQxRi8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-21-2024</span>
    <a href="https://mply.io/AfXkIWm5D5A" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-20-2024</span>
    <a href="https://2tdd.adj.st/reward-link/flkjeKLWO12677?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-19-2024</span>
    <a href="https://2tdd.adj.st/reward-link/gikjfgma2360Oq3KW?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-18-2024</span>
    <a href="https://mply.io/sN6FBsZb7kY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-18-2024</span>
    <a href="https://mply.io/t8ew4detJYI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-17-2024</span>
    <a href="https://2tdd.adj.st/reward-link/Vhsaw30ksg18012?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-17-2024</span>
    <a href="https://2tdd.adj.st/reward-link/hgknHwolqp3775?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-16-2024</span>
    <a href="https://2tdd.adj.st/reward-link/fehoinvJSOl2445?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-15-2024</span>
    <a href="https://2tdd.adj.st/reward-link/gjkyiIJEl206ke?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-14-2024</span>
    <a href="https://mply.io/ft-FKv9J8cA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-14-2024</span>
    <a href="https://2tdd.adj.st/reward-link/gfhytrTTgj86?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-13-2024</span>
    <a href="https://2tdd.adj.st/reward-link/NNei4h6hr99?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-11-2024</span>
    <a href="https://2tdd.adj.st/reward-link/boirjm59209A?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-11-2024</span>
    <a href="https://mply.io/HfDC8Y3Ofb4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-10-2024</span>
    <a href="https://mply.io/_DzwpN5sapQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-10-2024</span>
    <a href="https://2tdd.adj.st/reward-link/VKJlIaegmiy599?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-09-2024</span>
    <a href="https://2tdd.adj.st/reward-link/NOk9097ihhftt?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-08-2024</span>
    <a href="https://2tdd.adj.st/reward-link/iubajkcHHk0097?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-07-2024</span>
    <a href="https://mply.io/JLsO17XVt2Y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-07-2024</span>
    <a href="https://2tdd.adj.st/reward-link/tyjiIYe2o98?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-06-2024</span>
    <a href="https://2tdd.adj.st/reward-link/gjteotG32jjf?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-05-2024</span>
    <a href="https://2tdd.adj.st/reward-link/fjjriGAekgmJubilee558?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-05-2024</span>
    <a href="https://mply.io/cV3GcEvvOyg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-04-2024</span>
    <a href="https://mply.io/hLtt0A" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-04-2024</span>
    <a href="https://2tdd.adj.st/reward-link/bvieutnJJK20089?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-04-2024</span>
    <a href="https://mply.io/bHuLKGvYDEQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-03-2024</span>
    <a href="https://2tdd.adj.st/reward-link/riySDKqfsef35gs3?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-02-2024</span>
    <a href="https://2tdd.adj.st/reward-link/eortiuytm4039kfrFERW?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-02-2024</span>
    <a href="https://2tdd.adj.st/reward-link/pAAwjo029598?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-01-2024</span>
    <a href="https://mply.io/eZFCVSJYQAw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-01-2024</span>
    <a href="https://mply.io/48bxaTzHEMk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-31-2024</span>
    <a href="https://2tdd.adj.st/reward-link/gjjJFNQ83jj2?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-30-2024</span>
    <a href="https://2tdd.adj.st/reward-link/KJDjne0qel46611?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-29-2024</span>
    <a href="https://mply.io/hC9BEg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-28-2024</span>
    <a href="https://2tdd.adj.st/reward-link/Discord_28otct_2355?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-28-2024</span>
    <a href="https://2tdd.adj.st/reward-link/bjkAsASotht00833?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-27-2024</span>
    <a href="https://2tdd.adj.st/reward-link/eiotn2l4924?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-27-2024</span>
    <a href="https://mply.io/hq6NQwVZRso" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-26-2024</span>
    <a href="https://mply.io/muHo8yO1t6k" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-25-2024</span>
    <a href="https://mply.io/O4vKkz1RXTE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-24-2024</span>
    <a href="https://mply.io/333ZM-TtG1g" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-24-2024</span>
    <a href="https://2tdd.adj.st/reward-link/tirjmf3013344?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-23-2024</span>
    <a href="https://mply.io/zYll2SL5_Oo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-22-2024</span>
    <a href="https://mply.io/3gOhd5HnCLU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-21-2024</span>
    <a href="https://mply.io/1pVcL4imMS0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-21-2024</span>
    <a href="https://mply.io/tmyxDWY7_pE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-21-2024</span>
    <a href="https://2tdd.adj.st/reward-link/glijemm0949?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-20-2024</span>
    <a href="https://2tdd.adj.st/reward-link/ked93kfnne4980?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-19-2024</span>
    <a href="https://mply.io/8yY7eAsZAHo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-18-2024</span>
    <a href="https://2tdd.adj.st/reward-link/bvkatpu2601?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-17-2024</span>
    <a href="https://2tdd.adj.st/reward-link/eoiyfnmlkj919399?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-17-2024</span>
    <a href="https://2tdd.adj.st/reward-link/Discord_17oct_1234235?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-16-2024</span>
    <a href="https://mply.io/9S3NOS4qtxg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-15-2024</span>
    <a href="https://mply.io/cCoyB38PZRM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-15-2024</span>
    <a href="https://2tdd.adj.st/reward-link/kuiybckq81087?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-14-2024</span>
    <a href="https://2tdd.adj.st/reward-link/vliutnhlau426900?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-14-2024</span>
    <a href="https://mply.io/ll-t5rsCdas" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-13-2024</span>
    <a href="https://2tdd.adj.st/reward-link/sor5i4823ikk?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-12-2024</span>
    <a href="https://2tdd.adj.st/reward-link/ktio481j52344?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-11-2024</span>
    <a href="https://2tdd.adj.st/reward-link/ghrjiooiuy949000?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-11-2024</span>
    <a href="https://mply.io/V35n467Cx80" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-10-2024</span>
    <a href="https://mply.io/14w7r8Q-bOQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-10-2024</span>
    <a href="https://2tdd.adj.st/reward-link/njfitbnkutgujy2908?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-09-2024</span>
    <a href="https://2tdd.adj.st/reward-link/bvhgfjhhtjh4848?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-08-2024</span>
    <a href="https://2tdd.adj.st/reward-link/giero48thfi?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-08-2024</span>
    <a href="https://mply.io/ZVtdkyrBC5M" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-08-2024</span>
    <a href="https://2tdd.adj.st/reward-link/gkjhtu4582fgj0if?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-07-2024</span>
    <a href="https://mply.io/86UwdgKmVE8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-07-2024</span>
    <a href="https://2tdd.adj.st/reward-link/vbfjkth198faffgg?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-06-2024</span>
    <a href="https://2tdd.adj.st/reward-link/fkujyrnk9753?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-05-2024</span>
    <a href="https://2tdd.adj.st/reward-link/oiurngkln6986h?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-05-2024</span>
    <a href="https://2tdd.adj.st/reward-link/Tubdiwntioo?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-04-2024</span>
    <a href="https://2tdd.adj.st/reward-link/dkigfoeu479876?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-03-2024</span>
    <a href="https://mply.io/AUZBm7Gxl9M" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-03-2024</span>
    <a href="https://2tdd.adj.st/reward-link/rifjslie6592059?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-02-2024</span>
    <a href="https://2tdd.adj.st/reward-link/szmhijrht9263?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-01-2024</span>
    <a href="https://2tdd.adj.st/reward-link/akkhfoi276887jhf?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-01-2024</span>
    <a href="https://2tdd.adj.st/reward-link/kuitfjk976875?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 09-30-2024</span>
    <a href="https://mply.io/LFRtRGdcqLI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 09-30-2024</span>
    <a href="https://mply.io/yHqxnEwtRmg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 09-30-2024</span>
    <a href="https://mply.io/X9_S_TasqvM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 09-29-2024</span>
    <a href="https://mply.io/3g53CHMU-vY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 09-28-2024</span>
    <a href="https://2tdd.adj.st/reward-link/jygfcjhgf86876?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 09-27-2024</span>
    <a href="https://2tdd.adj.st/reward-link/khegeidgf8753538?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 09-26-2024</span>
    <a href="https://mply.io/JUnIvj7YXIg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 09-26-2024</span>
    <a href="https://2tdd.adj.st/reward-link/vaerjkku4r5756?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>