<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for September 13, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/vjaslkiu106921?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for September 12, 2024</span>
    <a href="https://mply.io/jmiu6xCDvqk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for September 12, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/msgwtwut857?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for September 11, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/fcmrithjj420397sl?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for September 10, 2024</span>
    <a href="https://mply.io/yImVIZzqXpE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for September 9, 2024</span>
    <a href="https://mply.io/mvlyYiotOmQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for September 9, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/fkiuybvf391670?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for September 8, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/skuy9082edf?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for September 8, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/dleitj34091kg?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for September 7, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/gdrt636sdws?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for September 6, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/lyrfjy5587hk?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for September 5, 2024</span>
    <a href="https://mply.io/GFs0twcU3EY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for September 5, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/ktyr8902jfgiiuw?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for September 4, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/bgeit4566tgh?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for September 3, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/iyrht655rtw3?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for September 2, 2024</span>
    <a href="https://mply.io/Z0wdpUt0QBQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for September 2, 2024</span>
    <a href="https://mply.io/pFnZbaJ7ceY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for September 1, 2024</span>
    <a href="https://mply.io/k79kujeMIbM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for September 1, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/gjeity49492?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 31, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/nmfptu398721?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 30, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/aiue209840k?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 29, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/Discord_29aug_245?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 29, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/hjldfgspse09385?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 28, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/vmaliurn1794?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 27, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/lkshj920gj?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 26, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/bmsoroliuy22346?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 26, 2024</span>
    <a href="https://mply.io/h5pxfEUnstI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 25, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/bhfiruy5tt?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 25, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/bgnlasakvn986234?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 24, 2024</span>
    <a href="https://mply.io/1fpYTpHgTVA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 23, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/fgaaw4kk14df?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 22, 2024</span>
    <a href="https://mply.io/fGYKEuZbXdY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 22, 2024</span>
    <a href="https://mply.io/wWQNMPAoivE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 21, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/jmdfgkgdf2957029?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 20, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/bvkshef45623?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 19, 2024</span>
    <a href="https://mply.io/idXZaKwrHCY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 19, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/fjdffii3uy0002?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 18, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/hgdkbg7985333?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 18, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/gndkth398678?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 17, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/nmfioth422?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 17, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/Discord_promotion2?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 16, 2024</span>
    <a href="https://mply.io/oW2LcJ5kS44" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 16, 2024</span>
    <a href="https://mply.io/EbdhPUcG-2o" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 15, 2024</span>
    <a href="https://mply.io/vPjBNjjTsZA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 14, 2024</span>
    <a href="https://mply.io/yoIV7iqiK-w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 13, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/fhgturjh925739?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 12, 2024</span>
    <a href="https://mply.io/QN7lfANBQm4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 12, 2024</span>
    <a href="https://mply.io/5ojUI8A-0dI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 12, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/bdey7ehgi76?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 11, 2024</span>
    <a href="https://mply.io/0AFwVmQw8uc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 11, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/bnkdhgeswws36u9?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 10, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/vnkshfr3344?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 10, 2024</span>
    <a href="https://mply.io/irBYyPm1B4I" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 8, 2024</span>
    <a href="https://mply.io/FnuG_OpLfgY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 8, 2024</span>
    <a href="https://mply.io/JHTKWqxFWrU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 7, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/nfghhggg865909?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 6, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/gjriuty583657578?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 5, 2024</span>
    <a href="https://mply.io/HMvDrQY5LxM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 5, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/vnguguty56297?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 4, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/bnfkjaghf11355?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for August 4, 2024</span>
    <a href="https://2tdd.adj.st/reward-link/bbdtr64jf921?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://mply.io/J8C4iTvClPk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://mply.io/iwbKef420uo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://2tdd.adj.st/reward-link/bdjgjf748579?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://mply.io/cCc3YCWz4bs" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://2tdd.adj.st/reward-link/vbnbfjru58464?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://2tdd.adj.st/reward-link/bndlgbrity311?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://mply.io/JDcmWTE9Sgg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://2tdd.adj.st/reward-link/bnfjgh287653?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://mply.io/FMVjAuZbkno" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://2tdd.adj.st/reward-link/ngnfty674863f?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://2tdd.adj.st/reward-link/bndfkhghru5648?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://2tdd.adj.st/reward-link/dktidk6839209?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://mply.io/LpzGBBTibuE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://mply.io/b-kwvLeM82E" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://2tdd.adj.st/reward-link/Discord_600k_2341?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://2tdd.adj.st/reward-link/fdshgehkk6ii3?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://mply.io/YyiTVz_wrvI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://mply.io/NQfSKOceWrg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://mply.io/C0ZxNcKLUnE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://mply.io/cuqb0DAbwi8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://2tdd.adj.st/reward-link/ghgi6646jgk?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://2tdd.adj.st/reward-link/jhgjgvbvb8484?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://2tdd.adj.st/reward-link/bnlk46582308kkd?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://2tdd.adj.st/reward-link/dtu4g6jc639967?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://mply.io/5YNBbp-t7vw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://2tdd.adj.st/reward-link/Discord_18Jul_12055?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://2tdd.adj.st/reward-link/dtydokuioy599876?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://2tdd.adj.st/reward-link/bnawthtr848222?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://2tdd.adj.st/reward-link/fhfjfhfg743246?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://mply.io/tLumPa7nDeg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://mply.io/6YtndW5kPqA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://mply.io/jydRVWLTqz4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://2tdd.adj.st/reward-link/vbjkry668iehrgkgh?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://mply.io/Hoe86KT8QFY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://mply.io/qkPX9ChVxXQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://2tdd.adj.st/reward-link/gky5y64es437g?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://2tdd.adj.st/reward-link/bvmfhguytu4576j362?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://mply.io/MzwvjQqXUYk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Dice for Invalid Date</span>
    <a href="https://2tdd.adj.st/reward-link/cvnru3672jag25?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>