<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-23-2024</span>
    <a href="https://2tdd.adj.st/reward-link/Discord_23dec_143535?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-22-2024</span>
    <a href="https://2tdd.adj.st/reward-link/Keog372khqhlh?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-21-2024</span>
    <a href="https://2tdd.adj.st/reward-link/MPG-YT-30Rolls-2112?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-21-2024</span>
    <a href="https://2tdd.adj.st/reward-link/Eimwly26uhafk460?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-21-2024</span>
    <a href="https://2tdd.adj.st/reward-link/vBVk3gmUWa?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-21-2024</span>
    <a href="https://2tdd.adj.st/reward-link/Jtr76geq56hii?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-20-2024</span>
    <a href="https://mply.io/dRQGapgCsS8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-19-2024</span>
    <a href="https://2tdd.adj.st/reward-link/Kehyu5626t25?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-19-2024</span>
    <a href="https://mply.io/u_R9tjqGVjs" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-18-2024</span>
    <a href="https://2tdd.adj.st/reward-link/WT2ygh27ghaku?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-17-2024</span>
    <a href="https://2tdd.adj.st/reward-link/ghiKeyu3hm687?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-17-2024</span>
    <a href="https://mply.io/sQqwl8zELe4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-16-2024</span>
    <a href="https://mply.io/ZzgNMo4x8rM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-16-2024</span>
    <a href="https://2tdd.adj.st/reward-link/Nwyma36kqgjo3?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-15-2024</span>
    <a href="https://2tdd.adj.st/reward-link/OIwetk782fkhg?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-15-2024</span>
    <a href="https://2tdd.adj.st/reward-link/JUIym36790jasdf?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-14-2024</span>
    <a href="https://2tdd.adj.st/reward-link/hjkyi66Ke52?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-13-2024</span>
    <a href="https://2tdd.adj.st/reward-link/ayKeyj37hh?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-13-2024</span>
    <a href="https://2tdd.adj.st/reward-link/Bk3igjlg9426?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-12-2024</span>
    <a href="https://2tdd.adj.st/reward-link/FWih4iyj667?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-12-2024</span>
    <a href="https://2tdd.adj.st/reward-link/Discord_12dec_132525?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-12-2024</span>
    <a href="https://2tdd.adj.st/reward-link/Yehul3gj48kw1v?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-11-2024</span>
    <a href="https://2tdd.adj.st/reward-link/hktyiDgWtba3673?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-10-2024</span>
    <a href="https://mply.io/Z0k10HssU0w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-09-2024</span>
    <a href="https://2tdd.adj.st/reward-link/Discord_9dec_235235?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-09-2024</span>
    <a href="https://2tdd.adj.st/reward-link/horjG46orsgh?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-09-2024</span>
    <a href="https://mply.io/g05igmR3CXQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-08-2024</span>
    <a href="https://mply.io/hxXqi2keFB0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-07-2024</span>
    <a href="https://2tdd.adj.st/reward-link/ghkroiV63yLL?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-06-2024</span>
    <a href="https://2tdd.adj.st/reward-link/gityjkwk415Os?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-06-2024</span>
    <a href="https://mply.io/_tySMfhMm0s" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-05-2024</span>
    <a href="https://2tdd.adj.st/reward-link/gjEym735gb?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-04-2024</span>
    <a href="https://mply.io/CI2tzpRaUjk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-04-2024</span>
    <a href="https://2tdd.adj.st/reward-link/BVSh36kvq6552?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-03-2024</span>
    <a href="https://2tdd.adj.st/reward-link/Gnrkyj592jm61?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-03-2024</span>
    <a href="https://mply.io/mQJDmTHkEdk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-02-2024</span>
    <a href="https://mply.io/iPjuT6FLyNQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-02-2024</span>
    <a href="https://2tdd.adj.st/reward-link/Jriukl3602ms5?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-01-2024</span>
    <a href="https://2tdd.adj.st/reward-link/Gkent839727Egn?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 12-01-2024</span>
    <a href="https://2tdd.adj.st/reward-link/Gtmhy4569hkw?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-30-2024</span>
    <a href="https://2tdd.adj.st/reward-link/Grymyi572889ja?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-30-2024</span>
    <a href="https://2tdd.adj.st/reward-link/NJsoi73jfkiwr?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-30-2024</span>
    <a href="https://mply.io/_Bi6izTMqTI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-29-2024</span>
    <a href="https://2tdd.adj.st/reward-link/Ietmn935sJwq?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-28-2024</span>
    <a href="https://2tdd.adj.st/reward-link/Msliee9490013?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-28-2024</span>
    <a href="https://2tdd.adj.st/reward-link/Discord_28nov?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-27-2024</span>
    <a href="https://2tdd.adj.st/reward-link/WOtvmgh36goq23?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-27-2024</span>
    <a href="https://mply.io/JXuRVNtzGy8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-26-2024</span>
    <a href="https://2tdd.adj.st/reward-link/uygbWEytgr5675?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-26-2024</span>
    <a href="https://2tdd.adj.st/reward-link/Mdkti634Addfg?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-25-2024</span>
    <a href="https://2tdd.adj.st/reward-link/Discord_25Nov_123353?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-24-2024</span>
    <a href="https://2tdd.adj.st/reward-link/gjytitmmU258700?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-25-2024</span>
    <a href="https://2tdd.adj.st/reward-link/gkjnekk24Qtas9?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-24-2024</span>
    <a href="https://2tdd.adj.st/reward-link/gkWr5jn572314?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-23-2024</span>
    <a href="https://2tdd.adj.st/reward-link/airjlMAW1462?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-22-2024</span>
    <a href="https://2tdd.adj.st/reward-link/gkjgtyMSLwt24666?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-21-2024</span>
    <a href="https://mply.io/IP7NUBQxRi8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-21-2024</span>
    <a href="https://mply.io/AfXkIWm5D5A" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-20-2024</span>
    <a href="https://2tdd.adj.st/reward-link/flkjeKLWO12677?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-19-2024</span>
    <a href="https://2tdd.adj.st/reward-link/gikjfgma2360Oq3KW?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-18-2024</span>
    <a href="https://mply.io/sN6FBsZb7kY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-18-2024</span>
    <a href="https://mply.io/t8ew4detJYI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-17-2024</span>
    <a href="https://2tdd.adj.st/reward-link/Vhsaw30ksg18012?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-17-2024</span>
    <a href="https://2tdd.adj.st/reward-link/hgknHwolqp3775?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-16-2024</span>
    <a href="https://2tdd.adj.st/reward-link/fehoinvJSOl2445?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-15-2024</span>
    <a href="https://2tdd.adj.st/reward-link/gjkyiIJEl206ke?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-14-2024</span>
    <a href="https://mply.io/ft-FKv9J8cA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-14-2024</span>
    <a href="https://2tdd.adj.st/reward-link/gfhytrTTgj86?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-13-2024</span>
    <a href="https://2tdd.adj.st/reward-link/NNei4h6hr99?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-11-2024</span>
    <a href="https://2tdd.adj.st/reward-link/boirjm59209A?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-11-2024</span>
    <a href="https://mply.io/HfDC8Y3Ofb4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-10-2024</span>
    <a href="https://mply.io/_DzwpN5sapQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-10-2024</span>
    <a href="https://2tdd.adj.st/reward-link/VKJlIaegmiy599?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-09-2024</span>
    <a href="https://2tdd.adj.st/reward-link/NOk9097ihhftt?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-08-2024</span>
    <a href="https://2tdd.adj.st/reward-link/iubajkcHHk0097?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-07-2024</span>
    <a href="https://mply.io/JLsO17XVt2Y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-07-2024</span>
    <a href="https://2tdd.adj.st/reward-link/tyjiIYe2o98?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-06-2024</span>
    <a href="https://2tdd.adj.st/reward-link/gjteotG32jjf?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-05-2024</span>
    <a href="https://2tdd.adj.st/reward-link/fjjriGAekgmJubilee558?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-05-2024</span>
    <a href="https://mply.io/cV3GcEvvOyg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-04-2024</span>
    <a href="https://mply.io/hLtt0A" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-04-2024</span>
    <a href="https://2tdd.adj.st/reward-link/bvieutnJJK20089?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-04-2024</span>
    <a href="https://mply.io/bHuLKGvYDEQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-03-2024</span>
    <a href="https://2tdd.adj.st/reward-link/riySDKqfsef35gs3?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-02-2024</span>
    <a href="https://2tdd.adj.st/reward-link/eortiuytm4039kfrFERW?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-02-2024</span>
    <a href="https://2tdd.adj.st/reward-link/pAAwjo029598?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-01-2024</span>
    <a href="https://mply.io/eZFCVSJYQAw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 11-01-2024</span>
    <a href="https://mply.io/48bxaTzHEMk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-31-2024</span>
    <a href="https://2tdd.adj.st/reward-link/gjjJFNQ83jj2?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-30-2024</span>
    <a href="https://2tdd.adj.st/reward-link/KJDjne0qel46611?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-29-2024</span>
    <a href="https://mply.io/hC9BEg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-28-2024</span>
    <a href="https://2tdd.adj.st/reward-link/Discord_28otct_2355?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-28-2024</span>
    <a href="https://2tdd.adj.st/reward-link/bjkAsASotht00833?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-27-2024</span>
    <a href="https://2tdd.adj.st/reward-link/eiotn2l4924?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-27-2024</span>
    <a href="https://mply.io/hq6NQwVZRso" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-26-2024</span>
    <a href="https://mply.io/muHo8yO1t6k" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-25-2024</span>
    <a href="https://mply.io/O4vKkz1RXTE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-24-2024</span>
    <a href="https://mply.io/333ZM-TtG1g" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-24-2024</span>
    <a href="https://2tdd.adj.st/reward-link/tirjmf3013344?adjust_t=i2f8o2i_4btbvwg&adjust_deeplink_js=1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Monopoly Go Dice 10-23-2024</span>
    <a href="https://mply.io/zYll2SL5_Oo" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>