<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-18-2024</span>
    <a href="https://popslots.casino/40YoaRs" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-18-2024</span>
    <a href="https://popslots.casino/4fNMfif" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-18-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241118_IG_sssjg_CM&fbclid=PAY2xjawGoQXtleHRuA2FlbQIxMAABpjupjUyn3Xbt0WUQ99eVqY64v7h2P0YgwzGIyIQ4hpsN2rsuvEtf3nnuiw_aem_q3fDgVgMzPaWO_XWcA7GTQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-18-2024</span>
    <a href="https://popslots.casino/40QKQmC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-17-2024</span>
    <a href="https://popslots.casino/3AQMdqS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-17-2024</span>
    <a href="https://popslots.casino/4hMu8ej" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-17-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241117_IG_opjg_CM&fbclid=PAY2xjawGmzf9leHRuA2FlbQIxMAABpi744A2dfwLslySl-bTgYG771rtIoo_LPubVnh_tuwVpvSvtFWFPrdR9dQ_aem_E_FRA0DLur9DHvhDL4zaMw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-17-2024</span>
    <a href="https://popslots.casino/3ArrZUM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-16-2024</span>
    <a href="https://popslots.casino/3AtywON" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-16-2024</span>
    <a href="https://popslots.casino/4fG21LY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-16-2024</span>
    <a href="https://popslots.casino/3Z0DSdE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-15-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241115_IG_ccjg_CM&fbclid=PAY2xjawGkL1JleHRuA2FlbQIxMAABpvzxbXRbzv7IyemPFHxF2rBWNevFkfemwfx_hwsf-ZXuWLGIS79RCvl8QA_aem__z99z2IVinHPLvNzMwECjw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-15-2024</span>
    <a href="https://popslots.casino/3Ctf6Kn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-15-2024</span>
    <a href="http://popslots.casino/4hITkCt" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-15-2024</span>
    <a href="https://popslots.casino/3Z6eUtv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-14-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241114_IG_zaww_CM&fbclid=PAY2xjawGjAIlleHRuA2FlbQIxMAABpj9wrQbH2K5FG48ykCZmz-3E2mii4m3xIeoYFrSp4l3jygdJUIEReM19Ow_aem_6jXQb_Vy9kgpjqgplj6mNQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-14-2024</span>
    <a href="https://popslots.casino/4fqgiwy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-14-2024</span>
    <a href="http://popslots.casino/3Z2J2FS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-14-2024</span>
    <a href="https://popslots.casino/3YPYOmu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-13-2024</span>
    <a href="https://popslots.casino/4hKz4Ag" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-13-2024</span>
    <a href="https://popslots.casino/4hFJ8dY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-13-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241311_IG_zssqw_CM&fbclid=PAY2xjawGhilZleHRuA2FlbQIxMAABprXT9N6ryzbIipgmbXiEv7D24pg205YVhXw9FfcrlsbwxtTaMFaHMlZJAg_aem_-GlXsx6QNrSLyvMYHMiq2Q" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-13-2024</span>
    <a href="https://popslots.casino/3YZXaj9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-12-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241211_IG_zzvv_CM&fbclid=PAY2xjawGgZOBleHRuA2FlbQIxMAABpog1mNwoVxLdrG0hqCxOXL7Ag7iNsYChgUMaQO-Gdog5h_6hBapMa5aRNg_aem_9ROO9-IYERkbxdex5HjUpg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-12-2024</span>
    <a href="http://popslots.casino/4fHTjNq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-12-2024</span>
    <a href="https://popslots.casino/40GbwXq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-12-2024</span>
    <a href="https://popslots.casino/3UNcVrr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-11-2024</span>
    <a href="https://popslots.casino/4fk2tQ9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-11-2024</span>
    <a href="https://popslots.casino/3O4TNBo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-11-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_4M_20241111_IG_zsxx_CM&fbclid=PAY2xjawGe6-FleHRuA2FlbQIxMAABpkBQUY8txi3R757dqD3BqdKumJdcCq6fF1SUe_fjvWTvDI8yc2w6oBlyEw_aem__PILNcMFSPhmqKUQxfeTcA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-11-2024</span>
    <a href="https://popslots.casino/4eFMAn1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-10-2024</span>
    <a href="https://popslots.casino/4eOME3R" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-10-2024</span>
    <a href="https://popslots.casino/3Y58by4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-10-2024</span>
    <a href="https://popslots.casino/3AaNngB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-10-2024</span>
    <a href="https://popslots.casino/4eFuuBu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-09-2024</span>
    <a href="https://popslots.casino/3BIdv2W" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-09-2024</span>
    <a href="http://popslots.casino/4h8r8sk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-09-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241108_IG_ghj_CM&fbclid=PAY2xjawGcLKBleHRuA2FlbQIxMAABptMwyuSccb-cdklTcocXpjGR-RHV9Tk1AZI0V5fe8tuprYg5PSIl0P-RUg_aem_fH-mc763T5qxKBrZVv24Dw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-09-2024</span>
    <a href="https://popslots.casino/4eIuSzi" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-08-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241107_IG_poi_CM&fbclid=PAY2xjawGbFilleHRuA2FlbQIxMAABpjdWg4i0KLnQTDNTUyCNvoWGi7dVhzXA_qIQVpIHm0vVdGDRN7JvEbUejQ_aem_bbkzpv3INW-JGIAkoq7bKg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-08-2024</span>
    <a href="https://popslots.casino/4eGVW1H" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-08-2024</span>
    <a href="http://popslots.casino/3BHFZd7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-08-2024</span>
    <a href="https://popslots.casino/4eH2TA4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-07-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241106_IG_gfd_CM&fbclid=PAY2xjawGZo7xleHRuA2FlbQIxMAABpndDLQmnZ1UI0ULCD7ngDxrcHDZKDej3rgeePE0unY63zemHdBmB2_0zrw_aem_Y2oGH915tqcjsAQx1HsE6Q" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-07-2024</span>
    <a href="https://popslots.casino/3Y4PNFI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-07-2024</span>
    <a href="http://popslots.casino/3YlxZaC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-07-2024</span>
    <a href="https://popslots.casino/4eIWKmW" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-06-2024</span>
    <a href="https://popslots.casino/3BHFZK9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-06-2024</span>
    <a href="https://popslots.casino/4eLs1pe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-06-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241105_IG_nmb_CM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-06-2024</span>
    <a href="https://popslots.casino/3Y4tno4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-05-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241104_IG_bnm_CM&fbclid=PAY2xjawGXKq1leHRuA2FlbQIxMAABphGiPYVuUYHXcmvTlFkYxdqmXF65iiFJoe5Q0CLTEaBxBjrmd-S-ITAz8A_aem_UqQttg9ZwZotWKBeQx7b7Q" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-05-2024</span>
    <a href="http://popslots.casino/3BJ6E9D" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-05-2024</span>
    <a href="https://popslots.casino/4h3x1Hj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-05-2024</span>
    <a href="https://popslots.casino/4eA9oo9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-04-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241103_IG_ghj_CM&fbclid=PAY2xjawGV2ulleHRuA2FlbQIxMAABpn9oFMJX64d_AZEmFJV99nPuSJx8k5j6Rmfw080mo4gcnRP6qy_FnBy6EQ_aem_9xpwRyvA_j7nzSRCoLaQng" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-04-2024</span>
    <a href="https://popslots.casino/4eJiFuf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-04-2024</span>
    <a href="https://popslots.casino/3YnR6Rd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-04-2024</span>
    <a href="https://popslots.casino/3Y9ERX8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-03-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241102_IG_poi_CM&fbclid=PAY2xjawGUeSxleHRuA2FlbQIxMAABpgngMxM9rhUOxXt0aMhX1t5A4IFwVjtB3JQ7eWsaW0schLUd41MihCzetA_aem_6tgudSq3h9USCPxHb-YKHQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-03-2024</span>
    <a href="https://popslots.casino/4eHl4pj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-03-2024</span>
    <a href="http://popslots.casino/3Y5m67d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-03-2024</span>
    <a href="https://popslots.casino/4eDI9ci" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-02-2024</span>
    <a href="https://popslots.casino/3YqUtal" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-02-2024</span>
    <a href="http://popslots.casino/4h5TGTd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-02-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241101_IG_gfd_CM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-02-2024</span>
    <a href="https://popslots.casino/3BLeKOP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-01-2024</span>
    <a href="https://popslots.casino/4eFRKQ3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-01-2024</span>
    <a href="https://popslots.casino/3Y0KkzA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-01-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241031_IG_nmb_CM&fbclid=PAY2xjawGRwgFleHRuA2FlbQIxMAABpqjS06o8kcEA1iUdWXCLODVhWIINmGz3YxE1b-i3AArgMKBecUgMuu8c6g_aem_TPVGtNQRb2i53Z2_IuL_FA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 10-31-2024</span>
    <a href="https://popslots.casino/3Y9u93b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 10-31-2024</span>
    <a href="http://popslots.casino/4eOMBoH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 10-31-2024</span>
    <a href="https://popslots.casino/4eIjjYV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 10-30-2024</span>
    <a href="https://popslots.casino/3BJRZLf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 10-30-2024</span>
    <a href="https://popslots.casino/3Y6SpTx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 10-30-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241029_IG_ghj_CM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 10-30-2024</span>
    <a href="https://popslots.casino/4eMblOy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 10-29-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241028_IG_tre_CM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 10-29-2024</span>
    <a href="https://popslots.casino/3BLlNHi" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 10-29-2024</span>
    <a href="https://popslots.casino/4eOMAkD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 10-29-2024</span>
    <a href="https://popslots.casino/4eOIide" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 10-28-2024</span>
    <a href="https://popslots.casino/3Y7KHZb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 10-28-2024</span>
    <a href="https://popslots.casino/4eOMzNB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 10-28-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241026_IG_lkj_CM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 10-28-2024</span>
    <a href="https://popslots.casino/4eKnWBA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 10-27-2024</span>
    <a href="https://popslots.casino/4eOMzgz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 10-27-2024</span>
    <a href="https://popslots.casino/4eHwjxH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 10-27-2024</span>
    <a href="https://popslots.casino/3YnjEdA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 10-26-2024</span>
    <a href="https://popslots.casino/4eIiOhl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 10-26-2024</span>
    <a href="http://popslots.casino/3Y7KHs9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 10-25-2024</span>
    <a href="https://popslots.casino/4eVC2QA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 10-25-2024</span>
    <a href="https://popslots.casino/3Y2MrmB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 10-25-2024</span>
    <a href="https://popslots.casino/4eOMxVZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 10-25-2024</span>
    <a href="https://popslots.casino/4eLs1FK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 10-24-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241023_IG_trew_CM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 10-24-2024</span>
    <a href="https://popslots.casino/4eJUdbV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 10-24-2024</span>
    <a href="https://popslots.casino/3YprMdU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 10-24-2024</span>
    <a href="https://popslots.casino/4eFMA6v" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 10-23-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241022_IG_poiuy_CM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 10-23-2024</span>
    <a href="https://popslots.casino/4h5Ctte" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>