<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 12-03-2024</span>
    <a href="https://popslots.casino/3ZjCYt2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 12-03-2024</span>
    <a href="https://popslots.casino/3AMpqg5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 12-03-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241205_IG_nbvcxz_CM&fbclid=PAY2xjawG7125leHRuA2FlbQIxMAABppU2ezffd17p2caj_vhYrkGmyAR_CPqPYi0K2-shOKZDMd871HpQAgY7JA_aem_s5hLMYpTKYPLs_2i2io4-Q" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 12-03-2024</span>
    <a href="https://popslots.casino/3ZdZbIS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 12-02-2024</span>
    <a href="https://popslots.casino/3ZfhKw4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 12-02-2024</span>
    <a href="https://popslots.casino/4eAodGw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 12-02-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241202_IG_asdfgh_CM&fbclid=PAY2xjawG6ejJleHRuA2FlbQIxMAABpjVsn9Hxo2ZCqCmEX2K0z-jADaMkgtUY01ibWDDhbq5sWHolqS-0DaHgUQ_aem_bYvR1nkT1JxRgP4rQYHRyg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 12-02-2024</span>
    <a href="https://popslots.casino/48WTdPR" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 12-01-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241201_IG_nbvcxz_CM&fbclid=PAY2xjawG5exZleHRuA2FlbQIxMAABpspue9HD1JWW1NOBjzwtuTidXuq8f5z6sza8EwdYU5crb_9MV7E4gAy8bA_aem_NRCBPkZ29H0yJWX75-Kmvg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 12-01-2024</span>
    <a href="https://popslots.casino/3ZdBX5B" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 12-01-2024</span>
    <a href="http://popslots.casino/3ZfDzeX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 12-01-2024</span>
    <a href="https://popslots.casino/3ZdBGiW" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-30-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241130_IG_plmkji_CM&fbclid=PAY2xjawG4JYVleHRuA2FlbQIxMAABpn6OG92SCv-i4ouLpLjPnQqTiffGZ6ik-e7FhzBH-ZlhQmvu8hDurZbCRg_aem_67ufNOEv-fSiw7he_OHq1g" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-30-2024</span>
    <a href="https://popslots.casino/4icSPRc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-30-2024</span>
    <a href="http://popslots.casino/3VBDpwz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-30-2024</span>
    <a href="https://popslots.casino/3Zf42cH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-29-2024</span>
    <a href="http://popslots.casino/3OrYOEn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-29-2024</span>
    <a href="https://popslots.casino/3ZfNUHR" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-29-2024</span>
    <a href="https://popslots.casino/3Zd9v3M" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-29-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241128_IG_asdfg_CM&fbclid=PAY2xjawG2PRVleHRuA2FlbQIxMAABptExamRvfcGYkCANru934g6LHQimo5SMwMXG9kka-ZtI31Gi_usBMlx8OQ_aem_zzdTiwKRHhmzU5-AmxkPNQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-28-2024</span>
    <a href="https://popslots.casino/497dh1V" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-28-2024</span>
    <a href="http://popslots.casino/3Zhdoog" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-28-2024</span>
    <a href="https://popslots.casino/3Zgmkug" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-27-2024</span>
    <a href="https://popslots.casino/3ZeQ4Ya" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-27-2024</span>
    <a href="http://popslots.casino/3ZgqRg8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-27-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241127_IG_ertyu_CM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-27-2024</span>
    <a href="https://popslots.casino/4eESmnZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-26-2024</span>
    <a href="https://popslots.casino/3AOni7y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-26-2024</span>
    <a href="http://popslots.casino/3Ze37Jz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-26-2024</span>
    <a href="https://popslots.casino/3ZgqSRe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-25-2024</span>
    <a href="http://popslots.casino/3Zh21wP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-25-2024</span>
    <a href="https://popslots.casino/48WbIDX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-25-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241125_IG_nbvc_CM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-25-2024</span>
    <a href="https://popslots.casino/3ZhzruU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-24-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241124_IG_lkjh_CM&fbclid=PAY2xjawGwHABleHRuA2FlbQIxMAABpuKKwQ_nAOQovpEx2_ze9fllEuCZWgKI2mSTVuHxmX1_UTlrugUlHvMLqA_aem_MDwznlMX_Q79JKOSf1roZg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-24-2024</span>
    <a href="https://popslots.casino/3ZfZ3Zn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-24-2024</span>
    <a href="http://popslots.casino/3ZfNTnh" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-24-2024</span>
    <a href="https://popslots.casino/3ZhdqfS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-23-2024</span>
    <a href="https://popslots.casino/3ZdZbsm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-23-2024</span>
    <a href="https://popslots.casino/3ZdZaoi" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-23-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241123_IG_poiuy_CM&fbclid=PAY2xjawGutSBleHRuA2FlbQIxMAABpkax6845IfZqOgk6mKKTyTeAuAc_jF1rtNb_asD5WZQjPUMzn8WEaR7O3Q_aem_PxJhqk9Q2mtOoEdSjINS_Q" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-23-2024</span>
    <a href="https://popslots.casino/3ZccARz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-22-2024</span>
    <a href="https://popslots.casino/48XxfMo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-22-2024</span>
    <a href="https://popslots.casino/3ZjCX8s" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-22-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241122_IG_asdf_CM&fbclid=PAY2xjawGtWlxleHRuA2FlbQIxMAABpqWcRUYmeXH6bxb30HEGdsb3D6o6VcD1Quqe3TJ-YpAn7b6rh6VuiHRrTg_aem__bHq36kmwGRUSwyCZEpl2w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-22-2024</span>
    <a href="https://popslots.casino/3AOQ5ZI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-21-2024</span>
    <a href="https://popslots.casino/3ZeimlO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-21-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241121_IG_dssd_CM&fbclid=PAY2xjawGsC91leHRuA2FlbQIxMAABpoNlRnITkB-AzZKWGbHRhHKkm-mU3qJ4dEwrUCMtQ-JZr7k5Gu5w_Wlomw_aem_VZJe15RXGygijsyilwS82A" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-21-2024</span>
    <a href="https://popslots.casino/3Zh22AT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-21-2024</span>
    <a href="https://popslots.casino/3Obm8WT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-20-2024</span>
    <a href="https://popslots.casino/3OgJlH7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-20-2024</span>
    <a href="https://popslots.casino/3OaJjk5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-20-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241120_IG_aesjg_CM&fbclid=PAY2xjawGqwjxleHRuA2FlbQIxMAABpu5OjBH9end9JD-TORBCIz9ji7u1SC8ya1QgvGYqy83lq17gfGfGlA-emg_aem_9p-3a1iMLDEVJjFWy25lfw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-20-2024</span>
    <a href="https://popslots.casino/3Z7976N" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-19-2024</span>
    <a href="https://popslots.casino/3CtuAhA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-19-2024</span>
    <a href="https://popslots.casino/4eyX86y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-19-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241119_IG_azssjg_CM&fbclid=PAY2xjawGpcEpleHRuA2FlbQIxMAABpuxZbAOwWVzC-h2Xt8oyrQcM3ow3jkH9v0PGlQjGoxYDmml2klpzkChX6g_aem_JFQqkCsH73Ks3s7kV5LpBA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-19-2024</span>
    <a href="https://popslots.casino/3Z9jNC0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-18-2024</span>
    <a href="https://popslots.casino/40YoaRs" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-18-2024</span>
    <a href="https://popslots.casino/4fNMfif" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-18-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241118_IG_sssjg_CM&fbclid=PAY2xjawGoQXtleHRuA2FlbQIxMAABpjupjUyn3Xbt0WUQ99eVqY64v7h2P0YgwzGIyIQ4hpsN2rsuvEtf3nnuiw_aem_q3fDgVgMzPaWO_XWcA7GTQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-18-2024</span>
    <a href="https://popslots.casino/40QKQmC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-17-2024</span>
    <a href="https://popslots.casino/3AQMdqS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-17-2024</span>
    <a href="https://popslots.casino/4hMu8ej" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-17-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241117_IG_opjg_CM&fbclid=PAY2xjawGmzf9leHRuA2FlbQIxMAABpi744A2dfwLslySl-bTgYG771rtIoo_LPubVnh_tuwVpvSvtFWFPrdR9dQ_aem_E_FRA0DLur9DHvhDL4zaMw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-17-2024</span>
    <a href="https://popslots.casino/3ArrZUM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-16-2024</span>
    <a href="https://popslots.casino/3AtywON" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-16-2024</span>
    <a href="https://popslots.casino/4fG21LY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-16-2024</span>
    <a href="https://popslots.casino/3Z0DSdE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-15-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241115_IG_ccjg_CM&fbclid=PAY2xjawGkL1JleHRuA2FlbQIxMAABpvzxbXRbzv7IyemPFHxF2rBWNevFkfemwfx_hwsf-ZXuWLGIS79RCvl8QA_aem__z99z2IVinHPLvNzMwECjw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-15-2024</span>
    <a href="https://popslots.casino/3Ctf6Kn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-15-2024</span>
    <a href="http://popslots.casino/4hITkCt" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-15-2024</span>
    <a href="https://popslots.casino/3Z6eUtv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-14-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241114_IG_zaww_CM&fbclid=PAY2xjawGjAIlleHRuA2FlbQIxMAABpj9wrQbH2K5FG48ykCZmz-3E2mii4m3xIeoYFrSp4l3jygdJUIEReM19Ow_aem_6jXQb_Vy9kgpjqgplj6mNQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-14-2024</span>
    <a href="https://popslots.casino/4fqgiwy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-14-2024</span>
    <a href="http://popslots.casino/3Z2J2FS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-14-2024</span>
    <a href="https://popslots.casino/3YPYOmu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-13-2024</span>
    <a href="https://popslots.casino/4hKz4Ag" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-13-2024</span>
    <a href="https://popslots.casino/4hFJ8dY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-13-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241311_IG_zssqw_CM&fbclid=PAY2xjawGhilZleHRuA2FlbQIxMAABprXT9N6ryzbIipgmbXiEv7D24pg205YVhXw9FfcrlsbwxtTaMFaHMlZJAg_aem_-GlXsx6QNrSLyvMYHMiq2Q" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-13-2024</span>
    <a href="https://popslots.casino/3YZXaj9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-12-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241211_IG_zzvv_CM&fbclid=PAY2xjawGgZOBleHRuA2FlbQIxMAABpog1mNwoVxLdrG0hqCxOXL7Ag7iNsYChgUMaQO-Gdog5h_6hBapMa5aRNg_aem_9ROO9-IYERkbxdex5HjUpg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-12-2024</span>
    <a href="http://popslots.casino/4fHTjNq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-12-2024</span>
    <a href="https://popslots.casino/40GbwXq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-12-2024</span>
    <a href="https://popslots.casino/3UNcVrr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-11-2024</span>
    <a href="https://popslots.casino/4fk2tQ9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-11-2024</span>
    <a href="https://popslots.casino/3O4TNBo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-11-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_4M_20241111_IG_zsxx_CM&fbclid=PAY2xjawGe6-FleHRuA2FlbQIxMAABpkBQUY8txi3R757dqD3BqdKumJdcCq6fF1SUe_fjvWTvDI8yc2w6oBlyEw_aem__PILNcMFSPhmqKUQxfeTcA" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-11-2024</span>
    <a href="https://popslots.casino/4eFMAn1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-10-2024</span>
    <a href="https://popslots.casino/4eOME3R" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-10-2024</span>
    <a href="https://popslots.casino/3Y58by4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-10-2024</span>
    <a href="https://popslots.casino/3AaNngB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-10-2024</span>
    <a href="https://popslots.casino/4eFuuBu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-09-2024</span>
    <a href="https://popslots.casino/3BIdv2W" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-09-2024</span>
    <a href="http://popslots.casino/4h8r8sk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-09-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241108_IG_ghj_CM&fbclid=PAY2xjawGcLKBleHRuA2FlbQIxMAABptMwyuSccb-cdklTcocXpjGR-RHV9Tk1AZI0V5fe8tuprYg5PSIl0P-RUg_aem_fH-mc763T5qxKBrZVv24Dw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-09-2024</span>
    <a href="https://popslots.casino/4eIuSzi" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-08-2024</span>
    <a href="https://landingpages.popslotscasino.com/2.729.103451/site/pages/landingpop/index.html?coupon=RPOP_2M_20241107_IG_poi_CM&fbclid=PAY2xjawGbFilleHRuA2FlbQIxMAABpjdWg4i0KLnQTDNTUyCNvoWGi7dVhzXA_qIQVpIHm0vVdGDRN7JvEbUejQ_aem_bbkzpv3INW-JGIAkoq7bKg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-08-2024</span>
    <a href="https://popslots.casino/4eGVW1H" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Pop Slots Chips 11-08-2024</span>
    <a href="http://popslots.casino/3BHFZd7" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>