<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 13, 2024</span>
    <a href="https://quickhitslots.jckpt.me/4c8118eb9f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 13, 2024</span>
    <a href="https://quickhitslots.jckpt.me/498bb8deec" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 13, 2024</span>
    <a href="https://quickhitslots.jckpt.me/27da09105c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 12, 2024</span>
    <a href="https://quickhitslots.jckpt.me/4a0988c20e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 12, 2024</span>
    <a href="https://quickhitslots.jckpt.me/9cf1b79f45" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 12, 2024</span>
    <a href="https://quickhitslots.jckpt.me/4aa5e51dec" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 11, 2024</span>
    <a href="https://quickhitslots.jckpt.me/dfc2cc63dc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 11, 2024</span>
    <a href="https://quickhitslots.jckpt.me/82e4530689" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 11, 2024</span>
    <a href="https://quickhitslots.jckpt.me/872b8114f4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 11, 2024</span>
    <a href="https://quickhitslots.jckpt.me/8eb14b18d6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 10, 2024</span>
    <a href="https://quickhitslots.jckpt.me/4af936b88e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 10, 2024</span>
    <a href="https://quickhitslots.jckpt.me/a3815be0fa" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 10, 2024</span>
    <a href="https://quickhitslots.jckpt.me/bdb6e00d60" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 10, 2024</span>
    <a href="https://quickhitslots.jckpt.me/bf0f9fd0c5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 10, 2024</span>
    <a href="https://quickhitslots.jckpt.me/594fa0f8e6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 9, 2024</span>
    <a href="https://quickhitslots.jckpt.me/9aebbe015b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 9, 2024</span>
    <a href="https://quickhitslots.jckpt.me/3992a1449a" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 9, 2024</span>
    <a href="https://quickhitslots.jckpt.me/8712007e4a" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 9, 2024</span>
    <a href="https://quickhitslots.jckpt.me/9de239092b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 8, 2024</span>
    <a href="https://quickhitslots.jckpt.me/e844253ec8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 8, 2024</span>
    <a href="https://quickhitslots.jckpt.me/91bbad6def" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 8, 2024</span>
    <a href="https://quickhitslots.jckpt.me/9d9a3ef1af" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 7, 2024</span>
    <a href="https://quickhitslots.jckpt.me/751171c89e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 7, 2024</span>
    <a href="https://quickhitslots.jckpt.me/88677e1e7d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 7, 2024</span>
    <a href="https://quickhitslots.jckpt.me/d61c790417" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 7, 2024</span>
    <a href="https://quickhitslots.jckpt.me/3af3b96c05" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 6, 2024</span>
    <a href="https://quickhitslots.jckpt.me/4411d2dfb0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 6, 2024</span>
    <a href="https://quickhitslots.jckpt.me/af7d99077e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 6, 2024</span>
    <a href="https://quickhitslots.jckpt.me/8fa0e71d7c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 6, 2024</span>
    <a href="https://quickhitslots.jckpt.me/dbfc5a0f7a" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 5, 2024</span>
    <a href="https://quickhitslots.jckpt.me/c30f1136f5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 5, 2024</span>
    <a href="https://quickhitslots.jckpt.me/8f367e16a1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 5, 2024</span>
    <a href="https://quickhitslots.jckpt.me/177a52ffcf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 4, 2024</span>
    <a href="https://quickhitslots.jckpt.me/f797afc143" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 4, 2024</span>
    <a href="https://quickhitslots.jckpt.me/1711369512" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 4, 2024</span>
    <a href="https://quickhitslots.jckpt.me/44898288d4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 3, 2024</span>
    <a href="https://quickhitslots.jckpt.me/bcbd21b477" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 3, 2024</span>
    <a href="https://quickhitslots.jckpt.me/c6a847de72" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 3, 2024</span>
    <a href="https://quickhitslots.jckpt.me/d6a4091c54" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 3, 2024</span>
    <a href="https://quickhitslots.jckpt.me/a3becd2e42" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 2, 2024</span>
    <a href="https://quickhitslots.jckpt.me/f94837fcb2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 2, 2024</span>
    <a href="https://quickhitslots.jckpt.me/a22754139a" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 2, 2024</span>
    <a href="https://quickhitslots.jckpt.me/a0dfb4ce00" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 2, 2024</span>
    <a href="https://quickhitslots.jckpt.me/bcd302332a" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 1, 2024</span>
    <a href="https://quickhitslots.jckpt.me/50a6be3102" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 1, 2024</span>
    <a href="https://quickhitslots.jckpt.me/62520b4cb4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 1, 2024</span>
    <a href="https://quickhitslots.jckpt.me/06a94ee99a" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for September 1, 2024</span>
    <a href="https://quickhitslots.jckpt.me/fe1e15d6f1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 31, 2024</span>
    <a href="https://quickhitslots.jckpt.me/f8ba2536eb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 31, 2024</span>
    <a href="https://quickhitslots.jckpt.me/349e92d6c9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 31, 2024</span>
    <a href="https://quickhitslots.jckpt.me/c46bc48d4f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 31, 2024</span>
    <a href="https://quickhitslots.jckpt.me/e02e105aec" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 30, 2024</span>
    <a href="https://quickhitslots.jckpt.me/7e19ccacda" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 30, 2024</span>
    <a href="https://quickhitslots.jckpt.me/95c44fa2ff" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 29, 2024</span>
    <a href="https://quickhitslots.jckpt.me/69ea736ea7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 29, 2024</span>
    <a href="https://quickhitslots.jckpt.me/71ba1950a8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 29, 2024</span>
    <a href="https://quickhitslots.jckpt.me/6acf78e70f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 28, 2024</span>
    <a href="https://quickhitslots.jckpt.me/801b0b7b3b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 28, 2024</span>
    <a href="https://quickhitslots.jckpt.me/255831d5ef" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 28, 2024</span>
    <a href="https://quickhitslots.jckpt.me/44456cb424" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 27, 2024</span>
    <a href="https://quickhitslots.jckpt.me/3ec5f00ebc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 27, 2024</span>
    <a href="https://quickhitslots.jckpt.me/226950edfd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 27, 2024</span>
    <a href="https://quickhitslots.jckpt.me/7db765c9b7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 26, 2024</span>
    <a href="https://quickhitslots.jckpt.me/2b2681eb40" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 26, 2024</span>
    <a href="https://quickhitslots.jckpt.me/4d8566ac45" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 26, 2024</span>
    <a href="https://quickhitslots.jckpt.me/f671ee33bb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 25, 2024</span>
    <a href="https://quickhitslots.jckpt.me/ca04262df1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 25, 2024</span>
    <a href="https://quickhitslots.jckpt.me/55088a9d77" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 25, 2024</span>
    <a href="https://quickhitslots.jckpt.me/2fb5bc8a49" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 25, 2024</span>
    <a href="http://quickhitslots.jckpt.me/edc016b85f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 24, 2024</span>
    <a href="https://quickhitslots.jckpt.me/7530fc572a" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 24, 2024</span>
    <a href="https://quickhitslots.jckpt.me/f1a5d9688f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 24, 2024</span>
    <a href="https://quickhitslots.jckpt.me/ac4df200c0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 23, 2024</span>
    <a href="https://quickhitslots.jckpt.me/1de7c43564" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 23, 2024</span>
    <a href="https://quickhitslots.jckpt.me/10b8292eda" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 23, 2024</span>
    <a href="https://quickhitslots.jckpt.me/7fdbfb7acd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 22, 2024</span>
    <a href="https://quickhitslots.jckpt.me/37696f271c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 22, 2024</span>
    <a href="https://quickhitslots.jckpt.me/7abc3c1a3d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 22, 2024</span>
    <a href="https://quickhitslots.jckpt.me/678a7898ba" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 22, 2024</span>
    <a href="https://quickhitslots.jckpt.me/b171f8b158" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 21, 2024</span>
    <a href="https://quickhitslots.jckpt.me/f60d257377" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 21, 2024</span>
    <a href="https://quickhitslots.jckpt.me/2cbd698d13" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 21, 2024</span>
    <a href="https://quickhitslots.jckpt.me/8c89f618be" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 21, 2024</span>
    <a href="https://quickhitslots.jckpt.me/70021e2bd5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 20, 2024</span>
    <a href="https://quickhitslots.jckpt.me/4f9809f248" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 20, 2024</span>
    <a href="https://quickhitslots.jckpt.me/f93758a141" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 20, 2024</span>
    <a href="https://quickhitslots.jckpt.me/795f768083" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 20, 2024</span>
    <a href="https://quickhitslots.jckpt.me/90ba655531" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 19, 2024</span>
    <a href="https://quickhitslots.jckpt.me/319c614f33" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 19, 2024</span>
    <a href="https://quickhitslots.jckpt.me/2f1c9a34e2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 19, 2024</span>
    <a href="https://quickhitslots.jckpt.me/9cd69a6450" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 18, 2024</span>
    <a href="https://quickhitslots.jckpt.me/d8af7a7e34" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 18, 2024</span>
    <a href="https://quickhitslots.jckpt.me/e7583fe0e2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 18, 2024</span>
    <a href="https://quickhitslots.jckpt.me/7eceabfeab" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 18, 2024</span>
    <a href="https://quickhitslots.jckpt.me/e8968adf23" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 17, 2024</span>
    <a href="https://quickhitslots.jckpt.me/c54bebaa4f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 17, 2024</span>
    <a href="https://quickhitslots.jckpt.me/f362e7eaa3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 17, 2024</span>
    <a href="https://quickhitslots.jckpt.me/68b30444c4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 16, 2024</span>
    <a href="https://quickhitslots.jckpt.me/962dd54b08" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 16, 2024</span>
    <a href="https://quickhitslots.jckpt.me/09561e94cf" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>