<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 12-04-2024</span>
    <a href="https://quickhitslots.jckpt.me/d0d884d95f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 12-04-2024</span>
    <a href="https://quickhitslots.jckpt.me/99c0931929" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 12-03-2024</span>
    <a href="https://quickhitslots.jckpt.me/237be8c193" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 12-03-2024</span>
    <a href="https://quickhitslots.jckpt.me/5734888d39" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 12-03-2024</span>
    <a href="https://quickhitslots.jckpt.me/24bf95c1f7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 12-03-2024</span>
    <a href="https://quickhitslots.jckpt.me/fc165700f5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 12-02-2024</span>
    <a href="https://quickhitslots.jckpt.me/566a7520af" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 12-02-2024</span>
    <a href="https://quickhitslots.jckpt.me/e6ec5316a3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 12-01-2024</span>
    <a href="https://quickhitslots.jckpt.me/98368821e5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 12-01-2024</span>
    <a href="https://quickhitslots.jckpt.me/6dbfe4b436" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-30-2024</span>
    <a href="https://quickhitslots.jckpt.me/78224835da" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-30-2024</span>
    <a href="https://quickhitslots.jckpt.me/bf07fae3f6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-30-2024</span>
    <a href="https://quickhitslots.jckpt.me/0747c6dcd2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-30-2024</span>
    <a href="https://quickhitslots.jckpt.me/86f9791f5e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-30-2024</span>
    <a href="https://quickhitslots.jckpt.me/81e5043a06" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-29-2024</span>
    <a href="https://quickhitslots.jckpt.me/5d46116312" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-29-2024</span>
    <a href="https://quickhitslots.jckpt.me/abbe82a335" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-29-2024</span>
    <a href="https://quickhitslots.jckpt.me/2b75198256" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-28-2024</span>
    <a href="https://quickhitslots.jckpt.me/57f925fd98" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-28-2024</span>
    <a href="https://quickhitslots.jckpt.me/a28abe7a5a" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-28-2024</span>
    <a href="https://quickhitslots.jckpt.me/283c0ca08c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-27-2024</span>
    <a href="https://quickhitslots.jckpt.me/b1b42af02c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-27-2024</span>
    <a href="https://quickhitslots.jckpt.me/a7aa58c9c1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-27-2024</span>
    <a href="https://quickhitslots.jckpt.me/d1d8ce2077" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-26-2024</span>
    <a href="https://quickhitslots.jckpt.me/b99ee27725" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-26-2024</span>
    <a href="https://quickhitslots.jckpt.me/dd628c455a" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-26-2024</span>
    <a href="https://quickhitslots.jckpt.me/d71277eff2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-25-2024</span>
    <a href="http://quickhitslots.jckpt.me/7bf8dbfe1a" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-25-2024</span>
    <a href="https://quickhitslots.jckpt.me/c17e84f50b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-25-2024</span>
    <a href="https://quickhitslots.jckpt.me/1eda41eda1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-25-2024</span>
    <a href="https://quickhitslots.jckpt.me/40a21787e4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-25-2024</span>
    <a href="https://quickhitslots.jckpt.me/40c9d146ad" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-24-2024</span>
    <a href="https://quickhitslots.jckpt.me/9bf6165957" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-24-2024</span>
    <a href="https://quickhitslots.jckpt.me/f0d7f4b2e2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-24-2024</span>
    <a href="https://quickhitslots.jckpt.me/8911d0b2c2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-23-2024</span>
    <a href="https://quickhitslots.jckpt.me/042e4c683c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-23-2024</span>
    <a href="https://quickhitslots.jckpt.me/eac67edeae" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-23-2024</span>
    <a href="https://quickhitslots.jckpt.me/3a1cecf2bb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-23-2024</span>
    <a href="https://quickhitslots.jckpt.me/8f9a76d8f8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-22-2024</span>
    <a href="https://quickhitslots.jckpt.me/bcf6e57c32" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-22-2024</span>
    <a href="https://quickhitslots.jckpt.me/81cdc6d8fc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-22-2024</span>
    <a href="https://quickhitslots.jckpt.me/2b8c1f73ac" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-21-2024</span>
    <a href="https://quickhitslots.jckpt.me/ed4d35700b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-21-2024</span>
    <a href="https://quickhitslots.jckpt.me/8c513db5bd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-21-2024</span>
    <a href="https://quickhitslots.jckpt.me/e883bfe85f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-20-2024</span>
    <a href="https://quickhitslots.jckpt.me/38c45532bf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-20-2024</span>
    <a href="https://quickhitslots.jckpt.me/7a5e593bc1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-19-2024</span>
    <a href="https://quickhitslots.jckpt.me/43d680d259" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-19-2024</span>
    <a href="https://quickhitslots.jckpt.me/57a66ea77b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-19-2024</span>
    <a href="https://quickhitslots.jckpt.me/50a637349b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-19-2024</span>
    <a href="https://quickhitslots.jckpt.me/d7044793f2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-18-2024</span>
    <a href="https://quickhitslots.jckpt.me/1b818dd04d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-18-2024</span>
    <a href="https://quickhitslots.jckpt.me/9634929d1f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-18-2024</span>
    <a href="https://quickhitslots.jckpt.me/f8f05286b9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-17-2024</span>
    <a href="https://quickhitslots.jckpt.me/0ddbea5a8c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-17-2024</span>
    <a href="https://quickhitslots.jckpt.me/70dd021fad" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-17-2024</span>
    <a href="https://quickhitslots.jckpt.me/dc5f300539" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-17-2024</span>
    <a href="https://quickhitslots.jckpt.me/a678aa0c86" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-16-2024</span>
    <a href="https://quickhitslots.jckpt.me/ef604f5629" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-15-2024</span>
    <a href="https://quickhitslots.jckpt.me/40a1a10e0b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-16-2024</span>
    <a href="https://quickhitslots.jckpt.me/c1bc4111b4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-16-2024</span>
    <a href="https://quickhitslots.jckpt.me/f48a243ebe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-15-2024</span>
    <a href="https://quickhitslots.jckpt.me/135ef9c310" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-15-2024</span>
    <a href="https://quickhitslots.jckpt.me/331fef8d76" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-14-2024</span>
    <a href="https://quickhitslots.jckpt.me/bd8bfa42d1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-14-2024</span>
    <a href="https://quickhitslots.jckpt.me/7bc8620527" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-14-2024</span>
    <a href="https://quickhitslots.jckpt.me/b73734116b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-14-2024</span>
    <a href="https://quickhitslots.jckpt.me/709abc465f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-13-2024</span>
    <a href="https://quickhitslots.jckpt.me/9f6d3355dd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-13-2024</span>
    <a href="https://quickhitslots.jckpt.me/da8cf0b31f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-12-2024</span>
    <a href="https://quickhitslots.jckpt.me/e0219eb437" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-12-2024</span>
    <a href="https://quickhitslots.jckpt.me/22803f72c7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-12-2024</span>
    <a href="https://quickhitslots.jckpt.me/6fc79d9e6c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-12-2024</span>
    <a href="https://quickhitslots.jckpt.me/8785f94a6c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-12-2024</span>
    <a href="https://quickhitslots.jckpt.me/4a1677735c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-12-2024</span>
    <a href="https://quickhitslots.jckpt.me/2e48f5ee41" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-11-2024</span>
    <a href="https://quickhitslots.jckpt.me/7281eb6e19" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-10-2024</span>
    <a href="https://quickhitslots.jckpt.me/376db42535" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-11-2024</span>
    <a href="https://quickhitslots.jckpt.me/5d66819a42" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-10-2024</span>
    <a href="https://quickhitslots.jckpt.me/811d1991b4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-10-2024</span>
    <a href="https://quickhitslots.jckpt.me/4e6b540694" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-10-2024</span>
    <a href="http://quickhitslots.jckpt.me/92ad237c89" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-09-2024</span>
    <a href="https://quickhitslots.jckpt.me/6c47c5c0e3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-09-2024</span>
    <a href="https://quickhitslots.jckpt.me/ac9779cbe9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-08-2024</span>
    <a href="https://quickhitslots.jckpt.me/4f09217fd9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-08-2024</span>
    <a href="https://quickhitslots.jckpt.me/374ed3ca27" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-08-2024</span>
    <a href="https://quickhitslots.jckpt.me/8d71c070c6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-08-2024</span>
    <a href="https://quickhitslots.jckpt.me/7199de9baf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-07-2024</span>
    <a href="https://quickhitslots.jckpt.me/fb26c0d0b7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-07-2024</span>
    <a href="https://quickhitslots.jckpt.me/1014bfcb22" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-07-2024</span>
    <a href="https://quickhitslots.jckpt.me/1e58b21f44" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-06-2024</span>
    <a href="https://quickhitslots.jckpt.me/f933ab6c10" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-06-2024</span>
    <a href="https://quickhitslots.jckpt.me/19fa72516c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-06-2024</span>
    <a href="https://quickhitslots.jckpt.me/a5bb03f498" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-05-2024</span>
    <a href="https://quickhitslots.jckpt.me/dfc2ad8203" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-05-2024</span>
    <a href="https://quickhitslots.jckpt.me/71c43ee5ca" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-05-2024</span>
    <a href="https://quickhitslots.jckpt.me/0299f348d3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-04-2024</span>
    <a href="https://quickhitslots.jckpt.me/b06c574792" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-04-2024</span>
    <a href="https://quickhitslots.jckpt.me/be797f60f2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Quick Hit Slots Coins 11-04-2024</span>
    <a href="https://quickhitslots.jckpt.me/b470509ac5" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>