<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 12-01-2024</span>
    <a href="https://tinyurl.com/3xbsv4z5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 12-01-2024</span>
    <a href="https://tinyurl.com/edkdv3ce" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 12-01-2024</span>
    <a href="https://tinyurl.com/2jps8we7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 12-01-2024</span>
    <a href="https://tinyurl.com/58r5s5ua" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 12-01-2024</span>
    <a href="https://tinyurl.com/3wvb645j" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 12-01-2024</span>
    <a href="https://tinyurl.com/wcdpkaz9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-30-2024</span>
    <a href="https://tinyurl.com/3nbewdpv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-30-2024</span>
    <a href="https://tinyurl.com/3c55jfap" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-30-2024</span>
    <a href="https://tinyurl.com/yebr2kfu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-30-2024</span>
    <a href="https://tinyurl.com/26yxf23s" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-30-2024</span>
    <a href="https://tinyurl.com/yc4bnxn7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-30-2024</span>
    <a href="https://tinyurl.com/2s4d8sbz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-30-2024</span>
    <a href="https://tinyurl.com/2frh7d7s" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-30-2024</span>
    <a href="https://tinyurl.com/ay698sr4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-29-2024</span>
    <a href="https://tinyurl.com/5jk92w55" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-29-2024</span>
    <a href="https://tinyurl.com/4hyjr2en" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-29-2024</span>
    <a href="https://tinyurl.com/ucz98up6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-29-2024</span>
    <a href="https://tinyurl.com/5n6v8jp6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-29-2024</span>
    <a href="https://tinyurl.com/yu9s3bd2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-29-2024</span>
    <a href="https://tinyurl.com/bdeuwb4u" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-29-2024</span>
    <a href="https://tinyurl.com/52w9ra7k" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-28-2024</span>
    <a href="https://tinyurl.com/zm6sccwn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-28-2024</span>
    <a href="https://tinyurl.com/bddwru92" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-28-2024</span>
    <a href="https://tinyurl.com/yxuwt4vc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-28-2024</span>
    <a href="https://tinyurl.com/5fydsxh4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-28-2024</span>
    <a href="https://tinyurl.com/2p82cd2p" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-28-2024</span>
    <a href="https://tinyurl.com/28htj654" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-27-2024</span>
    <a href="https://tinyurl.com/43x8d6yz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-27-2024</span>
    <a href="https://tinyurl.com/4ruabx8x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-27-2024</span>
    <a href="https://tinyurl.com/ywzc3mm6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-27-2024</span>
    <a href="https://tinyurl.com/5fd5v22x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-27-2024</span>
    <a href="https://tinyurl.com/4zxm4536" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-27-2024</span>
    <a href="https://tinyurl.com/yxjt5rha" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-26-2024</span>
    <a href="https://tinyurl.com/4wz3xb6m" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-26-2024</span>
    <a href="https://tinyurl.com/4p22uakw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-26-2024</span>
    <a href="https://tinyurl.com/ymmua5pe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-26-2024</span>
    <a href="https://tinyurl.com/8wakm5y8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-26-2024</span>
    <a href="https://tinyurl.com/5cnhxsrm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-26-2024</span>
    <a href="https://tinyurl.com/4cmszsd9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-25-2024</span>
    <a href="https://tinyurl.com/mbjcet44" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-25-2024</span>
    <a href="https://tinyurl.com/ycyrnh7e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-25-2024</span>
    <a href="https://tinyurl.com/ypc36mhv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-25-2024</span>
    <a href="https://tinyurl.com/ykrfjked" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-25-2024</span>
    <a href="https://tinyurl.com/yz898vj2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-25-2024</span>
    <a href="https://tinyurl.com/238fvjzt" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-24-2024</span>
    <a href="https://tinyurl.com/3x48ew5j" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-24-2024</span>
    <a href="https://tinyurl.com/3sfse7xc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-24-2024</span>
    <a href="https://tinyurl.com/38u2bbnj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-24-2024</span>
    <a href="https://tinyurl.com/42andt9y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-24-2024</span>
    <a href="https://tinyurl.com/2akw7v3c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-23-2024</span>
    <a href="https://tinyurl.com/y9pcnnmc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-23-2024</span>
    <a href="https://tinyurl.com/bdeue5fm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-23-2024</span>
    <a href="https://tinyurl.com/3akd8jbb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-23-2024</span>
    <a href="https://tinyurl.com/2rw4s93j" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-23-2024</span>
    <a href="https://tinyurl.com/2jr7bza3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-23-2024</span>
    <a href="https://tinyurl.com/c4yxk3ww" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-22-2024</span>
    <a href="https://tinyurl.com/3ft56c6s" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-22-2024</span>
    <a href="https://tinyurl.com/ycxwpap5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-22-2024</span>
    <a href="https://tinyurl.com/34vt3j8j" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-22-2024</span>
    <a href="https://tinyurl.com/3w5tn5cu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-22-2024</span>
    <a href="https://tinyurl.com/45pzbemj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-22-2024</span>
    <a href="https://tinyurl.com/abdu3cfr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-21-2024</span>
    <a href="https://tinyurl.com/y6hutuvn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-21-2024</span>
    <a href="https://tinyurl.com/5dfv5wwe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-21-2024</span>
    <a href="https://tinyurl.com/5exdyv8j" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-21-2024</span>
    <a href="https://tinyurl.com/btrfd53y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-20-2024</span>
    <a href="https://tinyurl.com/22fdhxhn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-20-2024</span>
    <a href="https://tinyurl.com/467vbahk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-20-2024</span>
    <a href="https://tinyurl.com/2z8hvsjp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-20-2024</span>
    <a href="https://tinyurl.com/yjnhwd4b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-20-2024</span>
    <a href="https://tinyurl.com/43byddur" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-20-2024</span>
    <a href="https://tinyurl.com/yc8hwky2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-19-2024</span>
    <a href="https://tinyurl.com/ycyv5ffj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-19-2024</span>
    <a href="https://tinyurl.com/ys6knvy8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-19-2024</span>
    <a href="https://tinyurl.com/ycy93f88" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-19-2024</span>
    <a href="https://tinyurl.com/3j4s45rf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-19-2024</span>
    <a href="https://tinyurl.com/y2hhjpz9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-19-2024</span>
    <a href="https://tinyurl.com/4ku27ddj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-18-2024</span>
    <a href="https://tinyurl.com/vtmsjv6b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-18-2024</span>
    <a href="https://tinyurl.com/3u72zhts" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-18-2024</span>
    <a href="https://tinyurl.com/5ds6me32" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-18-2024</span>
    <a href="https://tinyurl.com/4w8rnexa" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-18-2024</span>
    <a href="https://tinyurl.com/uk73nah7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-18-2024</span>
    <a href="https://tinyurl.com/4nh97s3x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-17-2024</span>
    <a href="https://tinyurl.com/54kt9c24" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-17-2024</span>
    <a href="https://tinyurl.com/yh6f8xy7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-17-2024</span>
    <a href="https://tinyurl.com/3c5wfkuy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-17-2024</span>
    <a href="https://tinyurl.com/bddn8r8p" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-17-2024</span>
    <a href="https://tinyurl.com/4u4sd642" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-17-2024</span>
    <a href="https://tinyurl.com/3admbf3w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-16-2024</span>
    <a href="https://tinyurl.com/44rd56kc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-16-2024</span>
    <a href="https://tinyurl.com/4jc44u9e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-16-2024</span>
    <a href="https://tinyurl.com/y7ke7zcu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-16-2024</span>
    <a href="https://tinyurl.com/33fcpkfh" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-16-2024</span>
    <a href="https://tinyurl.com/ypynkmbv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-15-2024</span>
    <a href="https://tinyurl.com/jh3jjspd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-15-2024</span>
    <a href="https://tinyurl.com/35ayxfnc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-15-2024</span>
    <a href="https://tinyurl.com/nhasw6nb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-15-2024</span>
    <a href="https://tinyurl.com/mptafbn4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-15-2024</span>
    <a href="https://tinyurl.com/munepc62" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>