<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-25-2024</span>
    <a href="https://tinyurl.com/34juj6wu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-25-2024</span>
    <a href="https://tinyurl.com/3vz3kydz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-25-2024</span>
    <a href="https://tinyurl.com/4844y2nz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-25-2024</span>
    <a href="https://tinyurl.com/3tksfd7m" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-25-2024</span>
    <a href="https://tinyurl.com/37abckp2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-25-2024</span>
    <a href="https://tinyurl.com/2daw4z3y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-24-2024</span>
    <a href="https://tinyurl.com/4zms5h3p" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-24-2024</span>
    <a href="https://tinyurl.com/ychz88cv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-24-2024</span>
    <a href="https://tinyurl.com/3h5twsjz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-24-2024</span>
    <a href="https://tinyurl.com/2j6neje2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-24-2024</span>
    <a href="https://tinyurl.com/4h4xzh74" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-24-2024</span>
    <a href="https://tinyurl.com/5b54h7a5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-23-2024</span>
    <a href="https://tinyurl.com/3h82b6ch" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-23-2024</span>
    <a href="https://tinyurl.com/mryzduew" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-23-2024</span>
    <a href="https://tinyurl.com/ycyp9n64" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-23-2024</span>
    <a href="https://tinyurl.com/ej5jwm4n" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-23-2024</span>
    <a href="https://tinyurl.com/4yujxxjw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-23-2024</span>
    <a href="https://tinyurl.com/2sfy2swj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-22-2024</span>
    <a href="https://tinyurl.com/2s6ut939" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-22-2024</span>
    <a href="https://tinyurl.com/2p8dk4bb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-22-2024</span>
    <a href="https://tinyurl.com/yyp32mkj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-22-2024</span>
    <a href="https://tinyurl.com/tb63726c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-22-2024</span>
    <a href="https://tinyurl.com/5bwy7dfh" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-21-2024</span>
    <a href="https://tinyurl.com/3k3addrf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-21-2024</span>
    <a href="https://tinyurl.com/2wc8rshf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-21-2024</span>
    <a href="https://tinyurl.com/4z97xjtc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-21-2024</span>
    <a href="https://tinyurl.com/4cbstvvd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-21-2024</span>
    <a href="https://tinyurl.com/mws9eze6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-21-2024</span>
    <a href="https://tinyurl.com/4jxn2kk4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-20-2024</span>
    <a href="https://tinyurl.com/j7e9t597" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-20-2024</span>
    <a href="https://tinyurl.com/372jd28w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-20-2024</span>
    <a href="https://tinyurl.com/49u7xme4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-20-2024</span>
    <a href="https://tinyurl.com/3uctsknn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-20-2024</span>
    <a href="https://tinyurl.com/y3tdfpbn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-19-2024</span>
    <a href="https://tinyurl.com/mtbd25mz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-19-2024</span>
    <a href="https://tinyurl.com/bder9u55" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-19-2024</span>
    <a href="https://tinyurl.com/5c5dhwsh" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-19-2024</span>
    <a href="https://tinyurl.com/5n835t7t" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-19-2024</span>
    <a href="https://tinyurl.com/4n6ky2xu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-19-2024</span>
    <a href="https://tinyurl.com/2er8ktws" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-18-2024</span>
    <a href="https://tinyurl.com/2sh8ay5h" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-18-2024</span>
    <a href="https://tinyurl.com/3d7b2urr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-18-2024</span>
    <a href="https://tinyurl.com/y9een2nk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-18-2024</span>
    <a href="https://tinyurl.com/25pdv27r" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-18-2024</span>
    <a href="https://tinyurl.com/yudyyduw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-18-2024</span>
    <a href="https://tinyurl.com/yknfeup7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-17-2024</span>
    <a href="https://tinyurl.com/4y4r3bee" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-17-2024</span>
    <a href="https://tinyurl.com/ydwfkntp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-17-2024</span>
    <a href="https://tinyurl.com/yppejh8a" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-17-2024</span>
    <a href="https://tinyurl.com/5ettydz7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-17-2024</span>
    <a href="https://tinyurl.com/y75zcavt" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-17-2024</span>
    <a href="https://tinyurl.com/3efpbe6j" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-16-2024</span>
    <a href="https://tinyurl.com/4wy2znvh" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-16-2024</span>
    <a href="https://tinyurl.com/2eunhxk8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-16-2024</span>
    <a href="https://tinyurl.com/bdetcucw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-16-2024</span>
    <a href="https://tinyurl.com/yw2ewume" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-15-2024</span>
    <a href="https://tinyurl.com/ytezkhcw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-15-2024</span>
    <a href="https://tinyurl.com/33bwpw9c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-15-2024</span>
    <a href="https://tinyurl.com/4n3av26b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-15-2024</span>
    <a href="https://tinyurl.com/3ejnnjce" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-15-2024</span>
    <a href="https://tinyurl.com/4juw9sbx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-15-2024</span>
    <a href="https://tinyurl.com/2p8ufauv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-15-2024</span>
    <a href="https://tinyurl.com/d7d4bjks" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-14-2024</span>
    <a href="https://tinyurl.com/5dkzj3na" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-14-2024</span>
    <a href="https://tinyurl.com/56nkuxp2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-14-2024</span>
    <a href="https://tinyurl.com/3rmv37sz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-14-2024</span>
    <a href="https://tinyurl.com/zfx7wvnc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-14-2024</span>
    <a href="https://tinyurl.com/y3yhs23c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-14-2024</span>
    <a href="https://tinyurl.com/43khv69d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-14-2024</span>
    <a href="https://tinyurl.com/55je7pen" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-13-2024</span>
    <a href="https://tinyurl.com/jfh3326m" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-13-2024</span>
    <a href="https://tinyurl.com/y4ys3f5k" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-13-2024</span>
    <a href="https://tinyurl.com/3ufawcyc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-13-2024</span>
    <a href="https://tinyurl.com/mrynzfh8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-13-2024</span>
    <a href="https://tinyurl.com/4434ss45" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-13-2024</span>
    <a href="https://tinyurl.com/bdb47xkk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-12-2024</span>
    <a href="https://tinyurl.com/2d6xbwuv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-12-2024</span>
    <a href="https://tinyurl.com/3wr5z582" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-12-2024</span>
    <a href="https://tinyurl.com/3ec7h7ne" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-12-2024</span>
    <a href="https://tinyurl.com/4pxfzn2n" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-12-2024</span>
    <a href="https://tinyurl.com/mve2dwte" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-12-2024</span>
    <a href="https://tinyurl.com/3hdat6ue" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-11-2024</span>
    <a href="https://tinyurl.com/y47b2drd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-11-2024</span>
    <a href="https://tinyurl.com/3trfr7y4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-11-2024</span>
    <a href="https://tinyurl.com/5xc8t9se" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-11-2024</span>
    <a href="https://tinyurl.com/3mh8as4m" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-11-2024</span>
    <a href="https://tinyurl.com/26ky66hm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-11-2024</span>
    <a href="https://tinyurl.com/4pmbcsa6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-10-2024</span>
    <a href="https://tinyurl.com/429jzw7f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-10-2024</span>
    <a href="https://tinyurl.com/mr47pzkf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-10-2024</span>
    <a href="https://tinyurl.com/35ebmpx7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-10-2024</span>
    <a href="https://tinyurl.com/2p8ap4a3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-10-2024</span>
    <a href="https://tinyurl.com/2wm9s3an" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-10-2024</span>
    <a href="https://tinyurl.com/4r8abye5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-09-2024</span>
    <a href="https://tinyurl.com/h4spjbhx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-09-2024</span>
    <a href="https://tinyurl.com/ms9y6626" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-09-2024</span>
    <a href="https://tinyurl.com/3fjdv6hm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-09-2024</span>
    <a href="https://tinyurl.com/yeyv6sz4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-09-2024</span>
    <a href="https://tinyurl.com/82yja9dx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 09-09-2024</span>
    <a href="https://tinyurl.com/48up8mwx" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>