<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-01-2024</span>
    <a href="https://tinyurl.com/3kayx8my" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-01-2024</span>
    <a href="https://tinyurl.com/35zss2k2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-01-2024</span>
    <a href="https://tinyurl.com/42dy3nnu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-01-2024</span>
    <a href="https://tinyurl.com/4tzxp4mj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 11-01-2024</span>
    <a href="https://tinyurl.com/mw7nedmt" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-31-2024</span>
    <a href="https://tinyurl.com/52na8fmf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-31-2024</span>
    <a href="https://tinyurl.com/4znrnnee" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-31-2024</span>
    <a href="https://tinyurl.com/mpkve8th" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-31-2024</span>
    <a href="https://tinyurl.com/3hkftehp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-31-2024</span>
    <a href="https://tinyurl.com/mtzdntth" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-31-2024</span>
    <a href="https://tinyurl.com/4bau9f74" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-30-2024</span>
    <a href="https://tinyurl.com/5awzas4d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-30-2024</span>
    <a href="https://tinyurl.com/e6vvnhkn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-30-2024</span>
    <a href="https://tinyurl.com/2c89wter" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-30-2024</span>
    <a href="https://tinyurl.com/29bh2xjd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-30-2024</span>
    <a href="https://tinyurl.com/3rf77ujd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-30-2024</span>
    <a href="https://tinyurl.com/2wrsw5bu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-29-2024</span>
    <a href="https://tinyurl.com/2t8xfe5d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-29-2024</span>
    <a href="https://tinyurl.com/53tsc6jn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-29-2024</span>
    <a href="https://tinyurl.com/5x6wevfu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-29-2024</span>
    <a href="https://tinyurl.com/3sj697ev" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-29-2024</span>
    <a href="https://tinyurl.com/2cshxpz2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-29-2024</span>
    <a href="https://tinyurl.com/nd6h6k6p" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-28-2024</span>
    <a href="https://tinyurl.com/4wypp279" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-28-2024</span>
    <a href="https://tinyurl.com/yc2w2z7p" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-28-2024</span>
    <a href="https://tinyurl.com/vpkjm2pa" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-28-2024</span>
    <a href="https://tinyurl.com/mrx3d2r9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-28-2024</span>
    <a href="https://tinyurl.com/yafkb3sr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-28-2024</span>
    <a href="https://tinyurl.com/mryduh7t" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-27-2024</span>
    <a href="https://tinyurl.com/3x9tu47k" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-27-2024</span>
    <a href="https://tinyurl.com/34sm5th3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-27-2024</span>
    <a href="https://tinyurl.com/58mpw86c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-27-2024</span>
    <a href="https://tinyurl.com/yc8ys3tj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-27-2024</span>
    <a href="https://tinyurl.com/nc9r5ecs" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-27-2024</span>
    <a href="https://tinyurl.com/44f3wywr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-26-2024</span>
    <a href="https://tinyurl.com/2nfzxpka" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-26-2024</span>
    <a href="https://tinyurl.com/bdh2j8yf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-26-2024</span>
    <a href="https://tinyurl.com/y52zy6fs" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-26-2024</span>
    <a href="https://tinyurl.com/374ve275" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-26-2024</span>
    <a href="https://tinyurl.com/wjbh5f3h" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-26-2024</span>
    <a href="https://tinyurl.com/2kv9tn64" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-25-2024</span>
    <a href="https://tinyurl.com/ywt87jne" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-25-2024</span>
    <a href="https://tinyurl.com/5yj527vy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-25-2024</span>
    <a href="https://tinyurl.com/f6c7pth4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-25-2024</span>
    <a href="https://tinyurl.com/4jsnf9ps" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-25-2024</span>
    <a href="https://tinyurl.com/mpctxx9v" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-24-2024</span>
    <a href="https://tinyurl.com/28xvpvnp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-24-2024</span>
    <a href="https://tinyurl.com/5eufryy2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-24-2024</span>
    <a href="https://tinyurl.com/3t72ueyu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-24-2024</span>
    <a href="https://tinyurl.com/2r7mzu3x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-24-2024</span>
    <a href="https://tinyurl.com/3zefw9kv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-24-2024</span>
    <a href="https://tinyurl.com/32sk8nwu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-23-2024</span>
    <a href="https://tinyurl.com/mr4y93ya" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-23-2024</span>
    <a href="https://tinyurl.com/mrx6ummt" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-23-2024</span>
    <a href="https://tinyurl.com/6y6ntrhe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-23-2024</span>
    <a href="https://tinyurl.com/f9ev9jwx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-23-2024</span>
    <a href="https://tinyurl.com/8zk63emr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-23-2024</span>
    <a href="https://tinyurl.com/3m6zsmx2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-22-2024</span>
    <a href="https://tinyurl.com/2ryyd39r" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-22-2024</span>
    <a href="https://tinyurl.com/2fce2m7r" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-22-2024</span>
    <a href="https://tinyurl.com/y56twb9y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-22-2024</span>
    <a href="https://tinyurl.com/w4ysds85" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-22-2024</span>
    <a href="https://tinyurl.com/yc5ksy4u" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-22-2024</span>
    <a href="https://tinyurl.com/mwx8p5uj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-21-2024</span>
    <a href="https://tinyurl.com/34pvb4hj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-21-2024</span>
    <a href="https://tinyurl.com/2nmc7c4x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-21-2024</span>
    <a href="https://tinyurl.com/29cs79hy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-21-2024</span>
    <a href="https://tinyurl.com/2xfnmfv3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-21-2024</span>
    <a href="https://tinyurl.com/329a8cc8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-21-2024</span>
    <a href="https://tinyurl.com/ycxv82p2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-20-2024</span>
    <a href="https://tinyurl.com/mr2ct6cr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-20-2024</span>
    <a href="https://tinyurl.com/yc7p8szb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-20-2024</span>
    <a href="https://tinyurl.com/53uu47p6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-20-2024</span>
    <a href="https://tinyurl.com/2umb53kk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-20-2024</span>
    <a href="https://tinyurl.com/yxbs6577" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-20-2024</span>
    <a href="https://tinyurl.com/mwmk389p" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-19-2024</span>
    <a href="https://tinyurl.com/2aphbj9e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-19-2024</span>
    <a href="https://tinyurl.com/3wwe2njv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-19-2024</span>
    <a href="https://tinyurl.com/4ewcna67" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-19-2024</span>
    <a href="https://tinyurl.com/2t8e7c72" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-19-2024</span>
    <a href="https://tinyurl.com/86kzhe2h" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-19-2024</span>
    <a href="https://tinyurl.com/yjznfzjd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-18-2024</span>
    <a href="https://tinyurl.com/5a7ufp59" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-18-2024</span>
    <a href="https://tinyurl.com/b32jj2xy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-18-2024</span>
    <a href="https://tinyurl.com/yufvtwfw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-18-2024</span>
    <a href="https://tinyurl.com/2s47u56w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-18-2024</span>
    <a href="https://tinyurl.com/383w874s" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-18-2024</span>
    <a href="https://tinyurl.com/5vubkums" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-17-2024</span>
    <a href="https://tinyurl.com/y4xhw9dk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-17-2024</span>
    <a href="https://tinyurl.com/3s4u4fe3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-17-2024</span>
    <a href="https://tinyurl.com/2nkdayj7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-17-2024</span>
    <a href="https://tinyurl.com/5n77j43w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-17-2024</span>
    <a href="https://tinyurl.com/446x9pzz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-17-2024</span>
    <a href="https://tinyurl.com/52u9kxs8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-16-2024</span>
    <a href="https://tinyurl.com/jbednumn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-16-2024</span>
    <a href="https://tinyurl.com/4z2d5fdm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-16-2024</span>
    <a href="https://tinyurl.com/2vzjeukz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-16-2024</span>
    <a href="https://tinyurl.com/tn25ybdp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-16-2024</span>
    <a href="https://tinyurl.com/3jmvpcj7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Scatter Slots Coins 10-15-2024</span>
    <a href="https://tinyurl.com/yme49wh6" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>