<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-21-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734531785358_w5no43po" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-21-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734531618632_em8gkpnj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-21-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734723000129_5lredy7p" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-21-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734735600170_yw6m04y3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-21-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734530325348_ow4r7j5e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-21-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732529158481_d62jy5gn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-21-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734649200123_py4947kr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-21-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734636402017_293jxyzw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-20-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734649200184_o6lmlo36" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-20-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734649200274_rd3np7rz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-20-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734524228791_4wj6gdjy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-20-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734636600123_o50j7540" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-20-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734524432799_ow4rd837" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-20-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734626400339_07de09lw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-20-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734540000387_5lp2z4nj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-20-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734614961618_nlmnrywz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-19-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734519753246_7e83p7yw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-19-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734546600357_o584l8k5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-19-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734513205625_o6829dko" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-19-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734519905970_kd9mkx6w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-19-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734550200131_073nyx0w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-18-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734367200368_29r35dw6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-18-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734453600358_w5nlzxmw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-18-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734463800117_8gjleddm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-18-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734449020337_pyjr5x00" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-18-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734448928231_rdkmzmy0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-17-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734390000156_w7m27jo4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-17-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734013026494_l63jgy0p" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-17-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734012790229_pyjdrnrz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-17-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734377400134_l639gjwx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-17-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734012714698_8gjnpjyd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-15-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734204600119_8gjoxdpo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-15-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734011385109_o58lxz47" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-15-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734023166323_rdk254l0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-15-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734023262243_o58mm35k" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-15-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734023296586_w7m5p9z7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-15-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734011266995_rdk5xyjw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-14-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734130800170_o68k0m3g" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-14-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734130800274_w7m4z0k7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-14-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734021600306_jm6yjny5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-14-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733853608034_2974djrm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-14-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733922856983_2p5z4ndx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-14-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734118200120_0kj4855n" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-14-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734022769160_d60goyr8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-14-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734022903677_3z7yy2pk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-14-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734021817564_nlryygpe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-14-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734051863725_w5nxko5p" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-12-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733833795526_5l70lnn4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-12-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733833967871_d86nkjz9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-12-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733945400117_jm6joe8x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-12-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733833481110_o5w3n8gr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-12-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733833588312_3z9nz5wn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-12-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733923130452_29rn7ng0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-11-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733762400281_2978yg45" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-11-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733744812752_d863lrp9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-11-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733744921134_py7wd3pk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-11-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733859000118_w7jgl9n8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-11-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733738615149_py7m60md" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-11-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733848994531_0koynjkn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-11-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732528657428_jmlg47kl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-11-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733735866914_ywe079we" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-11-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733785200143_2p4ew52p" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-10-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733649548155_em33gz3z" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-10-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733785200179_o5wd633l" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-10-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733649755157_0kooep0g" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-10-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733741116516_em35nkoy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-10-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733649002711_yweenl47" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-10-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733648736708_3z99ng4r" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-10-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733772600119_owl0ny5d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-09-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733397879060_em3my2zg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-09-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733397959257_2979jk3x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-09-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733397758095_py7ypoyd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-09-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733698800151_o65l3prk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-09-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733698800270_5l7ry256" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-09-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733589600304_owlmr85y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-09-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733676000315_8gxj5d4w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-09-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733686200127_rde3rd8y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-08-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733396914663_l6kpz45x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-08-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733599800117_l6kd73j0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-08-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733397166400_2p4plgmd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-08-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733397390511_d86kwlk2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-08-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733444080442_py7x76wm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-08-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733396155199_o656m4w3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-08-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733396335905_7eyeko3e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-07-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733526000262_7eygd2n7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-07-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733526000147_8gxope5n" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-07-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733513400118_w5y3ml05" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-07-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733395621716_owlwpxlo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-07-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733395725567_ywewzldp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-07-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733228154161_o65rznzw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-07-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733493600334_8gxdo62j" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-07-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732529007472_d8mn4ggw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-07-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733441351493_3z9r2n7l" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-07-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733439600271_0ko4og8g" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-07-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733146694197_w7rypg2n" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-07-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733439600152_w7j4rzxm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-06-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733319227977_nl2dpgdm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-06-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733134670054_w547pn0e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-06-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733337000335_d86plj3z" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-06-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733340600140_8gx6egw5" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>