<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-06-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733319227977_nl2dpgdm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-06-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733134670054_w547pn0e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-06-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733337000335_d86plj3z" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-06-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733340600140_8gx6egw5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-06-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733135265059_7el0mdo2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-06-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733135848133_5lxz8pwz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-05-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733303142784_5l7nz9k2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-05-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733180400151_em0gmwxe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-05-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733044952821_owx6eye7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-05-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733223162030_l6k4ppzl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-05-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733157600322_nloxg32d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-05-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733244000309_0koln3p4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-05-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733254200125_07j0ymn7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-05-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733132327271_jmr54p49" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-05-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733130141227_2p38genx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-05-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733129739771_2p38g5dm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-05-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733237563435_7eyk5drx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-04-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733180400283_owxrwo95" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-04-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733167800122_3zmn0ey2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-04-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733064461531_o64djnd8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-04-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733064566997_l6dw8zgg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-04-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733132064763_074r78w3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-04-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733180400193_5lx2l404" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-04-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733143002831_w547z9l6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-04-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733071200308_owx2gm8w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-02-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733081400125_7el5yolz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-02-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733043717520_kd6rdpyk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-02-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733043839472_py5my6xk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-02-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733094000159_2p3d095z" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-02-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732796892578_nlo05mo5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-02-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1730137404059_ywryo9gd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-02-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732795769906_o64k9lg5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-02-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732795686761_owxz2lzo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-02-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732995000098_em08643k" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-02-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732812000318_owxemzn4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-02-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732984800316_yw59y66y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-02-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732898400306_em0k3yr7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-30-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732908600091_5lx86ewr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-30-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732796312585_rdzw0757" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-30-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732796585171_3zmo34p7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-30-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732921200165_5lxmy65w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-30-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732921200279_nlogke80" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-30-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732802536542_em04omjm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-28-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732529734131_o6y28po2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-28-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732613813695_7elknyex" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-28-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732732200353_owxg84gg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-28-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732735800110_2p39wxky" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-28-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732615168561_5lxo04eg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-28-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732615286844_2p3zogx7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-28-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732615326794_d8oln3k9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-28-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732613606745_o64r0kg8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-27-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732649400113_jmrxw70x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-27-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732524910759_em9pw36e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-27-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732109250775_8g39n074" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-27-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732109211430_7em4dg7o" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-27-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732614406652_0k5l59km" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-26-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732440544170_d62lgj9p" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-26-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732440730976_7em5e5gk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-26-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732563000123_em9gnpzm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-26-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732440958236_nlgj8zke" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-26-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732441119466_07xlw4w3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-26-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732529125794_rdy4e52w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-25-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732112305516_o6ypw50r" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-25-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732112359421_w7dlm8km" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-25-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732112103316_pygz03jo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-25-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732112191058_owmggpn3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-25-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732476600121_0k8ro8er" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-25-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732466400317_7emn7xny" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-24-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732390200118_rdy3ox7d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-24-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1731588657247_d6n8p3e9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-24-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732293600303_7emmn24y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-24-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732380000336_2py5o4ln" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-23-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732109806647_nlgekpk4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-23-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732303800121_2py3zwno" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-23-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732110916970_295ogl5n" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-23-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732111433453_d627n4yg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-23-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732110262020_o5zy6edp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-23-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1730137117671_jmnj9p5o" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-23-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732132939475_8g3goejm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-22-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732217400121_owm87e63" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-22-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732109376657_w7dlrzmd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-22-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1731933045775_07k8o2rl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-22-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732120800414_ywoml8dn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-22-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732131932678_5lmljn63" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-22-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732098719194_rdyonkkg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-22-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732127400379_d8m8kxgk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-22-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732095713498_l6e7g202" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-22-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732098182616_o6y7d9le" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-22-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732131000119_3z2zkyky" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-22-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732098564317_o5zm3xon" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-20-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1731589031092_7ed2wm6j" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-20-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1731589102162_jm9n23nn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-20-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732044600124_3z263yj5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-20-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1731884400261_7ed08erx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-20-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732008628144_nlgnjmg3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-19-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1731585903146_ow7887n3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-19-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1731577917812_07k97j5z" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-19-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1731585806864_w78e93n6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-18-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1731775200313_l6y9wlx5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 11-18-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1731688800320_o6e4ydx4" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>