<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-31-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1735587000138_d6r49n75" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-31-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1735597800171_rdp7237d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-31-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1735599600332_7e9dp5op" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-31-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1735569051580_ow6yg7x2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-31-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1735569281318_l6wn668n" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-31-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1735569394584_kdred2kx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-31-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1735567341755_kdrexrmn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-29-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1735414200120_w725ydrg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-29-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1735404000316_07mpkrdl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-29-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1735340400270_ow6pg8z5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-29-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1735242543385_4w5yxm20" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-29-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1735233163753_o6l9dj7r" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-28-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1735317600323_w72wj0l8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-28-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1735327800122_o5go3k73" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-28-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1735340400153_nlj7lgzy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-28-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1735231200319_ow5r2r7x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-28-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1735242133478_ow5r9z3z" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-28-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1735227300855_py435w8x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-27-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1735241400121_ow5r99n0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-27-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1735240978102_o50k464l" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-27-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1735202430645_py4kwlx2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-26-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1735144800325_jm20d37d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-26-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1735058400315_ow56kgyk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-26-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734631308490_w70pwpl5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-26-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1735155000122_kdzpgy0k" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-26-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1735053077084_w700y2xl" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-26-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1735130485759_ow50w8jj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-26-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1735130590868_d6p9kg49" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-26-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1735139663521_py4rj0nx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-25-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734870638262_kdze8djr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-25-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1735065000428_o6ld6o8r" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-25-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1735068600147_jm2dz7jp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-25-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734961904637_5lrxpgy3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-25-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1735053204775_7eww0576" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-25-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1735041528439_rd33nxyn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-25-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734958180409_0km53w65" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-23-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734895800126_5lr88eoy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-23-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734885600327_jm29mx28" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-23-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734799200332_emx4z3g4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-23-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734908400166_jm29d587" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-23-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734870357312_w563y6lm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-23-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734870085191_4w5rnr7z" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-23-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734866983608_293lg997" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-21-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734531785358_w5no43po" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-21-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734531618632_em8gkpnj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-21-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734723000129_5lredy7p" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-21-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734735600170_yw6m04y3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-21-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734530325348_ow4r7j5e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-21-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1732529158481_d62jy5gn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-21-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734649200123_py4947kr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-21-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734636402017_293jxyzw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-20-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734649200184_o6lmlo36" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-20-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734649200274_rd3np7rz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-20-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734524228791_4wj6gdjy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-20-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734636600123_o50j7540" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-20-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734524432799_ow4rd837" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-20-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734626400339_07de09lw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-20-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734540000387_5lp2z4nj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-20-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734614961618_nlmnrywz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-19-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734519753246_7e83p7yw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-19-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734546600357_o584l8k5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-19-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734513205625_o6829dko" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-19-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734519905970_kd9mkx6w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-19-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734550200131_073nyx0w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-18-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734367200368_29r35dw6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-18-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734453600358_w5nlzxmw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-18-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734463800117_8gjleddm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-18-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734449020337_pyjr5x00" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-18-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734448928231_rdkmzmy0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-17-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734390000156_w7m27jo4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-17-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734013026494_l63jgy0p" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-17-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734012790229_pyjdrnrz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-17-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734377400134_l639gjwx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-17-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734012714698_8gjnpjyd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-15-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734204600119_8gjoxdpo" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-15-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734011385109_o58lxz47" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-15-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734023166323_rdk254l0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-15-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734023262243_o58mm35k" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-15-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734023296586_w7m5p9z7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-15-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734011266995_rdk5xyjw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-14-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734130800170_o68k0m3g" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-14-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734130800274_w7m4z0k7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-14-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734021600306_jm6yjny5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-14-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733853608034_2974djrm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-14-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733922856983_2p5z4ndx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-14-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734118200120_0kj4855n" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-14-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734022769160_d60goyr8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-14-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734022903677_3z7yy2pk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-14-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734021817564_nlryygpe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-14-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1734051863725_w5nxko5p" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-12-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733833795526_5l70lnn4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-12-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733833967871_d86nkjz9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-12-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733945400117_jm6joe8x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-12-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733833481110_o5w3n8gr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-12-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733833588312_3z9nz5wn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-12-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733923130452_29rn7ng0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-11-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733762400281_2978yg45" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-11-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733744812752_d863lrp9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-11-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733744921134_py7wd3pk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Slotomania Coins 12-11-2024</span>
    <a href="https://api.playtika.com/redirector/?coupon_token=1_3_1733859000118_w7jgl9n8" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>