<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 02-06-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=YXMV9F1O" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 02-06-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=145JG84P" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 02-05-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=QXQC6XQH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 02-04-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=PCN7U2IZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 02-03-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=GSPMLE5P" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 02-03-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=1NAUZQ39" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 02-02-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=C9NW0U31" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 02-02-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=WIF6C8KU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 02-01-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=JB4MZM09" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-31-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=PEWC9ME1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-31-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=9WNJUB27" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-30-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=0WM8JLJF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-30-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=ZA0HK7MY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-28-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=YD5D5T1F" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-28-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=LEW1OD5A" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-27-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=GM83FKGI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-27-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=NDQJAV2F" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-26-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=MNEIM056" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-25-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=XUVHQ442" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-25-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=0U1GI124" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-24-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=Y2FPD1QK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-24-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=9NEYHSM1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-22-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=KCX7XAZZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-21-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=E3U9XKKI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-21-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=MP7XMKBP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-20-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=A946CGCU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-20-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=MKEEL8J6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-19-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=2YGYXVIQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-19-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=S85DH7G0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-18-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=Q5PEGFVF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-18-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=5Z1XXCCH" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-17-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=9MCN7KK2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-17-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=CJ8IRSUL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-16-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=U2LT7NFF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-15-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=SZ12JIYF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-14-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=FVAMWZNV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-14-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=CI4F597U" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-13-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=BNF60MH5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-13-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=LKX24L54" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-12-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=VPJMBHAD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-11-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=HG1D2TGT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-10-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=IWI53T82" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-10-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=BBQFSGR7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-10-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=HKUZF5UG" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-09-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=MPRLJ6F3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-09-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=110RDFD5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-07-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=QCLPNTD3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-07-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=JSY9V04I" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-06-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=82IUSYM8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-06-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=7ZU7ODEX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-06-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=NJM2K35B" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-06-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=7OHGMMTN" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-06-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=U51VM3OP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-06-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=95RUNU0G" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-06-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=AGQMY98T" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-05-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=22L2H0NF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-05-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=33QQNZA4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-04-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=3F4S7TL5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-03-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=MKO5R0YS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-02-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=BC94JCRD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-31-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=DRISI46K" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-31-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=AF2V6HSV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-31-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=T73JRCZJ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-30-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=YTL46UIK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-30-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=HJV1B65A" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-30-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=06HA02H5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-30-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=NGST0000" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-29-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=4GGVLCIC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-29-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=CRIHG1I4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-28-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=27WU7TFD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-27-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=1B8LZ39S" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-27-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=9FWY3WOY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-26-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=AIBR1WMP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-26-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=1DGZDGE7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-25-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=Z0U1LYGX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-24-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=IB3E3PCD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-24-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=V0MJJYQ0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-24-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=3A85IVE0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-23-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=N21BCKIB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-23-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=EPCZCB5X" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-23-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=SVR0Z5IM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-22-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=KSP8N19G" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-21-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=EOX0WHPE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-20-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=JVUSX7Q1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-20-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=24R3ZMPO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-20-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=GPUGYU08" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-19-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=JXM6N9OY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-19-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=66M7H4OP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-18-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=CT9MX127" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-16-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=PCBLYZ93" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-16-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=43NLMN5J" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-15-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=O5HR01QI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-15-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=5BJ0455Y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-14-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=OM018NF9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-13-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=E722V5EG" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-13-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=8Y499DTC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-12-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=9SNY577L" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-12-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=YE8MKV9G" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-11-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=2UPRC3WB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-10-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=21MWITVW" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>