<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-12-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=VPJMBHAD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-11-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=HG1D2TGT" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-10-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=IWI53T82" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-10-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=BBQFSGR7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-10-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=HKUZF5UG" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-09-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=MPRLJ6F3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-09-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=110RDFD5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-07-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=QCLPNTD3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-07-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=JSY9V04I" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-06-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=82IUSYM8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-06-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=7ZU7ODEX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-06-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=NJM2K35B" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-06-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=7OHGMMTN" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-06-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=U51VM3OP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-06-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=95RUNU0G" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-06-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=AGQMY98T" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-05-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=22L2H0NF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-05-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=33QQNZA4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-04-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=3F4S7TL5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-03-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=MKO5R0YS" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 01-02-2025</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=BC94JCRD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-31-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=DRISI46K" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-31-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=AF2V6HSV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-31-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=T73JRCZJ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-30-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=YTL46UIK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-30-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=HJV1B65A" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-30-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=06HA02H5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-30-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=NGST0000" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-29-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=4GGVLCIC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-29-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=CRIHG1I4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-28-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=27WU7TFD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-27-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=1B8LZ39S" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-27-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=9FWY3WOY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-26-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=AIBR1WMP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-26-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=1DGZDGE7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-25-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=Z0U1LYGX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-24-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=IB3E3PCD" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-24-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=V0MJJYQ0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-24-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=3A85IVE0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-23-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=N21BCKIB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-23-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=EPCZCB5X" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-23-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=SVR0Z5IM" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-22-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=KSP8N19G" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-21-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=EOX0WHPE" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-20-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=JVUSX7Q1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-20-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=24R3ZMPO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-20-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=GPUGYU08" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-19-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=JXM6N9OY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-19-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=66M7H4OP" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-18-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=CT9MX127" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-16-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=PCBLYZ93" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-16-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=43NLMN5J" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-15-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=O5HR01QI" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-15-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=5BJ0455Y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-14-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=OM018NF9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-13-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=E722V5EG" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-13-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=8Y499DTC" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-12-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=9SNY577L" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-12-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=YE8MKV9G" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-11-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=2UPRC3WB" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-10-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=21MWITVW" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-10-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=0WVA8VGY" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-09-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=AYX86HYV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-09-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=YTFJ9N9E" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-08-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=44J5B6T4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-08-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=9IIBRPDF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-07-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=FGOKTRP2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-06-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=MAGSS2G0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-06-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=6U17X5WZ" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-06-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=TYNT51EO" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-05-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=Z9M4BVUN" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-05-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=UVJHO165" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-03-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=TCUBEPRL" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-03-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=Y0IJQOI4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-03-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=SILCQE18" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-01-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=IHIKROMK" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 12-01-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=0PPZB7X9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 11-30-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=GTZG6D7A" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 11-29-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=2LY74Q2A" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 11-29-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=15VF5CWX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 11-28-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=8DHBOX7G" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 11-27-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=FXFTROIR" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 11-27-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=TBW2WJZ0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 11-27-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=PGYHFVWU" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 11-27-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=RR06GJ16" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 11-27-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=PSRJBLQG" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 11-27-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=1E2SJAGW" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 11-27-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=JNWXFKJR" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 11-27-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=NCISYLK1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 11-27-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=N7UHMWC4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 11-27-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=8D8IV0XF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 11-27-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=I6XPUZL0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 11-27-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=80LWG782" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 11-27-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=SDP4DALF" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 11-27-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=F9G97PWX" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 11-27-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=88J1VWZV" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 11-27-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=J4EFAA85" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 11-27-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=3PS0SJ0M" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 11-27-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=0F0ASL7A" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Spin A Spell Spins 11-27-2024</span>
    <a href="https://magiccoast.forevernine.com/api/rewardLink?code=CRJTSDUQ" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>