<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-07-2025</span>
    <a href="http://t5.w-ga.me/GeJan06l08r" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-07-2025</span>
    <a href="http://t5.w-ga.me/FcJan06f5cn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-07-2025</span>
    <a href="http://t5.w-ga.me/FcJan06x8yj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-07-2025</span>
    <a href="http://t5.w-ga.me/WCBJan06f78h" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-07-2025</span>
    <a href="http://t5.w-ga.me/GvawJan06clk0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-06-2025</span>
    <a href="http://t5.w-ga.me/GeJan05thl8g" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-06-2025</span>
    <a href="http://t5.w-ga.me/FcJan05txc79" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-06-2025</span>
    <a href="http://t5.w-ga.me/FcJan05l9gtk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-06-2025</span>
    <a href="http://t5.w-ga.me/FcJan05cz79hn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-06-2025</span>
    <a href="http://t5.w-ga.me/GvawJan05glh8t" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-05-2025</span>
    <a href="http://t5.w-ga.me/SfJan04z0wgv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-05-2025</span>
    <a href="http://t5.w-ga.me/FcJan04cxz7f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-05-2025</span>
    <a href="http://t5.w-ga.me/FcJan04xdzx4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-05-2025</span>
    <a href="http://t5.w-ga.me/ScJan04vzc8f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-05-2025</span>
    <a href="http://t5.w-ga.me/FtJan04czxn7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-05-2025</span>
    <a href="http://t5.w-ga.me/FcJan03cvzx6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-04-2025</span>
    <a href="http://t5.w-ga.me/FcJan03nbvx6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-04-2025</span>
    <a href="http://t5.w-ga.me/FcJan03cb7i" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-04-2025</span>
    <a href="http://t5.w-ga.me/FcJan03h8gfm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-03-2025</span>
    <a href="http://t5.w-ga.me/FcJan03fd6hv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-03-2025</span>
    <a href="http://t5.w-ga.me/FcJan02s46de" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-03-2025</span>
    <a href="http://t5.w-ga.me/FcJan02f7vza" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-03-2025</span>
    <a href="http://t5.w-ga.me/FcJan02dd5u7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-03-2025</span>
    <a href="http://t5.w-ga.me/LWJan02d67ex" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-03-2025</span>
    <a href="http://t5.w-ga.me/FcJan02dkz8d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-02-2025</span>
    <a href="http://t5.w-ga.me/GeJan01s0od" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-02-2025</span>
    <a href="http://t5.w-ga.me/FcJan01bg89" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-02-2025</span>
    <a href="http://t5.w-ga.me/FcJan01fg9k" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-02-2025</span>
    <a href="http://t5.w-ga.me/FcJan01g77f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-02-2025</span>
    <a href="http://t5.w-ga.me/GvawJan01d6jg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-01-2025</span>
    <a href="http://t5.w-ga.me/SfDec31hgl09" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-01-2025</span>
    <a href="http://t5.w-ga.me/FcDec31dc6v" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-01-2025</span>
    <a href="http://t5.w-ga.me/FcDec31l99t" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-01-2025</span>
    <a href="http://t5.w-ga.me/LWDec31lby08e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-31-2024</span>
    <a href="http://t5.w-ga.me/FtDec31lh08t" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-31-2024</span>
    <a href="http://t5.w-ga.me/GeDec30flh8t3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-31-2024</span>
    <a href="http://t5.w-ga.me/FcDec30lg08a" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-31-2024</span>
    <a href="http://t5.w-ga.me/FcDec30bl8tu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-31-2024</span>
    <a href="http://t5.w-ga.me/WCBDec30dfl47" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-31-2024</span>
    <a href="http://t5.w-ga.me/GvawDec30by8hg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-30-2024</span>
    <a href="http://t5.w-ga.me/GeDec29ot09t" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-30-2024</span>
    <a href="http://t5.w-ga.me/FcDec29zl08w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-30-2024</span>
    <a href="http://t5.w-ga.me/FcDec29lbn08h" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-30-2024</span>
    <a href="http://t5.w-ga.me/FcDec29xxl9bg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-30-2024</span>
    <a href="http://t5.w-ga.me/GvawDec29hp8t" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-29-2024</span>
    <a href="http://t5.w-ga.me/SfDec28hoytiy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-29-2024</span>
    <a href="http://t5.w-ga.me/FcDec28xlc09b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-29-2024</span>
    <a href="http://t5.w-ga.me/FcDec28vb6jf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-29-2024</span>
    <a href="http://t5.w-ga.me/ScDec28cb8od" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-29-2024</span>
    <a href="http://t5.w-ga.me/FtDec28nlpmoj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-28-2024</span>
    <a href="http://t5.w-ga.me/FcDec27v65uj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-28-2024</span>
    <a href="http://t5.w-ga.me/FcDec27zc0s" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-28-2024</span>
    <a href="http://t5.w-ga.me/FcDec27cnb8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-28-2024</span>
    <a href="http://t5.w-ga.me/FcDec27g6ik" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-27-2024</span>
    <a href="http://t5.w-ga.me/FcDec27c0x8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-27-2024</span>
    <a href="http://t5.w-ga.me/FcDec26afvfd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-27-2024</span>
    <a href="http://t5.w-ga.me/FcDec26xclb90" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-27-2024</span>
    <a href="http://t5.w-ga.me/FcDec26vb5yk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-27-2024</span>
    <a href="http://t5.w-ga.me/LWDec26bo89ft" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-27-2024</span>
    <a href="http://t5.w-ga.me/FcDec26b7ibv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-26-2024</span>
    <a href="http://t5.w-ga.me/GeDec25wtea" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-26-2024</span>
    <a href="http://t5.w-ga.me/FcDec25hl08nb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-26-2024</span>
    <a href="http://t5.w-ga.me/FcDec25cl08bg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-26-2024</span>
    <a href="http://t5.w-ga.me/FcDec25hb9078g" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-25-2024</span>
    <a href="http://t5.w-ga.me/GvawDec25zxlb08" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-25-2024</span>
    <a href="http://t5.w-ga.me/SfDec24f08vbc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-25-2024</span>
    <a href="http://t5.w-ga.me/FcDec24hklg7c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-25-2024</span>
    <a href="http://t5.w-ga.me/FcDec24fk79gs" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-25-2024</span>
    <a href="http://t5.w-ga.me/LWDec24b08gs" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-24-2024</span>
    <a href="http://t5.w-ga.me/FcDec23dl88b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-24-2024</span>
    <a href="http://t5.w-ga.me/WCBDec23cb08g" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-24-2024</span>
    <a href="http://t5.w-ga.me/GvawDec23bl08hg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-23-2024</span>
    <a href="http://t5.w-ga.me/GeDec22l097vb7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-23-2024</span>
    <a href="http://t5.w-ga.me/FcDec22bpo08" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-23-2024</span>
    <a href="http://t5.w-ga.me/FcDec22b9g7yha" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-23-2024</span>
    <a href="http://t5.w-ga.me/FcDec22c0978h" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-23-2024</span>
    <a href="http://t5.w-ga.me/GvawDec22lb078g" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-22-2024</span>
    <a href="http://t5.w-ga.me/SfDec21gda57" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-22-2024</span>
    <a href="http://t5.w-ga.me/FcDec21c0z7bhg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-22-2024</span>
    <a href="http://t5.w-ga.me/FcDec21xb08g" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-22-2024</span>
    <a href="http://t5.w-ga.me/ScDec21xvs5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-22-2024</span>
    <a href="http://t5.w-ga.me/FtDec21bo908gx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-21-2024</span>
    <a href="http://t5.w-ga.me/FcDec20bv097s" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-21-2024</span>
    <a href="http://t5.w-ga.me/FcDec20xb08z" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-21-2024</span>
    <a href="http://t5.w-ga.me/FcDec20cbog87d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-21-2024</span>
    <a href="http://t5.w-ga.me/FcDec20cvc08g" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-20-2024</span>
    <a href="http://t5.w-ga.me/FcDec20x08bhg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-20-2024</span>
    <a href="http://t5.w-ga.me/FcDec19c087bg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-20-2024</span>
    <a href="http://t5.w-ga.me/FcDec19bo87yhc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-20-2024</span>
    <a href="http://t5.w-ga.me/FcDec19vz5sbs" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-20-2024</span>
    <a href="http://t5.w-ga.me/LWDec19vo97dsx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-20-2024</span>
    <a href="http://t5.w-ga.me/FcDec19coz08s" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-19-2024</span>
    <a href="http://t5.w-ga.me/GeDec18bvl087" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-19-2024</span>
    <a href="http://t5.w-ga.me/FcDec18zl0b7g" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-19-2024</span>
    <a href="http://t5.w-ga.me/FcDec18bv68vd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-19-2024</span>
    <a href="http://t5.w-ga.me/FcDec18xla0hnc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-19-2024</span>
    <a href="http://t5.w-ga.me/GvawDec18fdkl9y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-18-2024</span>
    <a href="http://t5.w-ga.me/SfDec17xl0b78ug" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-18-2024</span>
    <a href="http://t5.w-ga.me/FcDec17b08gd" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-18-2024</span>
    <a href="http://t5.w-ga.me/LWDec17zl08g" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>