<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-17-2025</span>
    <a href="http://t5.w-ga.me/FcJan17v8ks5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-17-2025</span>
    <a href="http://t5.w-ga.me/OgJan16vlvb0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-17-2025</span>
    <a href="http://t5.w-ga.me/FcJan16bo97x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-17-2025</span>
    <a href="http://t5.w-ga.me/FcJan16fd98m" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-17-2025</span>
    <a href="http://t5.w-ga.me/LWJan16vl08n" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-16-2025</span>
    <a href="http://t5.w-ga.me/FcJan16gt08z" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-16-2025</span>
    <a href="http://t5.w-ga.me/GeJan15l08u7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-16-2025</span>
    <a href="http://t5.w-ga.me/FcJan15hjo8n" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-16-2025</span>
    <a href="http://t5.w-ga.me/FcJan15dl08n" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-16-2025</span>
    <a href="http://t5.w-ga.me/GvawJan15toohb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-15-2025</span>
    <a href="http://t5.w-ga.me/SfJan14hl8bm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-15-2025</span>
    <a href="http://t5.w-ga.me/FcJan14cky6n" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-15-2025</span>
    <a href="http://t5.w-ga.me/FcJan14uoev4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-15-2025</span>
    <a href="http://t5.w-ga.me/LWJan14ju908" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-15-2025</span>
    <a href="http://t5.w-ga.me/FtJan14bl8gx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-14-2025</span>
    <a href="http://t5.w-ga.me/GeJan13by7cj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-14-2025</span>
    <a href="http://t5.w-ga.me/FcJan13ghlk7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-14-2025</span>
    <a href="http://t5.w-ga.me/FcJan13bk7hr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-14-2025</span>
    <a href="http://t5.w-ga.me/WCBJan13fbb97" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-14-2025</span>
    <a href="http://t5.w-ga.me/GvawJan13oh8x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-13-2025</span>
    <a href="http://t5.w-ga.me/GeJan12clb078" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-13-2025</span>
    <a href="http://t5.w-ga.me/FcJan12bl8gs" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-13-2025</span>
    <a href="http://t5.w-ga.me/FcJan12xlb9b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-13-2025</span>
    <a href="http://t5.w-ga.me/FcJan12cbl8y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-13-2025</span>
    <a href="http://t5.w-ga.me/GvawJan12ld0z" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-12-2025</span>
    <a href="http://t5.w-ga.me/SfJan11cl0b7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-12-2025</span>
    <a href="http://t5.w-ga.me/FcJan11xzl08" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-12-2025</span>
    <a href="http://t5.w-ga.me/OgJan11cb8og" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-12-2025</span>
    <a href="http://t5.w-ga.me/ScJan11x7ba" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-12-2025</span>
    <a href="http://t5.w-ga.me/FtJan11cl9fg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-11-2025</span>
    <a href="http://t5.w-ga.me/OgJan10dn7h" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-11-2025</span>
    <a href="http://t5.w-ga.me/FcJan10dkx8b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-11-2025</span>
    <a href="http://t5.w-ga.me/FcJan10da08bm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-11-2025</span>
    <a href="http://t5.w-ga.me/FcJan10ti7ax" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-10-2025</span>
    <a href="http://t5.w-ga.me/FcJan10dl08s" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-10-2025</span>
    <a href="http://t5.w-ga.me/OgJan09g7jv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-10-2025</span>
    <a href="http://t5.w-ga.me/FcJan09al8ty" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-10-2025</span>
    <a href="http://t5.w-ga.me/FcJan09fliu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-10-2025</span>
    <a href="http://t5.w-ga.me/LWJan09xl08r" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-10-2025</span>
    <a href="http://t5.w-ga.me/FcJan09x9d3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-09-2025</span>
    <a href="http://t5.w-ga.me/GeJan08rl08xc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-09-2025</span>
    <a href="http://t5.w-ga.me/FcJan08qlson" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-09-2025</span>
    <a href="http://t5.w-ga.me/FcJan08uo8rj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-09-2025</span>
    <a href="http://t5.w-ga.me/FcJan08df08q" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-09-2025</span>
    <a href="http://t5.w-ga.me/GvawJan08hkl78" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-08-2025</span>
    <a href="http://t5.w-ga.me/SfJan07lr9jyv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-08-2025</span>
    <a href="http://t5.w-ga.me/FcJan07g8mud" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-08-2025</span>
    <a href="http://t5.w-ga.me/FcJan07lr89hx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-08-2025</span>
    <a href="http://t5.w-ga.me/LWJan07rl8hs" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-08-2025</span>
    <a href="http://t5.w-ga.me/FtJan07l0h8t" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-07-2025</span>
    <a href="http://t5.w-ga.me/GeJan06l08r" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-07-2025</span>
    <a href="http://t5.w-ga.me/FcJan06f5cn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-07-2025</span>
    <a href="http://t5.w-ga.me/FcJan06x8yj" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-07-2025</span>
    <a href="http://t5.w-ga.me/WCBJan06f78h" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-07-2025</span>
    <a href="http://t5.w-ga.me/GvawJan06clk0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-06-2025</span>
    <a href="http://t5.w-ga.me/GeJan05thl8g" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-06-2025</span>
    <a href="http://t5.w-ga.me/FcJan05txc79" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-06-2025</span>
    <a href="http://t5.w-ga.me/FcJan05l9gtk" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-06-2025</span>
    <a href="http://t5.w-ga.me/FcJan05cz79hn" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-06-2025</span>
    <a href="http://t5.w-ga.me/GvawJan05glh8t" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-05-2025</span>
    <a href="http://t5.w-ga.me/SfJan04z0wgv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-05-2025</span>
    <a href="http://t5.w-ga.me/FcJan04cxz7f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-05-2025</span>
    <a href="http://t5.w-ga.me/FcJan04xdzx4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-05-2025</span>
    <a href="http://t5.w-ga.me/ScJan04vzc8f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-05-2025</span>
    <a href="http://t5.w-ga.me/FtJan04czxn7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-05-2025</span>
    <a href="http://t5.w-ga.me/FcJan03cvzx6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-04-2025</span>
    <a href="http://t5.w-ga.me/FcJan03nbvx6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-04-2025</span>
    <a href="http://t5.w-ga.me/FcJan03cb7i" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-04-2025</span>
    <a href="http://t5.w-ga.me/FcJan03h8gfm" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-03-2025</span>
    <a href="http://t5.w-ga.me/FcJan03fd6hv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-03-2025</span>
    <a href="http://t5.w-ga.me/FcJan02s46de" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-03-2025</span>
    <a href="http://t5.w-ga.me/FcJan02f7vza" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-03-2025</span>
    <a href="http://t5.w-ga.me/FcJan02dd5u7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-03-2025</span>
    <a href="http://t5.w-ga.me/LWJan02d67ex" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-03-2025</span>
    <a href="http://t5.w-ga.me/FcJan02dkz8d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-02-2025</span>
    <a href="http://t5.w-ga.me/GeJan01s0od" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-02-2025</span>
    <a href="http://t5.w-ga.me/FcJan01bg89" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-02-2025</span>
    <a href="http://t5.w-ga.me/FcJan01fg9k" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-02-2025</span>
    <a href="http://t5.w-ga.me/FcJan01g77f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-02-2025</span>
    <a href="http://t5.w-ga.me/GvawJan01d6jg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-01-2025</span>
    <a href="http://t5.w-ga.me/SfDec31hgl09" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-01-2025</span>
    <a href="http://t5.w-ga.me/FcDec31dc6v" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-01-2025</span>
    <a href="http://t5.w-ga.me/FcDec31l99t" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 01-01-2025</span>
    <a href="http://t5.w-ga.me/LWDec31lby08e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-31-2024</span>
    <a href="http://t5.w-ga.me/FtDec31lh08t" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-31-2024</span>
    <a href="http://t5.w-ga.me/GeDec30flh8t3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-31-2024</span>
    <a href="http://t5.w-ga.me/FcDec30lg08a" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-31-2024</span>
    <a href="http://t5.w-ga.me/FcDec30bl8tu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-31-2024</span>
    <a href="http://t5.w-ga.me/WCBDec30dfl47" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-31-2024</span>
    <a href="http://t5.w-ga.me/GvawDec30by8hg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-30-2024</span>
    <a href="http://t5.w-ga.me/GeDec29ot09t" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-30-2024</span>
    <a href="http://t5.w-ga.me/FcDec29zl08w" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-30-2024</span>
    <a href="http://t5.w-ga.me/FcDec29lbn08h" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-30-2024</span>
    <a href="http://t5.w-ga.me/FcDec29xxl9bg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-30-2024</span>
    <a href="http://t5.w-ga.me/GvawDec29hp8t" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-29-2024</span>
    <a href="http://t5.w-ga.me/SfDec28hoytiy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-29-2024</span>
    <a href="http://t5.w-ga.me/FcDec28xlc09b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-29-2024</span>
    <a href="http://t5.w-ga.me/FcDec28vb6jf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-29-2024</span>
    <a href="http://t5.w-ga.me/ScDec28cb8od" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 12-29-2024</span>
    <a href="http://t5.w-ga.me/FtDec28nlpmoj" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>