<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-30-2024</span>
    <a href="http://t5.w-ga.me/SfNov29lb0o0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-30-2024</span>
    <a href="http://t5.w-ga.me/FcNov29dlk09" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-30-2024</span>
    <a href="http://t5.w-ga.me/FcNov29x08r" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-30-2024</span>
    <a href="http://t5.w-ga.me/FcNov29fjh760" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov28blh08ae" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/LWNov28dl089bg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FtNov28bl08gs" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/SfNov27clb08g" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov27h857a" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/GvawNov27fl08ny" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/SfNov26f7nl9c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov26f768i2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov26f69hsz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov26vfd7gf6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/GeNov25ln085sz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov25nhl9k" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov25bl08nh" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/WCBNov25c0y8s" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/GvawNov25cfl0b8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/GeNov24xly5vz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov24l878t" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov24vmn09z" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov24fl0hg7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/GvawNov24lcd08" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/OgNov23fh68u" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/ScNov23c6ug" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FtNov23l08e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/OgNov22fd7gkg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov22hgj80ob" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov22dyt5n9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov22dcc57y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov22dc08hg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov21dty58uyh" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/LWNov21gf08v" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov21f6jhgx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/GeNov20lc04b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov20dc5xc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov20flny76" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov20ds08tr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/GvawNov20hgo0t8" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/SfNov18xlqe4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov19c0hty" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov19hoyu9j" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/LWNov19bl08y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FtNov19lb087zx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/GeNov18dl0cb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov18ld0hz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov18zl0hbfg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/WCBNov18dzl0u" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/GvawNov18zhlc0b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/GeNov17bl98cz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov17cl89bb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov17bl8gyuf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov17ld0uvz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/SfNov16dhr98f" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov16clk7ghz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/OgNov16bg68gh" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/ScNov16vgf6ui" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FtNov16cl8bfg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/OgNov15dg5uz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov15vgd7jfg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov15vf6ujf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov15dvbl0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov14fg6687v" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/LWNov14b6ugx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov14fg6i8z" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov13zlv9ubg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov13czh6" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/GvawNov13ld08cx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov12bl8gz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/LWNov12dl8bg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FtNov12bo88g" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov11dl07b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/WCBNov11lb8gz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/GvawNov11dl0u7bg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov10ghl8uh" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov10dk08jb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/GvawNov10clhb08g" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/OgNov09g8olg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/ScNov09jlc8z" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FtNov09vl9uh" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov08df057x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov08lb08za" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov08dl08b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov07ldg589" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/LWNov07cl08n" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov07lfj08" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov06cl08bg" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov06f8lkz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/GvawNov06lc0uy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov04ld0z4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/WCBNov04dk0hz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/GvawNov04dl0jbx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov03dfdz4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov03dv4ax" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/GvawNov03df45y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov02df5yhz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/ScNov02vf6uz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FtNov02zs43x" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Take 5 Slots Coins 11-29-2024</span>
    <a href="http://t5.w-ga.me/FcNov01cz457" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>