<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 21, 2024</span>
    <a href="https://zynga.social/1owa" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 21, 2024</span>
    <a href="https://zynga.social/qwe1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 20, 2024</span>
    <a href="https://zynga.social/cxve" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 20, 2024</span>
    <a href="https://zynga.social/e85adf" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 19, 2024</span>
    <a href="https://zynga.social/bw5r" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 19, 2024</span>
    <a href="https://zynga.social/qg5z" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 18, 2024</span>
    <a href="https://zynga.social/z0aw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 18, 2024</span>
    <a href="https://zynga.social/65757a" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 17, 2024</span>
    <a href="https://zynga.social/69ed1b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 17, 2024</span>
    <a href="https://zynga.social/206527" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 16, 2024</span>
    <a href="https://zynga.social/fed0f5" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 16, 2024</span>
    <a href="https://zynga.social/ri57" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 15, 2024</span>
    <a href="https://zynga.social/03d8f2" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 15, 2024</span>
    <a href="https://zynga.social/887c76" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 14, 2024</span>
    <a href="https://zynga.social/4a0d00" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 14, 2024</span>
    <a href="https://zynga.social/421fbe" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 13, 2024</span>
    <a href="https://zynga.social/efef47" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 12, 2024</span>
    <a href="https://zynga.social/f26f95" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 12, 2024</span>
    <a href="https://zynga.social/dfaa84" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 11, 2024</span>
    <a href="https://zynga.social/e32c2a" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 11, 2024</span>
    <a href="https://zynga.social/ef6855" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 10, 2024</span>
    <a href="https://zynga.social/c7030a" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 10, 2024</span>
    <a href="https://zynga.social/126397" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 9, 2024</span>
    <a href="https://zynga.social/055e79" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 9, 2024</span>
    <a href="https://zynga.social/1832f1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 8, 2024</span>
    <a href="https://zynga.social/9089c1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 8, 2024</span>
    <a href="https://zynga.social/jd1b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 7, 2024</span>
    <a href="https://zynga.social/6foh" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 7, 2024</span>
    <a href="https://zynga.social/styt" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 6, 2024</span>
    <a href="https://zynga.social/306a9a" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 5, 2024</span>
    <a href="https://zynga.social/957afc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 5, 2024</span>
    <a href="https://zynga.social/32c70d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/3e1bf1" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/81acb4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/c6c275" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/ae1c12" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/bea29d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/266476" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/b12e66" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/de2c33" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/f3f7d7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/c1d879" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/iusr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/tju4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/33c6fc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/6ael" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/p7lt" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/tiut" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/d27e36" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/i04c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/z2cw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/m2r7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/dwv4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/mliz" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/tvb0" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/d1c26d" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/95ms" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/91ar" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/8saq" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/bba7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/a1sc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/5zoy" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/ph74" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/unf3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/w7lu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/cyc3" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/iqid" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/dd3i" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/xr8s" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/mbp4" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/8mmi" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/mweu" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/lw6c" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/jwbv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/ccs7" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/zjku" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/xoyv" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/x7so" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/qn7u" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/ce5522" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/j317" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/echw" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/39fb70" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/q87y" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/f3eb86" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/f1vx" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/idp9" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/h8vb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/04152a" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/i05b" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/ad2d54" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/6g3e" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/7q0p" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/scsc" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/6nab" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/15rb" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/g6dp" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/c7c187" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/dusr" class="btn btn-primary btn-sm">Collect</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Free Coins for August 4, 2024</span>
    <a href="https://zynga.social/lv2t" class="btn btn-primary btn-sm">Collect</a>
  </li>
</ul>