---
layout: default
---

<div class="container mt-5">
  {% for post in site.tags[page.tag] %}
  <div class="card mb-4">
    <div class="card-header text-white bg-primary">
      {{ post.title }}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ post.title }}</h5>
      <p class="card-text">
        By {{ post.author }} on {{ post.date | date: "%B %d, %Y" }} <br>
        Last updated on {{ site.time | date: '%B %d, %Y' }}
      </p>
      <p class="card-text">{{ post.excerpt }}</p>
      <a href="{{ post.url }}" class="btn btn-primary">Claim Now</a>
    </div>
  </div>
  {% endfor %}
</div>