---
layout: default
---

<div class="container">
  <h1 class="my-4">{{ page.tag }}</h1>
  <div class="row mt-4">
    {% for post in site.tags[page.tag] %}
    <div class="col-md-4">
      <div class="card mb-4">
        <img class="card-img-top" src="{{ post.image }}" alt="Card image cap">
        <div class="card-body">
          <a href="{{ post.url }}">
            <h5 class="card-title">{{ post.title }}</h5>
          </a>
          <p class="card-meta">
            <small>By {{ post.author }} on {{ post.date | date: "%B %d, %Y" }}</small>
            <br>
            <small>Last updated on {{ site.time | date: '%B %d, %Y' }}</small>
          </p>
          <p class="card-text">{{ post.excerpt }}</p>
          <a href="{{ post.url }}" class="btn btn-primary">Claim Now</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>